<app-toolbar-primeng
    [title]="'Evaluación Formativa: ' + (evaluacion?.cEvaluacionTitulo || '')"
></app-toolbar-primeng>
<div class="card">
    <div *ngIf="iPreguntaId === 0">
        <!-- Contenido inicial de la evaluación -->
        <div class="grid">
            <div class="col-12 md:col-5">
                <span class="font-bold text-xl flex gap-2 mt-4">
                    <app-icon
                        name="matCalendarMonth"
                        class="text-primary"
                        size="sm"
                    ></app-icon>
                    Inicio de Evaluación Formativa
                </span>
                <p>
                    {{
                        evaluacion?.dtEvaluacionInicio
                            | date: "EEEE, d 'de' MMMM 'de' yyyy"
                    }}
                    {{ evaluacion?.dtEvaluacionInicio | date: 'h:mm a' }}
                </p>
                <span class="font-bold text-xl flex gap-2 mt-8">
                    <app-icon
                        name="matCalendarMonth"
                        class="text-primary"
                        size="sm"
                    ></app-icon>
                    Cierre de Evaluación Formativa
                </span>
                <p>
                    {{
                        evaluacion?.dtEvaluacionFin
                            | date: "EEEE, d 'de' MMMM 'de' yyyy"
                    }}
                    {{ evaluacion?.dtEvaluacionFin | date: 'h:mm a' }}
                </p>
            </div>
            <div class="col-12 md:col-3 mt-5">
                <div class="grid">
                    <div class="col-6">
                        <img
                            src="assets/images/icons/tiempo.gif"
                            alt="Tiempo"
                            width="100%"
                        />
                    </div>
                    <div class="col-6 mt-4">
                        <span>Duración:</span>
                        <h1>
                            60&nbsp;<span
                                class="text-none"
                                style="font-size: small"
                                >minutos</span
                            >
                        </h1>
                    </div>
                </div>
                <p class="text-center mt-0">
                    Total preguntas: {{ evaluacion?.preguntas?.length }}
                </p>
            </div>
            <div class="col-12 md:col-3 mt-2" align="center">
                <p class="font-bold">Evaluación empieza en:</p>
                <!-- Temporizador deshabilitado -->
            </div>
            <div class="col-12">
                <p class="font-bold">Instrucciones</p>
                <div class="container p-2">
                    <div [innerHTML]="evaluacion?.cEvaluacionDescripcion"></div>
                </div>
            </div>
            <div class="col-12" align="right">
                <p-button
                    label="Iniciar Evaluación"
                    severity="primary"
                    (onClick)="iniciarEvaluacion()"
                ></p-button>
            </div>
        </div>
    </div>
    <div
        *ngIf="iPreguntaId > 0 && evaluacion?.preguntas?.length >= iPreguntaId"
    >
        <!-- Contenido de las preguntas -->
        <div class="grid">
            <div class="col-12">
                {{ iPreguntaId }}.-
                <div [innerHTML]="itemPreguntas['cPregunta']"></div>
            </div>
            <div *ngIf="itemPreguntas['alternativas']?.length > 0">
                <div
                    *ngFor="let alternativa of itemPreguntas['alternativas']"
                    class="col-12 ml-2"
                >
                    <div class="flex">
                        <p-checkbox></p-checkbox>&nbsp;&nbsp;
                        <div
                            [innerHTML]="alternativa['cAlternativaDescripcion']"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-2" align="left">
                <p-button
                    label="Atrás"
                    severity="secondary"
                    *ngIf="iPreguntaId > 1"
                    (onClick)="regresarPregunta()"
                ></p-button>
            </div>
            <div class="col-6 mt-2" align="right">
                <p-button
                    label="Siguiente"
                    severity="primary"
                    *ngIf="evaluacion?.preguntas?.length > iPreguntaId"
                    (onClick)="siguienteEvaluacion()"
                ></p-button>
                <p-button
                    label="Finalizar Evaluación"
                    severity="primary"
                    *ngIf="evaluacion?.preguntas?.length === iPreguntaId"
                    (onClick)="finalizarEvaluacion()"
                ></p-button>
            </div>
        </div>
    </div>
</div>
