<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-2xl font-bold">Gestionar matrículas</div>
    </div>
  </ng-template>
  <ng-template pTemplate="icons" class="flex flex-column flex-1">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        size="small"
        severity="success"
        pTooltip="Registrar matrícula"
        tooltipPosition="left"
        (click)="agregarMatricula()"
      >
        <i class="pi pi-fw pi-plus"></i>
        <span class="ml-2 hidden sm:block">Registrar</span>
      </p-button>
    </div>
  </ng-template>

  <form [formGroup]="form">
    <div class="grid">
      <div class="col-12 md:col-6 m-0">
        <p-inputGroup>
          <p-inputGroupAddon>Grado</p-inputGroupAddon>
          <p-dropdown
            [options]="nivel_grados"
            formControlName="iNivelGradoId"
            styleClass="group-element"
            [filter]="true"
            [showClear]="true"
            [appendTo]="'body'"
            placeholder="Seleccione un grado para ver secciones"
            [style]="{ flex: '1', width: '100%' }"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6 m-0">
        <p-inputGroup>
          <p-inputGroupAddon>Sección</p-inputGroupAddon>
          <p-dropdown
            [options]="secciones"
            formControlName="iSeccionId"
            styleClass="group-element"
            [filter]="true"
            [showClear]="true"
            [appendTo]="'body'"
            placeholder="Seleccione una sección"
            [style]="{ flex: '1', width: '100%' }"
          ></p-dropdown>
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-10 m-0">
        <p-inputGroup>
          <p-inputGroupAddon><i class="pi pi-search"></i></p-inputGroupAddon>
          <input
            type="text"
            pInputText
            placeholder="Buscar"
            formControlName="textoBusqueda"
            (input)="filtrarTabla()"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-2 m-0 flex justify-content-center align-items-center">
        <div class="inline md:hidden mr-2">Matriculados / Vacantes:</div>
        <div
          #vacantesSeccion
          pTooltip="Matriculas activas / Vacantes en sección"
          tooltipPosition="top"
          class="text-center font-bold text-2xl text-primary"
        >
          {{ cantMatriculasFiltradas }} / {{ cantVacantesSeccion }}
        </div>
      </div>
    </div>
  </form>

  <app-table-primeng
    [columnas]="columns"
    [showCaption]="false"
    [data]="matriculas_filtradas"
    (accionBtnItem)="accionBtnItemTable($event)"
    [showPaginator]="true"
    sortMode="single"
    sortField="dtMatrFecha"
    [sortOrder]="-1"
    [(selectedRowData)]="selectedItems"
    [actions]="actions"
  >
  </app-table-primeng>
</p-panel>

<p-dialog
  [(visible)]="bApoderado"
  [breakpoints]="{ '960px': '95vw', '640px': '100vw' }"
  [style]="{
    width: '89rem',
    maxWidth: '95vw',
    height: soloLectura ? '35rem' : '80vh',
    maxHeight: '95vh',
  }"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{ overflow: 'auto', padding: '1rem' }"
  [styleClass]="'dialog-responsive'"
  (onHide)="limpiarModalApoderado()"
  [resizable]="true"
  [maximizable]="true"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-2xl font-bold">Gestionar apoderados</div>
      <div class="flex">{{ estudianteNombreCompleto }}</div>
    </div>
  </ng-template>
  <app-matricula-apoderado
    [iEstudianteId]="iEstudianteId"
    [estudiante]="estudianteSeleccionado"
    [visible]="bApoderado"
    (closeDialog)="bApoderado = false"
    [soloLectura]="soloLectura"
  />
</p-dialog>

<p-dialog
  [(visible)]="bDesercion"
  [breakpoints]="{ '960px': '95vw', '640px': '100vw' }"
  [style]="{
    width: '89rem',
    maxWidth: '95vw',
    height: soloLectura ? '35rem' : '80vh',
    maxHeight: '95vh',
  }"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{ overflow: 'auto', padding: '1rem' }"
  [styleClass]="'dialog-responsive'"
  (onHide)="limpiarModalDesercion()"
  [resizable]="true"
  [maximizable]="true"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-2xl font-bold">Gestionar deserciones</div>
      <div class="flex">{{ estudianteNombreCompleto }}</div>
    </div>
  </ng-template>
  <app-gestionar-deserciones
    [iMatrId]="iMatrId"
    [estudiante]="estudianteSeleccionado"
    [visible]="bDesercion"
    (closeDialog)="bDesercion = false"
    [soloLectura]="soloLectura"
  />
</p-dialog>

<p-toast key="gestionar-matriculas" />
