<app-modal-primeng
    [title]="'Cambiar contraseña'"
    [showModal]="showModal"
    [width]="'55rem'"
    (accionBtnItem)="accionCloseItem.emit()"
>
    <div class="grid mx-3 my-3">
        <div class="col-12">
            <p class="text-color-secondary mb-3">
                Elige una contraseña segura y no vuelvas a usarla para otras
                cuentas.
            </p>

            <form [formGroup]="form" class="flex flex-column gap-4">
                <div class="p-field">
                    <label for="contraseniaActual" class="block mb-2"
                        >Contraseña actual</label
                    >
                    <p-password
                        formControlName="contraseniaActual"
                        [feedback]="false"
                        [toggleMask]="true"
                        placeholder="Ingrese su contraseña actual"
                        styleClass="w-full"
                    ></p-password>
                    <small
                        class="p-error"
                        *ngIf="
                            form.get('contraseniaActual')?.invalid &&
                            form.get('contraseniaActual')?.touched
                        "
                    >
                        La contraseña actual es requerida
                    </small>
                </div>

                <div class="p-field">
                    <label for="contraseniaNueva" class="block mb-2"
                        >Contraseña nueva</label
                    >
                    <p-password
                        formControlName="contraseniaNueva"
                        [toggleMask]="true"
                        placeholder="Contraseña nueva"
                        styleClass="w-full"
                    ></p-password>

                    <div class="mt-2">
                        <p class="text-700 text-sm mb-1">
                            Seguridad de la contraseña:
                        </p>
                        <p class="text-700 text-sm">
                            Utiliza 8 caracteres como mínimo. No utilices una
                            contraseña de otro sitio ni un término que sea
                            demasiado obvio, como el nombre de tu mascota.
                        </p>
                    </div>

                    <small
                        class="p-error"
                        *ngIf="
                            form.get('contraseniaNueva')?.errors?.[
                                'required'
                            ] && form.get('contraseniaNueva')?.touched
                        "
                    >
                        La nueva contraseña es requerida
                    </small>
                    <small
                        class="p-error"
                        *ngIf="
                            form.get('contraseniaNueva')?.errors?.[
                                'minlength'
                            ] && form.get('contraseniaNueva')?.touched
                        "
                    >
                        La contraseña debe tener al menos 8 caracteres
                    </small>
                </div>

                <div class="p-field">
                    <label for="contraseniaNueva" class="block mb-2"
                        >Confirma la contraseña nueva</label
                    >
                    <p-password
                        formControlName="confirmacionContrasenia"
                        [feedback]="false"
                        [toggleMask]="true"
                        placeholder="Confirma la contraseña nueva"
                        styleClass="w-full"
                    ></p-password>
                    <small
                        class="p-error"
                        *ngIf="
                            form.get('confirmacionContrasenia')?.errors?.[
                                'required'
                            ] && form.get('confirmacionContrasenia')?.touched
                        "
                    >
                        Confirme la nueva contraseña
                    </small>
                    <small
                        class="p-error"
                        *ngIf="
                            form.get('confirmacionContrasenia')?.errors?.[
                                'noCoinciden'
                            ] && form.get('confirmacionContrasenia')?.touched
                        "
                    >
                        Las contraseñas no coinciden
                    </small>
                </div>
            </form>
        </div>
    </div>
    <div footer class="flex justify-content-end gap-2">
        <p-button
            label="Cancelar"
            severity="secondary"
            (onClick)="accionCloseItem.emit()"
        />
        <p-button
            [label]="'Guardar'"
            [disabled]="!this.form.valid"
            (onClick)="enviarFormulario()"
        />
    </div>
</app-modal-primeng>

<p-toast></p-toast>
