<form [formGroup]="form">
    <p-inputGroup class="mt-1">
        <p-inputGroupAddon>Tipo de acceso</p-inputGroupAddon>
        <p-dropdown
            class="max-w-max"
            formControlName="selectedTable"
            [options]="options"
            optionLabel="name"
            placeholder="Selecciona un tipo de acceso"
        />
    </p-inputGroup>
</form>

<section class="flex gap-3">
    <div style="flex: 1.5"
    [ngStyle]="{
      width: isExpand && selectRowData ? '40%' : '0',
  }"
    >
        <app-table-primeng
            [columnas]="columns"
            [data]="data"
            [selectedRowData]="isExpand ? data[0] : null"
            [scrollable]="true"
            scrollHeight="flex"
            [showCaption]="false"
            [showPaginator]="true"
            selectionMode="single"
            (selectedRowDataChange)="selectRow($event)"
        >
        </app-table-primeng>
    </div>
    <div
        class="flex-column gap-3"
        [ngStyle]="{
            flex: isExpand && selectRowData ? '2' : '0',
            display: isExpand && selectRowData ? 'flex' : 'none',
            width: isExpand && selectRowData ? '60%' : '0',
        }"
        [ngClass]="{
            card: isExpand,
        }"
    >
        <div class="flex justify-content-between">
            <span>Esquema: {{ selectRowData?.cAudEsquema }}</span>
            <span>Fecha: {{ selectRowData?.dtFecha }}</span>
        </div>
        <div class="flex justify-content-between">
            <span>Usuario: {{ selectRowData?.cAudUsuario }}</span>
        </div>
        <div>
            <p-accordion>
                <p-accordionTab header="Operación realizada">
                    <p class="flex flex-wrap" [textContent]="selectRowData?.cAudOperacion">
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div>
            <app-table-primeng
                [columnas]="columnsDetail"
                [data]="selectRowData?.cAudDatos"
                [scrollable]="true"
                [caption]="selectRowData?.cAudTabla"
                scrollHeight="flex"
                [showCaption]="true"
                [showPaginator]="isExpand"
                (selectedRowDataChange)="selectRow($event)"
            >
            </app-table-primeng>
        </div>
    </div>
</section>
