<article class="card p-0 border-1 surface-border overflow-hidden">
    <div class="curso__image-container">
        <img
            src="assets/demo/images/product/bamboo-watch.jpg"
            [alt]="curso.nombre"
            class="w-full h-full"
        />
    </div>
    <div class="p-3">
        <h3 class="text-xl">
            {{ curso.nombre }} {{ curso.grado }} {{ curso.seccion }}
        </h3>
        <p class="">
            {{ curso.descripcion }}
        </p>
    </div>
    <footer class="p-3 pt-0 flex align-items-center justify-content-between">
        <span>{{ curso.totalEstudiantes }} studiantes</span>
        <p-button
            [routerLink]="['./', curso.id]"
            label="Ver más"
            styleClass="p-button-link"
        ></p-button>
    </footer>
</article>
