:host {
    display: block;
}

.curso__image-container {
    height: 8rem;

    img {
        object-fit: cover;
    }
}

.curso__image-container:hover {
    transition: 0.5s;
}

// .card:hover{
//     transform:scale(1.1) !important
// }
