<form [formGroup]="form">
    <br />

    <input type="hidden" formControlName="iPersId" class="p-inputtext-sm" />

    <p-fieldset legend="Relación con el estudiante">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="tipos_familiares"
                        formControlName="iTipoFamiliarId"
                        optionLabel="nombre"
                        [checkmark]="true"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    />
                    <label for="iTipoFamiliarId">Relación / Parentesco *</label>
                </span>
            </div>
            <div class="field col-12 md:col-6">
                <p-checkbox
                    value="true"
                    formControlName="bFamiliarVivoConEl"
                    label="Vive con el estudiante"
                />
            </div>
        </div>
    </p-fieldset>

    <br />

    <p-fieldset legend="Información del Representante Legal">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="tipos_documentos"
                        formControlName="iTipoIdentId"
                        optionLabel="nombre"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    />
                    <label for="iTipoIdentId">Tipo de documento *</label>
                </span>
            </div>
            <div class="field col-6 md:col-4">
                <span class="p-float-label">
                    <input
                        pInputText
                        formControlName="cPersDocumento"
                        aria-describedby="cPersDocumento-help"
                    />
                    <label for="cPersDocumento">Documento *</label>
                </span>
            </div>
            <div class="field col-6 md:col-2">
                <p-button label="Validar" styleClass="p-button-primary" />
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input
                        pInputText
                        id="cPersPaterno"
                        formControlName="cPersPaterno"
                        aria-describedby="cPersPaterno-help"
                    />
                    <label for="cPersPaterno">Primer Apellido *</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input
                        pInputText
                        id="cPersMaterno"
                        formControlName="cPersMaterno"
                        aria-describedby="cPersMaterno-help"
                    />
                    <label for="cPersMaterno">Segundo Apellido</label>
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input
                        pInputText
                        id="cPersNombre"
                        formControlName="cPersNombre"
                        aria-describedby="cPersNombre-help"
                    />
                    <label for="cPersNombre">Nombres *</label>
                </span>
            </div>
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="estados_civiles"
                        formControlName="iTipoEstCivId"
                        optionLabel="nombre"
                        [checkmark]="true"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    />
                    <label for="iTipoEstCivId">Estado Civil</label>
                </span>
            </div>
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="sexos"
                        formControlName="cPersSexo"
                        optionLabel="nombre"
                        [checkmark]="true"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    />
                    <label for="cPersSexo">Sexo *</label>
                </span>
            </div>
        </div>
    </p-fieldset>

    <br />

    <p-fieldset legend="Datos de nacimiento">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="nacionalidades"
                        formControlName="iNacionId"
                        optionLabel="nombre"
                        [checkmark]="true"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    />
                    <label for="iNacionId">Nacionalidad</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-calendar
                        formControlName="dPersNacimiento"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        inputId="dPersNacimiento"
                        [appendTo]="'body'"
                    />
                    <label for="dPersNacimiento">Fecha de nacimiento *</label>
                </span>
            </div>
        </div>
    </p-fieldset>

    <br />

    <p-fieldset legend="Dirección actual">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="departamentos"
                        formControlName="iDptoId"
                        optionLabel="nombre"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    />
                    <label for="iDptoId">Departamento</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="provincias"
                        formControlName="iPrvnId"
                        optionLabel="nombre"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    />
                    <label for="iPrvnId">Provincia</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="distritos"
                        formControlName="iDsttId"
                        optionLabel="nombre"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    />
                    <label for="iDsttId">Distrito</label>
                </span>
            </div>

            <div class="field col-12">
                <span class="p-float-label">
                    <input
                        pInputText
                        formControlName="cPersDomicilio"
                        aria-describedby="cPersDomicilio-help"
                    />
                    <label for="cPersDomicilio">Dirección</label>
                </span>
            </div>
        </div>
    </p-fieldset>

    <div class="grid p-fluid mt-3">
        <p-button
            label="Guardar"
            (onClick)="guardarRepresentante()"
            styleClass="p-button-primary"
        />
    </div>
</form>
