<app-container-page
  title="Registro de Institución Educativa"
  [actions]="accionesPrincipal"
  (accionBtnItem)="accionBtnItemTable($event)"
>
  <div class="card">
    <p-steps [model]="items" [readonly]="false"></p-steps>
  </div>
  <br />
  <div class="card">
    <form [formGroup]="form">
      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <input type="hidden" formControlName="iConfigId" aria-describedby="iConfigId-help" />
            <input
              pInputText
              formControlName="cYAcadNombre"
              readOnly="false"
              aria-describedby="cYAcadNombre-help"
            />

            <label for="cYAcadNombre">Año escolar:</label>
          </span>
        </div>

        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <input
              pInputText
              formControlName="cModalServId"
              readOnly="false"
              aria-describedby="cModalServId-help"
            />
            <label for="iModalServId">Modalidad educativa</label>
          </span>
        </div>

        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input
              pInputText
              formControlName="cNivelTipoNombre"
              readOnly="false"
              aria-describedby="cNivelTipoNombre-help"
            />

            <input
              type="hidden"
              formControlName="iNivelTipoId"
              aria-describedby="iNivelTipoId-help"
            />

            <label for="cNivelTipoNombre">Niveles Modulares</label>
          </span>
        </div>

        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input
              pInputText
              formControlName="cServEdNombre"
              aria-describedby="cServEdNombre-help"
              readOnly="false"
            />
            <label for="cServEdNombre">Modelo de servicio de atención</label>
          </span>
        </div>

        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input
              pInputText
              formControlName="cConfigDescripcion"
              aria-describedby="cConfigDescripcion-help"
            />
            <label for="cConfigDescripcion">Descripcion</label>
          </span>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input
              pInputText
              formControlName="cConfigNroRslAprobacion"
              aria-describedby="cConfigNroRslAprobacion-help"
            />
            <label for="cConfigNroRslAprobacion">Resolución Directoral de aprobación</label>
          </span>
        </div>

        <div class="field col-12 md:col-4">
          <label for="bConfigEsBilingue">IE Educación intercultural Bilingüe </label>
        </div>
        <div class="field col-12 md:col-1">
          <span class="p-float-label">
            Si

            <p-radioButton [value]="true" formControlName="bConfigEsBilingue" />
          </span>
        </div>
        <div class="field col-12 md:col-1">
          <span class="p-float-label"
            >No

            <p-radioButton [value]="false" formControlName="bConfigEsBilingue" />
          </span>
        </div>
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <p-dropdown
              [style]="{ width: '100%' }"
              [options]="configTipo"
              optionLabel="cEstadoConfigNombre"
              optionValue="iEstadoConfigId"
              formControlName="iEstadoConfigId"
            />
            <label for="iTipoAmbienteId">Estado:</label>
          </span>
        </div>
        <div class="col-3">
          <app-types-files-upload-primeng
            [nameFile]="'configuracion-iiee'"
            [nameOption]="'configuracion-iiee'"
            [typesFiles]="typesFiles"
            (actionTypesFileUpload)="accionBtn($event)"
            [filesUrl]="filesUrl"
          >
          </app-types-files-upload-primeng>
        </div>
        <div class="field col-12 md:col-4">
          <span>
            <p>
              <strong>Consideraciones al adjuntar archivos</strong>
            </p>
            <li>Solo se permite las extensiones : JPG, JPEG, PNG, PDF</li>
            <li>El tamaño maximo permitido es de 10 MB</li>
            <li>Puede agregar solo un archivos</li>
          </span>
        </div>
        <div class="field col-12 md:col-2">
          <span>
            @if (!enlace || enlace.trim() === '') {
              <p>No existe archivo adjunto</p>
            } @else {
              <p>Existe Archivo</p>
              <a
                [href]="enlace"
                download="archivo.pdf"
                class="custom-download-link"
                target="_blank"
              >
                <i class="pi pi-download"></i> Descargar Archivo
              </a>
            }
          </span>
        </div>
      </div>
      <!-- <p-button label="Guardar" [disabled]="form.invalid" (onClick)="accionBtnItem('guardar')"
                styleClass="p-button-danger" /><p-toast /> -->
    </form>
  </div>
  <!-- <div class="col-12">
        <p-messages [(value)]="mensaje" [enableService]="false" [closable]="true" />
    </div> -->
  <div class="flex justify-content-end">
    @if (btnNuevo) {
      <p-button (onClick)="confirm()" [disabled]="!form.valid" label="Registrar configuración" />
    } @else {
      <p-button
        (onClick)="confirm()"
        [disabled]="!form.valid"
        label="Actualizar configuración"
        severity="warning"
      />
    }
  </div>
</app-container-page>
