:host {
    display: block;
}

:host ::ng-deep .evaluacion-info .p-datatable-header {
    background-color: var(--blue-50);
    text-align: center;
    font-weight: 500;
}

:host ::ng-deep .evaluacion-info .p-datatable-thead > tr > th:nth-child(1) {
    background-color: var(--blue-50);
    text-align: right;
    font-weight: 400;
}

:host ::ng-deep .evaluacion-info .p-datatable-thead > tr > th:nth-child(2) {
    font-weight: 400;
    background-color: #fff;
}
