<p-table
    styleClass="p-datatable-gridlines p-datatable-sm mt-2"
    class="evaluacion-info"
>
    <ng-template pTemplate="caption">
        <p class="text-center">Informacion de la evaluación formativa</p>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Código Estudiante</th>
            <th colspan="3">
                {{ evaluacionEstudiante.cEstCodigo }}
            </th>
        </tr>
        <tr>
            <th>Estudiante</th>
            <th colspan="3">
                {{ evaluacionEstudiante.cEstNombres }}
                {{ evaluacionEstudiante.cEstPaterno }}
                {{ evaluacionEstudiante.cEstMaterno }}
            </th>
        </tr>
    </ng-template>
</p-table>
