<div class="card relative mt-3">
    <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="seleccionarResultado"
        optionLabel="label"
        optionValue="value"
        (onChange)="obtenerTab($event)"
        class="tab"
    />

    <div class="grid">
        @switch (seleccionarResultado) {
            @case ('1') {
                <div class="col-12 mt-5">
                    <app-table-primeng
                        [columnas]="columnasTabla"
                        [data]="reporteNotasFinales"
                        (accionBtnItem)="accionBnt($event)"
                        [actions]="accionesTabla"
                    >
                        <!--  -->
                    </app-table-primeng>
                </div>
            }
            @case ('2') {
                <div class="card col-12 md:col-4 relative mr-2 mt-6">
                    <samp class="tagEst">Lista de Estudiantes</samp>
                    <div class="mt-3">
                        <app-card-orderlist
                            [data]="reporteNotasFinales"
                            (datoSeleccionado)="obtenerComnt($event)"
                        >
                        </app-card-orderlist>
                    </div>
                </div>
                <div class="card col relative mt-6">
                    <samp class="tagDet">Detalles por Estudiante</samp>
                    <!-- Mostrar botones de las actividades realizadas -->
                    <div class="mt-5 col-12">
                        <p-selectButton
                            [options]="listarActividades"
                            [(ngModel)]="actividadSeleccionado"
                            optionLabel="label"
                            optionValue="value"
                            class="actividad"
                        >
                        </p-selectButton>
                    </div>
                    <div class="grid col-12">
                        <div class="col-6">
                            <p-dropdown
                                optionLabel="name"
                                styleClass="w-full"
                                placeholder="Todos los periodos"
                            />
                        </div>
                        <div class="col-6">
                            <p-dropdown
                                optionLabel="name"
                                styleClass="w-full"
                                placeholder="Todas las semanas"
                            />
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
