<div class="flex flex-column md:flex-row gap-2 justify-content-between mb-4">
    <h2 class="text-2xl font-bold">Calificación - {{ tituloEvaluacion }}</h2>
</div>

<form [formGroup]="calificacionForm">
    <div class="formgrid grid">
        <div class="field flex flex-column col-12">
            <label for="usaInstrumentoEvaluacion">Instrumento evaluación</label>
            <p-dropdown
                styleClass="w-full"
                optionValue="id"
                formControlName="usaInstrumentoEvaluacion"
                [options]="instrumentoEvaluacionOpciones"
                optionLabel="nombre"
            />
        </div>
    </div>

    @if (calificacionForm.get('usaInstrumentoEvaluacion')?.value === 2) {
        <app-rubricas
            [title]="'Rubricas'"
            (rubricaSelectedChange)="rubricaSelectedChange.emit($event)"
            [mode]="'SELECTION'"
            [rubricaSelected]="rubricaSelected"
            [params]="params"
        ></app-rubricas>
    }
</form>
