<form [formGroup]="formEconomico">
    <input type="hidden" formControlName="iFichaDGId" />

    <div class="pt-2 grid p-fluid mt-3">
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    Ingreso mensual familiar
                </p-inputGroupAddon>
                <p-inputNumber
                    formControlName="iIngresoEcoFamiliar"
                    maxlength="10"
                    useGrouping="true"
                    showButtons="false"
                    class="group-element"
                    placeholder="Especifique"
                />
            </p-inputGroup>
        </div>
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    Actividad económica familiar
                </p-inputGroupAddon>
                <input
                    pInputText
                    formControlName="cIngresoEcoActividad"
                    class="group-element"
                    placeholder="Especifique"
                />
            </p-inputGroup>
        </div>
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    Rango de sueldo familiar
                </p-inputGroupAddon>
                <p-dropdown
                    [options]="rangos_sueldo"
                    formControlName="iRangoSueldoId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Seleccione"
                    styleClass="group-element"
                />
            </p-inputGroup>
        </div>
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    Tipo de apoyo economómico
                </p-inputGroupAddon>
                <p-dropdown
                    [options]="tipos_apoyo_economico"
                    formControlName="iTipoAEcoId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Seleccione"
                    styleClass="group-element"
                />
            </p-inputGroup>
        </div>
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    <p-inputSwitch formControlName="bIngresoEcoTrabaja" />
                    <span>¿Usted trabaja?</span>
                </p-inputGroupAddon>
            </p-inputGroup>
        </div>
        <p-fieldset legend="Ingresos personales">
            <div class="grid">
                <div class="col-12 sm:col-6">
                    <p-inputGroup styleClass="vertical-group">
                        <p-inputGroupAddon>
                            Ingresos mensuales personales
                        </p-inputGroupAddon>
                        <p-inputNumber
                            formControlName="iIngresoEcoEstudiante"
                            maxlength="10"
                            min="0"
                            useGrouping="true"
                            showButtons="false"
                            class="group-element"
                            placeholder="Especifique"
                        />
                    </p-inputGroup>
                </div>
                <div class="col-12 sm:col-6">
                    <p-inputGroup styleClass="vertical-group">
                        <p-inputGroupAddon>
                            Cantidad de horas trabajadas
                        </p-inputGroupAddon>
                        <p-inputNumber
                            formControlName="iIngresoEcoTrabajoHoras"
                            maxlength="2"
                            min="1"
                            useGrouping="true"
                            showButtons="false"
                            class="group-element"
                            placeholder="Especifique"
                        />
                    </p-inputGroup>
                </div>
                <div class="col-12 sm:col-6">
                    <p-inputGroup styleClass="vertical-group">
                        <p-inputGroupAddon>
                            Fuente de ingresos personales
                        </p-inputGroupAddon>
                        <input
                            pInputText
                            formControlName="cIngresoEcoDependeDe"
                            class="group-element"
                            placeholder="Especifique"
                        />
                    </p-inputGroup>
                </div>
                <div class="col-12 sm:col-6">
                    <p-inputGroup styleClass="vertical-group">
                        <p-inputGroupAddon>
                            Rango de sueldo personal
                        </p-inputGroupAddon>
                        <p-dropdown
                            [options]="rangos_sueldo"
                            formControlName="iRangoSueldoIdPersona"
                            [filter]="true"
                            [showClear]="true"
                            [appendTo]="'body'"
                            placeholder="Seleccione"
                            styleClass="group-element"
                        />
                    </p-inputGroup>
                </div>
                <div class="col-12 sm:col-6">
                    <p-inputGroup styleClass="vertical-group">
                        <p-inputGroupAddon>
                            Dependencia económica
                        </p-inputGroupAddon>
                        <p-dropdown
                            [options]="dependencias_economicas"
                            formControlName="iDepEcoId"
                            [filter]="true"
                            [showClear]="true"
                            [appendTo]="'body'"
                            placeholder="Seleccione"
                            styleClass="group-element"
                        />
                    </p-inputGroup>
                </div>
                <div class="col-12 sm:col-6">
                    <p-inputGroup styleClass="vertical-group">
                        <p-inputGroupAddon>
                            Jornada de trabajo
                        </p-inputGroupAddon>
                        <p-dropdown
                            [options]="jornadas_trabajo"
                            formControlName="iJorTrabId"
                            [filter]="true"
                            [showClear]="true"
                            [appendTo]="'body'"
                            placeholder="Seleccione"
                            styleClass="group-element"
                        />
                    </p-inputGroup>
                </div>
            </div>
        </p-fieldset>
    </div>
</form>

<br />

<div class="flex justify-content-end gap-2">
    <p-button
        label="Salir sin guardar"
        (onClick)="actualizar()"
        severity="secondary"
    />
    <p-button
        label="Guardar y continuar"
        (onClick)="guardar()"
        severity="success"
        icon="pi pi-save"
    />
</div>
<p-toast></p-toast>
