<form [formGroup]="formEconomico">
    <input type="hidden" formControlName="iFichaDGId" />

    <div class="pt-2 grid p-fluid mt-3">
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    Ingreso mensual de la familia del estudiante
                </p-inputGroupAddon>
                <p-inputNumber
                    formControlName="iIngresoEcoFamiliar"
                    maxlength="10"
                    useGrouping="true"
                    showButtons="false"
                    class="group-element"
                    placeholder="Especifique"
                />
            </p-inputGroup>
        </div>
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    Rango de sueldo familiar
                </p-inputGroupAddon>
                <p-dropdown
                    [options]="rangos_sueldo"
                    formControlName="iRangoSueldoId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Seleccione"
                    styleClass="group-element"
                />
            </p-inputGroup>
        </div>
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    Actividad económica familiar
                </p-inputGroupAddon>
                <input
                    pInputText
                    formControlName="cIngresoEcoActividad"
                    class="group-element"
                    placeholder="Especifique"
                />
            </p-inputGroup>
        </div>
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    <p-inputSwitch formControlName="bIngresoEcoTrabaja" />
                    <span>¿El estudiante trabaja?</span>
                </p-inputGroupAddon>
            </p-inputGroup>
        </div>
        <div class="col-12 sm:col-6">
            <p-inputGroup styleClass="vertical-group">
                <p-inputGroupAddon>
                    El estudiante recibe algún apoyo económico?
                </p-inputGroupAddon>
                <p-dropdown
                    [options]="tipos_apoyo_economico"
                    formControlName="iTipoAEcoId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Seleccione"
                    styleClass="group-element"
                />
            </p-inputGroup>
        </div>
        <div class="col-12">
            <p-fieldset legend="Ingresos del apoderado">
                <div class="grid p-fluid">
                    <div class="col-12 sm:col-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                Ingresos mensuales del apoderado
                            </p-inputGroupAddon>
                            <p-inputNumber
                                formControlName="iIngresoEcoEstudiante"
                                maxlength="10"
                                min="0"
                                useGrouping="true"
                                showButtons="false"
                                class="group-element"
                                placeholder="Especifique"
                            />
                        </p-inputGroup>
                    </div>
                    <div class="col-12 sm:col-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                Rango de sueldo del apoderado
                            </p-inputGroupAddon>
                            <p-dropdown
                                [options]="rangos_sueldo"
                                formControlName="iRangoSueldoIdPersona"
                                [filter]="true"
                                [showClear]="true"
                                [appendTo]="'body'"
                                placeholder="Seleccione"
                                styleClass="group-element"
                            />
                        </p-inputGroup>
                    </div>
                    <div class="col-12 sm:col-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                Cantidad de horas trabajadas al día
                            </p-inputGroupAddon>
                            <p-inputNumber
                                formControlName="iIngresoEcoTrabajoHoras"
                                maxlength="2"
                                min="1"
                                useGrouping="true"
                                showButtons="false"
                                class="group-element"
                                placeholder="Especifique"
                            />
                        </p-inputGroup>
                    </div>
                    <div class="col-12 sm:col-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                Actividad que brinda ingresos al apoderado
                            </p-inputGroupAddon>
                            <input
                                pInputText
                                formControlName="cIngresoEcoDependeDe"
                                class="group-element"
                                placeholder="Especifique"
                            />
                        </p-inputGroup>
                    </div>
                    <div class="col-12 sm:col-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                <p-button
                                    severity="secondary"
                                    icon="pi pi-info-circle"
                                    [pTooltip]="iDepEcoIdInfo"
                                    tooltipPosition="top"
                                    tooltipEvent="both"
                                    appendTo="body"
                                    [autoHide]="false"
                                >
                                    <ng-template #iDepEcoIdInfo>
                                        En esta pregunta "depender de otros" se
                                        refiere a que no trabaja pero recibe
                                        apoyo económico de amigos, familiares o
                                        instituciones
                                    </ng-template>
                                </p-button>
                                ¿De quien depende económicamente el apoderado?
                            </p-inputGroupAddon>
                            <p-dropdown
                                [options]="dependencias_economicas"
                                formControlName="iDepEcoId"
                                [filter]="true"
                                [showClear]="true"
                                [appendTo]="'body'"
                                placeholder="Seleccione"
                                styleClass="group-element"
                            />
                        </p-inputGroup>
                    </div>
                    <div class="col-12 sm:col-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                ¿Cual es la jornada de trabajo del apoderado?
                            </p-inputGroupAddon>
                            <p-dropdown
                                [options]="jornadas_trabajo"
                                formControlName="iJorTrabId"
                                [filter]="true"
                                [showClear]="true"
                                [appendTo]="'body'"
                                placeholder="Seleccione"
                                styleClass="group-element"
                            />
                        </p-inputGroup>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</form>

<br />

<div class="flex justify-content-end gap-2">
    <p-button
        label="Salir sin guardar"
        (onClick)="salir()"
        severity="secondary"
    />
    @if (!ficha_registrada) {
        <p-button
            type="button"
            label="Guardar y continuar"
            icon="pi pi-save"
            severity="success"
            (click)="guardar()"
        />
    } @else {
        <p-button
            type="button"
            label="Actualizar y continuar"
            icon="pi pi-save"
            severity="success"
            (click)="actualizar()"
        />
    }
</div>
<p-toast></p-toast>
