<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-xl">Preguntas de encuesta</div>
      <div class="flex text-sm">{{ encuesta?.cEncuNombre }}</div>
    </div>
  </ng-template>
  <ng-template pTemplate="icons" class="flex justify-content-center">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        size="small"
        severity="secondary"
        pTooltip="Volver a encuesta"
        tooltipPosition="top"
        (click)="salir()"
      >
        <i class="pi pi-arrow-left"></i>
        <span class="ml-2 hidden md:inline">Volver a encuesta</span>
      </p-button>
    </div>
  </ng-template>

  <div class="flex justify-content-between flex-wrap gap-2">
    <p-button
      severity="primary"
      pTooltip="Agregar sección"
      tooltipPosition="top"
      (click)="abrirDialogoSeccion()"
    >
      <i class="pi pi-plus mr-2"></i>
      <span class="font-bold hidden md:inline">Agregar sección</span>
      <span class="font-bold inline md:hidden">Sección</span>
    </p-button>
    <div class="card p-1">
      <span class="font-semibold hidden md:inline">Total de </span>
      <span class="font-semibold">Preguntas: </span>
      <p-badge [value]="totalPreguntas" severity="primary" badgeSize="large" />
    </div>
  </div>

  <br />

  <p-accordion styleClass="w-full" [multiple]="true">
    @for (seccion of secciones; track seccion.iSeccionId) {
      <p-accordionTab iconPos="start" [selected]="true">
        <ng-template pTemplate="header">
          <span class="flex align-items-center justify-content-start w-full">
            <div class="flex flex-column">
              <div class="flex text-xl">SECCION # {{ seccion?.iSeccionOrden }}</div>
              <div class="flex text-sm">{{ seccion?.cSeccionTitulo }}</div>
            </div>
            <div
              class="flex gap-1 ml-auto"
              tabindex="0"
              (click)="$event.stopPropagation()"
              (keydown.enter)="$event.stopPropagation()"
            >
              <p-button
                size="small"
                severity="warning"
                pTooltip="Editar sección"
                tooltipPosition="top"
                (onClick)="editarSeccion(seccion)"
              >
                <i class="pi pi-pencil"></i>
                <span class="ml-2 font-bold hidden md:inline">Editar</span>
              </p-button>
              <p-button
                size="small"
                severity="danger"
                pTooltip="Eliminar sección"
                tooltipPosition="top"
                (onClick)="eliminarSeccion(seccion)"
              >
                <i class="pi pi-trash"></i>
                <span class="ml-2 font-bold hidden md:inline">Eliminar</span>
              </p-button>
            </div>
          </span>
        </ng-template>

        @for (pregunta of seccion.preguntas; track pregunta.iPregId) {
          <p-panel>
            <ng-template pTemplate="header">
              <a
                *ngIf="pregunta?.cPregAdicional"
                role="button"
                class="p-button p-button-secondary mr-2"
                (click)="panel.toggle($event)"
                (keypress)="panel.toggle($event)"
                tabindex="0"
              >
                <i class="pi pi-question-circle"></i>
              </a>
              <p-overlayPanel #panel [showCloseIcon]="true" appendTo="body">
                <div class="flex w-15rem">
                  <ng-template #infoAdicional>
                    {{ pregunta?.cPregAdicional }}
                  </ng-template>
                </div>
              </p-overlayPanel>
              {{ pregunta?.cPregContenido }}
            </ng-template>
            <ng-template pTemplate="icons" class="p-0 m-0">
              <p-button
                size="small"
                severity="info"
                disabled="true"
                [pTooltip]="pregunta.cTipoPregNombre"
                tooltipPosition="top"
              >
                <i [class]="'pi ' + pregunta.cTipoPregIcono"></i>
                <span class="hidden md:inline ml-2">{{ pregunta.cTipoPregNombre }}</span>
              </p-button>
            </ng-template>
            <div class="flex">
              <p-button
                severity="success"
                icon="pi pi-pen-to-square"
                label="Editar"
                size="small"
                class="m-2"
                pTooltip="Editar pregunta"
                tooltipPosition="top"
                (onClick)="editarPregunta(pregunta)"
              />
              <p-button
                severity="danger"
                icon="pi pi-trash"
                label="Eliminar"
                size="small"
                class="m-2"
                pTooltip="Eliminar pregunta"
                tooltipPosition="top"
                (onClick)="eliminarPregunta(pregunta)"
              />
            </div>
          </p-panel>
        }

        <br />

        <div class="flex flex-row-reverse">
          <p-button
            severity="primary"
            size="small"
            pTooltip="Agregar pregunta"
            tooltipPosition="top"
            (onClick)="agregarPregunta(seccion)"
          >
            <i class="pi pi-plus mr-2"></i>
            <span class="font-bold hidden md:inline">Agregar pregunta</span>
            <span class="font-bold inline md:hidden">Pregunta</span>
          </p-button>
        </div>
      </p-accordionTab>

      <br />
    }
  </p-accordion>

  <app-seccion
    [(visible)]="mostrarDialogoSeccion"
    [iSeccionId]="iSeccionId"
    (seccionModificada)="listarSecciones()"
  />

  <app-pregunta
    [(visible)]="mostrarDialogoPregunta"
    [iSeccionId]="iSeccionId"
    [iPregId]="iPregId"
    (preguntaModificada)="listarSecciones()"
  />
</p-panel>

<p-toast></p-toast>
