<p-button (onClick)="menuColumnFilter.toggle($event)" size="small">
    <app-icon name="'matFilterList'" size="xs"></app-icon>
</p-button>
<p-menu #menuColumnFilter [popup]="true" [model]="columns" appendTo="body">
    <ng-template pTemplate="item" let-item>
        <div class="p-2 px-3">
            <p-checkbox
                [(ngModel)]="item.selected"
                [binary]="true"
                (click)="onCheckboxClick($event)"
                (onChange)="onItemChange()"
                [label]="item.header"
            />
        </div>
    </ng-template>
</p-menu>
