<button
    pButton
    class="p-button-outlined border-gray-300 p-button-secondary flex gap-2 py-1 px-3 align-items-center text-black-alpha-90 h-full"
    (click)="menuColumnFilter.toggle($event)"
    size="small"
>
    <app-icon name="'matTune'" class="text-gray-500" size="xs"></app-icon>
    <span class="text-md">Ver</span>
</button>
<p-menu #menuColumnFilter [popup]="true" [model]="columns" appendTo="body">
    <ng-template pTemplate="item" let-item>
        <div class="p-2 px-3">
            <p-checkbox
                [(ngModel)]="item.selected"
                [binary]="true"
                (click)="onCheckboxClick($event)"
                (onChange)="onItemChange()"
                [label]="item.header"
            />
        </div>
    </ng-template>
</p-menu>
