<p-dialog
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '65rem' }"
    (onHide)="visible = false"
>
    <ng-template pTemplate="header">
        <img src="assets/images/logo_blanco.png" alt="logo" height="60px" />
    </ng-template>
    <div class="mt-5 grid">
        <div class="col-12 md:col-9">
            <!-- <span class="title">Bienvenido</span> -->
            <h1 style="font-size: 60px">
                Gracias por tu Participación en la Evaluación Regional de
                Estudiantes (ERE).
            </h1>
            <h5 style="font-size: 22px">
                Levanta la mano e indica que terminaste, y espera las
                indicaciones.
            </h5>
        </div>
        <div class="col-12 md:col-3 align-content-center">
            <img
                style="max-width: 150px"
                src="assets/images/prueba.png"
                alt="logo"
            />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <img src="assets/images/logo-proyecto.png" alt="logo" height="50px" />
    </ng-template>
</p-dialog>
