<app-modal-primeng
  *ngIf="showModal"
  [title]="'Configuración de Horarios'"
  [showModal]="showModal"
  (accionBtnItem)="this.accionCloseForm.emit($event)"
  width="65rem"
>
  <div class="col-12 mt-3 grid">
    <div class="col-12 md:col-5">
      <p-inputGroup>
        <p-inputGroupAddon>Fecha Inicio:</p-inputGroupAddon>
        <p-calendar
          styleClass="w-full opacity-100"
          dateFormat="dd/mm/yy"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [disabled]="true"
          [(ngModel)]="data.dFechaInicio"
        ></p-calendar>
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-5">
      <p-inputGroup>
        <p-inputGroupAddon>Fecha Fin:</p-inputGroupAddon>
        <p-calendar
          styleClass="w-full opacity-100"
          dateFormat="dd/mm/yy"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [disabled]="true"
          [(ngModel)]="data.dFechaInicio"
        ></p-calendar>
      </p-inputGroup>
    </div>
    <!-- <div class="col-12 md:col-2">
      <div class="flex justify-content-center">
        <span class="text-2xl font-bold text-primary"> {{ data.iTotalHrs || 0 }} </span>
      </div>
      <div class="flex justify-content-center">
        <span class="text-base text-gray-600 mt-2">Horas</span>
      </div>
    </div> -->
  </div>

  <div class="card relative mt-4">
    <samp class="btn-label-days">Seleccionar los días.</samp>

    <div class="flex flex-wrap gap-2 justify-content-center my-1">
      <p-button
        *ngFor="let dia of dias; let i = index"
        [label]="dia.cDiaNombre"
        [severity]="dia.iSeleccionado ? 'primary' : 'contrast'"
        [class.custom-secondary]="dia.iSeleccionado !== 1"
        (click)="dia.iSeleccionado = dia.iSeleccionado === 1 ? 0 : 1"
      />
    </div>
  </div>

  <div class="card mt-4 relative">
    <samp class="btn-horario">Horario</samp>

    <!-- Switch -->
    <div class="flex flex-column sm:flex-row align-items-center justify-content-between gap-2">
      <span class="pr-3">¿El horario es el mismo todos los días seleccionados?</span>
      <div class="flex align-items-center gap-2">
        <p-inputSwitch [(ngModel)]="iHorarioUniforme" class="pr-3" />
        <span class="font-bold">{{ iHorarioUniforme ? 'Sí' : 'No' }}</span>
      </div>
    </div>

    <!-- CONTENIDO SEGÚN CONDICIÓN -->
    <div class="mt-4">
      @if (!iHorarioUniforme) {
        <!-- Horario por cada día -->
        <div class="flex flex-wrap gap-2">
          <div
            class="flex flex-column sm:flex-row align-items-center gap-2 border-round p-2"
            *ngFor="let item of dias"
          >
            @if (item.iSeleccionado === 1) {
              <!-- Día -->
              <div
                class="bg-primary text-white font-bold flex align-items-center justify-content-center px-3 py-5 text-center vertical-text sm:vertical-text"
              >
                <span>{{ item.cDiaNombre }}</span>
              </div>

              <!-- Contenedor de horas en columna -->
              <div class="flex flex-column gap-2 w-full sm:w-auto">
                <p-calendar
                  [iconDisplay]="'input'"
                  styleClass="w-full sm:w-12rem"
                  [hourFormat]="'24'"
                  [showIcon]="true"
                  [timeOnly]="true"
                  placeholder="Hora de inicio"
                  appendTo="body"
                  [(ngModel)]="item.iHoraInicio"
                >
                  <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                    <i class="pi pi-clock" (onclick)="clickCallBack($event)"></i>
                  </ng-template>
                </p-calendar>

                <p-calendar
                  [iconDisplay]="'input'"
                  styleClass="w-full sm:w-12rem"
                  [hourFormat]="'24'"
                  [showIcon]="true"
                  [timeOnly]="true"
                  placeholder="Hora de fin"
                  appendTo="body"
                  [(ngModel)]="item.iHoraFin"
                >
                  <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                    <i class="pi pi-clock" (onclick)="clickCallBack($event)"></i>
                  </ng-template>
                </p-calendar>
              </div>

              <!-- Flecha (si no es el último día) -->
              @if (!esUltimoDiaSeleccionado(item)) {
                <div>
                  <i class="pi pi-arrow-right text-xl"></i>
                </div>
              }
            }
          </div>
        </div>
      } @else {
        <!-- Horario uniforme -->
        <div class="grid align-items-center">
          <!-- Inicio -->
          <div class="col-12 md:col-5">
            <p-inputGroup>
              <p-inputGroupAddon>Inicio:</p-inputGroupAddon>
              <p-calendar
                [iconDisplay]="'input'"
                styleClass="w-full"
                [hourFormat]="'24'"
                [showIcon]="true"
                [timeOnly]="true"
                placeholder="Ingrese hora de inicio"
                appendTo="body"
                [(ngModel)]="iHoraInicio"
              >
                <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                  <i class="pi pi-clock" (onclick)="clickCallBack($event)"></i>
                </ng-template>
              </p-calendar>
            </p-inputGroup>
          </div>

          <!-- Flecha -->
          <div class="col-12 md:col-2 text-center">
            <i class="pi pi-arrow-right text-xl"></i>
          </div>

          <!-- Fin -->
          <div class="col-12 md:col-5">
            <p-inputGroup>
              <p-inputGroupAddon>Fin:</p-inputGroupAddon>
              <p-calendar
                [iconDisplay]="'input'"
                styleClass="w-full"
                [hourFormat]="'24'"
                [showIcon]="true"
                [timeOnly]="true"
                placeholder="Ingrese hora de fin"
                appendTo="body"
                [(ngModel)]="iHoraFin"
              >
                <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                  <i class="pi pi-clock" (onclick)="clickCallBack($event)"></i>
                </ng-template>
              </p-calendar>
            </p-inputGroup>
          </div>
        </div>
      }
    </div>
  </div>

  <div footer class="flex justify-content-end gap-2">
    <p-button label="Cancelar" severity="secondary" (onClick)="this.accionCloseForm.emit()" />
    <p-button
      label="Guardar"
      severity="success"
      [loading]="isLoading"
      [disabled]="isLoading || isValidForm()"
      (onClick)="guardarHorario()"
    />
  </div>
</app-modal-primeng>
