<p-panel>
  <ng-template pTemplate="header">
    <div class="flex justify-content-between flex-wrap w-full">
      <div class="flex align-items-center justify-content-center font-bold border-round m-2">
        <span class="font-bold text-4xl">REPORTE DE ASISTENCIA</span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid m-1">
      <div class="col-12 xl:col-3 lg:col-4 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Opciones</p-inputGroupAddon>
          <p-dropdown
            [options]="opcion"
            [(ngModel)]="tipo.id"
            optionLabel="nombre"
            optionValue="id"
            placeholder="Seleccionar tipo de reporte"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-2 lg:col-4 md:col-6" *ngIf="tipo.id === 1 || tipo.id === 2">
        <p-inputGroup>
          <p-inputGroupAddon>Mes</p-inputGroupAddon>
          <p-dropdown
            [options]="meses"
            [(ngModel)]="tipo.numero"
            optionLabel="nombre"
            optionValue="numero"
            placeholder="Seleccionar Mes"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-3 lg:col-4 md:col-4" *ngIf="tipo.id === 1 || tipo.id === 3">
        <p-inputGroup>
          <p-inputGroupAddon>Grado</p-inputGroupAddon>
          <p-dropdown
            [options]="grado"
            [(ngModel)]="datos.iGradoId"
            (onChange)="filtrarSeccion()"
            optionLabel="cGradoNombre"
            optionValue="iGradoId"
            placeholder="Seleccionar Grado"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-2 lg:col-6 md:col-4" *ngIf="tipo.id === 1 || tipo.id === 3">
        <p-inputGroup>
          <p-inputGroupAddon>Sección</p-inputGroupAddon>
          <p-dropdown
            [options]="seccion"
            [(ngModel)]="datos.iSeccionId"
            (click)="inhabilitarBoton = false"
            optionLabel="cSeccionNombre"
            optionValue="iSeccionId"
            placeholder="Seleccionar Sección"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-3 lg:col-4 md:col-6" *ngIf="tipo.id === 2 || tipo.id === 4">
        <p-inputGroup>
          <p-inputGroupAddon>Cod. de Est.</p-inputGroupAddon>
          <input
            pInputText
            class="mr-1"
            [(ngModel)]="datos.cEstCodigo"
            name="cEstCodigo"
            placeholder="Codigo"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-2 lg:col-6 md:col-6" *ngIf="tipo.id === 2 || tipo.id === 4">
        <p-inputGroup>
          <p-inputGroupAddon>DNI</p-inputGroupAddon>
          <input
            pInputText
            class="mr-1"
            [(ngModel)]="datos.cPersDocumento"
            name="cPersDocumento"
            placeholder="DNI"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-2 lg:col-6 md:col-4" *ngIf="tipo.id === 1">
        <p-button
          [disabled]="!tipo.id"
          class="expandir"
          severity="primary"
          label="Buscar"
          icon="pi pi-search"
          [loading]="finalizar"
          (click)="buscarReporteAula()"
        />
      </div>
      <div class="col-12 xl:col-2 lg:col-6 md:col-12" *ngIf="tipo.id === 2">
        <p-button
          [disabled]="!tipo.id"
          class="expandir"
          severity="primary"
          label="Buscar"
          icon="pi pi-search"
          [loading]="finalizar"
          (click)="buscarReporteEstudiante()"
        />
      </div>

      <div class="col-12 xl:col-2 lg:col-6 md:col-4" *ngIf="tipo.id === 3">
        <p-inputGroup>
          <p-inputGroupAddon>Tipo</p-inputGroupAddon>
          <p-dropdown
            [disabled]="inhabilitar"
            [options]="asistencias"
            [(ngModel)]="tipo.tipoAsistencia"
            (onChange)="filtrarGrafica()"
            optionLabel="nombre"
            optionValue="indice"
            placeholder="Seleccionar Tipo de Asistencia"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-2 lg:col-6 md:col-4" *ngIf="tipo.id === 3">
        <p-button
          [disabled]="!datos.iGradoId || !datos.iSeccionId"
          class="expandir"
          severity="primary"
          label="Buscar"
          icon="pi pi-search"
          [loading]="finalizar"
          (click)="ReporteGraficoGradoSeccion()"
        />
      </div>
      <div class="col-12 xl:col-2 lg:col-6 md:col-4" *ngIf="tipo.id === 4">
        <p-button
          [disabled]="!tipo.id"
          class="expandir"
          severity="primary"
          label="Buscar"
          icon="pi pi-search"
          [loading]="finalizar"
          (click)="ReporteGraficoEstudiante()"
        />
      </div>
      <!-- tablas -->
      <div
        class="col-12 xl:col-10 lg:col-10 md:col-10 text-center p-2"
        *ngIf="tipo.id === 1 || tipo.id === 2"
      >
        <span class="font-bold">Leyenda</span> :
        <p-tag
          [styleClass]="leyenda.bgColor"
          [value]="leyenda.cTipoAsiNombre"
          *ngFor="let leyenda of tipoAsistencia"
        />
      </div>
      <div
        class="col-12 xl:col-2 lg:col-2 md:col-2 text-right p-2"
        *ngIf="tipo.id === 1 || tipo.id === 2"
      >
        <p-button
          class="expandir"
          severity="success"
          icon="pi pi-file-excel"
          label="Exportar"
          (click)="exportarExcel()"
          [disabled]="alumnos.length === 0"
        />
      </div>

      <div class="col-12" *ngIf="tipo.id === 1 || tipo.id === 2">
        <p-table
          [tableStyle]="{ 'min-width': '125rem' }"
          [value]="alumnos"
          [paginator]="true"
          [rows]="50"
          [rowsPerPageOptions]="[5, 10, 20, 50]"
          [scrollable]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Apellidos y Nombres</th>
              <th class="text-center">DNI</th>
              <th *ngFor="let dia of dias">{{ dia }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-alumno let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">{{ rowIndex + 1 }}</td>
              <td>{{ alumno.completo }}</td>
              <td class="text-center">{{ alumno.cPersDocumento }}</td>
              <td
                class="text-center font-bold"
                [ngClass]="dia.bgColor + ' ' + dia.textColor"
                *ngFor="let dia of alumno.asistencia || []"
              >
                {{ dia.cTipoAsiLetra }}
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="text-center text-gray-500 py-3">Sin registros de Alumnos.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-12" *ngIf="tipo.id === 3">
        <p-chart
          type="bar"
          [data]="grafico"
          [options]="configuracion"
          [plugins]="[plugin]"
          style="width: 2000px; height: 1500px"
        />
      </div>
      <div class="col-12 xl:col-7 lg:col-7 md:col-6" *ngIf="tipo.id === 4">
        <div class="card flex justify-content-center">
          <p-chart
            type="doughnut"
            [data]="dona"
            [options]="opcionDona"
            [plugins]="[plugin]"
            style="width: 400px"
          />
        </div>
      </div>
      <div class="col-12 xl:col-5 lg:col-5 md:col-6" *ngIf="tipo.id === 4">
        <p-inputGroup class="mb-3">
          <p-inputGroupAddon>Nombre Completo</p-inputGroupAddon>
          <input pInputText class="mr-1" [(ngModel)]="estudiante.nombre" readonly />
        </p-inputGroup>
        <p-inputGroup class="mb-3">
          <p-inputGroupAddon>Codigo de Estudiante</p-inputGroupAddon>
          <input pInputText class="mr-1" [(ngModel)]="estudiante.codigo" readonly />
        </p-inputGroup>
        <p-inputGroup class="mb-3">
          <p-inputGroupAddon>DNI</p-inputGroupAddon>
          <input pInputText class="mr-1" [(ngModel)]="estudiante.dni" readonly />
        </p-inputGroup>
        <p-inputGroup class="mb-3">
          <p-inputGroupAddon>Grado</p-inputGroupAddon>
          <input pInputText class="mr-1" [(ngModel)]="estudiante.grado" readonly />
        </p-inputGroup>
        <p-inputGroup class="mb-3">
          <p-inputGroupAddon>Sección</p-inputGroupAddon>
          <input pInputText class="mr-1" [(ngModel)]="estudiante.seccion" readonly />
        </p-inputGroup>
      </div>
    </div>
  </ng-template>
</p-panel>
<p-toast />
