<div class="p-2 grid mt-3">
  <div class="col" style="margin-left: -0.5rem">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-search"></i>
      </p-inputGroupAddon>
      <input #filtro pInputText placeholder="Buscar" (input)="filtrarTabla()" />
    </p-inputGroup>
  </div>
  <div class="col-auto align-content-center">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        label="Agregar"
        (onClick)="agregarDiscapacidadDetalle()"
        styleClass="p-button-primary"
        severity="success"
      />
    </div>
  </div>
</div>

<app-table-primeng
  [columnas]="columns"
  [showCaption]="false"
  [data]="discapacidades_ficha_filtradas"
  (accionBtnItem)="accionBtnItemTable($event)"
  [showPaginator]="false"
  [(selectedRowData)]="selectedItems"
  [actions]="actions"
  [showAdvancedFilter]="false"
/>

<p-dialog
  header="{{ caption }}"
  [(visible)]="visible"
  [style]="{ width: '56rem' }"
  [modal]="true"
  [contentStyle]="{ overflow: 'auto' }"
  (onClose)="clearForm()"
>
  <ng-content>
    <br />
    <form [formGroup]="formDiscapacidad">
      <div class="grid mt-3">
        <div class="col-12">
          <app-dropdown-simple
            [dropdownItems]="discapacidades"
            [dropdownControl]="$any(formDiscapacidad).controls['iDiscId']"
            addonLabel="Discapacidad *"
            dropdownPlaceholder="Seleccione"
          />
        </div>
        <div class="col-12">
          <app-input-simple
            inputType="textarea"
            [inputControl]="$any(formDiscapacidad).controls['cDiscFichaObs']"
            addonLabel="Información adicional *"
            [infoAdicional]="cDiscFichaObs"
          />
          <ng-template #cDiscFichaObs>
            Especifique cuando fue diagnosticada, la severidad y si necesita apoyo o acomodaciones
          </ng-template>
        </div>
        @if (discapacidad_registrada && hay_archivo) {
          <div class="col-12">
            <p-inputGroup styleClass="vertical-group">
              <p-inputGroupAddon>
                <a
                  type="button"
                  href="#"
                  class="underline text-white"
                  (click)="descargarArchivo(null, $event)"
                >
                  <i class="pi pi-fw pi-download mr-2"></i>
                  <span>Descargar Archivo Adjunto</span>
                </a>
              </p-inputGroupAddon>
            </p-inputGroup>
          </div>
        }
        <div class="col-12">
          <p-inputGroup styleClass="vertical-group">
            <p-inputGroupAddon>
              <span>Cargar documento de sustento (PDF máximo 10MB) *</span>
            </p-inputGroupAddon>
            <p-fileUpload
              #fileUpload
              name="archivo"
              [multiple]="false"
              accept=".pdf"
              fileLimit="1"
              showUploadButton="false"
              invalidFileSizeMessageSummary="{0}: Tamaño de archivo inválido, "
              invalidFileSizeMessageDetail="el máximo tamaño permitido es {0}."
              invalidFileTypeMessageSummary="{0}: Tipo de archivo inválido, "
              invalidFileTypeMessageDetail="el tipo de archivo permitido es: {0}."
              invalidFileLimitMessageDetail="solo debe subir {0} archivo."
              invalidFileLimitMessageSummary="Excedió el límite de archivos permitidos, "
              maxFileSize="10485760"
              (onSelect)="handleArchivo($event)"
            >
            </p-fileUpload>
          </p-inputGroup>
        </div>
      </div>
    </form>

    <div class="flex justify-content-end gap-2">
      <p-button label="Salir" (onClick)="salir()" severity="secondary" />
      <p-button
        *ngIf="!discapacidad_registrada"
        label="Guardar"
        (onClick)="guardarDiscapacidadDetalle()"
        severity="success"
      />
      <p-button
        *ngIf="discapacidad_registrada"
        label="Actualizar"
        (onClick)="actualizarDiscapacidadDetalle()"
        severity="success"
      />
    </div>
  </ng-content>
</p-dialog>
