<div class="flex flex-column gap-4">
    <p-steps
        [model]="pasos"
        [(activeIndex)]="activeIndex"
        [readonly]="modePregunta === 'CREAR'"
    ></p-steps>

    @switch (activeIndex) {
        <!-- paso1 -->
        @case (0) {
            <form [formGroup]="bancoPreguntasForm">
                <app-banco-pregunta-encabezado-form
                    [controlKey]="'0'"
                    [encabezados]="encabezados"
                />
            </form>
        }
        <!-- paso2 -->
        @case (1) {
            <div class="grid mb-2">
                <div
                    class="col-12 flex justify-content-between flex-wrap gap-2"
                >
                    <h2 class="text-xl">Formulario Preguntas</h2>
                    @if (!esSinEncabezado && showFooterSteps) {
                        <button
                            pButton
                            pRipple
                            label="Agregar Pregunta"
                            icon="pi pi-plus"
                            size="small"
                            class="p-button-primary"
                            (click)="agregarPreguntaForm()"
                        ></button>
                    }
                </div>
            </div>
            @switch (bancoPreguntaActiveIndex) {
                @case (0) {
                    @if (esSinEncabezado) {
                        <form [formGroup]="bancoPreguntasForm">
                            <app-banco-pregunta-informacion-form
                                [tipoPreguntas]="tipoPreguntas"
                                [controlKey]="'1'"
                            ></app-banco-pregunta-informacion-form>
                        </form>
                    } @else {
                        <app-banco-pregunta-form-list
                            [preguntas]="preguntas"
                            (accionBtnItemTableChange)="
                                accionPreguntaTable($event)
                            "
                        ></app-banco-pregunta-form-list>
                    }
                }
                <!-- formulario info pregunta -->
                @case (1) {
                    <form [formGroup]="bancoPreguntasForm">
                        <app-banco-pregunta-informacion-form
                            [tipoPreguntas]="tipoPreguntas"
                            [controlKey]="'1'"
                        ></app-banco-pregunta-informacion-form>
                    </form>
                    <footer class="flex justify-content-end gap-2 pt-3">
                        <button
                            pButton
                            pRipple
                            label="Cancelar"
                            icon="pi pi-times"
                            class="p-button-secondary"
                            type="button"
                            size="small"
                            (click)="
                                toggleStepsVisibility(true);
                                changeIndexBancoForm(0);
                                agregarQuitarValidacionesFormPregunta('QUITAR')
                            "
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Guardar"
                            icon="pi pi-save"
                            size="small"
                            type="button"
                            class="p-button-primary"
                            (click)="guardarActualizarPreguntaForm()"
                        ></button>
                    </footer>
                }
                @default {}
            }
        }
        <!-- formulario alternativas 1 pregunta -->
        @case (2) {
            <div class="grid">
                <div class="col-12">
                    <h2 class="text-lg">Alternativas de la pregunta:</h2>
                    <div [innerHTML]="preguntaSelected?.cPregunta"></div>
                </div>
            </div>

            <app-alternativas
                [alternativas]="preguntaSelected?.alternativas ?? []"
                [pregunta]="
                    formMode === 'SUB-PREGUNTAS' ? preguntaSelected : pregunta
                "
                (alternativasChange)="alternativasChange($event)"
                (alternativasEliminadasChange)="
                    setAlternativasEliminadas($event)
                "
                [serviceProvider]="evaluacionesService"
            ></app-alternativas>

            @if (
                bancoPreguntasForm
                    .get('2.alternativas')
                    ?.hasError('alternativasInvalidas')
            ) {
                <small class="text-red-500">
                    {{
                        bancoPreguntasForm
                            .get('2.alternativas')
                            .getError('alternativasInvalidas')
                    }}
                </small>
            }

            @if (!showFooterSteps) {
                <footer class="flex justify-content-end gap-2 pt-3">
                    <button
                        pButton
                        pRipple
                        label="Guardar Alternativas"
                        icon="pi pi-save"
                        size="small"
                        type="button"
                        class="p-button-primary"
                        (click)="goStep('back'); toggleStepsVisibility(true)"
                    ></button>
                </footer>
            }
        }
        @default {}
    }

    @if (showFooterSteps) {
        <div class="flex justify-content-between">
            @if (activeIndex !== 0) {
                <button pButton size="small" (click)="goStep('back')">
                    Atrás
                </button>
            }
            @if (activeIndex !== pasos.length - 1) {
                <button
                    pButton
                    size="small"
                    (click)="goStep('next')"
                    class="ml-auto"
                >
                    Siguiente
                </button>
            }
            @if (activeIndex === pasos.length - 1) {
                <button
                    pButton
                    pRipple
                    label="Finalizar"
                    icon="pi pi-save"
                    size="small"
                    class="p-button-primary ml-auto"
                    (click)="guardarActualizarBancoPreguntas()"
                ></button>
            }
        </div>
    }
</div>
