<br />

<!-- Contenido del Formulario de Datos Generales -->
<form [formGroup]="formGeneral" class="section">
    <!-- Dirección Actual -->
    <p-fieldset legend="1. Dirección del estudiante">
        <div class="grid p-fluid">
            <div class="col-12 lg:col-4 md:col-6">
                <app-dropdown-input
                    [dropdownControl]="$any(formGeneral.controls['iTipoViaId'])"
                    addonLabel="Tipo de vía *"
                    [dropdownItems]="tipos_vias"
                    placeholder="Seleccione"
                    [filter]="true"
                    [showClear]="true"
                    inputType="text"
                    [inputControl]="$any(formGeneral.controls['cTipoViaOtro'])"
                    inputPlaceholder="Especifique otro"
                    [inputMaxlength]="100"
                />
            </div>

            <div class="col-12 lg:col-8 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon> Nombre de la vía *</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        formControlName="cFichaDGDireccionNombreVia"
                        maxlength="150"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>
        </div>

        <div class="grid p-fluid">
            <div class="col-12 lg:col-4 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon> Nro. de Puerta </p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        formControlName="cFichaDGDireccionNroPuerta"
                        maxlength="10"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>

            <div class="col-12 lg:col-4 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>Bloque</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        formControlName="cFichaDGDireccionBlock"
                        maxlength="3"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>

            <div class="col-12 lg:col-4 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>Interior</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        formControlName="cFichaDGDireccionInterior"
                        maxlength="3"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>

            <div class="col-12 lg:col-4 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>Piso</p-inputGroupAddon>
                    <p-inputNumber
                        formControlName="iFichaDGDireccionPiso"
                        min="1"
                        maxlength="2"
                        useGrouping="false"
                        showButtons="true"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>

            <div class="col-12 lg:col-4 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>Manzana</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        formControlName="cFichaDGDireccionManzana"
                        maxlength="10"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>

            <div class="col-12 lg:col-4 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>Lote</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        formControlName="cFichaDGDireccionLote"
                        maxlength="3"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>

            <div class="col-12 lg:col-4 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>Km</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        formControlName="cFichaDGDireccionKm"
                        maxlength="10"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>

            <div class="col-12 lg:col-8 md:col-6">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>Referencia</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        formControlName="cFichaDGDireccionReferencia"
                        class="group-element"
                    />
                </p-inputGroup>
            </div>
        </div>
    </p-fieldset>

    <br />

    <!-- Relaciones familiares -->
    <p-fieldset legend="2. Relaciones familiares del estudiante">
        <div class="grid">
            <div class="col-12 md:col-4">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>
                        <p-inputSwitch formControlName="bFamiliarPadreVive" />
                        <span>¿El papá del estudiante está vivo?</span>
                    </p-inputGroupAddon>
                </p-inputGroup>
            </div>
            <div class="col-12 md:col-4">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>
                        <p-inputSwitch formControlName="bFamiliarMadreVive" />
                        <span>¿La mamá del estudiante está viva?</span>
                    </p-inputGroupAddon>
                </p-inputGroup>
            </div>
            <div class="col-12 md:col-4">
                <p-inputGroup styleClass="vertical-group">
                    <p-inputGroupAddon>
                        <p-inputSwitch
                            formControlName="bFamiliarPadresVivenJuntos"
                        />
                        <span>Los padres del estudiante viven juntos?</span>
                    </p-inputGroupAddon>
                </p-inputGroup>
            </div>
            <div class="col-12 md:col-4">
                <app-switch-input
                    [switchControl]="
                        $any(formGeneral.controls['bFichaDGTieneHijos'])
                    "
                    addonLabel="¿El estudiante tiene hijos/as?"
                    inputType="number"
                    inputPlaceholder="¿Cuántos hijos/as?"
                    [inputControl]="
                        $any(formGeneral.controls['iFichaDGNroHijos'])
                    "
                    [inputUseGrouping]="false"
                    [inputShowButtons]="true"
                    [inputMaxlength]="2"
                    [inputMin]="1"
                    [inputStep]="1"
                />
            </div>
        </div>
    </p-fieldset>

    <br />

    <!-- Botón Guardar y Seguir -->
    <div class="flex justify-content-end gap-2">
        <p-button
            type="button"
            label="Actualizar y continuar"
            icon="pi pi-save"
            severity="success"
            (click)="actualizar()"
        />
    </div>
</form>
<p-toast></p-toast>
