:host ::ng-deep p-inputGroupAddon {
    border: 0px !important;
    background-color: var(--bg-header-modal) !important;
    color: var(--primary-color-text) !important;
    i {
        color: var(--primary-color-text) !important;
    }
}

:host ::ng-deep .p-panel-header {
    background-color: var(--bg-header-modal) !important;
    color: var(--primary-color-text) !important;
    i {
        color: var(--primary-color-text) !important;
    }
}

:host ::ng-deep .p-panel.p-panel-toggleable {
    cursor: pointer !important;
}

:host ::ng-deep .p-panel.p-panel-toggleable .p-panel-toggler {
    background-color: inherit !important;
}

:host ::ng-deep .p-panel.p-panel-toggleable.p-panel-expanded > .p-panel-header {
    border-bottom-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
}

:host
    ::ng-deep
    .p-panel.p-panel-toggleable:not(.p-panel-expanded)
    > .p-panel-header {
    border-bottom-right-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

:host ::ng-deep .p-panel-header .p-panel-header-icon {
    color: var(--primary-color-text) !important;
}

:host ::ng-deep .group-element {
    width: 100% !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

:host ::ng-deep .p-accordion-header-link {
    background-color: var(--bg-header-modal) !important;
    color: var(--primary-color-text) !important;
    i {
        color: var(--primary-color-text) !important;
    }
}

:host ::ng-deep .p-fieldset {
    width: 100% !important;
    padding: 6px !important;
    border-color: var(--bg-header-modal) !important;
}

:host ::ng-deep .p-fieldset-legend {
    padding: 1rem !important;
    background-color: var(--bg-header-modal) !important;
    color: var(--primary-color-text) !important;
    i {
        color: var(--primary-color-text) !important;
    }
}

:host ::ng-deep .p-fieldset-legend a {
    padding: 0rem !important;
    color: var(--primary-color-text) !important;
    i {
        color: var(--primary-color-text) !important;
    }
}

:host ::ng-deep .p-fieldset-content {
    padding: 1rem !important;
}

:host ::ng-deep .p-panel-header .p-accordion-toggle-icon {
    color: var(--primary-color-text) !important;
}

tr {
    font-size: 0.75rem;
}

th {
    background-color: #e6e6ee !important;
}
