<br />
<div class="grid">
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">
                            Afiliación a seguros de salud
                        </div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart [data_chart]="reportes_salud?.seguros_salud" />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">
                            ¿Tiene alergia a medicamentos?
                        </div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_salud?.alergia_medicamentos"
                />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">¿Tiene alguna dolencia?</div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_salud?.tipos_dolencias"
                />
            </div>
        </p-panel>
    </div>
</div>
