<app-modal-primeng
    [title]="option + ' Bibliografía'"
    [showModal]="showModal"
    [width]="'55rem'"
    (accionBtnItem)="accionBtn($event)"
>
    <form [formGroup]="dataBibliografias">
        <div class="formgrid grid">
            <div class="field col-12 md:col-4">
                <label for="">Tipo de Bibliografìa</label>
                <p-dropdown
                    styleClass="flex-auto w-full"
                    [options]="tipoBibliografias"
                    placeholder="Seleccionar Tipo"
                    optionLabel="cTipoBiblioNombre"
                    optionValue="iTipoBiblioId"
                    formControlName="iTipoBiblioId"
                />
            </div>
            <div class="field col-12 md:col-8">
                <label for="">Autor</label>
                <input
                    pInputText
                    class="flex-auto w-full"
                    formControlName="cBiblioAutor"
                />
            </div>
            <div class="field col-12 md:col-12">
                <label for="">Título</label>
                <input
                    pInputText
                    class="flex-auto w-full"
                    formControlName="cBiblioTitulo"
                />
            </div>
            <div class="field col-12 md:col-2">
                <label for="">Año</label>
                <input
                    pInputText
                    class="flex-auto w-full"
                    formControlName="cBiblioAnioEdicion"
                />
            </div>
            <div class="field col-12 md:col-4">
                <label for="">Editorial</label>
                <input
                    pInputText
                    class="flex-auto w-full"
                    formControlName="cBiblioEditorial"
                />
            </div>
            <div class="field col-12 md:col-8">
                <label for="">Url</label>
                <input
                    pInputText
                    class="flex-auto w-full"
                    formControlName="cBiblioUrl"
                />
            </div>
        </div>
    </form>
    <div class="flex justify-content-end gap-2">
        <p-button
            label="Cancelar"
            severity="secondary"
            (onClick)="accionBtn({ accion: 'close-modal', item: [] })"
        />
        <p-button
            [label]="option"
            (onClick)="accionBtn({ accion: option, item: [] })"
        />
    </div>
</app-modal-primeng>
