<div class="flex flex-column gap-6">
    <article class="p-3 bg-gray-100 border-round flex flex-column gap-2">
        <h2 class="text-center text-xl font-medium">
            Información del Estudiante
        </h2>
        <div class="grid flex-column md:flex-row">
            <div class="col-6">
                <span class="font-bold">Codigo:</span> 4325656
            </div>
            <div class="col-6">
                <span class="font-bold">Estudiante:</span> Pedro Perez
            </div>
            <div class="col-6">
                <span class="font-bold">Fecha Entrega</span>: 12/03/2025
            </div>
            <div class="col-6">
                <span class="font-bold">Estado:</span> Tarea Completada
            </div>
        </div>
    </article>

    <article>
        <h2 class="text-xl">Tarea Entregada</h2>
        <hr />
        <div class="flex gap-2 align-items-center">
            <i class="pi pi-file text-lg text-primary"></i>
            <span class="font-medium text-lg">Recurso.pdf</span>
            <span class="text-gray-500">tamaño(319.532KB)</span>
        </div>
    </article>

    <div class="">
        <h2 class="text-xl">Calificación</h2>
        <hr />
        <form class="flex flex-column gap-2" [formGroup]="calificarTareaForm">
            <app-common-input
                [label]="'Nota'"
                [controlKey]="'nota'"
                type="number"
            ></app-common-input>

            <div class="flex flex-column gap-2">
                <label for="">Observaciones</label>
                <textarea
                    rows="5"
                    cols="30"
                    placeholder="Observciones..."
                    pInputTextarea
                ></textarea>
            </div>
        </form>
    </div>

    <div class="flex justify-content-end gap-2 pt-3">
        <button
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-secondary"
            type="button"
            size="small"
        ></button>
        <button
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-save"
            size="small"
            class="p-button-primary"
        ></button>
    </div>
</div>
