.clash-card {
  background: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  border-radius: calc(14px + 5px);
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;

  top: 50px;
  transition: all 0.3s linear;
  min-height: 500px;
}

.clash-card__image {
  position: relative;
  height: 230px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clash-card__image--barbarian {
  img {
    width: 100%;
    position: absolute;
    top: -65px;
    left: -0;
  }
}

.clash-card:hover,
.hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.clash-card:hover .img-transition img,
.hover .img-transition img {
  transform: scale(1.1);
  opacity: 0.6;
  top: -25px;
}
.img-transition img {
  transition: all 0.4s linear;
}

i {
  color: #b51f32;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 44px;
  margin: 7px 0;
}
