<div class="clash-card">
  <div class="clash-card__image clash-card__image--barbarian img-transition">
    <img
      [src]="backend + getUrlImg(capacitacion?.cImagenUrl)"
      [alt]="capacitacion?.cCapTitulo"
      height="150%"
    />
  </div>
  <div class="left-0 border-round-right px-2 py-1 bg-red-700 text-white font-bold w-max mt-4">
    {{ capacitacion?.cNivelPedNombre }}
  </div>
  <div class="title mt-2 font-bold text-center mx-2">
    {{ capacitacion?.cCapTitulo }}
  </div>
  <div *ngIf="iPerfilId === ADMINISTRADOR_DREMO">
    <div class="mx-4 col-12 grid">
      @if (descripcion) {
        <div class="col-12 grid column-gap-1 align-items-center">
          <i class="pi pi-file-check mr-2"></i>
          <span>{{ capacitacion.iAprobadas }} Solicitudes Aprobadas</span>
        </div>
        <div class="col-12 grid column-gap-1 align-items-center">
          <i class="pi pi-info-circle mr-2"></i>
          <span>{{ capacitacion.iPendientes }} Solicitudes Pendientes</span>
        </div>
      } @else {
        <div class="col-12 grid column-gap-1 align-items-center">
          <i class="pi pi-file-check mr-2"></i>
          <span>{{ capacitacion.iMatriculados }} Estudiantes matriculados</span>
        </div>
      }
      @if (capacitacion.cTipoCapDesc === CAP_EXT) {
        <div class="col-12 grid column-gap-1 align-items-center">
          <i class="pi pi-graduation-cap mr-2"></i>
          <span>Virtual Asincrónico</span>
        </div>
      }
    </div>
  </div>
  <div *ngIf="iPerfilId === INSTRUCTOR || iPerfilId === PARTICIPANTE">
    <div class="mx-4 col-12 grid">
      <div class="col-12 grid column-gap-1 align-items-center">
        <i class="pi pi-cog mr-2"></i>
        <span>Modalidad : Virtual</span>
      </div>
      <div class="col-12 grid column-gap-1 align-items-center">
        <i class="pi pi-clock mr-2"></i>
        <span>Horario</span>
      </div>
      <div class="col-12 flex flex-wrap">
        @if (capacitacion.jsonHorario) {
          <div *ngFor="let item of capacitacion.jsonHorario">
            <p class="ml-2">
              <b>{{ item.cDiaNombre }}</b>
              {{ '1970-01-01T' + item.iHoraInicio | date: 'h:mm a' }} -
              {{ '1970-01-01T' + item.iHoraFin | date: 'h:mm a' }}
            </p>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="flex mx-3 mt-2 mb-3 justify-content-end">
    @if (iPerfilId === PARTICIPANTE) {
      <p-button
        [label]="'Certificado'"
        icon="pi pi-file-pdf"
        iconPos="right"
        [severity]="'danger'"
      ></p-button>
    }
    <p-button
      class="ml-2"
      [label]="getBotonLabel()"
      icon="pi pi-arrow-right"
      iconPos="right"
      [severity]="getBotonSeverity()"
      (click)="irAccionEvento()"
    ></p-button>
  </div>
</div>
