<p-dialog
    [header]="'Nueva pregunta para: ' + cEvaluacionTitulo"
    [modal]="true"
    [(visible)]="showModalPreguntas"
    [style]="{ width: '100%', height: '100%' }"
    (onHide)="accionBtn({ accion: 'close-modal', item: [] })"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content">
        <form [formGroup]="formBancoPreguntas" class="grid mt-4">
            @if (this.formBancoPreguntas.value.iTipoPregId === null) {
                <div class="col-12">
                    <span class="text-red-500 text-xs"
                        >(*) Debe seleccionar el tipo de pregunta</span
                    >
                </div>
            }
            <div class="col-12 md:col-12 lg:col-3">
                <p-inputGroup>
                    <p-inputGroupAddon>Tipo de Pregunta</p-inputGroupAddon>
                    <p-dropdown
                        styleClass="w-full"
                        formControlName="iTipoPregId"
                        placeholder="Seleccione Tipo"
                        optionValue="iTipoPregId"
                        [options]="tipoPreguntas"
                        optionLabel="cTipoPregunta"
                    />
                </p-inputGroup>
            </div>
            <div class="col-12 md:col-12 lg:col-9">
                <p-inputGroup>
                    <p-inputGroupAddon>Texto de ayuda</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        placeholder="Ingrese el texto de ayuda"
                        formControlName="cBancoTextoAyuda"
                    />
                </p-inputGroup>
            </div>
            <div class="col-12">
                <label for="descripcion" class="mt-1"
                    >Enunciado de la pregunta
                    <span class="text-red-500 text-xs"
                        >(*) Obligatorio</span
                    ></label
                >
                <div class="mt-2">
                    <p-editor
                        styleClass="w-full"
                        [style]="{ height: '120px' }"
                        placeholder="Ingrese enunciado de la pregunta"
                        formControlName="cBancoPregunta"
                    />
                </div>
            </div>
        </form>
        <div class="grid">
            @switch (this.formBancoPreguntas.value.iTipoPregId) {
                @case (1) {
                    <div class="col-12 md:col-7 grid">
                        <div class="col-12">
                            <div class="flex justify-content-between flex-wrap">
                                <div
                                    class="flex align-items-center justify-content-center font-bold"
                                >
                                    Alternativas
                                </div>
                                <div
                                    class="flex align-items-center justify-content-center"
                                >
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        class="p-button-primary"
                                        (click)="agregarAlternativa()"
                                    >
                                        <i class="pi pi-plus"></i>&nbsp; Añadir
                                        alternativa
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-1">
                            <p-editor
                                styleClass="w-full"
                                [style]="{ height: '100px' }"
                                placeholder="Ingrese la alternativa"
                                [(ngModel)]="cAlternativa"
                            />
                        </div>
                        <div class="col-12">
                            <div class="flex justify-content-end font-bold">
                                ¿Es Respuesta correcta? &nbsp;&nbsp;
                                <p-inputSwitch [(ngModel)]="bRptaCorreta" />
                            </div>
                        </div>
                        @if (bRptaCorreta) {
                            <div class="col-12">
                                <p-editor
                                    styleClass="w-full"
                                    [style]="{ height: '100px' }"
                                    placeholder="Ingrese la explicación de la resolución"
                                    [(ngModel)]="cAlternativaExplicacion"
                                />
                            </div>
                        }
                    </div>
                    <div class="col-12 md:col-5">
                        <div class="grid mt-1">
                            <div class="col-12">
                                <div
                                    class="flex justify-content-between flex-wrap"
                                >
                                    <div
                                        class="flex align-items-center justify-content-center font-bold"
                                    >
                                        Lista de Alternativas
                                    </div>
                                </div>
                            </div>
                        </div>
                        @for (
                            item of alternativas;
                            track item;
                            let idx = $index
                        ) {
                            <div class="grid">
                                <div class="col-12">
                                    <p-inputGroup class="mt-1">
                                        <p-inputGroupAddon>
                                            {{ item.cBancoAltLetra }}
                                        </p-inputGroupAddon>
                                        <div
                                            class="w-full align-content-center"
                                        >
                                            @if (item.bImage) {
                                                <div class="ml-1 font-italic">
                                                    Es imagen
                                                </div>
                                            } @else {
                                                <div
                                                    class="ml-1"
                                                    [innerHTML]="
                                                        item.cBancoAltDescripcion
                                                    "
                                                ></div>
                                            }
                                        </div>
                                        <p-button
                                            *ngIf="item.bBancoAltRptaCorrecta"
                                            icon="pi pi-check"
                                            [rounded]="true"
                                            [text]="true"
                                            size="small"
                                            severity="success"
                                        />
                                        <button
                                            type="button"
                                            pButton
                                            icon="pi pi-trash"
                                            (click)="
                                                alternativas.splice(idx, 1)
                                            "
                                            class="p-button-danger"
                                            size="small"
                                        >
                                            &nbsp;
                                        </button>
                                    </p-inputGroup>
                                </div>
                            </div>
                        }
                    </div>
                }
                @case (2) {
                    <div class="col-12 md:col-7">
                        <div class="flex justify-content-between flex-wrap">
                            <div
                                class="flex align-items-center justify-content-center font-bold"
                            >
                                Alternativas
                            </div>
                            <div
                                class="flex align-items-center justify-content-center"
                            >
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    class="p-button-primary"
                                    (click)="agregarAlternativa()"
                                >
                                    <i class="pi pi-plus"></i>&nbsp; Añadir
                                    alternativa
                                </button>
                            </div>
                        </div>

                        <p-editor
                            styleClass="w-full"
                            [style]="{ height: '100px' }"
                            placeholder="Ingrese la alternativa"
                            [(ngModel)]="cAlternativa"
                        />

                        <div class="flex justify-content-end font-bold">
                            ¿Es Respuesta correcta? &nbsp;&nbsp;
                            <p-inputSwitch [(ngModel)]="bRptaCorreta" />
                        </div>

                        @if (bRptaCorreta) {
                            <p-editor
                                styleClass="w-full"
                                [style]="{ height: '100px' }"
                                placeholder="Ingrese la explicación de la resolución"
                                [(ngModel)]="cAlternativaExplicacion"
                            />
                        }
                    </div>
                    <div class="col-12 md:col-5 mt-1">
                        <div class="flex justify-content-between flex-wrap">
                            <div
                                class="flex align-items-center justify-content-center font-bold"
                            >
                                Lista de Alternativas
                            </div>
                        </div>

                        @for (
                            item of alternativas;
                            track item;
                            let idx = $index
                        ) {
                            <div class="flex">
                                <p-inputGroup class="mt-1">
                                    <p-inputGroupAddon>
                                        {{ item.cBancoAltLetra }}
                                    </p-inputGroupAddon>
                                    <div class="w-full align-content-center">
                                        @if (item.bImage) {
                                            <div class="ml-1 font-italic">
                                                Es imagen
                                            </div>
                                        } @else {
                                            <div
                                                class="ml-1"
                                                [innerHTML]="
                                                    item.cBancoAltDescripcion
                                                "
                                            ></div>
                                        }
                                    </div>
                                    <p-button
                                        *ngIf="item.bBancoAltRptaCorrecta"
                                        icon="pi pi-check"
                                        [rounded]="true"
                                        [text]="true"
                                        size="small"
                                        severity="success"
                                    />
                                    <button
                                        type="button"
                                        pButton
                                        icon="pi pi-trash"
                                        (click)="alternativas.splice(idx, 1)"
                                        class="p-button-danger"
                                        size="small"
                                    >
                                        &nbsp;
                                    </button>
                                </p-inputGroup>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-between gap-2">
            <p-button
                label="CANCELAR"
                severity="secondary"
                (onClick)="accionBtn({ accion: 'close-modal', item: [] })"
            />
            <p-button
                [label]="opcion + ' PREGUNTA'"
                (onClick)="accionBtn({ accion: 'guardar-pregunta', item: [] })"
            />
        </div>
    </ng-template>
</p-dialog>
