@import '~primeicons/primeicons.css'; /* Importar los íconos de PrimeNG */
.bold-large {
    font-size: 20px; /* Tamaño más grande */
    font-weight: bold; /* Negrita */
}
.flex p {
    margin-top: -20px;
    font-size: 15px;
    padding: 0px 0px 0px 10px;
}
.iconCardEvaluacion {
    margin-top: -12px;
}

.valitarResultado {
    margin-bottom: 5px;
}
.valitarResultado p {
    margin-top: 10px;
}
