.custom-toolbar ::ng-deep .p-toolbar {
  background: var(--bg-header-modal) !important;
  color: white !important;
}

.no-custom-toolbar ::ng-deep .p-toolbar {
  background: white !important;
  color: (var(--gray-800)) !important;
  border-top: 15px solid var(--bg-header-modal);
}

.text-blue-500 {
  color: var(--bg-header-modal) !important;
}
