<div class="grid">
    <p-toolbar class="col-12">
        <div class="block">
            <h4 class="text-primary text-white font-bold block">
                ASISTENCIA DEL {{ cNivelNombreCursos.toUpperCase() }} :
                {{ cCursoNombre }}
            </h4>
            <div class="text-primary text-white font-bold block">
                Nivel: {{ cNivelTipoNombre }} | Ciclo: I | Grado:
                {{ cGradoAbreviacion }} | Seccion: {{ cSeccion }}
            </div>
        </div>
    </p-toolbar>

    <div class="col-12">
        <div class="card mb-2">
            <div class="grid">
                <div class="col-11">
                    <div class="flex block p-2">
                        <div class="font-bold pb-2">LEGENDA</div>
                    </div>
                    <div
                        class="flex block flex-wrap column-gap-2 row-gap-2 p-2"
                    >
                        <div *ngFor="let lista of leyenda" class="flex mr-1">
                            <p-inputGroup class="grupo">
                                <button
                                    type="button"
                                    size="small"
                                    pButton
                                    [ngClass]="lista.bgColor"
                                >
                                    {{ lista.simbolo }}
                                </button>
                                <div [ngClass]="lista.divColor">
                                    {{ lista.significado }}
                                </div>
                                <button
                                    type="button"
                                    size="small"
                                    pButton
                                    [ngClass]="lista.bgColor"
                                >
                                    {{ lista.contar }}
                                </button>
                            </p-inputGroup>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <p-button
                        icon="pi pi-file-pdf"
                        size="small"
                        [text]="true"
                        label="Mensual"
                        tooltipPosition="left"
                        (click)="modalReporte()"
                    />
                </div>
            </div>
        </div>
        <full-calendar [options]="calendarOptions">
            <ng-template #eventContent let-arg>
                <div class="fc-event-time">{{ arg.timeText }}</div>
                <div class="fc-event-title">{{ arg.event.title }}</div>
            </ng-template>
        </full-calendar>
    </div>
</div>

<p-dialog
    header="Asistencia del Dia : {{ fechaEspecifica }}"
    [modal]="true"
    class="asistenciaModal"
    [(visible)]="verAsistencia"
    [style]="{ width: '50rem' }"
>
    <div class="grid mt-4">
        <div class="col-12">
            <span class="font-bold white-space-nowrap m-0">
                Detalle del {{ cNivelNombreCursos }}
            </span>
        </div>
        <div class="col-12">
            <p-inputGroup>
                <p-inputGroupAddon
                    [ngStyle]="{
                        backgroundColor: 'var(--primary-700)',
                        color: 'var(--primary-color-text)',
                    }"
                >
                    {{ cNivelNombreCursos }}
                </p-inputGroupAddon>
                <input pInputText disabled [value]="cCursoNombre" />
            </p-inputGroup>
        </div>
        <div class="col-6">
            <p-inputGroup>
                <p-inputGroupAddon
                    [ngStyle]="{
                        backgroundColor: 'var(--primary-700)',
                        color: 'var(--primary-color-text)',
                    }"
                >
                    Nivel
                </p-inputGroupAddon>
                <input pInputText disabled [value]="cNivelTipoNombre" />
            </p-inputGroup>
        </div>
        <div class="col-6">
            <p-inputGroup>
                <p-inputGroupAddon
                    [ngStyle]="{
                        backgroundColor: 'var(--primary-700)',
                        color: 'var(--primary-color-text)',
                    }"
                >
                    Ciclo
                </p-inputGroupAddon>
                <input pInputText disabled value="I" />
            </p-inputGroup>
        </div>
        <div class="col-6">
            <p-inputGroup>
                <p-inputGroupAddon
                    [ngStyle]="{
                        backgroundColor: 'var(--primary-700)',
                        color: 'var(--primary-color-text)',
                    }"
                >
                    Grado
                </p-inputGroupAddon>
                <input pInputText disabled [value]="cGradoAbreviacion" />
            </p-inputGroup>
        </div>
        <div class="col-6">
            <p-inputGroup>
                <p-inputGroupAddon
                    [ngStyle]="{
                        backgroundColor: 'var(--primary-700)',
                        color: 'var(--primary-color-text)',
                    }"
                >
                    Sección
                </p-inputGroupAddon>
                <input pInputText disabled [value]="cSeccion" />
            </p-inputGroup>
        </div>
        <div class="col-12">
            <p-table
                class="mt-1 block w-full"
                [value]="data"
                [scrollable]="true"
                scrollHeight="400px"
            >
                <ng-template pTemplate="header">
                    <tr style="height: 12px">
                        <th style="width: auto">N°</th>
                        <th style="width: auto">Nombres y Apellidos</th>
                        <th style="width: auto">MARCAR ASISTENCIA</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ item.nombrecompleto }}</td>
                        <td class="flex justify-content-center">
                            <p-button
                                *ngIf="item.cTipoAsiLetra; else noboton"
                                label="{{ item.cTipoAsiLetra }}"
                                size="small"
                                [ngClass]="item.bgcolor"
                                (click)="changeAsistencia(rowIndex)"
                            />
                            <ng-template #noboton>
                                <p-button
                                    label="-"
                                    size="small"
                                    (click)="changeAsistencia(rowIndex)"
                                    ngClass="bt-cyan"
                                />
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div
                        class="flex block flex-wrap column-gap-3 row-gap-3 p-2"
                    >
                        <div
                            *ngFor="let lista of leyendaModal"
                            class="flex mr-1"
                        >
                            <p-inputGroup class="grupo">
                                <button
                                    type="button"
                                    size="small"
                                    pButton
                                    [ngClass]="lista.bgColor"
                                >
                                    {{ lista.simbolo }}
                                </button>
                                <div [ngClass]="lista.divColor">
                                    {{ lista.significado }}
                                </div>
                                <button
                                    type="button"
                                    size="small"
                                    pButton
                                    [ngClass]="lista.bgColor"
                                >
                                    {{ lista.contar }}
                                </button>
                            </p-inputGroup>
                        </div>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="flex justify-content-center gap-2">
        <p-button
            label="Cancelar"
            severity="danger"
            (onClick)="escapeModal()"
        />
        <p-button label="Guardar" (onClick)="storeAsistencia()" />
    </div>
</p-dialog>

<p-toast />

<app-reporte-asistencia
    [showModal]="showModal"
    [cCursoNombre]="cCursoNombre"
    [cGradoAbreviacion]="cGradoAbreviacion"
    [cNivelTipoNombre]="cNivelTipoNombre"
    [cNivelNombreCursos]="cNivelNombreCursos"
    [nombrecompleto]="nombrecompleto"
    [cSeccion]="cSeccion"
    [cCicloRomanos]="cCicloRomanos"
    [iCursoId]="iCursoId"
    [iDocenteId]="iDocenteId"
    [iGradoId]="iGradoId"
    [iSeccionId]="iSeccionId"
    [iYAcadId]="iYAcadId"
    [iNivelGradoId]="iNivelGradoId"
    (accionBtnItem)="accionBtnItem($event)"
></app-reporte-asistencia>
