@media (min-width: 768px) {
  .md\:table-cell {
    display: table-cell !important;
  }
}
:host ::ng-deep {
  .expandir .p-button {
    width: 100%;
  }
  .p-inputgroup-addon {
    background-color: var(--primary-700);
    color: white;
  }
  .p-dropdown {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .p-panel-header {
    background-color: var(--primary-700);
    color: white;
  }
  .p-panel-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .p-inputgroup p-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .boton {
    width: 100%;
    font-size: 12px;
    display: block;
    text-align: center;
    align-items: center;
  }
  .p-datatable-thead {
    font-size: 11px;
  }
  .p-datatable-tbody {
    font-size: 11px;
  }
  .p-datatable-tbody tr td {
    padding: 4px;
  }
}
.fondo-grid {
  background-color: var(--primary-100);
  padding: 10px;
  display: flex;
  border-radius: 5px;
}
.fondo-grid-none {
  padding: 10px;
  border-radius: 5px;
}
zxing-scanner {
  width: 100%;
  height: auto;
  display: block;
}
