<app-toolbar-primeng title="Capacitaciones"></app-toolbar-primeng>
<div class="grid">
    <app-tabs-primeng
        class="col-12"
        [activeIndex]="activeIndex"
        [tabs]="tabs"
        (updateTab)="updateTab($event)"
    >
    </app-tabs-primeng>
</div>
<div class="col-12">
    @switch (activeIndex) {
        @case (0) {
            <app-apertura-curso></app-apertura-curso>
        }
        @case (1) {
            <div class="grid" #gridContainer>
                <div class="col-12 cursos py-2">
                    @for (capacitacion of data; track capacitacion) {
                        <app-card-capacitaciones
                            [capacitacion]="capacitacion"
                        ></app-card-capacitaciones>
                    }
                </div>
                <div class="col-12">
                    <p-paginator
                        (onPageChange)="onPageChange($event)"
                        [first]="paginator.first"
                        [rows]="paginator.rows"
                        [totalRecords]="paginator.total"
                        [rowsPerPageOptions]="paginator.rowsPerPage"
                    />
                </div>
            </div>
        }
    }
</div>
