<p-inputGroup styleClass="vertical-group">
    <p-inputGroupAddon>{{ addonLabel }}</p-inputGroupAddon>
    <p-dropdown
        [options]="dropdownItems"
        [formControl]="dropdownControl"
        [filter]="filter"
        [showClear]="showClear"
        [appendTo]="'body'"
        [placeholder]="dropdownPlaceholder"
        (onChange)="handleDropdownChange($event)"
        [style]="{ flex: '1', width: '100%' }"
        styleClass="group-element"
    />
    @if (visibleInput === true) {
        <input
            pInputText
            [formControl]="inputControl"
            [placeholder]="inputPlaceholder"
            [type]="inputType"
            class="group-element"
            [required]="inputRequired"
            [value]="inputControl.value"
        />
    }
</p-inputGroup>
