<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <span class="text-2xl text-uppercase">Reporte académico de progreso</span>
  </ng-template>

  <p-messages severity="secondary">
    <ng-template pTemplate>
      Para cambiar el año académico, dirijase a la barra superior y debajo de "Año Escolar"
      seleccione otro año de la lista desplegable.
    </ng-template>
  </p-messages>

  <ng-template pTemplate="body">
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <p-inputGroup>
          <p-inputGroupAddon>Año académico:</p-inputGroupAddon>
          <input
            pInputText
            [value]="anioEscolar"
            class="group-element"
            [style]="{ flex: '1', width: '100%' }"
            appendTo="body"
            disabled
          />
        </p-inputGroup>
      </div>
    </div>

    <p-tabView>
      <p-tabPanel header="Resumen">
        <app-tabla-reporte-progreso
          [courses]="courses"
          [iYAcadId]="iYAcadId"
          [vista]="'estudiante'"
        ></app-tabla-reporte-progreso>
      </p-tabPanel>
    </p-tabView>
  </ng-template>
</p-panel>

<p-toast></p-toast>
