.login {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'banner form';
  align-items: center;

  &__banner {
    grid-area: banner;
    aspect-ratio: 1/1;
    max-height: 100dvh;
  }

  &__form {
    grid-area: form;
    max-width: 550px;
  }

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'form'
      'banner';

    &__banner {
      img {
        display: none;
      }
    }

    display: flex;
    justify-content: center;
  }
}

.login_card {
  width: 80%;
  margin-left: 25%;

  @media (max-width: 850px) {
    margin-left: 10%;
  }
}

.logo_dremo {
  max-width: 100%;
}

:host ::ng-deep .p-button:focus {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Grid general */
.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: start;
  padding: 10px;
}

/* Sección de documentación */
.doc-section {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.doc-section h3 {
  margin-top: 0;
  color: #1f497d;
  display: flex;
  align-items: center;
  gap: 5px;
}

.doc-section ul {
  list-style: none;
  padding: 0;
}

.doc-section li {
  margin-bottom: 10px;
}

.doc-section a {
  color: #007ad9;
  text-decoration: none;
  font-weight: 500;
}

.doc-section a:hover {
  text-decoration: underline;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}

::ng-deep .p-dialog .p-dialog-header {
  //   animation: blink 3s infinite;
  color: rgb(255, 255, 255) !important;
}

::ng-deep .p-dialog-header {
  background: #800000 !important;

  /* asegura el título en rojo tinto */
  .p-icon {
    color: rgb(248, 252, 8) !important;
  }

  .p-icon {
    color: rgb(248, 252, 8) !important;

    &:hover {
      color: #800000 !important;
      //   color: var(rgb(248, 252, 8)) !important;
    }
  }
}

.btn-group {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
}

.btn-blue,
.btn-red {
  flex: 1;
  padding: 0.6rem 1.2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  background: #fff;
  text-align: center;

  font-size: 16px;
}

.btn-blue {
  color: #3e67a9;
  border: 2px solid #3e67a9;
  border-top-left-radius: 10px;
}

.btn-red {
  color: #b51f32;
  border: 2px solid #b51f32;
  border-top-right-radius: 10px;
}

.btn-blue.active,
.btn-blue:hover {
  background: #3e67a9;
  color: #fff;
}

.btn-red.active,
.btn-red:hover {
  background: #b51f32;
  color: #fff;
}

.form-content {
  flex: 1;
}

.btn-submit {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: auto;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  font-size: 16px;
}

:host ::ng-deep .p-inputtext {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  //border-bottom: 2px solid #3e67a9 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
