<app-modal-primeng
    [title]="'Verificación Correo'"
    [showModal]="showModalVerificarCorreo"
    [width]="'35rem'"
    (accionBtnItem)="accionBtn($event)"
>
    <form
        class="flex justify-content-center align-items-center py-6 px-4 mt-4"
        [formGroup]="formVerificar"
    >
        <div class="grid">
            <div class="col-12 text-center">
                <img src="assets/images/security.svg" alt="logo" />
            </div>
            <div class="col-12">
                <p class="mb-4 mt-2">
                    Ingrese su Código de Verificación que se le ha enviado a su
                    correo
                </p>
                <div class="flex justify-content-center grid">
                    <p-inputOtp
                        class="col-12"
                        formControlName="cCodeVerif"
                        style="gap: 2"
                        [length]="6"
                        ><ng-template
                            pTemplate="input"
                            let-token
                            let-events="events"
                        >
                            <input
                                type="text"
                                class="w-full p-inputtext-sm ml-1"
                                maxlength="1"
                                pInputText
                                (input)="events.input($event)"
                                (keydown)="events.keydown($event)"
                            /> </ng-template
                    ></p-inputOtp>
                </div>
                <div class="flex gap-3 mt-1">
                    <p-button
                        label="Cancelar"
                        severity="secondary"
                        class="w-full"
                        styleClass="w-full"
                        (click)="accionBtn({ accion: 'close-modal', item: [] })"
                    />
                    <p-button
                        label="Verificar Código"
                        class="w-full"
                        styleClass="w-full"
                        [loading]="loading"
                        (click)="verificarCodigoCorreo()"
                    />
                </div>
            </div>
        </div>
    </form>
</app-modal-primeng>
