<app-container-page
  title="Información de la Institución"
  [actions]="accionesPrincipal"
  (accionBtnItem)="confirmar($event)"
>
  <p-toast />

  <div class="grid p-fluid mt-3">
    <p-fieldset legend="Insignia Institucional" [toggleable]="true" [collapsed]="false">
      <div class="field col-12 flex flex-column align-items-center">
        <img [src]="logo" alt="Logo del proyecto" height="90" style="overflow: hidden" />
      </div>

      <div class="field col-12 flex flex-column align-items-center">
        <span class="text-sm font-medium text-500">Código modular</span>
        <span class="text-lg font-bold text-900">{{ perfil.cIieeCodigoModular }}</span>
      </div>
    </p-fieldset>

    <div class="field col-12 md:col-8">
      <form [formGroup]="form">
        <p-fieldset legend="Información de la Institución" [toggleable]="true" [collapsed]="false">
          <div class="grid p-fluid mt-2">
            <div class="field col-12 md:col-6">
              <span class="p-float-label">
                <input
                  pInputText
                  id="cIieeNombre"
                  formControlName="cIieeNombre"
                  aria-describedby="cIieeNombre-help"
                />
                <label for="cIieeNombre">Nombre de la Institución </label>
              </span>
            </div>

            <div class="field col-12 md:col-6">
              <span class="p-float-label">
                <input
                  pInputText
                  id="cIieeRUC"
                  formControlName="cIieeRUC"
                  aria-describedby="cIieeRUC-help"
                />
                <label for="cIieeRUC">RUC</label>
              </span>
            </div>
          </div>
          <div class="grid p-fluid mt-2">
            <div class="field col-12 md:col-6">
              <span class="p-float-label">
                <input
                  pInputText
                  id="cIieeRslCreacion"
                  formControlName="cIieeRslCreacion"
                  aria-describedby="cIieeRslCreacion-help"
                />
                <label for="cIieeRslCreacion">Resolución de creación</label>
              </span>
            </div>
            <div class="field col-12 md:col-6">
              <span class="p-float-label">
                <input
                  pInputText
                  id="cIieeDireccion"
                  formControlName="cIieeDireccion"
                  aria-describedby="cIieeDireccion-help"
                />
                <label for="cIieeDireccion">Dirección</label>
              </span>
            </div>
            <div class="field col-12 md:col-12">
              <label for="cIieeUrlReglamentoInterno">Reglamento</label>
              <p-inputGroup>
                <p-inputGroupAddon>
                  <i class="pi pi-link" style="color: #333437"></i>
                </p-inputGroupAddon>
                <!-- <input type="hidden" pInputText
                  [placeholder]="filesUrl.length ? filesUrl[0]['name'] : 'seleccionar reglamento'"
                  class="w-full p-inputtext-sm opacity-100" formControlName="cIieeUrlReglamentoInterno" pInputText
                  readonly /> -->
                <input
                  type="text"
                  pInputText
                  [placeholder]="filesUrl.length ? filesUrl[0]['name'] : 'seleccionar reglamento'"
                  class="w-full p-inputtext-sm opacity-100"
                  formControlName="reglamentoInterno"
                  pInputText
                  readonly
                />
                <button
                  pButton
                  pRipple
                  type="button"
                  severity="primary"
                  class="p-button-primary btn-file-image"
                >
                  <i class="pi pi-upload"></i
                  ><input
                    type="file"
                    (change)="onUploadChange($event, 'reglamento')"
                    accept=".pdf "
                  />
                </button>
                <button
                  type="button"
                  (click)="openLink(filesUrl.length ? filesUrl[0]['ruta'] : null)"
                  [disabled]="!filesUrl"
                  pButton
                  icon="pi pi-eye"
                  class="p-button-info"
                >
                  &nbsp;
                </button>
              </p-inputGroup>
            </div>
          </div>
        </p-fieldset>
      </form>
    </div>
  </div>
</app-container-page>
