<div [style]="{ width: '100%' }" class="card">
    <form [formGroup]="formSearch">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-10">
                <div class="separator-with-text">
                    <span>Datos del área curricular</span>
                </div>
                <input
                    pInputText
                    type="hidden"
                    formControlName="iProgId_search"
                    class="p-inputtext-sm"
                />
            </div>
            <!-- <div class="field col-12 md:col-2" style="display: flex; align-items: center; gap: 0.5rem;">
                        <p-tag [severity]="formSearch.get('buscador')?.value === 0 ? 'danger' : 'success'"
                            [value]="formSearch.get('buscador')?.value === 0 ? 'Ocultar' : 'Mostrar'">
                        </p-tag>
                        <p-inputSwitch formControlName="buscador" [trueValue]="1" [falseValue]="0">
                        </p-inputSwitch>

                        
                    </div> -->
            <div
                class="field col-12 md:col-2"
                style="display: flex; align-items: center; gap: 0.5rem"
            >
                <span
                    [ngStyle]="{
                        color:
                            formSearch.get('buscador')?.value === 0
                                ? 'red'
                                : 'green',
                    }"
                >
                    {{
                        formSearch.get('buscador')?.value === 0
                            ? 'Ocultar'
                            : 'Mostrar'
                    }}
                </span>
                <p-inputSwitch
                    formControlName="buscador"
                    [trueValue]="1"
                    [falseValue]="0"
                >
                </p-inputSwitch>
            </div>

            <!-- <div class="field col-12 md:col-10" *ngIf="formSearch.get('buscador')?.value === 1">
                        <span class="p-float-label">
                            <p-dropdown [options]="planes" formControlName="iProgId_search" optionLabel="cProgNombre"
                                [checkmark]="true" optionValue="iProgId" [showClear]="true" [appendTo]="'body'"
                                [showClear]="false" (onChange)="onChange($event, 'searchPlan')" />
                            <label for="iProgId_search">Plan </label>
                        </span>
                    </div> -->

            <div
                class="field col-12 md:col-3"
                *ngIf="formSearch.get('buscador')?.value === 1"
            >
                <span class="p-float-label">
                    <p-dropdown
                        [options]="configuracion"
                        formControlName="iConfigId"
                        optionLabel="cConfigNroRslAprobacion"
                        [checkmark]="true"
                        optionValue="iConfigId"
                        [showClear]="false"
                        [appendTo]="'body'"
                        (onChange)="onChange($event, 'configuracion')"
                    />

                    <label for="iConfigId">Configuración</label>
                </span>
            </div>

            <div
                class="field col-12 md:col-2"
                *ngIf="formSearch.get('buscador')?.value === 1"
            >
                <span class="p-float-label">
                    <p-dropdown
                        [options]="grados"
                        formControlName="iNivelGradoId_search"
                        optionLabel="cGradoNombre"
                        [checkmark]="true"
                        optionValue="iNivelGradoId"
                        [showClear]="false"
                        [appendTo]="'body'"
                        (onChange)="onChange($event, 'grado')"
                    />

                    <label for="iNivelGradoId_search">Grado</label>
                </span>
            </div>
            <div
                class="field col-12 md:col-3"
                *ngIf="formSearch.get('buscador')?.value === 1"
            >
                <span class="p-float-label">
                    <p-dropdown
                        [options]="modalidades"
                        formControlName="iModalServId_search"
                        optionLabel="cModalServNombre"
                        [checkmark]="true"
                        optionValue="iModalServId"
                        [showClear]="false"
                        [appendTo]="'body'"
                        (onChange)="onChange($event, 'modalidad')"
                    />
                    <label for="iModalServId_search">Modalidad </label>
                </span>
            </div>

            <div
                class="field col-12 md:col-2"
                *ngIf="formSearch.get('buscador')?.value === 1"
            >
                <span class="p-float-label">
                    <p-dropdown
                        [options]="turnos"
                        formControlName="iTurnoId_search"
                        optionLabel="cTurnoNombre"
                        [checkmark]="true"
                        optionValue="iTurnoId"
                        [showClear]="false"
                        [appendTo]="'body'"
                        (onChange)="onChange($event, 'turno')"
                    />
                    <label for="iTurnoId_search">Turno</label>
                </span>
            </div>

            <div
                class="field col-12 md:col-2"
                *ngIf="formSearch.get('buscador')?.value === 1"
            >
                <span class="p-float-label">
                    <p-dropdown
                        [options]="secciones"
                        formControlName="iSeccionId_search"
                        optionLabel="cSeccionNombre"
                        [checkmark]="true"
                        optionValue="iSeccionId"
                        [filter]="false"
                        [showClear]="false"
                        [appendTo]="'body'"
                        (onChange)="onChange($event, 'seccion')"
                    />
                    <label for="iSeccionId_search">Sección</label>
                </span>
            </div>
        </div>
    </form>
</div>

<app-grid-horario
    [events]="1"
    [curricula]="areas"
    [horarios]="registros"
    (filtrarCurso)="asignarHorario($event)"
>
</app-grid-horario>

<app-add-horario
    [registro]="registro"
    [visible]="visible"
    [titulo]="caption"
    [docentes]="docentes"
    [option]="option"
    (addHorario)="addHorario($event)"
>
</app-add-horario>

<app-add-docente
    [configuracion]="configuracion"
    [minimo]="minimo"
    [caption]="caption_docente"
    [visible]="visible_docente"
    [turnos]="turnos"
    [grados]="grados"
    [secciones]="secciones"
    [areas]="areas"
    [docentes]="docentes"
    [c_accion]=""
    [horas_asignadas]="horas_asignadas"
    [lista_areas_docente]="lista_areas_docente"
    (filtrarDocente)="(docente)"
>
</app-add-docente>
<!-- <p-table [value]="areas" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Area</th>
                        <th>Docente</th>
                        <th>ies_areas</th>
                        <th>T</th>
                        <th>S</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.cCursoNombre }}</td>
                        <td>{{ product.iDocenteId}}</td>
                        <td>{{ product.iIeCursoId }}</td>
                        <td>{{ product.iTurnoId }}</td>
                        <td>{{ product.iSeccionId }}</td>
                    </tr>
                </ng-template>
            </p-table> -->
<!-- <div class="card">
                <app-table-primeng
                    [columnas]="columns"
                    [showCaption]="false"
                    [data]="areas"
                    (accionBtnItem)="accionBtnItemTable($event)"
                    [showPaginator]="false"
                    [(selectedRowData)]="accionBtnItemTable"
                    [actions]="actions"
                    [scrollable]="true"
                    scrollHeight="200px"
                >
                    <ng-container slot="caption-content"> </ng-container>
                </app-table-primeng>
            </div> -->

<!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Configuración de Horarios</h3>
                        <hr>
                        <div class="form-group">
                            <label for="h">Seleccione Ciclo Académico</label>
                            <select  class="form-control form-control-rounded" [(ngModel)]="cicloAcad" (change)="getconfig()">
                                <option *ngFor="let c of ciclos" [value]="c.iControlCicloAcad">{{ c.iControlCicloAcad }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="v1">Hora de Inicio de Actividades</label>
                            <input type="time"  class="form-control" [(ngModel)]="horaInicio">
                        </div>
                        <div class="form-group">
                            <label for="v1">Hora de Fin de Actividades</label>
                            <input type="time"  class="form-control" [(ngModel)]="horaFin">
                        </div>
                        <div class="form-group">
                            <label for="v1">Selecciones los Dias Laborables</label>
                            <ul>
                                <li>
                                    <input type="checkbox" [(ngModel)]="lunes" [value]="0"><label for="">Lunes</label>
                                </li>
                                <li>
                                    <input type="checkbox" [(ngModel)]="martes" [value]="0"><label for="">Martes</label>
                                </li>
                                <li>
                                    <input type="checkbox" [(ngModel)]="miercoles" [value]="0"><label for="">Miercoles</label>
                                </li>
                                <li>
                                    <input type="checkbox" [(ngModel)]="jueves" [value]="0"><label for="">Jueves</label>
                                </li>
                                <li>
                                    <input type="checkbox" [(ngModel)]="viernes" [value]="0"><label for="">Viernes</label>
                                </li>
                                <li>
                                    <input type="checkbox" [(ngModel)]="sabado" [value]="0"><label for="">Sabado</label>
                                </li>
                                <li>
                                    <input type="checkbox" [(ngModel)]="domingo" [value]="0"><label for="">Domingo</label>
                                </li>

                            </ul>
                        </div>
                        <div class="container">
                            <button class="btn btn-primary" >Guardar Cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
