<app-toolbar-primeng [title]="'Configuración de horarios'"> <p-toast /></app-toolbar-primeng>
<div class="card">
  <div class="grid">
    <div class="col-12">
      <span class="text-lg text-primary font-bold">Búsqueda de Áreas Curriculares</span>
    </div>
    <div class="col-12 md:col-3">
      <p-inputGroup>
        <p-inputGroupAddon>Grado</p-inputGroupAddon>
        <p-dropdown
          [(ngModel)]="iGradoId"
          styleClass="w-full"
          placeholder="Seleccione Grado"
          optionValue="iGradoId"
          [options]="grados"
          optionLabel="cGradoNombre"
          (onChange)="obtenerSecciones()"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-3">
      <p-inputGroup>
        <p-inputGroupAddon>Sección</p-inputGroupAddon>
        <p-dropdown
          [(ngModel)]="iSeccionId"
          styleClass="w-full"
          placeholder="Seleccione Sección"
          optionValue="iSeccionId"
          [options]="secciones"
          optionLabel="cSeccionNombre"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-2 text-right">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-primary"
        [disabled]="!iGradoId || !iSeccionId"
        (click)="obtenerCursosxiGradoIdxiSeccionId()"
      >
        <i class="pi pi-search"></i>&nbsp;Ver horario
      </button>
      <p-divider></p-divider>
    </div>
    <div class="col-12 md:col-2">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-success"
        [disabled]="!iGradoId"
        (click)="configurarHorario()"
      >
        <i class="pi pi-calendar"></i>&nbsp;Configurar bloque de horas
      </button>
    </div>
    <div class="col-12 md:col-2">
      <!-- <button
        pButton
        pRipple
        type="button"
        class="p-button-warning"
        [disabled]="!iGradoId"
        (click)="configurarHorario()"
      >
        <i class="pi pi-check"></i>&nbsp;Procesar
      </button> -->
    </div>
  </div>
  <div class="col-12">
    <app-conf-horario
      [cursos]="cursos"
      [dias]="dias"
      [horario]="horarios"
      [bloques]="bloques"
      (accionBtnItem)="accionBtn($event)"
    ></app-conf-horario>
  </div>
</div>

<p-dialog
  [(visible)]="displayDialog"
  [header]="titulo"
  [modal]="true"
  [style]="{ width: '89vw' }"
  [baseZIndex]="10000"
  [dismissableMask]="true"
  [closable]="true"
  [resizable]="true"
  [maximizable]="true"
>
  <p-panel *ngIf="formDistribucion">
    <form [formGroup]="formDistribucion">
      <div class="grid">
        <div class="col-12 md:col-3">
          <p-inputGroup>
            <p-inputGroupAddon>Grado</p-inputGroupAddon>
            <p-dropdown
              formControlName="iGradoId"
              styleClass="w-full"
              placeholder="Seleccione Grado"
              (onChange)="filtrarGradoHorario()"
              optionValue="iGradoId"
              [options]="grados"
              optionLabel="cGradoNombre"
            />
          </p-inputGroup>
        </div>

        <div class="col-12 md:col-3">
          <p-inputGroup>
            <p-inputGroupAddon>Sección</p-inputGroupAddon>
            <p-dropdown
              formControlName="iSeccionId"
              styleClass="w-full"
              placeholder="Seleccione Sección"
              optionValue="iSeccionId"
              [options]="secciones"
              optionLabel="cSeccionNombre"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-4" *ngIf="!vbloques">
          <p-inputGroup>
            <p-inputGroupAddon>Horario</p-inputGroupAddon>
            <p-dropdown
              formControlName="iConfBloqueId"
              styleClass="w-full"
              placeholder="Seleccione horario"
              optionValue="iConfBloqueId"
              [options]="conf_bloques"
              optionLabel="cDescripcion"
              [filter]="true"
              [filterPlaceholder]="'Buscar Horario...'"
              [appendTo]="'body'"
              filterBy="cDescripcion"
              [showClear]="false"
              (onChange)="getConfDetalleBloques()"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-2" flex justify-content-center *ngIf="!vbloques">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-primary"
            [disabled]="formDistribucion.invalid"
            (click)="guardarHorario()"
            [disabled]="!iGradoId || !iSeccionId"
            title="Actualizar horario"
          >
            <i class="pi pi-save"></i>&nbsp;Asignar horario
          </button>
        </div>
        <div class="col-12 md:col-3 flex justify-content-center" *ngIf="vbloques">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-warning"
            (click)="actualizarHoras()"
            title="Asignar horas a los bloques"
            [disabled]="!iGradoId || !iSeccionId"
          >
            <i class="pi pi-clock"></i>&nbsp;Asignar horas
          </button>
        </div>
        <div class="col-12 md:col-3" flex justify-content-center *ngIf="vbloques">
          <button
            pButton
            pRipple
            type="button"
            class="p-button-success"
            (click)="actualizarCalendario()"
            title="Procesar calendario"
            [disabled]="!iGradoId || !iSeccionId"
          >
            <i class="pi pi-calendar"></i>&nbsp;Publicar configuración
          </button>
        </div>
      </div>
      <div class="grid">
        <div class="col-8">
          <app-table-primeng
            [columnas]="columns"
            [showCaption]="false"
            [data]="filtrar_grado"
            (accionBtnItem)="accionBtnItemTable($event)"
            [showPaginator]="true"
            [(selectedRowData)]="accionBtnItemTable"
            [actions]="actions"
          >
          </app-table-primeng>
        </div>
        <div class="col-4">
          @if (vbloques) {
            <app-table-primeng
              [columnas]="columnsBloque"
              [showCaption]="false"
              [data]="lista_horas"
              (accionBtnItem)="accionBtnItemTable($event)"
              [showPaginator]="true"
              [(selectedRowData)]="accionBtnItemTable"
              [actions]="actions"
            >
            </app-table-primeng>
          } @else {
            <app-table-primeng
              [columnas]="columnsDetalle"
              [showCaption]="false"
              [data]="conf_detalle_bloques"
              (accionBtnItem)="accionBtnItemTable($event)"
              [showPaginator]="false"
              [(selectedRowData)]="accionBtnItemTable"
              [actions]="actions"
            >
            </app-table-primeng>
          }
        </div>
      </div>
    </form>
  </p-panel>
</p-dialog>
