<div class="grid mt-2">
    <div class="col-12 md:col-7">
        <app-mantenimiento-search-usuario
            [option]="'Director'"
            [search_perfiles]="search_perfiles"
            [iSedeId]="iSedeId"
            (select_usuarios)="accionBtnItemTable($event)"
            (crear_usuario)="accionBtnItemTable($event)"
        />
    </div>

    <div class="col-12 md:col-5">
        <app-mantenimiento-add-perfil
            [option]="'Director'"
            [search_perfiles]="search_perfiles"
            [iSedeId]="iSedeId"
            [usuario]="usuario"
        />
    </div>
</div>

<p-toast />
