.btn-file-image {
    position: relative;
    overflow: hidden;
}
.btn-file-image input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.perfil-redondo {
    border-radius: 100%;
    object-fit: cover;
}

:host ::ng-deep .p-button.p-button-danger {
    background-color: white !important;
    color: #ef4444 !important;
}

:host ::ng-deep .p-button.p-button-danger:hover {
    background-color: #ef4444 !important;
    color: white !important;
}
