<div class="grid">
  <div class="col-12">
    <app-container-page
      title="ACTIVIDADES DE GESTIÓN"
      [actions]="actionsContainer"
      (accionBtnItem)="accionBtnItem($event)"
    >
      <p-messages [(value)]="mensaje" [enableService]="false" [closable]="false" />
      <div class="flex flex-row flex-wrap mb-3">
        <div class="flex">
          <p-inputGroup>
            <p-inputGroupAddon> Tipo de Actividad </p-inputGroupAddon>
            <p-dropdown
              [options]="tiposCargaNoLectivas"
              [(ngModel)]="selectActividad"
              optionLabel="cTipoCargaNoLectNombre"
              optionValue="iTipoCargaNoLectId"
              (onChange)="filtrarActividades()"
              placeholder="Seleccione Tipo de Actividad"
              [style]="{ width: 'auto' }"
            />
          </p-inputGroup>
        </div>
      </div>

      <app-table-primeng
        [columnas]="columns"
        [actions]="actions"
        [data]="filtrar"
        [showCaption]="false"
        [tableStyle]="null"
        (accionBtnItem)="accionBtnItem($event)"
      ></app-table-primeng>
    </app-container-page>
  </div>
</div>
<app-form-actividades-no-lectivas
  [showModal]="showModal"
  [data]="item"
  [titulo]="titulo"
  [opcion]="opcion"
  [tiposCargaNoLectivas]="tiposCargaNoLectivas"
  [iFalta]="informacion?.iFalta"
  (accionBtnItem)="accionBtnItem($event)"
></app-form-actividades-no-lectivas>

<p-toast />

<!-- Ventana Modal de aprobación de actividad -->

<p-dialog
  [header]="visualizar ? 'Registrar Observacion' : 'Actividad de Gestion'"
  [modal]="true"
  [(visible)]="bAprobar"
  [style]="{ width: '60rem' }"
>
  <div class="flex align-items-center gap-3 mb-5 mt-5">
    <div class="grid w-full">
      @if (!visualizar) {
        <div class="col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
          <p-inputGroup>
            <p-inputGroupAddon>Tipo de Actividad </p-inputGroupAddon>
            <p-dropdown
              [(ngModel)]="item['iTipoCargaNoLectId']"
              [options]="tiposCargaNoLectivas"
              optionValue="iTipoCargaNoLectId"
              optionLabel="cTipoCargaNoLectNombre"
              placeholder="Tipo de Actividad"
              [style]="{ width: '100%' }"
              [disabled]="true"
            ></p-dropdown>
          </p-inputGroup>
        </div>
        <div class="col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
          <p-inputGroup>
            <p-inputGroupAddon>Nombre de la Actividad</p-inputGroupAddon>
            <input pInputText [value]="item['cNombre']" type="text" [disabled]="true" />
          </p-inputGroup>
        </div>
        <div class="col-12 xl:col-12 md:col-12 sm:col-12">
          <p-inputGroup>
            <p-inputGroupAddon>Descripcion</p-inputGroupAddon>
            <textarea
              [value]="item['cDescripcion']"
              pInputTextarea
              placeholder="Ingresa tu descripcion"
              [disabled]="true"
            ></textarea>
          </p-inputGroup>
        </div>
        <div class="col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <p-inputGroup>
            <p-inputGroupAddon>Fecha</p-inputGroupAddon>
            <input
              pInputText
              [value]="item['dtInicio'] | date: 'yyyy-MM-dd HH:mm'"
              type="text"
              [disabled]="true"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <p-inputGroup>
            <p-inputGroupAddon>Cantidad de Horas</p-inputGroupAddon>
            <input
              pInputText
              [value]="item['nDetCargaNoLectHoras']"
              type="number"
              min="1"
              [disabled]="true"
            />
          </p-inputGroup>
        </div>
        <div class="col-12" *ngIf="item['cDetCargaNoLectEvidencias']?.length > 0">
          <div class="card">
            <div class="p-1 font-bold">Archivos Multimedia:</div>
            <div class="grid">
              <div
                class="col-3"
                *ngFor="let lista of item['cDetCargaNoLectEvidencias']; let i = index"
              >
                <button
                  type="button"
                  *ngIf="lista.type === 1"
                  class="flex bg-blue-600 text-white align-items-start gap-1 border-1 m-1 border-round p-2 cursor-pointer shadow-1 transition-duration-200 hover:shadow-5"
                  (click)="descargarArchivo(lista.ruta)"
                >
                  {{ i + 1 }}.
                  <div class="pi pi-file-pdf"></div>
                  <div class="text-sm">{{ lista.name | slice: 0 : 15 }}...</div>
                </button>
                <a
                  *ngIf="lista.type === 2"
                  class="flex bg-blue-600 text-white align-items-start gap-1 border-1 m-1 border-round p-2 cursor-pointer shadow-1 transition-duration-200 hover:shadow-5"
                  [href]="lista.ruta"
                  target="_blank"
                >
                  {{ i + 1 }}.
                  <div class="pi pi-link"></div>
                  <div class="text-sm">{{ lista.name | slice: 0 : 15 }}...</div>
                </a>
                <button
                  type="button"
                  *ngIf="lista.type === 5"
                  class="flex bg-blue-600 text-white align-items-start gap-1 border-1 m-1 border-round p-2 cursor-pointer shadow-1 transition-duration-200 hover:shadow-5"
                  (click)="descargarImagen(lista.ruta)"
                >
                  {{ i + 1 }}.
                  <div class="pi pi-image"></div>
                  <div class="text-sm">{{ lista.name | slice: 0 : 15 }}...</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      }
      <div class="col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <p-inputGroup class="w-full">
          <p-inputGroupAddon>Observaciones de la actividad</p-inputGroupAddon>
          <textarea
            pInputTextarea
            [(ngModel)]="cObservacion"
            [value]="item['cObservacion']"
            [disabled]="!visualizar"
          ></textarea>
        </p-inputGroup>
      </div>
    </div>
  </div>
  <div class="flex justify-content-end gap-2" *ngIf="visualizar">
    <p-button label="Cancel" severity="secondary" (onClick)="bAprobar = false" />
    <p-button label="Guardar" severity="success" (onClick)="guardarObservacion(item)" />
  </div>
</p-dialog>
