<app-toolbar-primeng title="Mis capacitaciones"></app-toolbar-primeng>
<div class="grid">
  <div class="col-12">
    <ng-container *ngIf="data && data.length > 0">
      @for (capacitacion of data; track capacitacion) {
        <app-card-capacitaciones
          [capacitacion]="capacitacion"
          [descripcion]="true"
          [iPerfilId]="iPerfilId"
          (verDetalle)="onVerDetalle($event)"
        ></app-card-capacitaciones>
      }
    </ng-container>
  </div>
</div>

<ng-template *ngIf="data.length === 0">
  <app-no-data [showIcon]="'NO-DATA'" [mensaje]="'No hay capacitaciones'"></app-no-data>
</ng-template>

<p-toast></p-toast>
