.backColor {
    background-color: rgb(234, 234, 234);
    padding: 2px;
    border-radius: 5px;
}
.pregunta-container {
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    margin: 5px 0;
    background-color: white;

    border-radius: 5px;
    transition: 0.3s;

    display: flex;
    align-items: center;
}

label {
    cursor: pointer;
}

li:hover {
    background-color: #ddd;
}

// .seleccionado {
//     background-color: #077D38;
//     color: white;
// }
// --------------- estilo de la imagen
.image-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
    width: 100%;
}

.image-container img {
    max-width: 50%; /* Se ajusta al ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    border-radius: 8px; /* Opcional: bordes redondeados */
}
// ------------------------------------
div.no-padding {
    padding: 0 !important;
}

::ng-deep .p-panel .p-panel-header {
    background: var(--bg-header-modal) !important;
    color: white !important;
}

:host ::ng-deep .sin-borde-contenedor .p-component {
    border: none;
    box-shadow: none;
}

:host ::ng-deep .sin-borde-contenedor {
    border-radius: 8px;
}

:host ::ng-deep .p-card .p-card-body {
    padding: 10px !important;
}

:host ::ng-deep div.p-card-title {
    padding: 1.25rem;
    border-top: 1px solid #e5e7eb;
    border-left: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
    background: #f9fafb;
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 0px;
}

:host ::ng-deep .p-accordion-header-text {
    font-size: 1.25rem;
    color: var(--primary-color);
}

:host ::ng-deep div.p-card-content {
    padding: 1.25rem;
    border: 1px solid var(--surface-border);
}

::ng-deep .text-primary {
    color: white !important;
}

::ng-deep .container-page .p-panel-header {
    gap: 0px !important;
}

::ng-deep .p-checkbox .p-checkbox-box {
    border-radius: 50%;
}

div.p-dialog-content {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
