<p-toast />

<div class="flex flex-column gap-4">
    <form [formGroup]="typeCollectionForm" class="flex flex-column gap-4">
        <section class="flex justify-content-between">
            @for (config of dropdownConfigs; track config.id) {
                @if (shouldShowDropdown(config)) {
                    <div class="flex flex-column gap-3">
                        <span>{{ config.label }}</span>
                        <p-dropdown
                            [formControlName]="config.label + config.id"
                            [options]="config.options"
                            [placeholder]="config.placeholder"
                        >
                        </p-dropdown>
                    </div>
                }
            }

            @if (
                typeCollectionForm.value['Origen de la colección:1'].id === 2
            ) {
                <div class="flex flex-column gap-3">
                    <span>Iniciar proceso:</span>
                    <p-button
                        #importBtn
                        styleClass="w-full"
                        label="Descargar plantilla"
                        icon="pi pi-download"
                        [loading]="importLoad"
                        (onClick)="validaImportData()"
                        [disabled]="isDisabled.downloadTemplate"
                    />
                </div>
            }
        </section>
    </form>

    @if (isSelectedTypeCollection(typeCollectionForm.value)) {
        <app-tab-view>
            <app-tab-panel title="Información del archivo">
                <div class="card flex flex-wrap flex-column gap-2">
                    <section class="flex justify-content-between">
                        <div class="flex flex-column gap-3">
                            <span>Archivo de origen:</span>
                            <app-btn-file-upload
                                accept=".xlsx"
                                (fileChange)="loadCollectionTemplate($event)"
                            />
                        </div>

                        <div class="flex flex-column gap-3">
                            <span>Iniciar proceso:</span>
                            <p-button
                                #importBtn
                                label="Importar datos"
                                icon="pi pi-database"
                                [loading]="importLoad"
                                (onClick)="validaImportData()"
                            />
                        </div>
                    </section>
                </div>
                @if (columns) {
                    <app-table-primeng
                        [columnas]="columns"
                        [data]="data"
                        [showCaption]="true"
                        [showSortIcon]="false"
                    ></app-table-primeng>
                }
            </app-tab-panel>
            @if (responseDataImport) {
                <app-tab-panel title="Resultado de la importación">
                    @if (columns) {
                        <app-table-primeng
                            [columnas]="responseColumnsImport"
                            [data]="responseDataImport"
                            [showCaption]="true"
                            [showSortIcon]="false"
                        ></app-table-primeng>
                    }
                </app-tab-panel>
            }
        </app-tab-view>
    }
</div>
