.curso {
    background-color: transparent;
}

.curso:hover {
    background-color: #f8e9eb;
}

.cursoSeleccionado {
    background-color: #f8e9eb;
}

.cursoHorario {
    background-color: #dbeafe;
}

.bloqueDisponible {
    background-color: #f9fafb;
}

.bloqueDisponible:hover {
    background-color: #f3f4f6;
}
