<div class="grid" *ngIf="cursos.length; else noCursos">
    <div class="col-12">
        <div class="flex flex-column gap-2">
            <div class="flex flex-column gap-1">
                <div>
                    <span class="text-lg text-primary font-bold"
                        >Lista de Áreas Curriculares Disponibles
                    </span>
                    <span class="text-sm"
                        >( Seleccione el área para agregar horario )</span
                    >
                </div>
            </div>
        </div>
        <p-divider></p-divider>
        <div class="relative w-full">
            <div class="flex items-center w-full">
                <i
                    role="button"
                    tabindex="0"
                    class="pi pi-angle-left absolute left-0 z-10 bg-white shadow-md rounded-full py-7"
                    style="color: var(--blue-600); cursor: pointer"
                    (click)="scrollCursos(-1)"
                    (keydown.enter)="scrollCursos(-1)"
                ></i>

                <div
                    #cursosContainer
                    class="flex overflow-x-auto scroll-smooth"
                    style="scrollbar-width: none; -ms-overflow-style: none"
                >
                    <ul class="flex flex-nowrap">
                        @for (curso of cursos; track curso.iCursoId) {
                            <li
                                role="button"
                                tabindex="0"
                                [class]="
                                    cursoSeleccionado?.iCursoId ===
                                    curso.iCursoId
                                        ? 'cursoSeleccionado'
                                        : ''
                                "
                                class="list-none curso py-2 px-2 flex flex-column gap-3 cursor-pointer border-round-sm border-1 surface-border"
                                (click)="cursoSeleccionado = curso"
                                (keydown.enter)="cursoSeleccionado = curso"
                                (keydown.space)="cursoSeleccionado = curso"
                            >
                                <div class="flex flex-column gap-1 w-20rem">
                                    <span class="text-lg font-bold">{{
                                        curso.cCursoNombre
                                    }}</span>
                                    <span>Docente: {{ curso.cDocente }}</span>
                                    <span
                                        >Horas asignadas:
                                        {{ curso.iHorasAsignadas }} de
                                        {{ curso.iHoras }}
                                    </span>
                                    <p-meterGroup
                                        class="w-full"
                                        [value]="[
                                            {
                                                value: curso.iHorasAsignadas,
                                                color:
                                                    curso.iHorasAsignadas ===
                                                    curso.iHoras
                                                        ? '#22c55e'
                                                        : '#7CABF9',
                                            },
                                        ]"
                                        [max]="curso.iHorasAsignadas"
                                    />
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <i
                    role="button"
                    tabindex="0"
                    class="pi pi-angle-right absolute right-0 z-10 bg-white shadow-md rounded-full py-7"
                    style="color: var(--blue-600); cursor: pointer"
                    (click)="scrollCursos(1)"
                    (keydown.enter)="scrollCursos(1)"
                ></i>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="dias.length && horario.length">
        <div class="flex flex-column gap-2 mb-2">
            <div class="flex flex-column gap-1">
                <div class="text-center text-lg text-primary font-bold">
                    Horario
                </div>
                <span class="text-lg font-semibold"
                    >Curso seleccionado:
                    {{ cursoSeleccionado?.cCursoNombre || 'Ninguno' }}</span
                >
            </div>
        </div>
        <p-table
            class="hoverTable"
            [columns]="dias"
            [value]="getRango(bloques)"
        >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 0.5rem" class="text-center">BLOQUE</th>
                    @for (dia of columns; track $index) {
                        <th class="text-center">{{ dia.cDiaNombre }}</th>
                    }
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td
                        class="text-center"
                        style="background-color: rgb(248, 245, 245)"
                    >
                        {{ item }}
                    </td>
                    @for (dia of dias; track dia) {
                        @for (hora of getHorarioxiBloque(item); track hora) {
                            @if (hora.iDiaId === dia.iDiaId) {
                                <td
                                    [ngClass]="
                                        hora.idDocCursoId && hora.iCursoId
                                            ? 'horaSelected'
                                            : 'cursor-pointer'
                                    "
                                >
                                    @if (hora.idDocCursoId && hora.iCursoId) {
                                        <div class="curso-container">
                                            <i
                                                class="pi pi-times text-center text-xs"
                                                role="button"
                                                tabindex="0"
                                                (click)="
                                                    agregarRemoverHorario(
                                                        hora,
                                                        'remover-horario'
                                                    )
                                                "
                                                (keydown.enter)="
                                                    agregarRemoverHorario(
                                                        hora,
                                                        'remover-horario'
                                                    )
                                                "
                                                (keydown.space)="
                                                    agregarRemoverHorario(
                                                        hora,
                                                        'remover-horario'
                                                    )
                                                "
                                            ></i>
                                            <div class="text-center mt-1rem">
                                                {{ hora.cCursoNombre }}
                                            </div>
                                        </div>
                                    } @else {
                                        <div
                                            role="button"
                                            tabindex="0"
                                            (click)="
                                                agregarRemoverHorario(
                                                    hora,
                                                    'agregar-horario'
                                                )
                                            "
                                            (keydown.enter)="
                                                agregarRemoverHorario(
                                                    hora,
                                                    'agregar-horario'
                                                )
                                            "
                                            (keydown.space)="
                                                agregarRemoverHorario(
                                                    hora,
                                                    'agregar-horario'
                                                )
                                            "
                                        >
                                            Disponible
                                        </div>
                                    }
                                </td>
                            }
                        }
                    }
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<ng-template #noCursos>
    <app-no-data
        [showIcon]="'NO-DATA'"
        [mensaje]="'No hay áreas curriculares disponibles'"
    ></app-no-data>
</ng-template>
