<!-- Estructura de la grilla principal -->
<div class="grid mt-4">
  <!-- Sección que muestra el título de la evaluación -->
  <div class="col-12 md:col-8">
    <h4 class="m-0 text-uppercase text-primary">
      Nombre de la Evaluación: {{ data.cEvaluacionTitulo }}
    </h4>
  </div>

  <!-- Sección con botón para agregar preguntas -->
  <div class="col-12 md:col-4" align="right">
    <button pButton class="p-button-primary gap-2" (click)="menuAgregacionPreguntas.toggle($event)">
      <i class="pi pi-plus"></i>
      <span class="text-md">Agregar Preguntas</span>
    </button>
  </div>
  <!-- Sección que muestra un mensaje cuando no hay preguntas en la lista -->
  <div class="col-12 mt-5" align="center" *ngIf="!preguntas.length">
    <img src="assets/images/icons/preguntas.gif" alt="logo" width="20%" />
    <h4 class="font-bold">Utilice este espacio para crear su examen.</h4>
    <h5>
      Al agregar pregunta, escoje si la pregunta tiene enunciado, sin enunciado o banco de preguntas
    </h5>
  </div>
  <!-- Sección que muestra la lista de preguntas si existen -->
  <div class="col-12 mt-5" align="center" *ngIf="preguntas.length">
    <app-banco-pregunta-lista
      [data]="preguntas"
      [showCaption]="false"
      [showPaginator]="false"
      [accionesTabla]="acciones"
      (accionBtnItemTable)="accionBtn($event)"
      [columnas]="columnas"
    ></app-banco-pregunta-lista>
  </div>
</div>
<!--
    p-menu: Componente de menú emergente de PrimeNG.
    Este componente se utiliza para mostrar un menú contextual que se puede activar de manera dinámica.
    Atributos del componente:
    - #menuAgregacionPreguntas: Se le asigna una referencia local llamada "menuAgregacionPreguntas" para hacer referencia al menú dentro del componente.
    - styleClass="w-29rem": Aplica una clase CSS personalizada al menú, en este caso, ajustando el ancho a 29 rem.
-->
<p-menu
  #menuAgregacionPreguntas
  [popup]="true"
  [model]="tiposAgrecacionPregunta"
  appendTo="body"
  styleClass="w-29rem"
>
</p-menu>
<!-- Dialogo para agregar preguntas al banco de preguntas -->
<p-dialog
  #dialogBancoPreguntas
  [header]="'Agregar Preguntas del Banco de preguntas'"
  [modal]="true"
  [(visible)]="showModalBancoPreguntas"
  [position]="'top'"
  [maximizable]="true"
  [style]="{ width: '100%' }"
>
  @defer (when showModalBancoPreguntas) {
    <!-- las preguntas seleccionadas -->
    <app-aula-banco-preguntas
      [mode]="'SELECTION'"
      [iEvaluacionId]="data.iEvaluacionId"
      [iCursoId]="curso.iCursoId"
      (selectedRowDataChange)="selectedRowDataChange($event)"
    />
  }
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2 pt-3">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-secondary"
        type="button"
        size="small"
      ></button>
      <button
        pButton
        pRipple
        label="Agregar preguntas seleccionadas"
        icon="pi pi-check"
        size="small"
        class="p-button-primary"
        (click)="agregarPreguntas()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<!-- Dialogo para agregar un enunciado de preguntas -->
<p-dialog
  #dialogEncabezadoPreguntas
  [header]="'Agregar Enunciado de Preguntas'"
  [modal]="true"
  [(visible)]="showModalEncabezadoPreguntas"
  [position]="'top'"
  [maximizable]="true"
  [style]="{ width: '100%' }"
>
  <!-- Contenido dentro del formulario -->
  <ng-content>
    <!-- Formulario de encabezado de preguntas -->
    <form [formGroup]="formEncabezadoPreguntas" class="mt-4">
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon> Título </p-inputGroupAddon>
          <input pInputText formControlName="cEncabPregTitulo" />
        </p-inputGroup>
      </div>
      <!-- Campo para el enlace del enunciado -->
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-link" style="color: #333437"></i>
          </p-inputGroupAddon>
          <input
            type="text"
            pInputText
            [placeholder]="
              jEnunciadoUrl !== '' ? 'Si hay enunciado subido' : 'No hay enunciado subido'
            "
            disabled
            class="w-full p-inputtext-sm opacity-100"
            pInputText
          />
          <button
            pButton
            pRipple
            type="button"
            severity="primary"
            class="p-button-primary btn-file-image"
          >
            <i class="pi pi-upload"></i
            ><input type="file" (change)="onUploadChange($event, 'enunciado')" accept=".pdf " />
          </button>
          <button
            type="button"
            (click)="openLink(jEnunciadoUrl !== '' ? jEnunciadoUrl : null)"
            [disabled]="jEnunciadoUrl === ''"
            pButton
            icon="pi pi-eye"
            class="p-button-info"
          >
            &nbsp;
          </button>
        </p-inputGroup>
      </div>
    </form>
  </ng-content>
  <!-- Botones de acción para cancelar o agregar encabezado -->
  <div class="flex justify-content-end gap-2 pt-3">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-secondary"
      type="button"
      size="small"
      (click)="showModalEncabezadoPreguntas = false"
    ></button>
    <!-- Botón para guardar el encabezado -->
    <button
      pButton
      pRipple
      (click)="guardarEncabezadoPreguntas()"
      [disabled]="this.formEncabezadoPreguntas.invalid"
      label="Agregar Encabezado"
      icon="pi pi-check"
      size="small"
      class="p-button-primary"
    ></button>
  </div>
</p-dialog>
<!-- Este es un componente que maneja el formulario de preguntas para una evaluación.
     Se pasan varios parámetros al componente app-preguntas-form,
     como el título de la evaluación, el identificador de la evaluación, el curso,
     el ID del encabezado de preguntas y los detalles de las preguntas.
     Además, se escucha un evento 'accionBtnItem' para manejar la acción del botón -->
<!-- <app-preguntas-form
    [cEvaluacionTitulo]="data.cEvaluacionTitulo"
    [showModalPreguntas]="showModalPreguntas"
    [iEvaluacionId]="iEvaluacionId"
    [curso]="curso"
    [idEncabPregId]="idEncabPregId"
    (accionBtnItem)="accionBtn($event)"
    [data]="detallePreguntas"
></app-preguntas-form> -->
<!-- Componente app-view-preguntas -->
<app-view-preguntas
  [showDetallePregunta]="showDetallePregunta"
  [detallePreguntas]="detallePreguntas"
  [titulo]="tituloDetallePregunta"
  (accionBtnItem)="showDetallePregunta = false"
></app-view-preguntas>
