<div class="grid">
  <p-table
    #dv
    class="col-12 hoverTable"
    [value]="data"
    paginator="true"
    [rows]="10"
    [globalFilterFields]="['cCursoNombre']"
  >
    <ng-template pTemplate="header">
      <tr>
        @switch (iPerfilId) {
          @case (DOCENTE) {
            <th style="width: 1rem">#</th>
            <th style="width: 15rem">Nombre del Área Curricular</th>
            <th style="width: 2rem; text-align: center">Total Estudiantes</th>
            <th style="width: 2rem; text-align: center">Nivel de Estudio</th>
            <th style="width: 2rem; text-align: center">Grado</th>
            <th style="width: 2rem; text-align: center">Sección</th>
            <th style="width: 8rem; text-align: center">Acción</th>
            <th style="width: 2rem; text-align: center">Aula Virtual</th>
          }
          @case (ESTUDIANTE) {
            <th style="width: 1rem">#</th>
            <th style="width: 10rem">Nombre del Área Curricular</th>
            <th style="width: 10rem">Nombre del Docente</th>
            <th style="width: 2rem; text-align: center">Grado</th>
            <th style="width: 2rem; text-align: center">Sección</th>
            <th style="width: 2rem; text-align: center">% Asistencia</th>
            <th style="width: 2rem; text-align: center">% Inasistencia</th>
            <th style="width: 2rem; text-align: center">Aula Virtual</th>
          }
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        @switch (iPerfilId) {
          @case (DOCENTE) {
            <td [attr.colspan]="8">No se encontraron resultados.</td>
          }
          @case (ESTUDIANTE) {
            <td [attr.colspan]="5">No se encontraron resultados.</td>
          }
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        @switch (iPerfilId) {
          @case (DOCENTE) {
            <td class="justify-content-center">
              {{ rowIndex + 1 }}
            </td>
            <td class="font-bold">
              {{ item.cCursoNombre }}
            </td>
            <td style="text-align: center">
              {{ item.cantidad }}
            </td>
            <td style="text-align: center">
              {{ item.cNivelTipoNombre }}
            </td>
            <td style="text-align: center">
              {{ item.cGradoAbreviacion }}
            </td>
            <td style="text-align: center">
              {{ item.cSeccionNombre }}
            </td>
            <td style="text-align: center">
              <div class="align-items-center align-content-center">
                <button
                  pTooltip="Gestionar Área Curricular"
                  [rounded]="true"
                  pButton
                  pRipple
                  class="p-1 mx-1 p-button-rounded p-button-primary p-button-text"
                  (click)="this.selectedData = item; menu.toggle($event)"
                >
                  <i class="pi pi-chevron-down"></i>&nbsp;Seleccionar&nbsp;<i
                    [ngClass]="
                      item.iSilaboId
                        ? 'pi pi-check-circle text-green-500'
                        : 'pi pi-times-circle text-red-500'
                    "
                  ></i>
                </button>
              </div>
            </td>
            <td style="text-align: center">
              <p-button
                severity="success"
                [routerLink]="['./', item.iSilaboId || 0]"
                [queryParams]="{
                  cCursoNombre: item.cCursoNombre,
                  cNivelTipoNombre: item.cNivelTipoNombre,
                  cGradoAbreviacion: item.cGradoAbreviacion,
                  cSeccionNombre: item.cSeccionNombre,
                  cCicloRomanos: item.cCicloRomanos,
                  cNivelNombreCursos: item.cNivelNombreCursos,
                  iCursoId: item.iCursoId,
                  idDocCursoId: item.idDocCursoId,
                  iNivelCicloId: item.iNivelCicloId,
                  iIeCursoId: item.iIeCursoId,
                  iSeccionId: item.iSeccionId,
                  iNivelGradoId: item.iNivelGradoId,
                  cantidad: item.cantidad,
                }"
                label="Acceder"
                icon="pi pi-arrow-right"
                iconPos="right"
              />
            </td>
          }

          @case (ESTUDIANTE) {
            <td class="justify-content-center">
              {{ rowIndex + 1 }}
            </td>
            <td class="font-bold">
              {{ item.cCursoNombre }}
            </td>
            <td class="font-bold" [class]="item.bDocente === '0' ? 'text-center' : ''">
              {{ item.bDocente === '1' ? item.cDocente : '-' }}
            </td>
            <td style="text-align: center">
              {{ item.cGradoAbreviacion }}
            </td>
            <td style="text-align: center">{{ item.cSeccion }}</td>
            <td style="text-align: center">{{ item.pAsistencia }} %</td>
            @if (item.pInasistencia > 33) {
              <td style="text-align: center; color: red">{{ item.pInasistencia }} %</td>
            } @else {
              <td style="text-align: center">{{ item.pInasistencia }} %</td>
            }
            <td style="text-align: center">
              <p-button
                severity="success"
                [routerLink]="['./', item.iSilaboId || 0]"
                [queryParams]="{
                  cCursoNombre: item.cCursoNombre,
                  cNivelTipoNombre: item.cNivelTipoNombre,
                  cGradoAbreviacion: item.cGradoAbreviacion,
                  cSeccionNombre: item.cSeccion,
                  cCicloRomanos: item.cCicloRomanos,
                  cNivelNombreCursos: item.cNivelNombreCursos,
                  iCursoId: item.iCursoId,
                  idDocCursoId: item.idDocCursoId,
                  iNivelCicloId: item.iNivelCicloId,
                  iIeCursoId: item.iIeCursoId,
                  iSeccionId: item.iSeccionId,
                  iNivelGradoId: item.iNivelGradoId,
                  cantidad: item.cantidad,
                }"
                label="Acceder"
                icon="pi pi-arrow-right"
                iconPos="right"
              />
            </td>
          }
        }
      </tr>
    </ng-template>
  </p-table>
</div>

<p-menu [style]="{ minWidth: '25rem' }" #menu [model]="items" [popup]="true" />

<p-dialog [modal]="true" [(visible)]="visibleProgramacion" [style]="{ width: '50rem' }">
  <ng-template pTemplate="header">
    <span class="font-bold text-xl text-white">PROGRAMACIÓN CURRICULAR</span>
  </ng-template>
  <div class="grid mt-3">
    <div class="col-12 flex">
      <p-fileUpload
        #portafolios
        class="flex mr-1"
        mode="basic"
        chooseLabel="Seleccionar Archivo"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept=".pdf"
        maxFileSize="20000000"
      />
      <p-button
        class="flex mr-1"
        type="button"
        icon="pi pi-times"
        (click)="portafolios.clear()"
      ></p-button>
      <p-button
        [disabled]="portafolios.files.length <= 0"
        styleClass="flex p-button-success"
        type="button"
        icon="pi pi-upload"
        label="Subir"
        (click)="seleccionar(portafolios)"
      ></p-button>
    </div>
    <div class="col-12">
      <p-inputGroup>
        <button type="button" pButton class="p-button-default">
          <i class="pi pi-link"></i>
        </button>
        <input
          type="text"
          pInputText
          [placeholder]="documentos.nombre ? documentos.nombre : 'PROGRAMACIÓN CURRICULAR'"
          disabled
          class="w-full p-inputtext-sm opacity-100"
          pInputText
        />
        <button
          type="button"
          (click)="descargarArchivo(documentos.ruta)"
          pButton
          class="p-button-default"
        >
          <i class="pi pi-eye"></i>
        </button>
      </p-inputGroup>
    </div>
  </div>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="visiblePortafolio" [style]="{ width: '50rem' }">
  <ng-template pTemplate="header">
    <span class="font-bold text-xl text-white">Mi Portafolio</span>
  </ng-template>
  <div class="grid mt-3">
    <div class="col-12">
      <div class="font-bold p-1">Itinerario</div>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-link"></i>
        </p-inputGroupAddon>
        <input
          type="text"
          pInputText
          [placeholder]="itinerarioInterno ? itinerarioInterno.name : 'Nombre del Itinerario'"
          disabled
          class="w-full p-inputtext-sm opacity-100"
          pInputText
        />
        <button
          pButton
          pRipple
          type="button"
          severity="primary"
          class="p-button-primary btn-file-image"
        >
          <i class="pi pi-upload"></i>
          <input #itinerario type="file" (change)="guardarItinerario(itinerario)" accept=".pdf " />
        </button>
        <button
          type="button"
          (click)="descargarArchivo(itinerarioInterno.ruta)"
          [disabled]="!itinerarioInterno || itinerarioInterno.length === 0"
          pButton
          icon="pi pi-eye"
          class="p-button-info"
        >
          &nbsp;
        </button>
      </p-inputGroup>
    </div>
    <div class="col-12">
      <div class="font-bold p-1">Reglamento Interno</div>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-link"></i>
        </p-inputGroupAddon>
        <input
          type="text"
          pInputText
          [placeholder]="reglamentoInterno ? reglamentoInterno[0].name : 'Reglamento Interno'"
          disabled
          class="w-full p-inputtext-sm opacity-100"
          pInputText
        />
        <button
          type="button"
          (click)="descargarArchivo(reglamentoInterno ? reglamentoInterno[0]['ruta'] : null)"
          [disabled]="!reglamentoInterno"
          pButton
          icon="pi pi-eye"
          class="p-button-info"
        >
          &nbsp;
        </button>
      </p-inputGroup>
    </div>
    <div class="col-12">
      <div class="font-bold p-1">Ficha de Actividades de Aprendizaje</div>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-link"></i>
        </p-inputGroupAddon>
        <input
          type="text"
          pInputText
          [placeholder]="formato && formato[0] ? formato[0]['name'] : 'Nombre del Itinerario'"
          disabled
          class="w-full p-inputtext-sm opacity-100"
          pInputText
        />
        <button
          pButton
          pRipple
          type="button"
          severity="primary"
          class="p-button-primary btn-file-image"
        >
          <i class="pi pi-upload"></i
          ><input #actividad type="file" (change)="guardarActividades(actividad)" accept=".pdf" />
        </button>
        <button
          type="button"
          (click)="descargarArchivo(formato && formato.length > 0 ? formato[0]['ruta'] : null)"
          [disabled]="!formato"
          pButton
          icon="pi pi-eye"
          class="p-button-info"
        >
          &nbsp;
        </button>
      </p-inputGroup>
    </div>
    <div class="col-12">
      <div class="font-bold p-1">Cuaderno de Campo</div>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-link"></i>
        </p-inputGroupAddon>
        <input
          type="text"
          pInputText
          [placeholder]="formato && formato[1] ? formato[1]['name'] : 'Nombre del Itinerario'"
          disabled
          class="w-full p-inputtext-sm opacity-100"
          pInputText
        />
        <button
          pButton
          pRipple
          type="button"
          severity="primary"
          class="p-button-primary btn-file-image"
        >
          <i class="pi pi-upload"></i
          ><input type="file" #cuaderno (change)="guardarCuaderno(cuaderno)" accept=".pdf" />
        </button>
        <button
          type="button"
          (click)="descargarArchivo(formato && formato.length > 0 ? formato[1]['ruta'] : null)"
          [disabled]="!formato"
          pButton
          icon="pi pi-eye"
          class="p-button-info"
        >
          &nbsp;
        </button>
      </p-inputGroup>
    </div>
    <div class="col-12">
      <div class="font-bold p-1">Instrumentos de Evaluación</div>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-link"></i>
        </p-inputGroupAddon>
        <input
          type="text"
          pInputText
          [placeholder]="formato && formato[2] ? formato[2]['name'] : 'Nombre del Itinerario'"
          disabled
          class="w-full p-inputtext-sm opacity-100"
          pInputText
        />
        <button
          pButton
          pRipple
          type="button"
          severity="primary"
          class="p-button-primary btn-file-image"
        >
          <i class="pi pi-upload"></i>
          <input
            #instrumentos
            type="file"
            (change)="guardarInstrumentos(instrumentos)"
            accept=".pdf"
          />
        </button>
        <button
          type="button"
          (click)="descargarArchivo(formato && formato.length > 0 ? formato[2]['ruta'] : null)"
          [disabled]="!formato"
          pButton
          icon="pi pi-eye"
          class="p-button-info"
        >
          &nbsp;
        </button>
      </p-inputGroup>
    </div>
  </div>
</p-dialog>

<p-toast />
