@switch (iActTopId) {
    <!-- tarea -->
    @case (1) {
        <app-tarea-room [iTareaId]="ixActivadadId"></app-tarea-room>
    }
    <!-- Foro -->
    @case (2) {
        <app-foro-room [ixActivadadId]="ixActivadadId" [iActTopId]="iActTopId">
        </app-foro-room>
    }
    <!-- evaluacion -->
    @case (3) {
        <app-evaluacion-room
            [ixActivadadId]="ixActivadadId"
            [iActTopId]="iActTopId"
            [iProgActId]="iProgActId"
        ></app-evaluacion-room>
    }
    <!-- videoconferencia -->
    @case (4) {
        <app-videoconferencia-form-container
            [ixActivadadId]="ixActivadadId"
            [iActTopId]="iActTopId"
        >
        </app-videoconferencia-form-container>
    }
    <!-- cuestionario -->
    @case (5) {
        <app-cuestionario-room
            [ixActivadadId]="ixActivadadId"
            [iActTopId]="iActTopId"
            [iProgActId]="iProgActId"
        ></app-cuestionario-room>
    }

    @default {}
}
