<br />

<form [formGroup]="formDiscapacidad">
    <div class="grid p-fluid mt-3">
        <input type="hidden" name="iFichaDGId" />

        <div class="col-12 lg:col-6">
            <p-fieldset
                legend="Indique si el estudiante tiene alguna limitación o discapacidad"
            >
                <div class="grid">
                    <div
                        class="col-12"
                        *ngFor="
                            let discapacidad of discapacidades;
                            let i = index
                        "
                    >
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                <p-inputSwitch
                                    (onChange)="
                                        handleSwitchLimitacionChange(
                                            $event,
                                            discapacidad['value']
                                        )
                                    "
                                    formControlName="iDiscId"
                                />
                                <span>{{ discapacidad['label'] }}</span>
                            </p-inputGroupAddon>
                            @if (
                                visibleLimitacionesInput[
                                    discapacidad['value']
                                ] === true
                            ) {
                                <input
                                    type="text"
                                    formControlName="cDiscFichaObs"
                                    pInputText
                                    placeholder="Especifique si está diagnosticado o no, severidad o si necesita apoyo o acomodaciones"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="col-12 lg:col-6">
            <p-fieldset
                legend="¿El estudiante está registrado en algún programa?"
            >
                <div class="grid">
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                <p-inputSwitch
                                    (onChange)="
                                        handleSwitchProgramaChange(
                                            $event,
                                            'conadis'
                                        )
                                    "
                                    formControlName="bFichaDGEstaEnCONADIS"
                                />
                                <span>CONADIS</span>
                            </p-inputGroupAddon>
                            @if (visibleProgramaInput['conadis'] === true) {
                                <input
                                    type="text"
                                    formControlName="cCodigoCONADIS"
                                    pInputText
                                    placeholder="Código de carnet *"
                                    class="group-element"
                                    maxlength="50"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                <p-inputSwitch
                                    formControlName="bFichaDGEstaEnOMAPED"
                                    (onChange)="
                                        handleSwitchProgramaChange(
                                            $event,
                                            'omaped'
                                        )
                                    "
                                />
                                <span>OMAPED</span>
                            </p-inputGroupAddon>
                            @if (visibleProgramaInput['omaped'] === true) {
                                <input
                                    type="text"
                                    formControlName="cCodigoOMAPED"
                                    pInputText
                                    placeholder="Código de carnet *"
                                    class="group-element"
                                    maxlength="50"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                <p-inputSwitch
                                    formControlName="bFichaDGEstaEnOtro"
                                    (onChange)="
                                        handleSwitchProgramaChange(
                                            $event,
                                            'otro_programa'
                                        )
                                    "
                                />
                                <span>Otro</span>
                            </p-inputGroupAddon>
                            @if (
                                visibleProgramaInput['otro_programa'] === true
                            ) {
                                <input
                                    type="text"
                                    formControlName="cOtroProgramaDiscapacidad"
                                    pInputText
                                    placeholder="Especifique otro programa"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</form>

<br />

<div class="flex justify-content-end gap-2">
    <p-button
        label="Salir sin guardar"
        (onClick)="actualizarDatos()"
        severity="secondary"
    />
    <p-button
        label="Guardar y continuar"
        (onClick)="guardarDatos()"
        severity="success"
        icon="pi pi-save"
    />
</div>
<p-toast></p-toast>
