.hoverTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px;
}
.hoverTable tr th {
  background-color: #e6e6ee;
}
.hoverTable tr:hover:not(.itemSelected, .itemActive) {
  background-color: var(--highlight-bg);
}

:host ::ng-deep p-calendar .p-inputtext:disabled {
  opacity: 1 !important;
  background-color: #fff !important;
  color: #000 !important;
}
:host ::ng-deep app-btn-file-upload {
  background: #3676e0;
  border-radius: 10px;
}
