<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-column gap-2">
            <h3 class="m-0 text-uppercase text-primary">
                Matrícula individual
            </h3>
        </div>
    </ng-template>
    <ng-template pTemplate="icons" class="flex flex-column flex-1">
        <div class="flex flex-wrap gap-2 justify-content-end">
            <button
                size="small"
                [rounded]="true"
                pButton
                severity="secondary"
                pTooltip="Regresar"
                tooltipPosition="top"
                (click)="inicio()"
            >
                <i class="pi pi-arrow-left"></i>
                <span class="ml-2 hidden sm:block">Regresar</span>
            </button>
        </div>
    </ng-template>
    <p-steps
        styleClass="w-full overflow-scroll"
        [model]="items"
        [activeIndex]="setActiveIndexSteps()"
        [readonly]="false"
    />
    <router-outlet></router-outlet>
</p-panel>
