<div class="flex justify-content-start">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
</div>
<section class="flex flex-column gap-4">
    <p-tabView styleClass="actividad-tabs">
        <!-- mostrar información general -->
        <p-tabPanel>
            <ng-template pTemplate="header" class="header-fixed">
                <div class="flex align-items-center flex-column gap-2">
                    <app-icon name="matListAlt"></app-icon>
                    <span class="font-bold white-space-nowrap m-0">
                        Cuestionario
                    </span>
                </div>
            </ng-template>
            <app-toolbar-primeng [title]="'Título: ' + cuestionario?.cTitulo">
            </app-toolbar-primeng>
            <div class="card">
                <div class="grid">
                    <div class="col-12 md:col-8">
                        <!-- Mostrar fecha y hora de inicio -->
                        <span class="font-bold text-xl flex gap-2">
                            <app-icon
                                name="matCalendarMonth"
                                class="text-primary"
                                size="sm"
                            ></app-icon>
                            Fecha de Inicio:
                        </span>
                        <p class="pl-5 mt-1">
                            <i class="pi pi-calendar text-primary"></i>
                            {{
                                cuestionario?.dtInicio
                                    | date: "EEEE, d 'de' MMMM 'de' yyyy"
                            }}
                            <i class="pi pi-clock text-primary"></i>
                            {{ cuestionario?.dtInicio | date: 'h:mm a' }}
                        </p>

                        <!-- Mostrar fecha y hora de fin -->
                        <span class="font-bold text-xl flex gap-2 mt-4">
                            <app-icon
                                name="matCalendarMonth"
                                class="text-primary"
                                size="sm"
                            ></app-icon>
                            Fecha Fin:
                        </span>
                        <p class="pl-5 mt-1">
                            <i class="pi pi-calendar text-primary"></i>
                            {{
                                cuestionario?.dtFin
                                    | date: "EEEE, d 'de' MMMM 'de' yyyy"
                            }}
                            <i class="pi pi-clock text-primary"></i>
                            {{ cuestionario?.dtFin | date: 'h:mm a' }}
                        </p>
                        @if (cuestionario?.iEstado === 0) {
                            <span
                                class="mt-2 ml-1 font-bold text-3xl text-orange-500"
                                >BORRADOR</span
                            >
                        }
                        @if (cuestionario?.iEstado === '1') {
                            <span
                                class="mt-2 ml-1 font-bold text-3xl text-green-500"
                                >PUBLICADO</span
                            >
                        }
                    </div>

                    <div class="col-12 md:col-4">
                        <h3 class="text-lg m-0">Instrucciones:</h3>
                        <div
                            class="bg-blue-100 p-3 border-round text-center text-justify"
                        >
                            <!-- <p-editor
                                appEditorOnlyView
                                class="quill-only-view"
                                [(ngModel)]="cEvaluacionInstrucciones"
                            >
                            
                            </p-editor> -->
                            {{ cuestionario?.cDescripcion | removeHTML }}
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header" class="header-fixed">
                <div class="flex align-items-center flex-column gap-2">
                    <app-icon name="matListAlt"></app-icon>
                    <span class="font-bold white-space-nowrap m-0">
                        Preguntas
                    </span>
                </div>
            </ng-template>
            <app-toolbar-primeng [title]="'Título: ' + cuestionario?.cTitulo">
            </app-toolbar-primeng>
            <!-- Componente cuestionario-preguntas -->
            <app-cuestionario-preguntas
                *ngIf="cuestionario"
                [datosGenerales]="cuestionario"
            ></app-cuestionario-preguntas>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header" class="header-fixed">
                <div class="flex align-items-center flex-column gap-2">
                    <app-icon name="matPeople"></app-icon>
                    <span class="font-bold white-space-nowrap m-0">
                        Actividad de los alumnos
                    </span>
                </div>
            </ng-template>
            <app-toolbar-primeng [title]="'Actividad de los alumnos: '">
            </app-toolbar-primeng>
        </p-tabPanel>
    </p-tabView>
</section>
