:host {
    display: block;
}

.niveles {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        white-space: nowrap;
        overflow-x: auto;
    }
}

:host ::ng-deep .p-accordion-content {
    background: var(--surface-c);
}
