:host {
    display: block;
}

:host ::ng-deep .buttonmit .p-ripple {
    text-decoration: none;
    border: none;
}
:host ::ng-deep .buttonmit::before .p-ripple {
    content: '';
    position: absolute;
    height: 180px;
    width: 180px;
    background-image: conic-gradiente(red 20deg, transparent 120deg);
}
.flex-conteiner {
    display: flex;
    // grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}
.flex-conteiner > div {
    flex: 1;
    margin: 0 10px;
}

//p-element p-inputgroup-addon
:host ::ng-deep .p-element {
    border-radius: 5px;
    //margin: 1px;
}
::ng-deep .p-dialog-header {
    background-color: #0e4194;
    color: white; /* Cambia el color del texto si necesitas mejor contraste */
    padding: 20px; /* Opcional: añade un poco de espacio alrededor del contenido */
    border-radius: 5px; /* Opc*/
}
