:host {
    display: block;
}

:host ::ng-deep .buttonmit .p-ripple {
    text-decoration: none;
    border: none;
}
:host ::ng-deep .buttonmit::before .p-ripple {
    content: '';
    position: absolute;
    height: 180px;
    width: 180px;
    background-image: conic-gradiente(red 20deg, transparent 120deg);
}
