<p-inputGroup styleClass="vertical-group">
    <p-inputGroupAddon>
        <a
            *ngIf="infoAdicional"
            role="button"
            class="p-button p-button-secondary mr-2"
            (click)="panel.toggle($event)"
            (keypress)="panel.toggle($event)"
            tabindex="0"
        >
            <i class="pi pi-question-circle"></i>
        </a>
        <p-overlayPanel #panel [showCloseIcon]="true" appendTo="body">
            <div class="flex w-15rem">
                <ng-template [ngTemplateOutlet]="infoAdicional"></ng-template>
            </div>
        </p-overlayPanel>
        <span>{{ addonLabel }}</span>
    </p-inputGroupAddon>
    <!-- <div class="text-panel">
        <div class="flex gap-2">
            <div
                class="flex-1 flex align-items-center justify-content-end"
            >
                <strong><span class="hidden md:inline">MUY EN DESACUERDO / </span>NUNCA</strong>
            </div>
            <div class="flex-1 flex align-items-center justify-content-center">
                @if (ratingControl) {
                    <p-rating
                        [formControl]="ratingControl"
                        [stars]="5"
                        [cancel]="false"
                    />
                } @else {
                    <p-rating [stars]="5" [cancel]="false" />
                }
            </div>
            <div
                class="flex-1 flex align-items-center justify-content-start"
            >
                <strong><span class="hidden md:inline">MUY DE ACUERDO / </span>SIEMPRE</strong>
            </div>
        </div>
    </div> -->
    <div class="text-panel">
        <div
            *ngFor="let alternativa of alternativas"
            class="field-checkbox mt-3 px-3"
        >
            <p-radioButton
                [inputId]="'pregunta-' + iEncuPregId + '-' + alternativa.value"
                [value]="alternativa.value"
                [name]="'pregunta-' + iEncuPregId"
                [formControl]="ratingControl"
            />
            <label [for]="alternativa.value" class="ml-2">
                {{ alternativa.label }}
            </label>
        </div>
    </div>
</p-inputGroup>
