<section>
    <div class="grid">
        <div class="col-5 card m-1">
            <app-toolbar-primeng
                title="Listado de Capacitación Activas"
            ></app-toolbar-primeng>
            <section>
                <p-dataView #dv [value]="cursos" [rows]="5" filterBy="">
                    <ng-template let-products pTemplate="listItem">
                        <app-table-primeng
                            [columnas]="columnasTabla"
                            [data]="cursos"
                            [showCaption]="false"
                            (accionBtnItem)="accionBnt($event)"
                            [actions]="accionesTabla"
                        >
                            <!--(accionBtnItem)="accionBnt($event)" -->
                        </app-table-primeng>
                    </ng-template>
                </p-dataView>
            </section>
        </div>
        <div class="col card">
            <app-toolbar-primeng
                [title]="
                    modoFormulario === 'editar'
                        ? 'Actualizar Capacitación'
                        : 'Aperturar Nueva Capacitación'
                "
            ></app-toolbar-primeng>
            <form
                [formGroup]="formNuevaCapacitacion"
                class="flex flex-column gap-3 w-full"
            >
                <section>
                    <div class="col-8">
                        <p-inputGroup>
                            <p-inputGroupAddon
                                >Tipo de Capacitación:</p-inputGroupAddon
                            >
                            <p-dropdown
                                [options]="tipoCapacitacion"
                                styleClass="w-full"
                                formControlName="iTipoCapId"
                                placeholder="Seleccione el tipo"
                                optionValue="iTipoCapId"
                                optionLabel="cTipoCapNombre"
                            ></p-dropdown>
                        </p-inputGroup>
                    </div>
                    <div class="col">
                        <p-inputGroup>
                            <p-inputGroupAddon>Título: </p-inputGroupAddon>

                            <input
                                type="text"
                                pInputText
                                placeholder="Ingresar nombre...."
                                formControlName="cCapTitulo"
                                [ngClass]="{
                                    'p-invalid':
                                        formNuevaCapacitacion.get('titulo')
                                            ?.invalid &&
                                        formNuevaCapacitacion.get('titulo')
                                            ?.touched,
                                }"
                            />
                        </p-inputGroup>
                        <!-- Mensaje de error -->
                        <small
                            class="p-error"
                            *ngIf="
                                formNuevaCapacitacion.get('titulo')?.invalid &&
                                formNuevaCapacitacion.get('titulo')?.touched
                            "
                        >
                            El título es obligatorio.
                        </small>
                    </div>

                    <!-- select p-dropdown -->
                    <div class="col">
                        <div class="grid">
                            <div class="col-6">
                                <p-inputGroup>
                                    <p-inputGroupAddon
                                        >Nivel Pedagógico:</p-inputGroupAddon
                                    >
                                    <p-dropdown
                                        [options]="nivelPedagogico"
                                        styleClass="w-full"
                                        formControlName="iNivelPedId"
                                        optionValue="iNivelPedId"
                                        optionLabel="cNivelPedNombre"
                                        placeholder="Seleccione Nivel"
                                    ></p-dropdown>
                                    <!-- id="modalidad" [options]="modalidades" -->
                                </p-inputGroup>
                            </div>
                            <div class="col-6">
                                <p-inputGroup>
                                    <p-inputGroupAddon
                                        >Dirigido para:</p-inputGroupAddon
                                    >
                                    <p-dropdown
                                        [options]="publicoObjetivo"
                                        styleClass="w-full"
                                        formControlName="iTipoPubId"
                                        placeholder="Seleccione Publico"
                                        optionValue="iTipoPubId"
                                        optionLabel="cTipoPubNombre"
                                    ></p-dropdown>
                                    <!-- id="modalidad" [options]="modalidades" -->
                                </p-inputGroup>
                            </div>
                        </div>
                    </div>

                    <!-- Descripción adicional -->
                    <div class="col">
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="descripcion" class="mt-1"
                                    >Descripción
                                    <span class="text-red-500 text-xs"
                                        >(*) Obligatorio</span
                                    ></label
                                >
                                <div class="mt-2">
                                    <textarea
                                        class="w-full"
                                        rows="4"
                                        placeholder="Escribe una Descripción"
                                        pInputText
                                        formControlName="cCapDescripcion"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- agregar horas -->
                    <div class="col">
                        <div class="grid">
                            <div class="col-3">
                                <p-inputGroup>
                                    <p-inputGroupAddon
                                        >Horas:
                                    </p-inputGroupAddon>
                                    <input
                                        type="number"
                                        pInputText
                                        min="1"
                                        placeholder="0"
                                        formControlName="iTotalHrs"
                                        [ngClass]="{
                                            'p-invalid':
                                                formNuevaCapacitacion.get(
                                                    'hora'
                                                )?.invalid &&
                                                formNuevaCapacitacion.get(
                                                    'hora'
                                                )?.touched,
                                        }"
                                    />
                                </p-inputGroup>
                                <!-- Mensaje de error -->
                                <small
                                    class="p-error"
                                    *ngIf="
                                        formNuevaCapacitacion.get('hora')
                                            ?.invalid &&
                                        formNuevaCapacitacion.get('hora')
                                            ?.touched
                                    "
                                >
                                    El título es obligatorio.
                                </small>
                            </div>
                            <div class="col-5">
                                <p-inputGroup>
                                    <p-inputGroupAddon
                                        >Fecha Inicio:</p-inputGroupAddon
                                    >
                                    <p-calendar
                                        id="fechaFin"
                                        formControlName="dFechaInicio"
                                        styleClass="w-full"
                                        dateFormat="dd/mm/yy"
                                        [iconDisplay]="'input'"
                                        [showIcon]="true"
                                        inputId="icondisplay"
                                    ></p-calendar>
                                </p-inputGroup>
                            </div>
                            <div class="col-4">
                                <p-inputGroup>
                                    <p-inputGroupAddon
                                        >Fecha Fin:</p-inputGroupAddon
                                    >
                                    <p-calendar
                                        id="fechaFin"
                                        formControlName="dFechaFin"
                                        styleClass="w-full"
                                        dateFormat="dd/mm/yy"
                                        [iconDisplay]="'input'"
                                        [showIcon]="true"
                                        inputId="icondisplay"
                                    ></p-calendar>
                                </p-inputGroup>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid">
                            <div class="col-7">
                                <p-inputGroup>
                                    <p-inputGroupAddon
                                        >Instructor:
                                    </p-inputGroupAddon>
                                    <input
                                        type="text"
                                        pInputText
                                        placeholder="Nombre del Instructor"
                                        formControlName="iDocenteId"
                                    />
                                </p-inputGroup>
                            </div>
                            <div class="col">
                                <div
                                    class="flex align-items-center justify-content-between"
                                >
                                    <label for="" class="pr-3"
                                        >¿Tiene Costo?</label
                                    >
                                    <p-inputSwitch
                                        formControlName="iCosto"
                                        class="pr-3"
                                    />
                                    <!-- Input visible solo si iPago está activado -->
                                    <input
                                        *ngIf="
                                            formNuevaCapacitacion.get('iCosto')
                                                ?.value
                                        "
                                        type="text"
                                        formControlName="nCosto"
                                        placeholder="S/."
                                        class="p-inputtext p-component w-10rem"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Agregar los bottones -->
                    <div class="col">
                        <div class="flex justify-content-between">
                            <div class="text-left">
                                <p-button
                                    icon="pi pi-hammer"
                                    label="Limpiar"
                                    severity="danger"
                                    class="pr-2"
                                    (click)="limpiarFormulario()"
                                />
                            </div>
                            <div class="text-right">
                                <p-button
                                    icon="pi pi-eye"
                                    label="Visualizar"
                                    severity="contrast"
                                    class="pr-2"
                                />
                                <p-button
                                    icon="pi pi-check-circle"
                                    [label]="
                                        modoFormulario === 'editar'
                                            ? 'Actualizar'
                                            : 'Guardar'
                                    "
                                    severity="success"
                                    (click)="crearCurso()"
                                />
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</section>
