:host ::ng-deep .p-card-title {
    background-color: red;
}
@media (max-width: 868px) {
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8 {
        width: 100%;
        // padding: 2px;
    }
}
:host ::ng-deep p-inputGroupAddon {
    background-color: var(--bg-header-modal) !important;
    color: var(--primary-color-text) !important;
    i {
        color: var(--primary-color-text) !important;
    }
}

.btnimag {
    background-color: var(--bg-header-modal) !important;
    color: var(--primary-color-text) !important;
    i {
        color: var(--primary-color-text) !important;
    }
}
.btntag {
    position: absolute;
    top: -15px;
    left: 0; //Alinear exactamente desde el borde izquierdo
    background-color: #a51c23;
    padding: 5px 10px; /* Aumentar padding lateral para aire */
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    color: white;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    width: fit-content; /* Para que no ocupe más de lo necesario */
}
.btnh {
    position: absolute;
    top: -15px;
    left: 0; //Alinear exactamente desde el borde izquierdo
    background-color: #fa8f45;
    padding: 5px 10px; /* Aumentar padding lateral para aire */
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    color: white;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    width: fit-content; /* Para que no ocupe más de lo necesario */
}
ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

input[type='checkbox'][id^='myCheckbox'] {
    display: none;
}

label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

label:before {
    background-color: white;
    color: white;
    content: ' ';
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked + label {
    border-color: #ddd;
}

:checked + label:before {
    content: '✓';
    background-color: grey;
    transform: scale(1);
}

:checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}
