// -------------------------------------
:host ::ng-deep .custom-header-panel .p-panel-header {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #3b82f6;
    // 8F8A8A
}
:host ::ng-deep .p-card {
    margin-bottom: 25px; //separar los cards
}
:host ::ng-deep .p-card-content {
    margin: 0px;
    padding: 0 !important;
}

.tag {
    // position: absolute;
    // background-color: #FA8F45;
    // color: white;
    // padding: 5px 7px;
    // border-radius: 5px;
    // top: -1px;
    // left: 50%;
    // z-index: 10;
    position: absolute;
    top: -20px; /* Para que sobresalga del card */
    left: 15%;
    transform: translateX(-50%);
    background-color: #fa8f45; /* Asegura que tenga un fondo */
    padding: 5px 7px;
    border-radius: 5px;
    // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    z-index: 10;
}
