<div class="flex flex-column gap-4">
    <article class="card flex flex-column gap-2">
        <h2 class="mb-0 text-2xl">Sección de Anuncios:</h2>
        <p>Anuncia algo algo aqui:</p>

        <div class="container">
            <h1>Datos del Docente</h1>
            <div class="column">
                <p><strong>Código Área:</strong> cief7qu</p>
                <p><strong># Estudiantes:</strong> 30</p>
                <p><strong>Docente:</strong> Carlos Jose</p>
                <p><strong>Tutor:</strong> Jose María</p>
                <p><strong>Grado:</strong> 4to</p>
                <p><strong>Sección:</strong> H</p>
                <p><strong>Ciclo:</strong> VI</p>
                <p><strong>Tiempo:</strong> 45:23:00</p>
            </div>
            <div class="column">
                <button>link</button>
            </div>
        </div>
    </article>
</div>
