<div class="container my-4">
    <div class="row">
        <!-- Columna izquierda (Sección de Anuncios) -->
        <div class="col-12">
            <article class="card p-3">
                <h2 class="mb-3 text-2xl">Sección de Anuncios:</h2>
                <p><strong>Anuncie aquí</strong> 30</p>
            </article>
        </div>

        <!-- Columna derecha (Datos del Docente) -->
        <div class="col-12 mt-4">
            <h1>Datos del Docente</h1>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Código Área:</strong> cief7qu</p>
                    <p><strong># Estudiantes:</strong> 30</p>
                    <p><strong>Docente:</strong> Carlos Jose</p>
                    <p><strong>Tutor:</strong> Jose María</p>
                    <p><strong>Grado:</strong> 4to</p>
                    <p><strong>Sección:</strong> H</p>
                    <p><strong>Ciclo:</strong> VI</p>
                    <p><strong>Tiempo:</strong> 45:23:00</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <p><strong>Código Área:</strong> cief7qu</p>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary">Primary</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
