<app-container-page
    [title]="'Evaluaciones'"
    [actions]="accionesPrincipal"
    (accionBtnItem)="accionBtnItem($event)"
    class="custom-container-page"
>
    <p-toast> </p-toast>
    <div class="card">
        <app-table-primeng
            [columnas]="columnas"
            [data]="data"
            (accionBtnItem)="accionBtnItemTable($event)"
            [(selectedRowData)]="selectedItems"
            [actions]="accionesTabla"
            [showPaginator]="true"
        >
            <!-- <ng-container slot="caption-content">
                <div
                    class="flex justify-content-end align-items-center"
                    style="width: 750px"
                >
                    <p-button
                        (onClick)="actualizarDatos(selectedItems)"
                        styleClass="custom-button p-button-md"
                        icon="pi pi-refresh"
                    ></p-button>
                </div>
            </ng-container> -->
            <!-- <ng-container slot="caption-content"> </ng-container> -->
        </app-table-primeng>
    </div>
</app-container-page>

<p-dialog
    header="{{ caption }}"
    [(visible)]="visible"
    [style]="{ width: '56rem' }"
    [modal]="true"
>
    @if (
        opcion === 'formularioEvaluacion' ||
        formCapas === 'formularioEvaluacion' ||
        opcion === 'manual' ||
        opcion === 'auto' ||
        opcion === 'seleccionar'
    ) {
        <div class="grid p-fluid mt-2 card-container">
            <div class="field col-12 md:col-6">
                <p-card header="" class="custom-card">
                    <div class="card-content">
                        <!-- (click)="accionbtn('manual')" -->
                        <p-button
                            (onClick)="
                                accionBtnItem({
                                    accion: 'formularioEvaluacion',
                                })
                            "
                            (focus)="(true)"
                            styleClass="p-button-primary  "
                        >
                            <div
                                style="
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                "
                            >
                                <i
                                    class="pi pi-file"
                                    style="font-size: 4.5rem"
                                ></i>
                                <span
                                    style="font-size: 1.5rem; padding-top: 10px"
                                    >Nueva Evaluación</span
                                >
                            </div>
                        </p-button>
                    </div>
                    <!-- <footer class="card-footer">Configuración manual</footer> -->
                </p-card>
            </div>

            <!-- AUTO -->
            <div class="field col-12 md:col-6">
                <p-card header="" class="custom-card">
                    <div class="card-content">
                        <p-button
                            (click)="accionbtn('auto'); toggleBotonc()"
                            (focus)="(true)"
                            styleClass="p-button-warning"
                        >
                            <div
                                style="
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                "
                            >
                                <i
                                    class="pi pi-refresh"
                                    style="font-size: 4.5rem"
                                >
                                </i>
                                <span
                                    class="pl-2"
                                    style="font-size: 1.5rem; padding-top: 10px"
                                    >Recuperar Evaluaciones</span
                                >
                            </div>
                        </p-button>
                    </div>
                    <!-- <footer class="card-footer">Generación automática</footer> -->
                </p-card>
            </div>
        </div>
        <!-- navigator -->
        @if (acciones === 'manual') {
            <div class="field col-12 md:col-12">
                <!--generacion manual -->
                <p style="color: red"><strong>!IMPORTANTE</strong></p>
                <p>
                    Al seleccionar esta opcion deberá completar información
                    relacionada a las
                    <strong>Evaluaciones</strong>
                </p>
                <p-button
                    label="Siguiente"
                    (onClick)="
                        accionBtnItem({ accion: 'formularioEvaluacion' })
                    "
                    styleClass="p-button-primary"
                />
            </div>
        }
        @if (acciones === 'auto') {
            <div class="field col-12 md:col-12">
                <p-scrollPanel [style]="{ width: '100%', height: '300px' }"
                    ><app-table-primeng
                        [showCaption]="false"
                        [showPaginator]="false"
                        [columnas]="columnasAuto"
                        [data]="data"
                        [(selectedRowData)]="selectedItemsAuto"
                        (selectedRowDataChange)="onRowSelect($event)"
                        [showPaginator]="true"
                    >
                        <!-- <ng-container slot="caption-content"> </ng-container> -->
                    </app-table-primeng></p-scrollPanel
                >
                <div class="flex justify-content-between"></div>
            </div>
        }
    }
    <ng-template pTemplate="footer">
        <p-button
            *ngIf="mostrarBoton"
            label="Recuperar"
            (onClick)="accionBtnItem({ accion: 'copiarEvaluacion' })"
            [disabled]="selectedRow.length === 0"
            styleClass="p-button-warning mt-3"
        />
    </ng-template>
</p-dialog>

<p-dialog
    #dialogBancoPreguntas
    header="Agregar fechas de Publicación ERE"
    [modal]="true"
    [(visible)]="showModalCursosEre"
    [position]="'top'"
    [maximizable]="true"
    [style]="{ width: '80%' }"
>
    @defer (when showModalCursosEre) {
        <div>Agregar fechas de Publicación Areas Curriculares</div>

        <div class="container" [formGroup]="form">
            <!-- "form" -->
            <!-- Card por cada nivel -->
            <div class="card mt-3" *ngFor="let nivel of listaCursos">
                <div class="card-header">
                    <h3 class="card-title">{{ nivel.cNivelTipoNombre }}</h3>
                </div>
                <div class="card-body">
                    <!-- Recorrer grados -->
                    <div *ngFor="let grado of nivel.grados">
                        <!-- <h4>{{ grado.grado }}</h4> -->
                        <ul class="list-unstyled m-0 p-0">
                            <!-- Recorrer cursos -->
                            <li
                                *ngFor="let curso of grado.cursos"
                                class="list-none"
                            >
                                <!-- Contenedor horizontal: Nombre del curso + calendarios -->
                                <div class="grid">
                                    <div
                                        class="flex align-content-center col-3"
                                    >
                                        <span
                                            class="curso-nombre"
                                            style="font-weight: bold"
                                        >
                                            {{ curso.cCursoNombre }}
                                        </span>

                                        <span> &nbsp; - &nbsp; </span>

                                        <!-- Grado del curso -->
                                        <span
                                            class="curso-grado"
                                            style="font-weight: normal"
                                        >
                                            {{
                                                grado.grado ??
                                                    grado.cGradoAbreviacion
                                            }}
                                            Grado
                                        </span>
                                    </div>

                                    <!-- Columna derecha: Calendarios de inicio y fin -->
                                    <div class="grid col-9">
                                        <!-- Calendario de inicio -->

                                        <div class="col-6">
                                            <p-inputGroup>
                                                <p-inputGroupAddon
                                                    >Fecha - Hora
                                                    Inicio</p-inputGroupAddon
                                                >
                                                <p-calendar
                                                    formControlName="{{
                                                        curso.cCursoNombre +
                                                            curso.iCursoNivelGradId
                                                    }}[{{
                                                        curso.iExamCurId
                                                    }}]Inicio"
                                                    [showTime]="true"
                                                    [hourFormat]="'24'"
                                                    [timeOnly]="false"
                                                    [showIcon]="true"
                                                    placeholder="Inicio"
                                                    inputId="fechaHoraInicio-{{
                                                        curso.cCursoNombre
                                                    }}"
                                                    [appendTo]="'body'"
                                                    styleClass="w-full"
                                                    class="calendar"
                                                ></p-calendar>
                                            </p-inputGroup>
                                        </div>

                                        <div class="col-6">
                                            <p-inputGroup>
                                                <p-inputGroupAddon
                                                    >Fecha - Hora
                                                    Fin</p-inputGroupAddon
                                                >
                                                <p-calendar
                                                    formControlName="{{
                                                        curso.cCursoNombre +
                                                            curso.iCursoNivelGradId
                                                    }}[{{
                                                        curso.iExamCurId
                                                    }}]Fin"
                                                    [showTime]="true"
                                                    [hourFormat]="'24'"
                                                    [timeOnly]="false"
                                                    [showIcon]="true"
                                                    placeholder="Fin"
                                                    inputId="fechaHoraFin-{{
                                                        curso.cCursoNombre
                                                    }}"
                                                    [appendTo]="'body'"
                                                    styleClass="w-full"
                                                ></p-calendar>
                                            </p-inputGroup>
                                        </div>
                                    </div>
                                </div>

                                <!-- Línea separadora para cada curso -->
                                <hr class="mt-3 mb-0" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #noData>
            <p>No hay cursos disponibles para mostrar.</p>
        </ng-template>
    }
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end gap-2 pt-3">
            <button
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button-secondary"
                type="button"
                size="small"
                (click)="ngOnDestroy()"
                (click)="showModalCursosEre = false"
                (click)="form.reset()"
                (click)="removeControls()"
            ></button>

            <button
                pButton
                pRipple
                label="Guardar"
                icon="pi pi-times"
                class="p-button-secondary"
                type="button"
                size="small"
                (click)="guardarInicioFinalExmAreas()"
            ></button>
        </div>
    </ng-template>
</p-dialog>
