.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

ul.list-unstyled li {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

span {
    font-weight: bold;
    font-size: 16px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}
.curso-nombre {
    font-weight: bold;
    font-size: 16px;
    flex: 1; /* El nombre del curso ocupa todo el espacio disponible */
}

p-calendar {
    min-width: 200px; /* Asegura que los calendarios tengan un ancho consistente */
}
