<app-modal-primeng
  *ngIf="showModal"
  [title]="accion === 'editar' ? 'EDITAR ' + cTituloModal : cTituloModal + ' ' + ' Nº ' + idSesion"
  [showModal]="showModal"
  (accionBtnItem)="this.accionCloseForm.emit($event)"
  width="55rem"
>
  <form [formGroup]="formSesiones" class="grid mt-4">
    <div class="col-12">
      <p-inputGroup>
        <p-inputGroupAddon>Nombre</p-inputGroupAddon>
        <input
          pInputText
          class="flex-auto w-full"
          placeholder="Ingrese el nombre de la sesión"
          formControlName="cContenidoSemTitulo"
        />
      </p-inputGroup>
    </div>
    @if (!bCapacitacion) {
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Periodo</p-inputGroupAddon>
          <p-dropdown
            styleClass="w-full"
            placeholder="Seleccione un Periodo"
            appendTo="body"
            [options]="periodos"
            formControlName="iPeriodoEvalAperId"
            optionValue="iPeriodoEvalAperId"
            optionLabel="cNombrePeriodo"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Tipo de E.A.</p-inputGroupAddon>
          <p-dropdown
            styleClass="w-full"
            placeholder="Seleccione un tipo"
            appendTo="body"
            [options]="tipoExperiencia"
            formControlName="iTipExp"
            optionValue="iTipExp"
            optionLabel="cNombre"
          />
        </p-inputGroup>
      </div>
      <div class="col-12">
        <div class="mt-4 flex justify-content-between flex-wrap">
          <div>
            <label for="" style="color: var(--bg-header-modal)" class="font-bold"
              >Adjuntar Sesión de Aprendizaje</label
            >
          </div>
          <!-- {{ documentos }} -->
          <div *ngIf="documentos || rutaRelativa">
            <p-button
              icon="pi pi-eye"
              [rounded]="true"
              [text]="true"
              severity="secondary"
              (click)="verPdf()"
              pTooltip="Ver pdf"
            />
            <!-- Mostrar el embed solo cuando hay URL -->
            <!-- <div *ngIf="pdfURL" class="pdf-container">
            <embed [src]="pdfURL" type="application/pdf"/>
          </div> -->
          </div>
        </div>
        <app-subir-archivo
          [carpeta]="'sesion-aprendizaje'"
          (obtenerArchivo)="obtenerArchivo($event)"
        ></app-subir-archivo>
      </div>
    }
  </form>
  <div footer class="flex justify-content-end gap-2">
    <p-button label="Cancelar" severity="secondary" (onClick)="this.accionCloseForm.emit()" />
    <p-button
      [label]="accion === 'editar' ? 'Actualizar' : 'Guardar'"
      (onClick)="accion === 'editar' ? actualizarDatosdeSesion() : guardarDatosdeSesion()"
      [loading]="isLoading"
      [disabled]="isLoading"
    />
  </div>
</app-modal-primeng>

<!--  -->
<app-modal-primeng
  [title]="'Vista previa del documento'"
  [showModal]="showPdf"
  (accionBtnItem)="cerrarModal()"
  width="55rem"
>
  <div *ngIf="pdfURL" class="pdf-container">
    <embed [src]="pdfURL" type="application/pdf" width="100%" height="600px" />
  </div>
</app-modal-primeng>
