<p-tabView [(activeIndex)]="activeTab">
  <p-tabPanel header="Capacidades asignadas" *ngIf="activeTab === 0" [disabled]="true">
    <div class="flex justify-content-start gap-3 my-3">
      <p-button
        label="Agregar"
        icon="pi pi-plus"
        severity="success"
        (click)="accionBtnItem({ accion: 'agregar' })"
      />
    </div>
    @if (capacidades.length > 0) {
      <app-table-primeng
        class="w-full"
        [columnas]="columns"
        [data]="capacidades"
        [actions]="actions"
        (accionBtnItem)="accionBtnItem($event)"
      />
    } @else {
      <app-no-data [showIcon]="'NO-DATA'" mensaje="No se encontraron capacidades asignadas" />
    }
  </p-tabPanel>
  <p-tabPanel header="Detalle de Capacidad" *ngIf="activeTab === 1" [disabled]="true">
    <form [formGroup]="formCapacidades">
      <div class="grid p-fluid">
        <div class="col-12">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Estado (*)</p-inputGroupAddon>
            <p-dropdown
              [options]="estados_capacidades"
              formControlName="iEstado"
              [showClear]="true"
              appendTo="body"
              styleClass="group-element"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Nombre (*)</p-inputGroupAddon>
            <input
              pInputText
              id="cCapacidadNombre"
              class="group-element"
              formControlName="cCapacidadNombre"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Descripción</p-inputGroupAddon>
            <textarea
              pInputTextarea
              id="cCapacidadDescripcion"
              class="group-element"
              formControlName="cCapacidadDescripcion"
              rows="3"
              [style]="{ flex: '1', width: '100%', resize: 'none' }"
            ></textarea>
          </p-inputGroup>
        </div>
      </div>
    </form>
    <div class="flex justify-content-end gap-3">
      <p-button
        label="Ver todos"
        icon="pi pi-arrow-left"
        severity="secondary"
        (click)="cambiarTab(0)"
      />
      <p-button
        label="Guardar"
        *ngIf="!bUpdate"
        icon="pi pi-save"
        severity="success"
        (click)="accionBtnItem({ accion: 'guardar_capacidad', item: formCapacidades.value })"
        [disabled]="formCapacidades.invalid"
      />
      <p-button
        label="Actualizar"
        *ngIf="bUpdate"
        icon="pi pi-save"
        severity="warning"
        [disabled]="formCapacidades.invalid"
        (click)="accionBtnItem({ accion: 'actualizar_capacidad', item: formCapacidades.value })"
      />
    </div>
  </p-tabPanel>
</p-tabView>
