<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <span class="text-2xl text-uppercase">Categorías de encuestas</span>
  </ng-template>
  <ng-template pTemplate="icons" class="flex justify-content-center" *ngIf="puede_crear">
    <p-button label="Nueva" icon="pi pi-plus" severity="success" (click)="agregarCategoria()" />
  </ng-template>

  <div class="grid">
    <div class="col-12">
      <p-inputGroup>
        <p-inputGroupAddon> Buscar </p-inputGroupAddon>
        <input #filtro type="text" pInputText (input)="filtrarTabla()" />
      </p-inputGroup>
    </div>
  </div>

  @if (!categorias || categorias.length === 0) {
    <app-no-data [showIcon]="'NO-DATA'" mensaje="No hay categorías disponibles" />
  } @else {
    <p-dataView [rows]="10" [paginator]="true" [value]="categorias">
      <ng-template pTemplate="list" let-categorias>
        <div class="categorias-grid">
          <div *ngFor="let categoria of categorias" class="categoria-item">
            <article class="card p-0 border-1 flex flex-column surface-border h-full post-module">
              <div class="image-container img-transition">
                <img
                  [alt]="categoria?.cCateNombre"
                  class="w-full h-full"
                  [src]="rutaImagenPlaceholder(categoria)"
                />
              </div>
              <div class="p-3 mb-auto">
                <h3 class="text-xl">
                  {{ categoria?.cCateNombre | uppercase }}
                </h3>
              </div>
              <footer class="p-3 pt-0 flex align-items-center justify-content-between">
                <a
                  [routerLink]="[
                    '/encuestas/categorias/' + categoria?.iCateId + '/gestion-encuestas',
                  ]"
                >
                  <span *ngIf="+categoria?.iCantBorradores > 0">
                    {{ +categoria?.iCantBorradores }}
                    {{ +categoria?.iCantBorradores === 1 ? 'borrador' : 'borradores' }}
                  </span>
                </a>
                <span *ngIf="+categoria?.iCantBorradores === 0"></span>
                <div class="flex gap-1">
                  <p-splitButton
                    severity="primary"
                    size="small"
                    [model]="categoria?.btnItems"
                    badge="100"
                    (onClick)="listarEncuestas(categoria?.iCateId)"
                  >
                    <ng-template pTemplate="content">
                      Responder
                      <p-badge
                        *ngIf="+categoria?.iCantSinResponder > 0"
                        [value]="categoria?.iCantSinResponder"
                        severity="danger"
                      />
                    </ng-template>
                  </p-splitButton>
                </div>
              </footer>
            </article>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  }
</p-panel>

<app-nueva-categoria
  [(visible)]="visibleDialogCategoria"
  (categoriaModificada)="listarCategorias()"
  [iCateId]="iCateId"
></app-nueva-categoria>

<p-toast></p-toast>
