<p-menu #menu [model]="items" [popup]="true" />
@if (data && data.iInstrumentoId) {
    <p-accordion
        class="w-full"
        collapseIcon="pi pi-chevron-down"
        expandIcon="pi pi-chevron-right"
    >
        <p-accordionTab>
            <ng-template pTemplate="header">
                <span class="flex align-items-center gap-2 w-full">
                    <div class="flex flex-column w-full">
                        <div class="flex">{{ data?.cInstrumentoNombre }}</div>
                    </div>
                    <div class="">
                        <button
                            [ngClass]="{
                                'border-none': true,
                                'cursor-pointer': true,
                            }"
                            class="p-1 mx-1 p-button-rounded p-button-primary p-button-text"
                            pButton
                            (click)="
                                $event.stopPropagation(); menu.toggle($event)
                            "
                        >
                            <i class="pi pi-ellipsis-h text-blue-500"></i>
                        </button>
                    </div>
                </span>
            </ng-template>
            <div class="flex gap-4 font-normal">
                <div class="flex gap-3 my-2 align-items-center">
                    <div class="flex align-items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill="currentColor"
                                d="M4 21V3h16v10H6v2h5v2H6v2h5v2zm11.4 0l-2.8-2.8l1.4-1.4l1.4 1.4l3.55-3.55l1.4 1.4zM6 11h5V9H6zm7 0h5V9h-5zM6 7h5V5H6zm7 0h5V5h-5z"
                            />
                        </svg>
                        <span (click)="clickNameRubrica.emit(data?.cInstrumentoNombre)" class="text-primary">{{
                            data?.cInstrumentoNombre
                        }}</span>
                    </div>
                    <span class="text-none"
                        >{{ data?.criterios.length }}
                        {{
                            data?.criterios.length === 1
                                ? 'criterio'
                                : 'criterios'
                        }}</span
                    >
                    <span class="text-none"
                        >{{ maxPuntaje(data?.criterios) }} puntos</span
                    >
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
}
