<div class="grid">
    <p-toolbar class="col-12">
        <div class="block">
            <h2 class="text-white font-bold block">Mi portafolio</h2>
            <div class="text-white font-bold block"></div>
        </div>
        <div class="p-toolbar-group-end">
            <!-- <p-button icon="pi pi-undo" [rounded]="true" pTooltip="Regresar" tooltipPosition="top" ]="['../..']" /> -->
        </div>
    </p-toolbar>
</div>
<div class="card">
    <div class="grid">
        <div class="col-12">
            <h4 class="text-primary">
                <i class="pi pi-list"></i>&nbsp;Itinerario
            </h4>
        </div>
        <div class="col-12">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-link" style="color: #333437"></i>
                </p-inputGroupAddon>
                <input
                    type="text"
                    pInputText
                    [placeholder]="
                        cPortafolioItinerario.length
                            ? cPortafolioItinerario[0]['name']
                            : 'Nombre del Itinerario'
                    "
                    disabled
                    class="w-full p-inputtext-sm opacity-100"
                    pInputText
                />
                <button
                    pButton
                    pRipple
                    type="button"
                    severity="primary"
                    class="p-button-primary btn-file-image"
                >
                    <i class="pi pi-upload"></i
                    ><input
                        type="file"
                        (change)="onUploadChange($event, 'itinerario', null)"
                        accept=".pdf "
                    />
                </button>
                <button
                    type="button"
                    (click)="
                        openLink(
                            cPortafolioItinerario.length
                                ? cPortafolioItinerario[0]['ruta']
                                : null
                        )
                    "
                    [disabled]="!cPortafolioItinerario"
                    pButton
                    icon="pi pi-eye"
                    class="p-button-info"
                >
                    &nbsp;
                </button>
            </p-inputGroup>
        </div>
        <div class="col-12">
            <h4 class="text-primary">
                <i class="pi pi-book"></i>&nbsp;Reglamento Interno
            </h4>
        </div>
        <div class="col-12">
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-link" style="color: #333437"></i>
                </p-inputGroupAddon>
                <input
                    type="text"
                    pInputText
                    [placeholder]="
                        reglamento.length
                            ? reglamento[0]['name']
                            : 'Nombre de la resolución'
                    "
                    disabled
                    class="w-full p-inputtext-sm opacity-100"
                    pInputText
                />
                <button
                    type="button"
                    pButton
                    icon="pi pi-eye"
                    class="p-button-info"
                    (click)="
                        openLink(
                            reglamento.length ? reglamento[0]['path'] : null
                        )
                    "
                >
                    &nbsp;
                </button>
            </p-inputGroup>
        </div>
        @for (item of cursos; track item) {
            <p-panel class="col-12" [toggleable]="true" [collapsed]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span class="text-primary font-bold">
                            {{ item.cCursoNombre }}
                        </span>
                    </div>
                </ng-template>

                <div class="grid m-0">
                    <div class="col-12">
                        @for (ficha of item.cCuadernoUrl; track ficha.id) {
                            @if (ficha.typePortafolio === 1) {
                                <p-inputGroup>
                                    <p-inputGroupAddon>
                                        <i
                                            class="pi pi-link"
                                            style="color: #333437"
                                        ></i>
                                    </p-inputGroupAddon>
                                    <input
                                        type="text"
                                        pInputText
                                        [placeholder]="
                                            ficha.name
                                                ? ficha.name
                                                : 'Fichas de Actividades de Aprendizaje'
                                        "
                                        disabled
                                        class="w-full p-inputtext-sm opacity-100"
                                        pInputText
                                    />
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        severity="primary"
                                        class="p-button-primary btn-file-image"
                                    >
                                        <i class="pi pi-upload"></i
                                        ><input
                                            type="file"
                                            (change)="
                                                onUploadChange(
                                                    $event,
                                                    'fichas-aprendizaje',
                                                    item
                                                )
                                            "
                                            accept=".pdf "
                                        />
                                    </button>
                                    <button
                                        type="button"
                                        (click)="openLink(ficha.ruta)"
                                        pButton
                                        icon="pi pi-eye"
                                        class="p-button-info"
                                    >
                                        &nbsp;
                                    </button>
                                </p-inputGroup>
                            }
                        }
                        @if (!item.cCuadernoUrl) {
                            <p-inputGroup>
                                <p-inputGroupAddon>
                                    <i
                                        class="pi pi-link"
                                        style="color: #333437"
                                    ></i>
                                </p-inputGroupAddon>
                                <input
                                    type="text"
                                    pInputText
                                    placeholder="Fichas de Actividades de Aprendizaje"
                                    disabled
                                    class="w-full p-inputtext-sm opacity-100"
                                    pInputText
                                />
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    severity="primary"
                                    class="p-button-primary btn-file-image"
                                >
                                    <i class="pi pi-upload"></i
                                    ><input
                                        type="file"
                                        (change)="
                                            onUploadChange(
                                                $event,
                                                'fichas-aprendizaje',
                                                item
                                            )
                                        "
                                        accept=".pdf "
                                    />
                                </button>
                                <button
                                    type="button"
                                    [disabled]="true"
                                    pButton
                                    icon="pi pi-eye"
                                    class="p-button-info"
                                >
                                    &nbsp;
                                </button>
                            </p-inputGroup>
                        }
                    </div>
                    <div class="col-12">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i
                                    class="pi pi-link"
                                    style="color: #333437"
                                ></i>
                            </p-inputGroupAddon>
                            <input
                                type="text"
                                pInputText
                                placeholder="Instrumentos de Evaluación"
                                disabled
                                class="w-full p-inputtext-sm opacity-100"
                                pInputText
                            />
                            <button
                                type="button"
                                pButton
                                icon="pi pi-eye"
                                class="p-button-info"
                                (click)="obtenerRubricasxiCursoId(item)"
                            >
                                &nbsp;
                            </button>
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i
                                    class="pi pi-link"
                                    style="color: #333437"
                                ></i>
                            </p-inputGroupAddon>
                            <input
                                type="text"
                                pInputText
                                placeholder="Registro de evaluación"
                                disabled
                                class="w-full p-inputtext-sm opacity-100"
                                pInputText
                            />
                            <button
                                type="button"
                                pButton
                                icon="pi pi-eye"
                                class="p-button-info"
                            >
                                &nbsp;
                            </button>
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i
                                    class="pi pi-link"
                                    style="color: #333437"
                                ></i>
                            </p-inputGroupAddon>
                            <input
                                type="text"
                                pInputText
                                placeholder="Cuaderno de Campo"
                                disabled
                                class="w-full p-inputtext-sm opacity-100"
                                pInputText
                            />
                            <button
                                pButton
                                pRipple
                                type="button"
                                severity="primary"
                                class="p-button-primary btn-file-image"
                            >
                                <i class="pi pi-upload"></i
                                ><input type="file" accept=".pdf " />
                            </button>
                            <button
                                type="button"
                                pButton
                                icon="pi pi-eye"
                                class="p-button-info"
                            >
                                &nbsp;
                            </button>
                        </p-inputGroup>
                    </div>
                </div>
            </p-panel>
        }
    </div>
</div>

<p-dialog
    [(visible)]="showModalRubricas"
    [style]="{ width: '80%' }"
    header="Lista de Instrumentos de Evaluación"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    (onHide)="showModalRubricas = false"
>
    <div>
        <app-table-primeng
            [data]="rubricasCurso"
            [columnas]="columnasTabla"
            [actions]="[]"
        ></app-table-primeng>
    </div>
</p-dialog>
