<form [formGroup]="tareaForm" class="flex flex-column gap-3">
    <div class="grid">
        <div class="col-8 flex flex-column gap-2">
            <app-common-input [controlKey]="'cTareaTitulo'" label="Título" />

            <div class="flex flex-column gap-2">
                <label for="indicaciones">Descripción</label>
                <p-editor
                    id="cTareaDescripcion"
                    formControlName="cTareaDescripcion"
                />
            </div>

            <div class="flex flex-column gap-2">
                <label for="indicaciones">Indicaciones</label>
                <p-editor
                    id="indicaciones"
                    formControlName="cTareaIndicaciones"
                />
            </div>
            <div class="card flex flex-column gap-4">
                <p>Adjuntar</p>

                <div>
                    <p>{{ linkToShow }}</p>
                </div>
                <div class="flex justify-content-between gap-2 flex-wrap">
                    <p-fileUpload
                        name="files[]"
                        mode="basic"
                        (onUpload)="onUpload($event)"
                        (onError)="onError($event)"
                        chooseLabel="Seleccionar Archivo"
                        uploadLabel="Subir"
                        cancelLabel="Cancelar"
                        class="fileUpload"
                        inputId="cTareaArchivoAdjunto"
                        formControlName="cTareaArchivoAdjunto"
                    ></p-fileUpload>
                    <button
                        icon="pi pi-link"
                        pButton
                        class="p-button-primary mx-auto"
                        (click)="openLinkDialog()"
                    >
                        Enlace
                    </button>
                </div>
            </div>
        </div>

        <p-dialog
            header="Agregar Enlace"
            [(visible)]="linkDialogVisible"
            modal="modal"
            [draggable]="false"
        >
            <div>
                <input
                    type="text"
                    placeholder="Ingrese el enlace"
                    [(ngModel)]="link"
                />
                <button class="p-button-primary mx-auto" (click)="addLink()">
                    Agregar
                </button>
            </div>
        </p-dialog>

        <div class="col-4">
            <div class="field grid">
                <div class="field flex flex-column col-12 md:col-12">
                    <button
                        pButton
                        class="pi pi-users"
                        (click)="mostrarModal()"
                    >
                        Toda la clase
                    </button>

                    <p-dialog
                        header="Asignar a"
                        [(visible)]="displayModal"
                        [modal]="true"
                        [closable]="false"
                        [draggable]="false"
                    >
                        <div>
                            <p-table [value]="estudiantes">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th></th>
                                        <th>Nombres</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-estudiante>
                                    <tr>
                                        <td>
                                            <p-checkbox
                                                [(ngModel)]="
                                                    estudiante.selected
                                                "
                                            ></p-checkbox>
                                        </td>
                                        <td>{{ estudiante.nombres }}</td>
                                        <td>
                                            {{ estudiante.apellidoPaterno }}
                                        </td>
                                        <td>
                                            {{ estudiante.apellidoMaterno }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <footer>
                            <div class="col text-left">
                                <button
                                    pButton
                                    label="Cerrar"
                                    class="p-button-label ql-color"
                                    icon="pi pi-times"
                                    (click)="cerrarModal()"
                                ></button>
                            </div>
                            <div class="col text-right">
                                <button
                                    pButton
                                    class="p-button-label ql-color"
                                    label="Guardar"
                                    icon="pi pi-save"
                                    (click)="guardarDatos()"
                                ></button>
                            </div>
                        </footer>
                    </p-dialog>
                </div>
            </div>
            <!-- fecha hora de Inicio -->
            <div class="formgrid grid">
                <div class="field flex flex-column col-12 md:col-6">
                    <label for="dFechaEvaluacionPublicacion"
                        >Fecha de Inicio</label
                    >
                    <p-calendar
                        formControlName="dFechaEvaluacionPublicacionInicio"
                        [iconDisplay]="'input'"
                        styleClass="w-full"
                        [showIcon]="true"
                        inputId="dFechaEvaluacionPublicacionInicio"
                        [appendTo]="'body'"
                    />
                </div>
                <div class="field flex flex-column col-12 md:col-6">
                    <label for="tHoraEvaluacionPublicacionInicio"
                        >Hora de Inicio</label
                    >
                    <p-calendar
                        [timeOnly]="true"
                        styleClass="w-full"
                        [showIcon]="true"
                        iconDisplay="input"
                        formControlName="tHoraEvaluacionPublicacionInicio"
                        inputId="tHoraEvaluacionPublicacionInicio"
                        [appendTo]="'body'"
                    >
                        <ng-template
                            pTemplate="inputicon"
                            let-clickCallBack="clickCallBack"
                        >
                            <i class="pi pi-clock pointer-events-none"></i>
                        </ng-template>
                    </p-calendar>
                </div>
            </div>
            <br />

            <!-- fecha y hora fin -->
            <div class="formgrid grid">
                <div class="field flex flex-column col-12 md:col-6">
                    <label for="dFechaEvaluacionPublicacionFin"
                        >Fecha de finalizacion</label
                    >
                    <p-calendar
                        formControlName="dFechaEvaluacionPublicacionFin"
                        [iconDisplay]="'input'"
                        styleClass="w-full"
                        [showIcon]="true"
                        inputId="dFechaEvaluacionPublicacionFin"
                        [appendTo]="'body'"
                    />
                </div>
                <div class="field flex flex-column col-12 md:col-6">
                    <label for="tHoraEvaluacionPublicacionFin"
                        >Hora finalizacion</label
                    >
                    <p-calendar
                        [timeOnly]="true"
                        styleClass="w-full"
                        [showIcon]="true"
                        iconDisplay="input"
                        formControlName="tHoraEvaluacionPublicacionFin"
                        inputId="tHoraEvaluacionPublicacionFin"
                        [appendTo]="'body'"
                    >
                        <ng-template
                            pTemplate="inputicon"
                            let-clickCallBack="clickCallBack"
                        >
                            <i class="pi pi-clock pointer-events-none"></i>
                        </ng-template>
                    </p-calendar>
                </div>
            </div>
            <br />
            <div class="formgrid grid">
                <!-- Columna para Nivel de logro -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="state">Nivel de logro</label>
                    <p-dropdown
                        [options]="niveldelogrosDropdownItems"
                        class="col-12"
                        optionLabel="name"
                        placeholder="Selecciona"
                    ></p-dropdown>
                </div>

                <!-- Columna para Puntaje -->
                <div class="field col-12 md:col-6">
                    <label htmlFor="state">Puntaje</label>
                    <p-dropdown
                        [options]="puntajeArray"
                        class="col-12"
                        optionLabel="name"
                        placeholder="Selecciona"
                    ></p-dropdown>
                </div>
            </div>

            <!-- Columna para instrumentos de evalaucion -->
            <div class="flex justify-content-between gap-2 flex-wrap">
                <p>Instrumento de Evaluación</p>
                <p-fileUpload
                    name="files[]"
                    mode="basic"
                    (onUpload)="onUpload($event)"
                    (onError)="onError($event)"
                    chooseLabel="Seleccionar Archivo"
                    uploadLabel="Subir"
                    cancelLabel="Cancelar"
                    class="fileUpload"
                >
            </p-fileUpload>
            </div>
        </div>
    </div>
</form>
