<form [formGroup]="tareaForm" class="flex flex-column gap-3">
    <div class="grid">
        <div class="col-8 flex flex-column gap-2">
            <app-common-input [controlKey]="'cTareaTitulo'" label="Título" />

            <div class="flex flex-column gap-2">
                <label for="indicaciones">Descripción</label>
                <p-editor
                    id="cTareaDescripcion"
                    formControlName="cTareaDescripcion"
                />
            </div>

            <div class="flex flex-column gap-2">
                <label for="indicaciones">Indicaciones</label>
                <p-editor
                    id="indicaciones"
                    formControlName="cTareaIndicaciones"
                />
            </div>
            <div class="card flex flex-column gap-4">
                <p>Adjuntar</p>

                <div>
                    <p>{{ linkToShow }}</p>
                </div>
                <div class="flex justify-content-between gap-2 flex-wrap">
                    <p-fileUpload
                        name="files[]"
                        mode="basic"
                        (onUpload)="onUpload($event)"
                        (onError)="onError($event)"
                        chooseLabel="Seleccionar Archivo"
                        uploadLabel="Subir"
                        cancelLabel="Cancelar"
                        class="fileUpload"
                    ></p-fileUpload>

                    <button
                        icon="pi pi-link"
                        pButton
                        class="p-button-primary mx-auto"
                        (click)="openLinkDialog()"
                    >
                        Enlace
                    </button>
                </div>
            </div>
        </div>

        <p-dialog
            header="Agregar Enlace"
            [(visible)]="linkDialogVisible"
            modal="modal"
            [draggable]="false"
        >
            <div>
                <input
                    type="text"
                    placeholder="Ingrese el enlace"
                    [(ngModel)]="link"
                />
                <button (click)="addLink()">Agregar</button>
            </div>
        </p-dialog>

        <div class="col-4">
            <!-- <div class="field grid">
                <label htmlFor="state" class="col-12 mb-2 md:col-12 md:mb-0"
                    >Para</label
                >
                <p-dropdown
                    [options]="dropdownItems"
                    class="col-12"
                    optionLabel="name"
                ></p-dropdown>
            </div>-->

            <!-- <div class="field grid">
                <label htmlFor="state" class="col-12 mb-2 md:col-12 md:mb-0"
                    >Asignar a Todos:</label
                >
                <div class="col-12 md:col-10">
                    <p-dropdown
                        [options]="dropdownItems"
                        optionLabel="name"
                        class="col-12"
                    ></p-dropdown>
                </div>
            </div> -->
            <!-- <div class="grid">
                <div class="field col-6">
                    <label htmlFor="state">Categoria</label>
                    <p-dropdown
                        [options]="dropdownItems"
                        optionLabel="name"
                    ></p-dropdown>
                </div>

                <div class="field col-6">
                    <app-common-input [controlKey]="'titulo'" label="Punto" />
                </div>
            </div> -->

            <div class="field grid">
                <div class="field flex flex-column col-12 md:col-12">
                    <button
                        pButton
                        class="pi pi-users"
                        (click)="mostrarModal()"
                    >
                        Toda la clase
                    </button>

                    <p-dialog
                        header="Asignar a"
                        [(visible)]="displayModal"
                        [modal]="true"
                        [closable]="false"
                        [draggable]="false"
                    >
                        <div>
                            <p-table [value]="estudiantes">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-estudiante>
                                    <tr>
                                        <td>
                                            <p-checkbox
                                                [(ngModel)]="
                                                    estudiante.selected
                                                "
                                            ></p-checkbox>
                                        </td>
                                        <td>{{ estudiante.nombre }}</td>
                                        <td>{{ estudiante.apellido }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <footer>
                            <br />
                            <button
                                pButton
                                class="bg-green-500 mr-4"
                                label="Aceptar"
                                icon="pi pi-times"
                                (click)="cerrarModal()"
                            ></button>
                            <button
                                pButton
                                label="Cerrar"
                                class="bg-gray-100 text-gray-900"
                                icon="pi pi-times"
                                (click)="cerrarModal()"
                            ></button>
                        </footer>
                    </p-dialog>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field flex flex-column col-12 md:col-6">
                    <label for="dFechaEvaluacionPublicacion"
                        >Fecha publicación</label
                    >
                    <p-calendar
                        formControlName="dFechaEvaluacionPublicacion"
                        [iconDisplay]="'input'"
                        styleClass="w-full"
                        [showIcon]="true"
                        inputId="dFechaEvaluacionPublicacion"
                        [appendTo]="'body'"
                    />
                </div>
                <div class="field flex flex-column col-12 md:col-6">
                    <label for="tHoraEvaluacionPublicacion"
                        >Hora publicación</label
                    >
                    <p-calendar
                        [timeOnly]="true"
                        styleClass="w-full"
                        [showIcon]="true"
                        iconDisplay="input"
                        formControlName="tHoraEvaluacionPublicacion"
                        inputId="tHoraEvaluacionPublicacion"
                        [appendTo]="'body'"
                    >
                        <ng-template
                            pTemplate="inputicon"
                            let-clickCallBack="clickCallBack"
                        >
                            <i class="pi pi-clock pointer-events-none"></i>
                        </ng-template>
                    </p-calendar>
                </div>
            </div>
            <br />

            <div class="field grid">
                <label htmlFor="state" class="col-12 mb-2 md:col-12 md:mb-0"
                    >Areas</label
                >
                <p-dropdown
                    [options]="puntajeArray"
                    class="col-12"
                    optionLabel="name"
                    placeholder="Selecciona"
                ></p-dropdown>
            </div>
            <div class="field grid">
                <label htmlFor="state" class="col-12 mb-2 md:col-12 md:mb-0"
                    >Puntaje</label
                >
                <p-dropdown
                    [options]="puntajeArray"
                    class="col-12"
                    optionLabel="name"
                    placeholder="Selecciona"
                ></p-dropdown>
            </div>

            <div class="flex justify-content-between gap-2 flex-wrap">
                <p>Instrumento de Evaluación</p>
                <p-fileUpload
                    name="files[]"
                    mode="basic"
                    (onUpload)="onUpload($event)"
                    (onError)="onError($event)"
                    chooseLabel="Seleccionar Archivo"
                    uploadLabel="Subir"
                    cancelLabel="Cancelar"
                    class="fileUpload"
                ></p-fileUpload>
            </div>
        </div>
    </div>
</form>
