:host {
    display: block;
}

// @import "~quill/dist/quill.core.css";
// @import "~quill/dist/quill.snow.css";
.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.container {
    max-width: 500px;
    min-height: 180px;
    background-color: #fafff6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
:host ::ng-deep .p-button.p-button-rounded {
    border-radius: 50% !important;
}

:host ::ng-deep .p-button.p-button-outlined {
    background-color: transparent !important;
    color: #e7eaeee3 !important;
    border: 1px solid !important;
}
:host ::ng-deep .p-button:focus {
    outline: 0 none;
    outline-offset: 0px;
    box-shadow: none;
}
