<app-container-page
    [title]="
        'Banco de Preguntas - ' +
        area.nivel +
        ' ' +
        area.nombreCurso +
        ' ' +
        area.grado +
        '' +
        area.seccion
    "
    [actions]="accionesPrincipal"
    (accionBtnItem)="accionBtnItem($event)"
>
    <div class="flex gap-4 justify-content-between flex-wrap">
        <div class="flex flex-column gap-1 flex-1">
            <label for="tipo-pregunta">Tipo Pregunta</label>
            <p-dropdown
                [(ngModel)]="params.iTipoPregId"
                optionValue="iTipoPregId"
                [options]="tipoPreguntas"
                optionLabel="cTipoPregDescripcion"
                styleClass="w-full"
                inputId="tipo-pregunta"
                (onChange)="obtenerBancoPreguntas()"
            />
        </div>
        <div class="flex flex-column gap-1 flex-1">
            <label for="estado">Estado</label>
            <p-dropdown
                [(ngModel)]="params.bPreguntaEstado"
                optionValue="bPreguntaEstado"
                [options]="estados"
                [styleClass]="'w-full'"
                inputId="estado"
                [optionLabel]="'cDSC'"
                (onChange)="obtenerBancoPreguntas()"
            />
        </div>
    </div>
    <app-table-primeng
        [dataKey]="'iPreguntaId'"
        [columnas]="columnas"
        [data]="data"
        (accionBtnItem)="accionBtnItemTable($event)"
        [(selectedRowData)]="selectedItems"
        [actions]="accionesTabla"
        [expandedRowKeys]="expandedRowKeys"
    >
        <ng-template #rowExpansionTemplate let-data let-columns="columns">
            <tr class="bg-gray-100">
                <td [attr.colspan]="columns">
                    <app-banco-pregunta-preview [pregunta]="data" />
                </td>
            </tr>
        </ng-template>
    </app-table-primeng>
</app-container-page>
