<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />
<p-toast />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-2xl font-bold">Años académicos</div>
    </div>
  </ng-template>
  <ng-template pTemplate="icons">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        size="small"
        severity="success"
        pTooltip="Aperturar nuevo año"
        tooltipPosition="top"
        (click)="agregarYear()"
      >
        <i class="pi pi-fw pi-plus"></i>
        <span class="ml-2 hidden sm:block">Aperturar</span>
      </p-button>
    </div>
  </ng-template>
  <app-table-primeng
    [columnas]="columns"
    [showCaption]="true"
    [data]="years"
    (accionBtnItem)="accionBtnItem($event)"
    [showPaginator]="true"
    [actions]="actions"
  />
</p-panel>

<p-dialog
  [header]="dialogYear.title"
  [(visible)]="dialogYear.visible"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{
    width: '50vw',
    maxWidth: '100vw',
    maxHeight: '100vh',
  }"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{ overflow: 'auto', padding: '1rem' }"
  (onHide)="setFormYear({})"
  [resizable]="true"
  [maximizable]="true"
>
  <form class="grid mt-2" [formGroup]="formYear">
    <div class="col-12">
      <p-inputGroup>
        <p-inputGroupAddon>Nombre *</p-inputGroupAddon>
        <p-inputNumber
          inputStyleClass="group-element"
          [style]="{ flex: '1', width: '100%' }"
          appendTo="body"
          formControlName="iYearId"
          min="2000"
          max="2100"
          [useGrouping]="false"
          [showButtons]="true"
          placeholder="Ingrese el año académico"
        />
      </p-inputGroup>
    </div>
    <div class="col-12">
      <p-inputGroup class="vertical-group">
        <p-inputGroupAddon>Nombre oficial *</p-inputGroupAddon>
        <input
          type="text"
          pInputText
          inputStyleClass="group-element"
          [style]="{ flex: '1', width: '100%' }"
          appendTo="body"
          formControlName="cYearOficial"
          placeholder="Ingrese el nombre oficial"
          maxlength="512"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-6">
      <p-inputGroup>
        <p-inputGroupAddon>Inicio</p-inputGroupAddon>
        <p-calendar
          appendTo="body"
          [showOnFocus]="false"
          inputStyleClass="group-element"
          [style]="{ flex: '1', width: '100%' }"
          formControlName="dtYAcadInicio"
          inputId="dtYAcadInicio"
          [showIcon]="true"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-6">
      <p-inputGroup>
        <p-inputGroupAddon>Fin</p-inputGroupAddon>
        <p-calendar
          appendTo="body"
          [showOnFocus]="false"
          inputStyleClass="group-element"
          [style]="{ flex: '1', width: '100%' }"
          formControlName="dYAcadFin"
          inputId="dYAcadFin"
          [showIcon]="true"
        />
      </p-inputGroup>
    </div>
  </form>

  <div class="flex justify-content-end gap-2">
    <p-button label="Cancelar" severity="secondary" (onClick)="dialogYear.visible = false" />
    <p-button
      *ngIf="!bEditar"
      label="Guardar"
      severity="primary"
      (onClick)="guardarYear()"
      [disabled]="formYear.invalid"
    />
    <p-button
      *ngIf="bEditar"
      label="Actualizar"
      severity="warning"
      (onClick)="actualizarYear()"
      [disabled]="formYear.invalid"
    />
  </div>
</p-dialog>

<p-dialog
  header="Periodos calendario académico"
  [(visible)]="dialogPeriodos.visible"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{
    width: '50vw',
    maxWidth: '100vw',
    maxHeight: '100vh',
  }"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{ overflow: 'auto', padding: '1rem' }"
  (onHide)="formPeriodos.reset()"
  [resizable]="true"
  [maximizable]="true"
>
  <form [formGroup]="formPeriodos">
    <div class="grid mt-2">
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Tipo de periodo de evaluación</p-inputGroupAddon>
          <p-dropdown
            formControlName="iPeriodoEvalId"
            appendTo="body"
            styleClass="group-element"
            placeholder="Seleccione un tipo de periodo"
            [options]="periodos"
            [style]="{ flex: '1', width: '100%' }"
          />
        </p-inputGroup>
      </div>
    </div>
  </form>

  <div class="flex justify-content-end gap-2">
    <p-button label="Cancelar" severity="secondary" (onClick)="dialogPeriodos.visible = false" />
    <p-button
      [disabled]="formPeriodos.valid"
      label="Aplicar"
      severity="success"
      (onClick)="procesarPeriodos()"
    />
  </div>
</p-dialog>
