<app-container-page
    title="Registrar fechas especiales"
    [actions]="accionesPrincipal"
    (accionBtnItem)="accionBtnItemTable($event)"
>
    <div class="card">
        <app-table-primeng
            [columnas]="columns"
            [showCaption]="false"
            [data]="fechas"
            (accionBtnItem)="accionBtnItemTable($event)"
            [showPaginator]="false"
            [(selectedRowData)]="selectedItems"
            [actions]="actions"
        >
            <!-- <ng-container slot="caption-content"> </ng-container> -->
        </app-table-primeng>
    </div>
</app-container-page>

<p-dialog
    header="{{ caption }}"
    [(visible)]="visible"
    [style]="{ width: '56rem' }"
    [modal]="true"
>
    <form [formGroup]="form">
        <input
            pInputText
            type="hidden"
            formControlName="iFechaImpId"
            class="p-inputtext-sm"
        />
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-dropdown
                        [style]="{ width: '100%' }"
                        [options]="yearCalendarios"
                        optionLabel="cYAcadNombre"
                        optionValue="iCalAcadId"
                        formControlName="iCalAcadId"
                    />
                    <label for="iCalAcadId">Año calendario:</label>
                </span>
            </div>

            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-calendar
                        formControlName="dtFechaImpFecha"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        inputId="icondisplay"
                    />

                    <label for="calendar">Fecha</label>
                </span>
            </div>

            <div class="field col-12 md:col-12">
                <span class="p-float-label">
                    <input
                        pInputText
                        id="cFechaImpNombre"
                        formControlName="cFechaImpNombre"
                        aria-describedby="cFechaImpNombre-help"
                    />
                    <label for="cFechaImpNombre">Descripción:</label>
                </span>
            </div>
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <p-dropdown
                        [style]="{ width: '100%' }"
                        [options]="tipo_feriado"
                        optionLabel="cTipoFechaNombre"
                        optionValue="iTipoFerId"
                        formControlName="iTipoFerId"
                    />
                    <label for="iTipoFerId">Tipo de fechas:</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <label for="cFechaImpInfoAdicional">Fecha Laborable:</label>
                </span>
            </div>
            <div class="field col-12 md:col-2">
                <span class="p-float-label">
                    <p-inputSwitch
                        formControlName="bFechaImpSeraLaborable"
                        [trueValue]="1"
                        [falseValue]="0"
                    />
                </span>
            </div>

            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input
                        pInputText
                        id="cFechaImpURLDocumento"
                        formControlName="cFechaImpURLDocumento"
                        aria-describedby="cFechaImpURLDocumento-help"
                    />
                    <label for="cFechaImpURLDocumento">URL Documento:</label>
                </span>
            </div>
            <div class="field col-12 md:col-6">
                <span class="p-float-label">
                    <input
                        pInputText
                        id="cFechaImpInfoAdicional"
                        formControlName="cFechaImpInfoAdicional"
                        aria-describedby="cFechaImpInfoAdicional-help"
                    />
                    <label for="cFechaImpInfoAdicional"
                        >Información adicional:</label
                    >
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    @if (option === 'crear') {
                        <p-button
                            label="Guardar"
                            [disabled]="form.invalid"
                            (onClick)="accionBtnItem('guardar')"
                        />
                    }
                    @if (option === 'editar') {
                        <p-button
                            label="Editar"
                            [disabled]="form.invalid"
                            (onClick)="accionBtnItem('editar')"
                            styleClass="p-button-warning"
                        />
                    }
                </span>
            </div>
        </div>
    </form>
</p-dialog>
