<p-panel styleClass="surface-menu-bg">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap w-full">
            <div
                class="flex align-items-center justify-content-center font-bold border-round m-2"
            >
                <span class="font-bold text-4xl">ASISTENCIA</span>
            </div>
        </div>
    </ng-template>
    <div>
        <p-tabView>
            <p-tabPanel header="Registro de Asistencia">
                <app-asistencias></app-asistencias>
            </p-tabPanel>
            <p-tabPanel
                header="Historial de Asistencia"
                [disabled]="habilitarGrupo"
            >
            </p-tabPanel>
        </p-tabView>
    </div>
</p-panel>

<p-toast />
