<p-panel styleClass="surface-menu-bg">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between flex-wrap w-full">
      <div class="flex align-items-center justify-content-center font-bold border-round m-2">
        <span class="font-bold text-4xl">ASISTENCIA</span>
      </div>
      <div class="flex align-items-center justify-content-center font-bold border-round m-2">
        <p-button
          label="Registrar Asistencia"
          [style]="{ 'background-color': 'var(--red-500)' }"
          icon="pi pi-user-edit"
        />
      </div>
    </div>
  </ng-template>
  <div>
    <p-tabView>
      <p-tabPanel header="Historial de Asistencia">
        <!-- Historial de Asistencia -->
        <app-historial-asistencia *ngIf="grupo"></app-historial-asistencia>
        <div class="grid">
          <div class="col-3 flex align-items-center h-8rem">
            <p-button
              *ngIf="!grupo"
              (click)="verificarCreacionGrupos()"
              icon="pi pi-sync"
              label="Crear Grupo de Asistencia"
              class=""
            >
            </p-button>
          </div>
          <div class="col-9">
            <p-messages class="w-full" [(value)]="mensaje" [closable]="false" />
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Configuracion Ingreso / Salida" [disabled]="habilitarGrupo">
        <!-- Configuracion de Ingreso / Salida -->
        <app-configuracion-asistencia *ngIf="grupo"></app-configuracion-asistencia>
        <p-progressSpinner
          *ngIf="!grupo"
          styleClass="w-4rem h-4rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".10s"
        />
      </p-tabPanel>
    </p-tabView>
  </div>
</p-panel>
