@if (iPerfilId === 7) {
    <section class="flex flex-column gap-4">
        <p-tabView styleClass="actividad-tabs">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center flex-column gap-2">
                        <app-icon name="matListAlt"></app-icon>
                        <span class="font-bold white-space-nowrap m-0">
                            Evaluación
                        </span>
                    </div>
                </ng-template>
                <div class="grid">
                    <div class="col-6">
                        <div class="grid mb-4">
                            <div
                                class="col-12 md:col-6 flex flex-column gap-2 align-items-start"
                            >
                                <span class="font-bold text-xl flex gap-2">
                                    <app-icon
                                        name="matCalendarMonth"
                                        class="text-primary"
                                        size="sm"
                                    ></app-icon>
                                    Fecha Publicación</span
                                >
                                <p>
                                    {{
                                        evaluacion?.dtEvaluacionPublicacion
                                            | date
                                                : "EEEE, d 'de' MMMM 'de' yyyy"
                                    }}

                                    {{
                                        evaluacion?.dtEvaluacionPublicacion
                                            | date: 'h:mm a'
                                    }}
                                </p>
                            </div>
                            <div class="col-12 md:col-6 gap-2 flex flex-column">
                                <span class="font-bold text-xl"
                                    >Tipo Evaluación</span
                                >
                                <span>{{ evaluacion?.cTipoEvalNombre }}</span>
                            </div>
                        </div>
                        <div class="grid mb-4">
                            <div class="col-12 md:col-6 flex flex-column gap-2">
                                <span class="font-bold text-xl flex gap-2">
                                    <app-icon
                                        name="matCalendarMonth"
                                        class="text-primary"
                                        size="sm"
                                    ></app-icon>
                                    Inicio de Evaluación</span
                                >
                                <p class="flex gap-2 flex-wrap">
                                    {{
                                        evaluacion?.dtEvaluacionInicio
                                            | date
                                                : "EEEE, d 'de' MMMM 'de' yyyy"
                                    }}

                                    <span class="flex gap-2">
                                        <app-icon
                                            name="matAccessTime"
                                            class="text-primary"
                                            size="sm"
                                        ></app-icon>
                                        <span class="font-bold"
                                            >Hora Limite:</span
                                        >
                                        {{
                                            evaluacion?.dtEvaluacionInicio
                                                | date: 'h:mm a'
                                        }}
                                    </span>
                                </p>
                            </div>
                            <div class="col-12 md:col-6 flex flex-column gap-2">
                                <span class="font-bold text-xl flex gap-2">
                                    <app-icon
                                        name="matCalendarMonth"
                                        class="text-primary"
                                        size="sm"
                                    ></app-icon>
                                    Cierre de Evaluación</span
                                >
                                <p class="flex gap-2 flex-wrap">
                                    {{
                                        evaluacion?.dtEvaluacionFin
                                            | date
                                                : "EEEE, d 'de' MMMM 'de' yyyy"
                                    }}

                                    <span class="flex gap-2">
                                        <app-icon
                                            name="matAccessTime"
                                            class="text-primary"
                                            size="sm"
                                        ></app-icon>
                                        <span class="font-bold"
                                            >Hora Limite:</span
                                        >
                                        {{
                                            evaluacion?.dtEvaluacionFin
                                                | date: 'h:mm a'
                                        }}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="grid mb-4">
                            <div
                                class="col-12 md:col-6 flex flex-column gap-2 align-items-start"
                            >
                                <span class="font-bold text-xl"
                                    >Total de Preguntas
                                </span>
                                <span>{{
                                    evaluacion?.iEvaluacionNroPreguntas ?? 0
                                }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div
                            class="flex gap-2 flex-wrap align-items-center mb-4"
                        >
                            <app-icon
                                name="matMessage"
                                color="text-primary"
                                size="sm"
                            />
                            <h3 class="text-lg m-0">Instrucciones</h3>
                        </div>

                        <div
                            class="bg-blue-100 p-1 border-round min-h-10rem flex gap-2 flex-column"
                        >
                            <p-editor
                                appEditorOnlyView
                                class="quill-only-view"
                                [(ngModel)]="cEvaluacionInstrucciones"
                            ></p-editor>
                        </div>
                    </div>
                </div>

                <div class="flex flex-column gap-4">
                    <article class="card">
                        <div class="grid mb-4">
                            <div
                                class="col-12 md:col-6 flex flex-column gap-2 align-items-start"
                            >
                                <span class="font-bold text-xl">Rúbrica</span>
                                <app-rubricas
                                    [title]="'Rúbricas'"
                                    mode="SELECTION"
                                    [params]="params"
                                    (rubricaSelectedChange)="
                                        accionRubrica($event)
                                    "
                                ></app-rubricas>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <h2>Recursos</h2>
                        @if (
                            evaluacion?.cEvaluacionArchivoAdjunto.length === 0
                        ) {
                            <app-empty-section
                                class="w-full"
                                [message]="'Sin recursos asignados'"
                            ></app-empty-section>
                        } @else {
                            <app-recursos-lista
                                [files]="
                                    evaluacion?.cEvaluacionArchivoAdjunto ?? []
                                "
                            ></app-recursos-lista>
                        }
                    </article>

                    <article class="card flex flex-column gap-4">
                        @if (
                            evaluacion?.preguntas === null ||
                            evaluacion?.preguntas === undefined ||
                            evaluacion?.preguntas.length === 0
                        ) {
                            <div
                                class="bg-indigo-200 p-2 border-round h-10rem flex justify-content-center align-items-center gap-2 flex-column"
                            >
                                <app-icon
                                    name="matHideSource"
                                    size="xl"
                                ></app-icon>
                                <p class="text-2xl">
                                    No se Encontraron Preguntas en esta
                                    Evaluacion
                                </p>
                            </div>
                        } @else {
                            <app-evaluacion-form-preguntas
                                [mode]="
                                    evaluacion.iEstado === 1 ? 'EDIT' : 'VIEW'
                                "
                                [tituloEvaluacion]="''"
                                [preguntas]="evaluacion?.preguntas ?? []"
                                [iEvaluacionId]="evaluacion.iEvaluacionId"
                                [iCursoId]="evaluacion.iCursoId"
                            ></app-evaluacion-form-preguntas>
                        }
                    </article>
                </div>
            </p-tabPanel>
            <p-tabPanel [disabled]="evaluacion?.iEstado === 1">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center flex-column gap-2">
                        <app-icon name="matRule"></app-icon>
                        <span class="font-bold white-space-nowrap m-0">
                            Calificar
                        </span>
                    </div>
                </ng-template>
                <app-evaluacion-room-calificacion
                    [iEvaluacionId]="ixActivadadId"
                    [evaluacion]="evaluacion"
                ></app-evaluacion-room-calificacion>
            </p-tabPanel>
        </p-tabView>
    </section>
}
@if (iPerfilId === 8) {
    <app-evaluacion-estudiantes
        [evaluacion]="evaluacion"
    ></app-evaluacion-estudiantes>
}
<app-evaluacion-finalizada *ngIf="iPerfilId === 0"> </app-evaluacion-finalizada>
