@if (iPerfilId === 7) {
    <section class="flex flex-column gap-4">
        <p-tabView styleClass="actividad-tabs">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center flex-column gap-2">
                        <app-icon name="matListAlt"></app-icon>
                        <span class="font-bold white-space-nowrap m-0">
                            Evaluación
                        </span>
                    </div>
                </ng-template>
                <app-toolbar-primeng
                    [title]="
                        'Evaluación Formativa: ' +
                        (evaluacion?.cEvaluacionTitulo || '')
                    "
                >
                </app-toolbar-primeng>
                <div class="grid mb-4 justify-content-end">
                    <div
                        class="col-12 md:col-6 flex flex-column gap-2 align-items-end"
                    >
                        <app-rubricas
                            [title]="'Rúbricas'"
                            mode="SELECTION"
                            [params]="params"
                            (rubricaSelectedChange)="accionRubrica($event)"
                        ></app-rubricas>
                    </div>
                </div>

                <p-panel header="" class="mb-4">
                    <div class="grid">
                        <!-- Inicio de Evaluación -->
                        <div class="col-12 md:col-4">
                            <span
                                class="font-bold text-xl flex align-items-center gap-2"
                            >
                                <app-icon
                                    name="matCalendarMonth"
                                    class="text-primary"
                                    size="sm"
                                ></app-icon>
                                Inicio de Evaluación
                            </span>
                            <p class="flex gap-2 flex-wrap mt-2">
                                {{
                                    evaluacion?.dtEvaluacionInicio
                                        | date: "EEEE, d 'de' MMMM 'de' yyyy"
                                }}
                                <span class="flex align-items-center gap-2">
                                    <app-icon
                                        name="matAccessTime"
                                        class="text-primary"
                                        size="sm"
                                    ></app-icon>
                                    <span class="font-bold">Hora Límite:</span>
                                    {{
                                        evaluacion?.dtEvaluacionInicio
                                            | date: 'h:mm a'
                                    }}
                                </span>
                            </p>
                        </div>

                        <!-- Tipo de Evaluación -->
                        <div class="col-12 md:col-4">
                            <div class="flex flex-column gap-2">
                                <span class="font-bold text-xl"
                                    >Tipo Evaluación</span
                                >
                                <span>{{ evaluacion?.cTipoEvalNombre }}</span>
                            </div>
                        </div>

                        <!-- Instrucciones -->
                        <div class="col-12 md:col-4">
                            <div class="flex align-items-center gap-2 mb-2">
                                <app-icon
                                    name="matMessage"
                                    color="text-primary"
                                    size="sm"
                                ></app-icon>
                                <h3 class="text-lg m-0">Instrucciones</h3>
                            </div>
                            <div
                                class="bg-blue-100 p-3 border-round min-h-10rem"
                            >
                                <p-editor
                                    appEditorOnlyView
                                    class="quill-only-view"
                                    [(ngModel)]="cEvaluacionInstrucciones"
                                ></p-editor>
                            </div>
                        </div>
                    </div>

                    <!-- Segunda Fila -->
                    <div class="grid mt-4">
                        <!-- Cierre de Evaluación -->
                        <div class="col-12 md:col-4">
                            <span
                                class="font-bold text-xl flex align-items-center gap-2"
                            >
                                <app-icon
                                    name="matCalendarMonth"
                                    class="text-primary"
                                    size="sm"
                                ></app-icon>
                                Cierre de Evaluación
                            </span>
                            <p class="flex gap-2 flex-wrap mt-2">
                                {{
                                    evaluacion?.dtEvaluacionFin
                                        | date: "EEEE, d 'de' MMMM 'de' yyyy"
                                }}
                                <span class="flex align-items-center gap-2">
                                    <app-icon
                                        name="matAccessTime"
                                        class="text-primary"
                                        size="sm"
                                    ></app-icon>
                                    <span class="font-bold">Hora Límite:</span>
                                    {{
                                        evaluacion?.dtEvaluacionFin
                                            | date: 'h:mm a'
                                    }}
                                </span>
                            </p>
                        </div>

                        <!-- Total de Preguntas -->
                        <div class="col-12 md:col-4">
                            <div class="flex flex-column gap-2">
                                <span class="font-bold text-xl"
                                    >Total de Preguntas</span
                                >
                                <span>{{
                                    evaluacion?.iEvaluacionNroPreguntas ?? 0
                                }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="flex flex-column gap-2">
                            <span class="font-bold text-xl text-orange-500"
                                >BORRADOR</span
                            >
                            <span>{{
                                evaluacion?.iEvaluacionNroPreguntas ?? 1
                            }}</span>
                            <div
                                *ngIf="evaluacion?.estado === 'borrador'"
                                class="text-sm text-gray-500 mt-2"
                            >
                                Estado:
                                <span class="text-yellow-500 font-bold"
                                    >Borrador</span
                                >
                            </div>
                        </div>
                    </div>
                </p-panel>
                <div class="flex flex-column gap-4">
                    <article class="card">
                        <div class="">
                            <app-rubrica-evaluacion
                                (clickNameRubrica)="showRubrica($event)"
                                class="w-full"
                            >
                            </app-rubrica-evaluacion>
                        </div>
                        <div class="">
                            <p-dialog
                                [modal]="true"
                                [header]="
                                    'Rubrica - ' + dialogRubricaInfo.header
                                "
                                [(visible)]="dialogRubricaInfo.visible"
                                [style]="{ width: '75rem' }"
                                [breakpoints]="{
                                    '1199px': '75vw',
                                    '575px': '90vw',
                                }"
                                [maximizable]="true"
                            >
                                <app-rubrica-calificar class="w-full">
                                </app-rubrica-calificar>
                            </p-dialog>
                        </div>
                    </article>

                    <article class="card">
                        <h2>Recursos</h2>
                        <p-accordion>
                            <p-accordionTab header="Recursos Adjuntos">
                                <!-- Verifica si no hay archivos adjuntos -->
                                <ng-container
                                    *ngIf="
                                        evaluacion?.cEvaluacionArchivoAdjunto
                                            .length === 0;
                                        else resourcesList
                                    "
                                >
                                    <app-empty-section
                                        class="w-full"
                                        [message]="'Sin recursos asignados'"
                                    ></app-empty-section>
                                </ng-container>

                                <!-- Si hay recursos adjuntos -->
                                <ng-template #resourcesList>
                                    <app-recursos-lista
                                        [files]="
                                            evaluacion?.cEvaluacionArchivoAdjunto ??
                                            []
                                        "
                                    ></app-recursos-lista>
                                </ng-template>
                            </p-accordionTab>
                        </p-accordion>
                    </article>

                    <article class="card flex flex-column gap-4">
                        <p-accordion
                            *ngIf="
                                evaluacion?.preguntas &&
                                evaluacion?.preguntas.length > 0
                            "
                        >
                            <p-accordionTab header="Preguntas">
                                <app-evaluacion-form-preguntas
                                    [mode]="
                                        evaluacion.iEstado === 1
                                            ? 'EDIT'
                                            : 'VIEW'
                                    "
                                    [tituloEvaluacion]="''"
                                    [preguntas]="evaluacion?.preguntas ?? []"
                                    [iEvaluacionId]="evaluacion.iEvaluacionId"
                                    [iCursoId]="evaluacion.iCursoId"
                                ></app-evaluacion-form-preguntas>
                            </p-accordionTab>
                        </p-accordion>
                        <div
                            *ngIf="
                                evaluacion?.preguntas === null ||
                                evaluacion?.preguntas === undefined ||
                                evaluacion?.preguntas.length === 0
                            "
                            class="bg-indigo-200 p-2 border-round h-10rem flex justify-content-center align-items-center gap-2 flex-column"
                        >
                            <app-icon name="matHideSource" size="xl"></app-icon>
                            <p class="text-2xl">
                                No se Encontraron Preguntas en esta Evaluacion
                            </p>
                        </div>
                    </article>
                </div>
            </p-tabPanel>
            <p-tabPanel [disabled]="evaluacion?.iEstado === 1">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center flex-column gap-2">
                        <app-icon name="matRule"></app-icon>
                        <span class="font-bold white-space-nowrap m-0">
                            Calificar
                        </span>
                    </div>
                </ng-template>
                <app-evaluacion-room-calificacion
                    [iEvaluacionId]="ixActivadadId"
                    [evaluacion]="evaluacion"
                ></app-evaluacion-room-calificacion>
            </p-tabPanel>
        </p-tabView>
    </section>
}
@if (iPerfilId === 8) {
    <app-evaluacion-estudiantes
        [evaluacion]="evaluacion"
    ></app-evaluacion-estudiantes>
}
<app-evaluacion-finalizada *ngIf="iPerfilId === 0"> </app-evaluacion-finalizada>
