<div class="grid">
    <app-tabs-primeng
        class="col-12"
        [activeIndex]="activeIndex"
        [tabs]="tabs"
        [classColumn]="true"
        [getIndex]="false"
        (updateTab)="obtenerIndex($event)"
    >
    </app-tabs-primeng>
    <div class="col-12">
        @switch (tabSeleccionado) {
            @case ('descripcion') {
                <app-tab-descripcion-actividades [data]="evaluacion">
                    <div class="flex justify-content-center align-items-center">
                        @if (isDocente) {
                            @if (evaluacion?.iEstado === 1) {
                                <div
                                    class="border-1 border-orange-200 border-round bg-orange-50 p-3 text-center"
                                >
                                    <span
                                        class="font-bold text-3xl text-orange-600"
                                        >BORRADOR</span
                                    >
                                </div>
                            }
                            @if (evaluacion?.iEstado === 2) {
                                <div
                                    class="border-1 border-green-200 border-round bg-green-50 p-3 text-center"
                                >
                                    <span
                                        class="font-bold text-3xl text-green-600"
                                        >PUBLICADO</span
                                    >
                                </div>
                            }
                        }
                        @if (evaluacion?.iEstado === 10) {
                            <div
                                class="border-1 border-red-200 border-round bg-red-50 p-3 text-center"
                            >
                                <span class="font-bold text-3xl text-red-600"
                                    >FINALIZADO</span
                                >
                            </div>
                        }
                    </div>
                </app-tab-descripcion-actividades>
            }
            @case ('preguntas') {
                <app-evaluacion-preguntas
                    [data]="evaluacion"
                ></app-evaluacion-preguntas>
            }
            @case ('calificar') {
                <app-evaluacion-room-calificacion
                    [iEvaluacionId]="ixActivadadId"
                    [evaluacion]="evaluacion"
                    [iEstado]="evaluacion?.iEstado"
                ></app-evaluacion-room-calificacion>
            }
            @case ('rendir-examen') {}
        }
    </div>
</div>
