<div class="grid">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon>Fecha: </p-inputGroupAddon>
                <input type="date" pInputText />
                <p-inputGroupAddon
                    ><i class="pi pi-calendar"></i
                ></p-inputGroupAddon>
            </p-inputGroup>
        </div>
        <div class="col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon>Grupo: </p-inputGroupAddon>
                <p-dropdown
                    [options]="datosGrupos"
                    [(ngModel)]="selGrupo"
                    [optionLabel]="'cGrupoNombre'"
                    [optionValue]="'iGrupoId'"
                    placeholder="Seleccionar Grupo"
                >
                </p-dropdown>
            </p-inputGroup>
        </div>
    </div>
    <div class="col-12">
        <p-table [value]="grupo">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let header of headers">
                        {{ header.campo }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-grupo>
                <tr *ngIf="grupo.length > 0">
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center">
                        No hay registros disponibles
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
