@if (pregunta.preguntas !== undefined) {
    <!-- encabezado  -->
    <h1>{{ pregunta.cPregContenido }}</h1>
    <div [innerHTML]="pregunta.cEncabPregContenido"></div>
    <!-- contenido encabezado -->
    <div class="flex flex-column gap-4">
        @for (
            preguntaItem of pregunta.preguntas;
            track preguntaItem.iPreguntaId
        ) {
            <app-banco-pregunta-preview-item [pregunta]="pregunta" />
        }
    </div>
} @else {
    <app-banco-pregunta-preview-item [pregunta]="pregunta" />
}
