:host {
    display: block;
}

.niveles {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    white-space: nowrap;
    overflow-x: auto;
}

.nivel {
    &__add-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateX(50%) translateY(-50%);
    }
}
