@if (seleccionado) {
  <app-actividades-no-lectivas
    [bAprobarActividad]="seleccionado"
    [iDocenteId]="iDocenteId"
  ></app-actividades-no-lectivas>
} @else {
  <app-container-page
    title="APROBACIÓN PLANES DE HORAS DE ACTIVIDADES"
    [actions]="[]"
    (accionBtnItem)="accionBtnItem($event)"
  >
    <app-table-primeng
      [columnas]="columns"
      [actions]="actions"
      [data]="docentes"
      [showCaption]="true"
      [tableStyle]="null"
      (accionBtnItem)="accionBtnItem($event)"
      [showAdvancedFilter]="true"
    ></app-table-primeng>
  </app-container-page>
}
