<p-dialog
  [header]="(this.formSedes.value.iIieeId ? 'Actualizar' : 'Nueva') + ' Sede Institucional'"
  [visible]="showModal()"
  [breakpoints]="{ '960px': '85vw', '640px': '100vw' }"
  [contentStyle]="{ overflow: 'auto', padding: '1rem' }"
  [style]="{
    width: '75vw',
    maxWidth: '100vw',
    maxHeight: '100vh',
  }"
  [modal]="true"
  [closable]="true"
  (onHide)="closeModal.emit()"
  [resizable]="true"
  [maximizable]="true"
>
  <form [formGroup]="formSedes" class="mt-3">
    <div class="grid">
      <div class="col-12 md:col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Servicio Educativo (*)</p-inputGroupAddon>
          <p-dropdown
            appendTo="body"
            formControlName="iServEdId"
            [options]="servicios_educativos"
            [showClear]="true"
            [style]="{ flex: '1', width: '100%' }"
            styleClass="group-element"
          />
        </p-inputGroup>
      </div>

      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Turno</p-inputGroupAddon>
          <p-dropdown
            appendTo="body"
            formControlName="iTurnoId"
            [options]="turnos"
            [showClear]="true"
            [style]="{ flex: '1', width: '100%' }"
            styleClass="group-element"
          >
          </p-dropdown>
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Nombre (*)</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeNombre"
            (input)="convertirMayusculas($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>

      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Email</p-inputGroupAddon>
          <input
            type="email"
            pInputText
            formControlName="cSedeEmail"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Telefono</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeTelefono"
            (input)="soloNumeros($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>

      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Director</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeDirector"
            (input)="convertirMayusculas($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>

      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Resolución</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeRslCreacion"
            (input)="convertirMayusculas($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Fecha de creación</p-inputGroupAddon>
          <p-calendar
            appendTo="body"
            formControlName="dSedeRslCreacion"
            dateFormat="dd/mm/yy"
            showIcon="true"
            [style]="{ flex: '1', width: '100%' }"
            inputStyleClass="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Dirección</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            placeholder="Ej: Av. Los Olivos N° 123, San Martín"
            formControlName="cSedeDireccion"
            (input)="convertirMayusculas($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Estado</p-inputGroupAddon>
          <p-dropdown
            appendTo="body"
            formControlName="iEstado"
            [options]="estados"
            [showClear]="true"
            [style]="{ flex: '1', width: '100%' }"
            styleClass="group-element"
          >
          </p-dropdown>
        </p-inputGroup>
      </div>
    </div>
  </form>
  <div footer class="flex justify-content-end gap-2">
    <p-button label="Cancelar" severity="secondary" (onClick)="closeModal.emit()" />
    <p-button
      [label]="this.formSedes.value.iSedeId ? 'Actualizar' : 'Guardar'"
      [severity]="this.formSedes.value.iSedeId ? 'warning' : 'success'"
      (onClick)="enviarFormulario()"
      [disabled]="formSedes.invalid"
    ></p-button>
  </div>
</p-dialog>
<p-toast />
