<p-dialog
  [header]="(this.formSede.value.iSedeId ? 'Actualizar' : 'Nueva') + ' Sede Institucional'"
  [visible]="showModal"
  (visibleChange)="modalCerrado($event)"
  [breakpoints]="{ '960px': '85vw', '640px': '100vw' }"
  [style]="{
    width: '75vw',
    maxWidth: '100vw',
    maxHeight: '100vh',
  }"
  [modal]="true"
  [closable]="true"
  (onHide)="cerrarModal()"
  [resizable]="true"
  [maximizable]="true"
>
  <form [formGroup]="formSede" class="mt-3">
    <div class="grid">
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Nombre (*)</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeNombre"
            (input)="convertirMayusculas($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Servicio Educativo</p-inputGroupAddon>
          <p-dropdown
            appendTo="body"
            formControlName="iServEdId"
            [options]="servicios_educativos_filtrados"
            [showClear]="true"
            [style]="{ flex: '1', width: '100%' }"
            styleClass="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Turno</p-inputGroupAddon>
          <p-dropdown
            appendTo="body"
            formControlName="iTurnoId"
            [options]="turnos"
            [showClear]="true"
            [style]="{ flex: '1', width: '100%' }"
            styleClass="group-element"
          >
          </p-dropdown>
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Dirección</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeDireccion"
            (input)="convertirMayusculas($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Telefono</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeTelefono"
            (input)="soloNumeros($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Director</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeDirector"
            (input)="convertirMayusculas($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Estado</p-inputGroupAddon>
          <p-dropdown
            appendTo="body"
            formControlName="iEstado"
            [options]="estados"
            [style]="{ flex: '1', width: '100%' }"
            styleClass="group-element"
          >
          </p-dropdown>
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Resolución</p-inputGroupAddon>
          <input
            type="text"
            pInputText
            formControlName="cSedeRslCreacion"
            (input)="convertirMayusculas($event)"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Fecha de creación</p-inputGroupAddon>
          <p-calendar
            appendTo="body"
            formControlName="dSedeRslCreacion"
            dateFormat="dd/mm/yy"
            showIcon="true"
            [style]="{ flex: '1', width: '100%' }"
            inputStyleClass="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Latitud</p-inputGroupAddon>
          <p-inputNumber
            mode="decimal"
            minFractionDigits="2"
            maxFractionDigits="10"
            formControlName="cEscNlat"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 md:col-6">
        <p-inputGroup>
          <p-inputGroupAddon>Longitud</p-inputGroupAddon>
          <p-inputNumber
            mode="decimal"
            minFractionDigits="2"
            maxFractionDigits="10"
            formControlName="cEscNlog"
            [style]="{ flex: '1', width: '100%' }"
            class="group-element"
          />
        </p-inputGroup>
      </div>
    </div>
  </form>
  <div footer class="flex justify-content-end gap-2">
    <p-button label="Salir" severity="secondary" (onClick)="cerrarModal()" />
    <p-button
      *ngIf="this.formSede.value.iSedeId"
      [disabled]="formSede.invalid"
      label="Actualizar"
      severity="warning"
      (onClick)="actualizarSede()"
    />
    <p-button
      *ngIf="!this.formSede.value.iSedeId"
      [disabled]="formSede.invalid"
      label="Guardar"
      severity="success"
      (onClick)="guardarSede()"
    />
  </div>
</p-dialog>
