<div class="flex justify-content-start">
  <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
</div>
<section class="flex flex-column gap-4">
  <p-tabView styleClass="actividad-tabs">
    <!-- Mostrar informacion general del foro -->
    <p-tabPanel>
      <ng-template pTemplate="header" class="header">
        <div class="flex align-items-center flex-column gap-2">
          <app-icon name="matListAlt"></app-icon>
          <span class="font-bold white-space-nowrap m-0"> Instrucciones </span>
        </div>
      </ng-template>
      <app-tab-descripcion-actividades [data]="foro">
        <div estado-actividad>
          <div class="flex justify-content-center align-items-center">
            @if (isDocente) {
              @if (foro?.iEstado === 1) {
                <div class="border-1 border-orange-200 border-round bg-orange-50 p-3 text-center">
                  <span class="font-bold text-3xl text-orange-600">BORRADOR</span>
                </div>
              }
              @if (foro?.iEstado === 2) {
                <div class="border-1 border-green-200 border-round bg-green-50 p-3 text-center">
                  <span class="font-bold text-3xl text-green-600">PUBLICADO</span>
                </div>
              }
            }
            @if (foro?.iEstado === 10) {
              <div class="border-1 border-red-200 border-round bg-red-50 p-3 text-center">
                <span class="font-bold text-3xl text-red-600">FINALIZADO</span>
              </div>
            }
          </div>
        </div>

        <div section>
          @if (comentarioDocente && isEstudiante) {
            @if (bCapacitacion) {
              <div class="col-12 mt-2">
                <div class="text-xl font-medium text-900 mb-2">
                  <span class="text-blue-500"
                    ><i class="pi pi-check"></i>&nbsp;Tu Trabajo ya ha sido evaluado</span
                  >
                  <p-divider></p-divider>
                  <span class="text-green-500">📝✨ Nota: {{ comentarioDocente || '-' }}</span>
                </div>
              </div>
            } @else {
              <div class="col-12 mt-2">
                <div class="text-xl font-medium text-900 mb-2">
                  <span class="text-green-500">👍✨ Mi Retroalimentación Descriptiva</span>
                </div>
                <div
                  class="p-3 border-1 border-green-200 border-round bg-green-50 min-h-10rem overflow-auto break-words text-justify estilo-descripcion"
                >
                  <p class="text-gray-700 font-medium mb-2">🗣 Comentario del docente:</p>
                  <div [innerHTML]="comentarioDocente || '-'"></div>
                </div>
              </div>
            }
          }
        </div>
      </app-tab-descripcion-actividades>
    </p-tabPanel>
    <!-- Ver Comentarios de los Foros -->
    <p-tabPanel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center flex-column gap-2">
          <app-icon name="matRule"></app-icon>
          <span class="font-bold white-space-nowrap m-0"> Ver Foro detalle </span>
        </div>
      </ng-template>
      <app-foro-room-detalle
        *ngIf="foro"
        [dataForo]="foro"
        [ixActivadadId]="ixActivadadId"
        [iActTopId]="iActTopId"
        [iIeCursoId]="iIeCursoId"
        [iSeccionId]="iSeccionId"
        [iNivelGradoId]="iNivelGradoId"
      ></app-foro-room-detalle>
    </p-tabPanel>
  </p-tabView>
</section>

<p-menu #menu [model]="menuItems" [popup]="true"> </p-menu>
