::ng-deep .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  width: 100% !important;
}

.alert-institucion {
  background-color: #e3f2fd;
  border-left: 4px solid #2196f3;
  border-radius: 4px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  color: #0d47a1;
  font-style: italic;
}

.tag {
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: #399760;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: white;
  text-align: left;
  width: fit-content;
}
