:host ::ng-deep .p-dialog .p-dialog-header {
  display: none !important;
}
:host ::ng-deep .p-dialog .p-dialog-content {
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}
.text-info {
  background: rgba(239, 246, 255, 0.95);
  border: solid #bfdbfe;
  border-width: 1px;
  color: #2563eb;
}
.logo_contrasena {
  max-width: 100%;
}
.codigo {
  text-align: center !important;
  font-weight: bold !important;
  font-size: x-large;
}

:host ::ng-deep {
  .p-password-input {
    width: 100%;
  }
}
