<div class="grid">
    <div class="col-6">
        <p-inputGroup>
            <p-inputGroupAddon>Tipo</p-inputGroupAddon>
            <p-dropdown
                styleClass="w-full"
                placeholder="Seleccione..."
                optionValue="iTipoPregId"
                [options]="tipoPreguntas"
                optionLabel="cTipoPregDescripcion"
                [filter]="true"
                filterBy="cTipoPregDescripcion"
                [(ngModel)]="selectedTipoPregunta"
            />
        </p-inputGroup>
    </div>

    <div class="col-6">
        <p-inputGroup>
            <p-inputGroupAddon>Competencia</p-inputGroupAddon>
            <p-dropdown
                styleClass="w-full"
                placeholder="Seleccione..."
                optionValue="iCompetenciaId"
                [options]="matrizCompetencia"
                optionLabel="cCompetenciaNombre"
                [filter]="true"
                filterBy="cCompetenciaNombre"
                [showClear]="true"
            />
        </p-inputGroup>
    </div>
</div>
<div class="grid">
    <div class="col-3">
        <p-inputGroup>
            <p-inputGroupAddon>Año</p-inputGroupAddon>
            <p-dropdown
                styleClass="w-full"
                placeholder="Seleccione..."
                optionValue="anio"
                [options]="anios"
                optionLabel="anio"
                [filter]="true"
                filterBy="anio"
                [showClear]="true"
            />
        </p-inputGroup>
    </div>
    <div class="col-3">
        <p-inputGroup>
            <p-inputGroupAddon>Proceso</p-inputGroupAddon>
            <p-dropdown
                styleClass="w-full"
                placeholder="Seleccione..."
                optionValue="iNivelEvalId"
                [options]="procesos"
                optionLabel="cNivelEvalNombre"
                [filter]="true"
                filterBy="cNivelEvalNombre"
                [showClear]="true"
            />
        </p-inputGroup>
    </div>
    <div class="col-6">
        <p-inputGroup>
            <p-inputGroupAddon>Capacidad</p-inputGroupAddon>
            <p-dropdown
                styleClass="w-full"
                placeholder="Seleccione..."
                optionValue="iCapacidadId"
                [options]="matrizCapacidad"
                optionLabel="cCapacidadNombre"
                [filter]="true"
                filterBy="cCapacidadNombre"
                [showClear]="true"
            />
        </p-inputGroup>
    </div>
</div>

<app-container-page-accionb
    [title]="'Lista de Evaluaciones'"
    class="custom-container-page"
>
    <app-table-primeng
        [columnas]="columnas"
        [data]="preguntas"
        (accionBtnItem)="accionBtnItemTable($event)"
        [actions]="accionesTabla"
        [showPaginator]="true"
        [showCaption]="true"
    >
        <input type="text" />
    </app-table-primeng>
</app-container-page-accionb>

<!--[(selectedRowData)]="selectedItems"-->
