<form [formGroup]="form" class="flex gap-4 flex-column">
    <div class="flex flex-wrap">
        <section class="flex flex-column gap-5 flex-1 px-4 py-5">
            <div class="">
                <p-inputGroup>
                    <p-inputGroupAddon>Año vigente</p-inputGroupAddon>
                    <p-calendar
                        styleClass="w-full"
                        formControlName="fechaVigente"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        view="year"
                        dateFormat="yy"
                        inputId="yearToRegister"
                    />
                </p-inputGroup>
            </div>

            <div>
                <p-inputGroup>
                    <p-inputGroupAddon
                        >Fecha inicio y fin del año</p-inputGroupAddon
                    >
                    <p-calendar
                        styleClass="w-full"
                        formControlName="fechaInicio"
                        selectionMode="range"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        inputId="yearInicio"
                        placeholder="Ingrese un rango de fechas"
                    />
                </p-inputGroup>
            </div>

            <div>
                <p-inputGroup>
                    <p-inputGroupAddon>Matricula regular</p-inputGroupAddon>
                    <p-calendar
                        styleClass="w-full"
                        selectionMode="range"
                        [iconDisplay]="'input'"
                        formControlName="fechaMatriculaFin"
                        [showIcon]="true"
                        inputId="matriculaFin"
                        placeholder="Ingrese un plazo para matricula ordinaria"
                    />
                </p-inputGroup>
            </div>

            <div>
                <p-inputGroup>
                    <p-inputGroupAddon>Matricula rezagados</p-inputGroupAddon>
                    <p-calendar
                        styleClass="w-full"
                        selectionMode="range"
                        [iconDisplay]="'input'"
                        formControlName="fechaMatriculaRezagados"
                        [showIcon]="true"
                        inputId="matriculaFin"
                        placeholder="Ingrese un plazo para matricula extraordinaria"
                    />
                </p-inputGroup>
            </div>
            <!-- <div>
                <p-inputGroup>
                    <p-inputGroupAddon>Inicio de año</p-inputGroupAddon>
                    <p-calendar
                        styleClass="w-full"
                        formControlName="fechaInicio"
                        [showIcon]="true"
                        inputId="yearInicio"
                    />
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>Fin de año</p-inputGroupAddon>
                    <p-calendar
                    styleClass="w-full"
                    formControlName="fechaFin"
                    [showIcon]="true"
                    inputId="yearFin"
                />
                </p-inputGroup>
            </div> -->
            <!-- <div class="flex flex-column gap-1 relative">
                <p-floatLabel>
                    <p-calendar
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        formControlName="fechaMatriculaRezagados"
                        [showIcon]="true"
                        inputId="matriculaRezagados"
                    />
                    <label for="matriculaRezagados"
                        >Fecha matricula rezagados
                    </label>
                </p-floatLabel>
            </div> -->
        </section>
        <div class="flex flex-column gap-7 flex-1">
            <div class="flex flex-column">
                @for (fase of fasesPromocionales; track fase.iFasePromId) {
                    <section class="flex flex-column gap-2 px-4 py-5">
                        <div class="p-2">
                            <p-checkbox
                                name="fasesPromocionales"
                                [value]="true"
                                formControlName="{{
                                    'faseCheck' + fase.iFasePromId
                                }}"
                                [label]="fase.cFasePromNombre"
                                (onChange)="
                                    isActiveFechasFases(fase.iFasePromId)
                                "
                            />
                        </div>
                        <div>
                            <p-inputGroup>
                                <p-inputGroupAddon
                                    >Fecha inicio y fin de
                                    fase</p-inputGroupAddon
                                >
                                <p-calendar
                                    styleClass="w-full"
                                    selectionMode="range"
                                    [iconDisplay]="'input'"
                                    formControlName="{{
                                        'faseInputInicio' + fase.iFasePromId
                                    }}"
                                    [showIcon]="true"
                                    inputId="faseRegularInicio"
                                    [placeholder]="
                                        'Ingrese un rango de fechas para la ' +
                                        fase.cFasePromNombre.toLocaleLowerCase()
                                    "
                                />
                            </p-inputGroup>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
    <div class="flex justify-content-end">
        <p-button
            (onClick)="confirm()"
            [disabled]="!form.valid"
            label="Siguiente"
        />
    </div>
    

    <div class="navigator">
    </div>
</form>
