form {
    margin-block: 1rem;
}

section {
    border-radius: 12px;
    padding: 3.75rem;
    border: 1px solid #dfe7ef;
}

p-button {
    background-color: #0e4194;
    border-radius: 0.5rem;
}

.p-confirm-dialog-reject {
    background-color: black;
}

p-calendar,
p-floatlabel {
    width: 100%;
}

div {
    display: flex;
    gap: 2rem;
}
