<form [formGroup]="form" class="flex gap-4 flex-column">
    <div class>
        <section class="flex flex-column gap-7 flex-1 px-4">
            <div class="">
                <p-inputGroup>
                    <p-inputGroupAddon>Año vigente</p-inputGroupAddon>
                    <p-calendar
                        styleClass="w-full"
                        formControlName="fechaVigente"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        view="year"
                        dateFormat="yy"
                        inputId="yearToRegister"
                    />
                </p-inputGroup>
            </div>

            <div>
                <p-inputGroup>
                    <p-inputGroupAddon>Cronograma</p-inputGroupAddon>
                    <p-calendar
                        styleClass="w-full"
                        formControlName="fechaInicio"
                        selectionMode="range"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        inputId="yearInicio"
                    />
                </p-inputGroup>
            </div>
            <!-- <div>
                <p-inputGroup>
                    <p-inputGroupAddon>Inicio de año</p-inputGroupAddon>
                    <p-calendar
                        styleClass="w-full"
                        formControlName="fechaInicio"
                        [showIcon]="true"
                        inputId="yearInicio"
                    />
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon>Fin de año</p-inputGroupAddon>
                    <p-calendar
                    styleClass="w-full"
                    formControlName="fechaFin"
                    [showIcon]="true"
                    inputId="yearFin"
                />
                </p-inputGroup>
            </div> -->
            <div>
                <p-floatLabel>
                    <p-calendar
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        formControlName="fechaMatriculaInicio"
                        [showIcon]="true"
                        inputId="matriculaInicio"
                    />
                    <label for="matriculaInicio">Fecha matricula inicio</label>
                </p-floatLabel>
                <p-floatLabel>
                    <p-calendar
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        formControlName="fechaMatriculaFin"
                        [showIcon]="true"
                        inputId="matriculaFin"
                    />
                    <label for="matriculaFin">Fecha matricula fin</label>
                </p-floatLabel>
            </div>
            <div class="flex flex-column gap-1 relative">
                <p-floatLabel>
                    <p-calendar
                        [style]="{ width: '100%' }"
                        [inputStyle]="{ width: '100%' }"
                        formControlName="fechaMatriculaRezagados"
                        [showIcon]="true"
                        inputId="matriculaRezagados"
                    />
                    <label for="matriculaRezagados"
                        >Fecha matricula rezagados
                    </label>
                </p-floatLabel>
            </div>
        </section>
        <section class="flex flex-column gap-7 flex-1 px-4">
            <div class="flex flex-column">
                @for (fase of fasesPromocionales; track fase.iFasePromId) {
                    <div class="p-2">
                        <p-checkbox
                            name="fasesPromocionales"
                            [value]="true"
                            formControlName="{{
                                'faseCheck' + fase.iFasePromId
                            }}"
                            [label]="fase.cFasePromNombre"
                            (onChange)="isActiveFechasFases(fase.iFasePromId)"
                        />
                    </div>
                    <div>
                        <p-floatLabel>
                            <p-calendar
                                [style]="{ width: '100%' }"
                                [inputStyle]="{ width: '100%' }"
                                formControlName="{{
                                    'faseInputInicio' + fase.iFasePromId
                                }}"
                                [showIcon]="true"
                                inputId="faseRegularInicio"
                            />
                            <label for="faseRegularInicio"
                                >Fecha inicio {{ fase.cFasePromNombre }}</label
                            >
                        </p-floatLabel>
                        <p-floatLabel>
                            <p-calendar
                                [style]="{ width: '100%' }"
                                [inputStyle]="{ width: '100%' }"
                                formControlName="{{
                                    'faseInputFin' + fase.iFasePromId
                                }}"
                                [showIcon]="true"
                                inputId="faseRegularFin"
                            />
                            <label for="faseRegularFin"
                                >Fecha fin {{ fase.cFasePromNombre }}</label
                            >
                        </p-floatLabel>
                    </div>
                }
            </div>
        </section>
    </div>
    <div class="flex justify-content-end">
        <p-button
            (onClick)="confirm()"
            [disabled]="!form.valid"
            label="Siguiente"
        />
    </div>

    <div class="navigator">
        <p-confirmDialog
            #cd
            [acceptVisible]="false"
            [rejectVisible]="false"
            class="w-5"
        >
            <ng-template pTemplate="message" let-message>
                <div
                    class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border"
                >
                    <i class="pi pi-exclamation-circle text-6xl"></i>
                    <p class="text-center">{{ message.message }}</p>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    label="Cancelar"
                    (click)="cd.reject()"
                    class="p-button-outlined w-8rem accept"
                ></button>
                <button
                    pButton
                    label="Confirmar"
                    (click)="cd.accept()"
                    class="w-8rem reject"
                ></button>
            </ng-template>
        </p-confirmDialog>
    </div>
</form>
