<br />

<form [formGroup]="formRecreacion">
    <div class="grid p-fluid mt-3">
        <input type="hidden" name="iFichaDGId" />

        <div class="col-12 lg:col-6">
            <p-fieldset legend="Deportes">
                <div class="grid">
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon
                                >Deporte que practica</p-inputGroupAddon
                            >
                            <p-multiSelect
                                display="chip"
                                [options]="deportes"
                                formControlName="iDeporteId"
                                [filter]="true"
                                [showClear]="true"
                                [appendTo]="'body'"
                                multiple="true"
                                [maxSelectedLabels]="undefined"
                                (onChange)="handleDropdownChange($event, 0)"
                                (onClear)="handleDropdownChange($event, 0)"
                                [style]="{ flex: '1', width: '100%' }"
                                styleClass="group-element"
                            />
                            @if (visibleInput[0] === true) {
                                <input
                                    pInputText
                                    formControlName="cDeporteObs"
                                    placeholder="Especifique"
                                    type="text"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                <p-inputSwitch
                                    (onChange)="handleSwitchChange($event, 1)"
                                    name="bFichaDGPerteneceLigaDeportiva"
                                />
                                <span>Pertenece a una liga deportiva</span>
                            </p-inputGroupAddon>
                            @if (visibleInput[1] === true) {
                                <input
                                    type="text"
                                    name="cFichaDGPerteneceLigaDeportiva"
                                    pInputText
                                    placeholder="Especifique *"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="col-12 lg:col-6">
            <p-fieldset legend="Cultura y Recreación">
                <div class="grid">
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon> Religión </p-inputGroupAddon>
                            <p-dropdown
                                [options]="religion"
                                formControlName="iReligionId"
                                [filter]="false"
                                [showClear]="true"
                                [appendTo]="'body'"
                                (onChange)="handleDropdownChange($event, 2)"
                                [style]="{ flex: '1', width: '100%' }"
                                styleClass="group-element"
                            />
                            @if (visibleInput[2] === true) {
                                <input
                                    pInputText
                                    formControlName="cReligionObs"
                                    placeholder="Especifique"
                                    type="text"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                <p-inputSwitch
                                    (onChange)="handleSwitchChange($event, 3)"
                                    name="bFichaDGPerteneceCentroArtistico"
                                />
                                <span
                                    >Pertenece a un Centro Artístico o
                                    Cultural</span
                                >
                            </p-inputGroupAddon>
                            @if (visibleInput[3] === true) {
                                <input
                                    type="text"
                                    name="cFichaDGPerteneceCentroArtistico"
                                    pInputText
                                    placeholder="Especifique *"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                Actividad artistica que practica
                            </p-inputGroupAddon>
                            <p-multiSelect
                                display="chip"
                                [options]="act_artistica"
                                formControlName="iPasaTiempoId"
                                [filter]="true"
                                [showClear]="true"
                                [appendTo]="'body'"
                                multiple="true"
                                [maxSelectedLabels]="undefined"
                                showToggleAll="false"
                                (onChange)="handleDropdownChange($event, 4)"
                                (onClear)="handleDropdownChange($event, 4)"
                                [style]="{ flex: '1', width: '100%' }"
                                styleClass="group-element"
                            />
                            @if (visibleInput[4] === true) {
                                <input
                                    pInputText
                                    formControlName="cPasaTiempoObs"
                                    placeholder="Especifique"
                                    type="text"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon> Pasatiempos </p-inputGroupAddon>
                            <p-multiSelect
                                display="chip"
                                [options]="Pasatiempos"
                                formControlName="iPasaTiempoId"
                                [filter]="true"
                                [showClear]="true"
                                [appendTo]="'body'"
                                multiple="true"
                                [maxSelectedLabels]="undefined"
                                showToggleAll="false"
                                (onChange)="handleDropdownChange($event, 5)"
                                (onClear)="handleDropdownChange($event, 5)"
                                [style]="{ flex: '1', width: '100%' }"
                                styleClass="group-element"
                            />
                            @if (visibleInput[5] === true) {
                                <input
                                    pInputText
                                    formControlName="cPasaTiempoObs"
                                    placeholder="Especifique"
                                    type="text"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="col-12 lg:col-6">
            <p-fieldset legend="Psicopedagógico">
                <div class="grid">
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                <p-inputSwitch
                                    (onChange)="handleSwitchChange($event, 6)"
                                    name="bFichaDGAsistioConsultaPsicologica"
                                />
                                <span
                                    >Alguna vez asistió a una consulta
                                    psicológica</span
                                >
                            </p-inputGroupAddon>
                            @if (visibleInput[6] === true) {
                                <input
                                    type="text"
                                    name="cFichaDGAsistioConsultaPsicologica"
                                    pInputText
                                    placeholder="Especifique *"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12 col-md-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                A quién acudes cuando tienes problemas
                                emocionales
                            </p-inputGroupAddon>
                            <p-multiSelect
                                display="chip"
                                [options]="Problememocional"
                                formControlName="iTipoFamiliarId"
                                [filter]="true"
                                [showClear]="true"
                                [appendTo]="'body'"
                                multiple="true"
                                [maxSelectedLabels]="undefined"
                                showToggleAll="false"
                                (onChange)="handleDropdownChange($event, 7)"
                                (onClear)="handleDropdownChange($event, 7)"
                                [style]="{ flex: '1', width: '100%' }"
                                styleClass="group-element"
                            />
                            @if (visibleInput[7] === true) {
                                <input
                                    pInputText
                                    formControlName="cTipoFamiliarObs"
                                    placeholder="Especifique"
                                    type="text"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12 col-md-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                Como es la relacion con tu familia
                            </p-inputGroupAddon>
                            <p-dropdown
                                [options]="Relac_familiar"
                                formControlName="iRelacionPadresId"
                                [filter]="false"
                                [showClear]="true"
                                [appendTo]="'body'"
                                [style]="{ flex: '1', width: '100%' }"
                                styleClass="group-element"
                            />
                        </p-inputGroup>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="col-12 lg:col-6">
            <p-fieldset legend="Transporte">
                <div class="grid">
                    <div class="col-12 col-md-6">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                ¿Cuál es el medio de transporte que más
                                utilizas?
                            </p-inputGroupAddon>
                            <p-dropdown
                                [options]="mTransporteUrbano"
                                formControlName="iTransporteId"
                                [filter]="true"
                                [showClear]="true"
                                [appendTo]="'body'"
                                (onChange)="handleDropdownChange($event, 8)"
                                [style]="{ flex: '1', width: '100%' }"
                                styleClass="group-element"
                            />
                            @if (visibleInput[8] === true) {
                                <input
                                    pInputText
                                    formControlName="cTransporteObs"
                                    placeholder="Especifique"
                                    type="text"
                                    class="group-element"
                                />
                            }
                        </p-inputGroup>
                    </div>
                    <div class="col-12">
                        <p-inputGroup styleClass="vertical-group">
                            <p-inputGroupAddon>
                                Cuanto gastas aprox. en pasajes
                            </p-inputGroupAddon>
                            <p-inputNumber
                                formControlName="nTransFichaGastoSoles"
                                min="1"
                                showButtons="false"
                                class="group-element"
                                mode="decimal"
                            />
                        </p-inputGroup>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</form>

<br />

<div class="flex justify-content-end gap-2">
    <p-button
        label="Salir sin guardar"
        (onClick)="actualizarDatos()"
        severity="secondary"
    />
    <p-button
        type="button"
        label="Guardar y continuar"
        (onClick)="guardarDatos()"
        severity="success"
        icon="pi pi-save"
    />
</div>

<p-toast></p-toast>
