<article class="card p-0 border-1 surface-border overflow-hidden">
    <div class="area__image-container">
        <img
            src="assets/demo/images/matemit/800_imagen.jpg"
            [alt]="area.nombre"
            class="w-full h-full"
        />
    </div>

    <div class="p-3">
        <h3 class="text-xl">
            {{ area.nombre }} {{ area.grado }} {{ area.seccion }}
        </h3>
        <p class="">
            {{ area.descripcion }}
        </p>
    </div>

    <footer class="p-3 pt-0 flex align-items-center justify-content-between">
        <span>{{ area.totalEstudiantes }} studiantes</span>
        <!-- <p-button
            icon="pi pi-external-link"
            pTooltip="Matriz"
            (click)="generarPdfMatriz(_iEvaluacionId, area)"
        >
        </p-button> -->
        <p-button
            icon="pi pi-file-pdf"
            pTooltip="Descargar Matriz"
            (click)="generarPdfMatriz(_iEvaluacionId, area)"
        >
        </p-button>
        <p-button
            [routerLink]="['./', area.id, 'banco-preguntas']"
            [queryParams]="{
                nombreCurso: area.nombre,
                seccion: area.seccion,
                grado: area.grado,
                nivel: area.nivel,
                iEvaluacionId: _iEvaluacionId,
                nombreEvaluacion: _nombreEvaluacion,
            }"
            icon="pi pi-external-link"
            pTooltip="Banco de Preguntas"
        ></p-button>
    </footer>
</article>
