<section>
    <article>
        <h1>
            <code>&lt;app-empty-section&gt;&lt;/app-empty-section&gt;</code>
        </h1>
        <h2>Especificaciones del Componente</h2>
        <p>
            El componente <strong>EmptySectionComponent</strong> es un
            componente diseñado para mejorar la experiencia del usuario en
            escenarios donde no hay datos disponibles para mostrar.
        </p>
        <div>
            <span>Propiedades</span>
        </div>
        <ul>
            <li>
                message(obligatoria): string = Mensaje que describe el estado
                vacío. Debe ser claro y directo para el usuario final.
            </li>
            <li>
                styleClass: string = Clases CSS adicionales para personalización
                específica.
            </li>
        </ul>
    </article>

    <article>
        <div>Uso básico:</div>
        <span
            ><code
                >&lt;app-empty-section message=&quot;Hola
                mundo&quot;&gt;&lt;/app-empty-section&gt;</code
            ></span
        >
    </article>
    <app-empty-section message="Hola mundo"></app-empty-section>
</section>
