<p-panel>
    <ng-template pTemplate="header">
        <span class="text-xl">Ficha socioeconómica</span>
    </ng-template>
    <p-tabMenu #tabMenu [model]="items" scrollable="true">
        <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.route">
                @if (items[activeItem] === item) {
                    <a [routerLink]="item.route" class="p-menuitem-link">
                        <span [class]="item.icon"></span>
                        <span class="block ml-2">
                            {{ item.label }}
                        </span>
                    </a>
                } @else {
                    <a
                        [routerLink]="item.route"
                        class="p-menuitem-link text-color-secondary"
                    >
                        <span [class]="item.icon"></span>
                        <span class="hidden md:block ml-2" [title]="item.label">
                            {{ item.label }}
                        </span>
                    </a>
                }
            </ng-container>
        </ng-template>
    </p-tabMenu>
    <router-outlet></router-outlet>
</p-panel>
