<p-tabView [(activeIndex)]="activeTab">
  <p-tabPanel header="Competencias asignadas" *ngIf="activeTab === 0" [disabled]="true">
    <div class="flex justify-content-start gap-3 my-3">
      <p-button
        label="Agregar"
        icon="pi pi-plus"
        severity="success"
        (click)="accionBtnItem({ accion: 'agregar' })"
      />
    </div>
    @if (competencias_area.length > 0) {
      <app-table-primeng
        class="w-full"
        [columnas]="columns"
        [data]="competencias_area"
        [actions]="actions"
        (accionBtnItem)="accionBtnItem($event)"
      />
    } @else {
      <app-no-data [showIcon]="'NO-DATA'" mensaje="No se encontraron competencias asignadas" />
    }
  </p-tabPanel>
  <p-tabPanel header="Detalle de Competencia" *ngIf="activeTab === 1" [disabled]="true">
    <form [formGroup]="frmCursosCompetencias">
      <div class="grid p-fluid">
        <div class="col-12">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Estado (*)</p-inputGroupAddon>
            <p-dropdown
              [options]="estados_competencias"
              formControlName="iEstado"
              [showClear]="true"
              appendTo="body"
              styleClass="group-element"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Modalidad (*)</p-inputGroupAddon>
            <p-dropdown
              [options]="modalidad"
              [showClear]="true"
              formControlName="iNivelId"
              optionValue="iNivelId"
              placeholder="Seleccione una modalidad"
              styleClass="group-element"
              (onChange)="accionBtnItem({ accion: 'select_modalidad', item: [] })"
              optionLabel="cNivelNombre"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12" *ngIf="this.frmCursosCompetencias.value.iNivelId > 0">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Nivel (*)</p-inputGroupAddon>
            <p-dropdown
              [options]="nivel_tipo_actual"
              [showClear]="true"
              formControlName="iNivelTipoId"
              optionValue="iNivelTipoId"
              placeholder="Seleccione un nivel"
              styleClass="group-element"
              optionLabel="cNivelTipoNombre"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Competencia (*)</p-inputGroupAddon>
            <p-dropdown
              [options]="competencias"
              [showClear]="true"
              formControlName="iCompetenciaId"
              optionLabel="competencia"
              optionValue="iCompetenciaId"
              placeholder="Seleccione una competencia"
              styleClass="group-element"
              filter="true"
              appendTo="body"
              [style]="{ flex: '1', width: '100%' }"
              panelStyleClass="wrapped-dropdown-panel"
            >
              >
            </p-dropdown>
          </p-inputGroup>
        </div>
      </div>
    </form>
    <div class="flex justify-content-end gap-3">
      <p-button
        label="Ver todos"
        icon="pi pi-arrow-left"
        severity="secondary"
        (click)="cambiarTab(0)"
      />
      <p-button
        label="Guardar"
        *ngIf="!bUpdate"
        icon="pi pi-save"
        severity="success"
        (click)="accionBtnItem({ accion: 'guardar', item: frmCursosCompetencias.value })"
        [disabled]="frmCursosCompetencias.invalid"
      />
      <p-button
        label="Actualizar"
        *ngIf="bUpdate"
        icon="pi pi-save"
        severity="warning"
        [disabled]="frmCursosCompetencias.invalid"
        (click)="accionBtnItem({ accion: 'actualizar', item: frmCursosCompetencias.value })"
      />
    </div>
  </p-tabPanel>
</p-tabView>
