<br />

<form [formGroup]="formVivienda">
    <div class="grid p-fluid mt-3">
        <input type="hidden" name="iFichaDGId" />

        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Ocupación </p-inputGroupAddon>
                <p-dropdown
                    [options]="ocupaciones_vivienda"
                    formControlName="iTipoOcupaVivId"
                    [filter]="false"
                    [showClear]="true"
                    [appendTo]="'body'"
                    (onChange)="handleDropdownChange($event, 0)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[0] === true) {
                    <input
                        pInputText
                        formControlName="cTipoOcupaVivDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>
        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Estado </p-inputGroupAddon>
                <p-dropdown
                    [options]="estados_vivienda"
                    formControlName="iEstadoVivId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    (onChange)="handleDropdownChange($event, 1)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[1] === true) {
                    <input
                        pInputText
                        formControlName="cEstadoVivDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>

        <div class="field col-12 md:col-4">
            <p-inputGroup>
                <p-inputGroupAddon> # de pisos </p-inputGroupAddon>
                <p-inputNumber
                    formControlName="iViviendaCarNroPisos"
                    min="1"
                    showButtons="true"
                />
            </p-inputGroup>
        </div>
        <div class="field col-12 md:col-4">
            <p-inputGroup>
                <p-inputGroupAddon> # de ambientes </p-inputGroupAddon>
                <p-inputNumber
                    formControlName="iViviendaCarNroAmbientes"
                    min="1"
                    showButtons="true"
                />
            </p-inputGroup>
        </div>
        <div class="field col-12 md:col-4">
            <p-inputGroup>
                <p-inputGroupAddon> # de dormitorios </p-inputGroupAddon>
                <p-inputNumber
                    formControlName="iViviendaCarNroHabitaciones"
                    min="0"
                    showButtons="true"
                />
            </p-inputGroup>
        </div>

        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Material del techo </p-inputGroupAddon>
                <p-dropdown
                    [options]="materiales_techos_vivienda"
                    formControlName="iMatTecVivId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    (onChange)="handleDropdownChange($event, 2)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[2] === true) {
                    <input
                        pInputText
                        formControlName="cMatTecVivDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>
        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Pisos </p-inputGroupAddon>
                <p-dropdown
                    [options]="materiales_pisos_vivienda"
                    formControlName="iMatPisoVivId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    (onChange)="handleDropdownChange($event, 3)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[3] === true) {
                    <input
                        pInputText
                        formControlName="cMatPisoVivDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>

        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Paredes </p-inputGroupAddon>
                <p-dropdown
                    [options]="materiales_paredes_vivienda"
                    formControlName="iMatPreId"
                    [filter]="false"
                    [showClear]="true"
                    [appendTo]="'body'"
                    (onChange)="handleDropdownChange($event, 4)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[4] === true) {
                    <input
                        pInputText
                        formControlName="cMatPreDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>
        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Suministro de agua </p-inputGroupAddon>
                <p-dropdown
                    [options]="suministros_agua"
                    formControlName="iTipoSumAId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    (onChange)="handleDropdownChange($event, 5)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[5] === true) {
                    <input
                        pInputText
                        formControlName="cTipoSumADescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>

        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Tipo de vivienda </p-inputGroupAddon>
                <p-dropdown
                    [options]="tipos_vivienda"
                    formControlName="iTipoVivId"
                    [filter]="false"
                    [showClear]="true"
                    [appendTo]="'body'"
                    (onChange)="handleDropdownChange($event, 6)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[6] === true) {
                    <input
                        pInputText
                        formControlName="cTipoVivDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>
        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Tipo de SSHH </p-inputGroupAddon>
                <p-dropdown
                    [options]="tipos_sshh"
                    formControlName="iTiposSsHhId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    (onChange)="handleDropdownChange($event, 7)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[7] === true) {
                    <input
                        pInputText
                        formControlName="cTipoSsHhDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>

        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Alumbrado </p-inputGroupAddon>
                <p-multiSelect
                    display="chip"
                    [options]="tipos_alumbrado"
                    formControlName="iTipoAlumId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    multiple="true"
                    [maxSelectedLabels]="undefined"
                    (onChange)="handleDropdownChange($event, 8)"
                    (onClear)="handleDropdownChange($event, 8)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[8] === true) {
                    <input
                        pInputText
                        formControlName="cTipoAlumDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>
        <div class="field col-12 md:col-6">
            <p-inputGroup>
                <p-inputGroupAddon> Otros elementos </p-inputGroupAddon>
                <p-multiSelect
                    display="chip"
                    [options]="otros_elementos"
                    formControlName="iEleParaVivId"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    multiple="true"
                    [maxSelectedLabels]="undefined"
                    (onChange)="handleDropdownChange($event, 9)"
                    (onClear)="handleDropdownChange($event, 9)"
                    [style]="{ flex: '1', width: '100%' }"
                />
                @if (visibleInput[9] === true) {
                    <input
                        pInputText
                        formControlName="cEleParaVivDescripcion"
                        placeholder="Especifique"
                        type="text"
                    />
                }
            </p-inputGroup>
        </div>
    </div>
</form>

<br />

<div class="flex justify-content-end gap-2">
    <p-button
        label="Salir sin guardar"
        (onClick)="actualizarDatos()"
        severity="secondary"
    />
    <p-button
        label="Guardar y continuar"
        (onClick)="guardarDatos()"
        severity="success"
        icon="pi pi-save"
    />
</div>
<p-toast></p-toast>
