:host ::ng-deep p-inputGroupAddon {
    background-color: var(--bg-header-modal) !important;
    color: var(--primary-color-text) !important;
    i {
        color: var(--primary-color-text) !important;
    }
}

:host ::ng-deep .p-inputgroup {
    display: block !important;
}

:host ::ng-deep .p-inputgroup p-dropdown,
:host ::ng-deep .p-inputgroup input,
:host ::ng-deep .p-inputgroup p-input,
:host ::ng-deep .p-inputgroup p-inputtext,
:host ::ng-deep .p-inputgroup p-inputnumber,
:host ::ng-deep .p-inputgroup p-inputnumber-button {
    width: 100% !important;
    border-radius: 0rem;
}

:host ::ng-deep .p-inputgroup-addon {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0rem !important;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0rem !important;
}

:host ::ng-deep .p-inputgroup .p-component:last-child {
    border-top-right-radius: 0rem !important;
    border-bottom-right-radius: 0.5rem !important;
    border-top-left-radius: 0rem !important;
    border-bottom-left-radius: 0.5rem !important;
}
