<p-dialog
    [modal]="true"
    [(visible)]="showModal"
    [style]="{ width: '90%' }"
    [draggable]="false"
    [resizable]="true"
    (onHide)="accionBtn('close-modal', [])"
>
    <ng-template pTemplate="header" class="flex flex-column flex-1">
        <div class="flex flex-wrap gap-2 justify-content-end">
            <ng-content select="[icons]"></ng-content>

            <button
                size="small"
                [rounded]="true"
                [text]="true"
                pButton
                pRipple
                style="color: white"
                (click)="aumentarZoom()"
            >
                <i class="pi pi-plus"></i>
            </button>
            <button
                size="small"
                [rounded]="true"
                [text]="true"
                pButton
                pRipple
                style="color: white"
                (click)="disminuirZoom()"
            >
                <i class="pi pi-minus"></i>
            </button>
        </div>
    </ng-template>
    <ng-content>
        <div *ngIf="imageUrl" class="text-center">
            <h4>Vista previa de la imagen:</h4>
            <!-- <div class="zoom-controls">
        <label for="zoom">Zoom:</label>
        <input type="range" id="zoom" min="50" max="100" [(ngModel)]="zoomLevel" step="10" />
        <span>{{ zoomLevel }}%</span>
      </div> -->
            <div
                class="image-preview"
                [style.transform]="'scale(' + zoomLevel / 100 + ')'"
                [style.transition]="'transform 0.3s ease'"
            >
                <img [src]="imageUrl" alt="Imagen seleccionada" />
            </div>
        </div>
    </ng-content>
</p-dialog>
