:host{
  flex: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-panel-icons button {
  background-color: #64748b;
  border-color: #64748b;
}

section {
  border: 1px solid black;
  height: 100%;
}

h1{
  background-color: #0e4194;
  color: #fff;
  padding: 1.25rem;
}