<section class="flex flex-column gap-4">
    <div class="flex flex-column">
        <!-- título -->
        <div class="grid">
            <p-toolbar class="col-12">
                <div class="block">
                    <h2 class="text-primary text-white font-bold block">
                        ORDEN DE MÉRITO ACADÉMICO
                    </h2>
                </div>
            </p-toolbar>
        </div>

        <!-- contenido -->
        <div class="flex">
            <div class="card w-full">
                <p-fieldset>
                    <ng-template pTemplate="header"
                        >Orden de Mérito</ng-template
                    >
                    <div class="flex">
                        <!-- Selección de Año Escolar -->
                        <p-dropdown
                            class="ml-1"
                            [options]="years"
                            optionLabel="cYearNombre"
                            optionValue="iYAcadId"
                            placeholder="Año Escolar"
                            [(ngModel)]="selectYear"
                        />

                        <!-- Selección de Grado -->
                        <p-dropdown
                            class="ml-1"
                            [options]="grado"
                            optionLabel="cGradoNombre"
                            optionValue="iGradoId"
                            placeholder="Grado"
                            [(ngModel)]="selectedGrado"
                        ></p-dropdown>

                        <!-- Selección de Orden de Mérito -->
                        <p-dropdown
                            class="ml-1"
                            [options]="merito"
                            [(ngModel)]="selectedMerito"
                            optionLabel="label"
                            placeholder="Tipo de Orden de Mérito"
                        ></p-dropdown>

                        <!-- Botón Buscar -->
                        <button
                            pButton
                            pRipple
                            label="Buscar"
                            class="p-button-primary ml-1"
                            (click)="obtenerReportes()"
                        ></button>

                        <!-- Botón Generar -->
                        <button
                            pButton
                            pRipple
                            label="Generar"
                            class="p-button-primary ml-1"
                            (click)="generarReporte()"
                        ></button>
                    </div>
                </p-fieldset>
                <br />
                <p-toast position="top-right"></p-toast>
                <!-- Tabla de Resultados -->
                <p-table
                    [value]="identidad"
                    [paginator]="true"
                    [rows]="5"
                    [tableStyle]="{ 'min-width': '50rem' }"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nº</th>
                            <th>Orden de Mérito</th>
                            <th>Grado</th>
                            <th>Fecha de Generación</th>
                            <th>Descargar PDF</th>
                            <th>Compartir</th>
                            <th>Eliminar / Ver</th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-identidad
                        let-i="rowIndex"
                    >
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ identidad.merito }}</td>
                            <td>{{ identidad.grado }}</td>
                            <td>{{ identidad.fecha }}</td>
                            <td>
                                <p-button
                                    pButton
                                    pRipple
                                    icon="pi pi-download"
                                    class="p-button-rounded p-button-danger p-button-text mr-1"
                                    (click)="descargarPdf(identidad.url)"
                                />
                            </td>
                            <td>
                                <p-button
                                    pButton
                                    pRipple
                                    icon="pi pi-copy"
                                    class="p-button-rounded p-button-success p-button-text mr-1 text-center"
                                    (click)="compartirUrl(identidad.url)"
                                />
                            </td>
                            <td>
                                <p-button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text mr-1"
                                    (click)="eliminarRegistro(identidad)"
                                />
                                <p-button
                                    pButton
                                    pRipple
                                    icon="pi pi-eye"
                                    class="p-button-rounded p-button-info p-button-text"
                                    (click)="togglePreview(identidad)"
                                />
                            </td>
                        </tr>
                        <!-- Fila de expansión (solo aparece si rowData.expanded = true) -->
                        <tr *ngIf="identidad.expanded">
                            <td colspan="7">
                                <div class="my-3">
                                    <!-- Botón para cerrar la vista previa -->
                                    <button
                                        pButton
                                        label="Cerrar Vista"
                                        icon="pi pi-times"
                                        class="mr-2"
                                        (click)="togglePreview(identidad)"
                                    ></button>
                                </div>

                                <!-- Aquí va el iframe con el PDF -->
                                <iframe
                                    #pdfFrame
                                    [src]="identidad.safeUrl"
                                    width="100%"
                                    height="600px"
                                    style="border: none"
                                ></iframe>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <br />
                <p-confirmDialog></p-confirmDialog>
                <!-- Estado de Reportes -->
                <!-- <div class="grid mt-5">
                    <div class="col">
                        <p class="pi pi-spinner-dotted font-bold">Procesando</p>
                    </div>
                    <div class="col">
                        <p class="pi pi-check-circle font-bold">Procesado</p>
                    </div>
                    <div class="col">
                        <p class="pi pi-refresh font-bold">Actualizar</p>
                    </div>
                    <div class="col">
                        <p class="pi pi-ban font-bold">Reprocesar</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
