:host ::ng-deep p-inputGroupAddon {
  background-color: var(--bg-header-modal) !important;
  color: var(--primary-color-text) !important;
  i {
    color: var(--primary-color-text) !important;
  }
}

:host ::ng-deep .p-panel-header {
  background-color: var(--bg-header-modal) !important;
  color: var(--primary-color-text) !important;
  i {
    color: var(--primary-color-text) !important;
  }
}

:host ::ng-deep .p-inputgroup .group-element,
:host ::ng-deep .p-inputgroup .p-inputtextarea,
:host ::ng-deep .p-inputgroup .group-element .p-dropdown {
  width: 100% !important;
  border-radius: 0rem;
}

:host ::ng-deep .p-inputgroup .group-element.p-dropdown input {
  width: 100% !important;
}

:host ::ng-deep .p-inputgroup .group-element:last-child,
:host ::ng-deep .p-inputgroup .p-inputtextarea,
:host ::ng-deep .p-inputgroup .group-element.p-inputtext {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

:host ::ng-deep .p-inputgroup p-dropdown:has(+ .group-element) .p-dropdown.group-element,
:host ::ng-deep .p-inputgroup p-multiselect:has(+ .group-element) .p-multiselect.group-element {
  border-radius: 0rem !important;
}

:host ::ng-deep .p-inputgroup .p-inputgroup-addon {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
  padding: 0 1rem !important;
  border: 0 !important;
}

:host ::ng-deep .p-inputgroup .p-inputgroup-addon:only-child {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

:host ::ng-deep .p-fieldset {
  width: 100% !important;
  padding: 6px !important;
  border-color: var(--bg-header-modal) !important;
}

:host ::ng-deep .p-fieldset-legend {
  padding: 1rem !important;
  background-color: var(--bg-header-modal) !important;
  color: var(--primary-color-text) !important;
  i {
    color: var(--primary-color-text) !important;
  }
}

:host ::ng-deep .p-fieldset-legend a {
  padding: 0rem !important;
  color: var(--primary-color-text) !important;
  i {
    color: var(--primary-color-text) !important;
  }
}

:host ::ng-deep .p-fieldset-content {
  padding: 1rem !important;
}

:host ::ng-deep .p-panel-header .p-panel-header-icon {
  color: var(--primary-color-text) !important;
}

:host ::ng-deep .p-inputtextarea {
  width: 100% !important;
  resize: none !important;
}

:host ::ng-deep .p-message {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.cursos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  row-gap: 3rem;
}
