<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-2xl font-bold">Reportar Logros Alcanzados</div>
    </div>
  </ng-template>

  <app-table-primeng
    [data]="cursos"
    [columnas]="columns"
    [showCaption]="false"
    [showPaginator]="true"
    [showSortIcon]="true"
    [actions]="actions"
    (accionBtnItem)="accionBtnItemTable($event)"
  />
</p-panel>
<p-toast />
 
