<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-xl font-bold">REGISTRAR LOGROS ALCANZADOS</div>
    </div>
  </ng-template>

  <div class="grid">
    @if (areas && areas.length > 0) {
      <div class="col-12 cursos">
        @for (area of areas; track area) {
          <app-curso-card
            #dv
            [curso]="area"
            [registro]="true"
            (filtrarCurso)="seleccionarArea($event)"
          ></app-curso-card>
        }
      </div>
    } @else {
      <div class="col-12">
        <p-message
          severity="info"
          text="No hay cursos disponibles para registrar logros alcanzados."
        ></p-message>
      </div>
    }
  </div>
</p-panel>
<p-toast />
 
