:host ::ng-deep {
  /* Oculta los botones de mover ítems */
  .p-orderlist-controls {
    display: none;
  }

  /* Hace que el orderlist ocupe el ancho del col */
  .p-orderlist {
    width: 100% !important;
  }

  /* Ajusta el contenedor de la lista */
  .p-orderlist-list {
    width: 100%;
    max-width: 100%;
  }

  /* Ajusta los ítems */
  .p-orderlist-item {
    width: 100%;
    background: white !important;

    .icon {
      color: var(--green-500) !important;
    }
  }

  /* Estado seleccionado */
  .p-orderlist-item.p-highlight {
    color: black !important;
  }
}

/* Estilo visual de cada item */
.list-item-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.list-item-custom:hover {
  background-color: #f0f0f5;
}

.list-item-custom.selected {
  background: var(--green-500);
  color: white;

  .icon {
    color: white !important;
  }
}
