<p-dialog
    header="Agregar nueva sección"
    [modal]="true"
    [(visible)]="dialogVisibles.nuevaSeccion"
    [style]="{ width: '90rem' }"
>
    <div class="flex flex-column justify-content-between gap-4">
        <div>
            <span class="p-text-secondary block mb-5"
                >Crea una nueva sección para organizar tus videos
                instructivos.</span
            >

            <div class="flex flex-column gap-2">
                <label for="username">Título</label>
                <input
                    pInputText
                    id="username"
                    placeholder="Ingresa el título de la sección"
                    aria-describedby="username-help"
                />
                <!-- <small id="username-help">
                Enter your username to reset your password.
            </small> -->
            </div>
            <div class="flex flex-column gap-2">
                <label for="username">Descripción</label>
                <textarea
                    rows="5"
                    cols="30"
                    placeholder="Describe brevemente el contenido de esta sección"
                    pInputTextarea
                ></textarea>
                <!-- <small id="username-help">
                Enter your username to reset your password.
            </small> -->
            </div>
        </div>
        <div class="flex flex-column gap-2">
            <label for="username">Perfiles con acceso</label>
            <p-pickList
                [source]="perfiles"
                [target]="sourcePerfiles"
                sourceHeader="Disponibles"
                targetHeader="Seleccionados"
                [dragdrop]="true"
                [responsive]="true"
                [sourceStyle]="{ height: '20rem' }"
                [targetStyle]="{ height: '20rem' }"
                filterBy="name"
                sourceFilterPlaceholder="Buscar perfiles disponibles"
                targetFilterPlaceholder="Buscar perfiles seleccionados"
                breakpoint="1400px"
            >
                <ng-template let-product pTemplate="item">
                    <div class="flex flex-wrap p-2 align-items-center gap-3">
                        <div class="flex-1 flex gap-2">
                            <i class="pi pi-user"> </i>
                            <span class="font-bold">
                                {{ product.name }}
                            </span>
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Cancel"
            [text]="true"
            severity="secondary"
            (onClick)="dialogVisibles.nuevaSeccion = false"
        />
        <p-button
            label="Save"
            [outlined]="true"
            severity="secondary"
            (onClick)="dialogVisibles.nuevaSeccion = false"
        />
    </ng-template>
</p-dialog>

<p-dialog
    header="Agregar nuevo video"
    [modal]="true"
    [(visible)]="dialogVisibles.nuevoVideo"
    [style]="{ width: '90rem' }"
>
    <div class="flex flex-column justify-content-between gap-4">
        <div>
            <span class="p-text-secondary block mb-5"
                >Agrega un nuevo video instructivo a una sección
                existente.</span
            >

            <div class="flex gap-4">
                <div class="flex flex-1 flex-column gap-2">
                    <label for="username">Título</label>
                    <input
                        pInputText
                        id="username"
                        placeholder="Ingresa el título de la sección"
                        aria-describedby="username-help"
                    />
                    <!-- <small id="username-help"> 
                    Enter your username to reset your password.
                </small> -->
                </div>
                <div class="flex flex-1 flex-column gap-2">
                    <label for="username">Descripción</label>
                    <p-dropdown
                        styleClass="w-full"
                        [options]="perfiles"
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione una sección"
                    >
                        <ng-template
                            pTemplate="selectedItem"
                            let-selectedOption
                        >
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>

            <div class="flex gap-4">
                <div class="flex flex-1 flex-column gap-2">
                    <label for="username">URL del video</label>
                    <input
                        pInputText
                        id="username"
                        placeholder="https://example.com/video"
                        aria-describedby="username-help"
                    />
                    <!-- <small id="username-help"> 
                    Enter your username to reset your password.
                </small> -->
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button
            label="Cancel"
            [text]="true"
            severity="secondary"
            (onClick)="dialogVisibles.nuevoVideo = false"
        />
        <p-button
            label="Save"
            [outlined]="true"
            severity="secondary"
            (onClick)="dialogVisibles.nuevoVideo = false"
        />
    </ng-template>
</p-dialog>

<app-container-page
    title="Administración de contenido instructivo"
    [actions]="[]"
>
    <ng-template #actionsTemplate>
        <div class="flex gap-4">
            <div class="relative flex flex-column gap-8">
                <p-dropdown
                    [options]="perfiles"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    placeholder="Seleccione un perfil"
                >
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ country.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <p-button icon="pi pi-shield" label="Ver como usuario"> </p-button>
        </div>
    </ng-template>

    <div
        class="flex flex-column gap-4"
        [ngClass]="{
            'user-select':
                !optionsSections.isOrderActivity ||
                optionsAccordion.isOrderActivity,
        }"
    >
        <div class="flex justify-content-between align-items-center">
            <span> Mostrando todas las secciones (modo ???) </span>

            <div class="flex gap-4">
                @if (optionsSections.isOrderActivity) {
                    <p-button
                        (onClick)="
                            optionsSections = {
                                isOrderActivity: false,
                                typeOrder: 'guardar',
                            }
                        "
                        icon="pi pi-save"
                        label="Guardar cambios"
                    ></p-button>
                    <p-button
                        (onClick)="
                            optionsSections = {
                                isOrderActivity: false,
                                typeOrder: 'cancelar',
                            }
                        "
                        icon="pi pi-times"
                        label="Cancelar"
                    ></p-button>
                }
                @if (optionsAccordion.isOrderActivity) {
                    <p-button
                        (onClick)="
                            optionsAccordion = {
                                isOrderActivity: false,
                                typeOrder: 'guardar',
                            }
                        "
                        icon="pi pi-save"
                        label="Guardar cambios"
                    ></p-button>
                    <p-button
                        (onClick)="
                            optionsAccordion = {
                                isOrderActivity: false,
                                typeOrder: 'cancelar',
                            }
                        "
                        icon="pi pi-times"
                        label="Cancelar"
                    ></p-button>
                }

                @if (
                    !optionsAccordion.isOrderActivity &&
                    !optionsSections.isOrderActivity
                ) {
                    <p-button
                        icon="pi pi-list"
                        label="Ordenar secciones"
                        (onClick)="
                            optionsSections = {
                                isOrderActivity: true,
                                typeOrder: 'order',
                            }
                        "
                    ></p-button>
                    <p-button
                        (onClick)="dialogVisibles.nuevaSeccion = true"
                        icon="pi pi-plus-circle"
                        label="Nueva sección"
                    ></p-button>
                    <p-button
                        (onClick)="dialogVisibles.nuevoVideo = true"
                        icon="pi pi-plus-circle"
                        label="Nuevo video"
                    ></p-button>
                }
            </div>
        </div>

        <app-accordion-view
            [optionsSections]="optionsSections"
            type="draggable"
            [optionsAccordion]="optionsAccordion"
        >
            @for (enlace of enlacesAyuda; track enlace) {
                <app-accordion-panel
                    [panelTitle]="enlace.title"
                    [contents]="enlace.contents"
                    [perfilesActives]="enlace.perfiles"
                />
            }
        </app-accordion-view>
    </div>

    <!-- <p-accordion [activeIndex]="0">
        @for (seccion of enlacesAyuda; track $index) {
            <p-accordionTab  [header]="seccion.title">
                <div class="card-container">
                    <div class="card-grid">
                        @if (seccion.videos) {
                            @for (video of seccion.videos; track $index) {
                                <p-card
                                    [header]="video.title"
                                    [subheader]="video.description"
                                    [style]="{ width: '100%' }"
                                >
                                    <div>
                                        <iframe
                                            width="100%"
                                            height="200"
                                            [src]="
                                                sanitizer.bypassSecurityTrustResourceUrl(
                                                    video.url
                                                )
                                            "
                                            frameborder="0"
                                            allowfullscreen
                                        >
                                        </iframe>
                                    </div>
                                </p-card>
                            }
                        }

                        @if (seccion.urls) {
                            @for (url of seccion.urls; track $index) {
                                <a
                                    [href]="url.url"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    aria-label="Materiales educativos y recursos digitales"
                                    class="help-link"
                                >
                                    <img
                                        [src]="url.img"
                                        class="icon"
                                        [alt]="url.alt"
                                        title="Materiales educativos y recursos digitales"
                                    />
                                </a>
                            }
                        }
                    </div>
                </div>
            </p-accordionTab>
        }
    </p-accordion> -->
</app-container-page>
