<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-xl">Gestionar encuestas de categoría</div>
      <div class="flex text-sm">{{ categoria?.cCateNombre }}</div>
    </div>
  </ng-template>

  <ng-template pTemplate="icons" class="flex justify-content-center">
    <p-button
      *ngIf="categoria && !+categoria?.bEsFija"
      label="Nueva"
      icon="pi pi-plus"
      severity="success"
      (click)="agregarEncuesta()"
    />
    <p-button
      *ngIf="categoria && +categoria?.bEsFija && encuestas.length === 0"
      label="Generar"
      icon="pi pi-sync"
      severity="success"
      (click)="generarEncuestaPlantilla()"
    />
  </ng-template>

  <div class="grid">
    <div class="col-12">
      <p-inputGroup>
        <p-inputGroupAddon> Buscar </p-inputGroupAddon>
        <input #filtro type="text" pInputText (input)="filtrarTabla()" />
      </p-inputGroup>
    </div>
  </div>

  <app-table-primeng
    [columnas]="columns"
    [data]="encuestas_filtradas"
    (accionBtnItem)="accionBtnItemTable($event)"
    [(selectedRowData)]="selectedItem"
    [actions]="actions"
    [showCaption]="false"
  >
  </app-table-primeng>
</p-panel>

<p-toast></p-toast>
