:host ::ng-deep .p-panel-header h3 {
    color: #3e67a9 !important;
}

:host ::ng-deep .p-panel-icons button {
    background-color: #64748b;
    border-color: #64748b;
}

:host ::ng-deep p-steps nav {
    overflow: auto !important;
}
