<div class="grid col">
    <div class="card col-4 mr-2">
        <app-toolbar-primeng
            title="Lista de Semanas / Clases"
        ></app-toolbar-primeng>
        <div class="flex flex-column">
            @if (contenidoSemanas.length > 0) {
                @for (
                    semana of contenidoSemanas;
                    track semana.iContenidoSemId
                ) {
                    <p-accordion
                        [multiple]="true"
                        expandIcon="pi pi-angle-right"
                        collapseIcon="pi pi-angle-down"
                    >
                        <p-accordionTab header="" class="" iconPos="end">
                            <ng-template pTemplate="header">
                                <div
                                    class="flex flex-column w-full"
                                    (onclick)="mostrarDetalleSemana(semana)"
                                >
                                    <div class="flex">
                                        <p class="text-xs">
                                            SEMANA
                                            {{ semana.cContenidoSemNumero }}
                                            <!--| (Desde: 01/01/2020 - Hasta:
                                    04/04/2020)-->
                                        </p>
                                    </div>
                                    <div class="flex">
                                        Tema:
                                        {{
                                            semana.cContenidoSemTitulo.length >
                                            150
                                                ? (semana.cContenidoSemTitulo
                                                      | slice: 0 : 150) + '...'
                                                : semana.cContenidoSemTitulo
                                        }}
                                    </div>
                                </div>
                                @if (iPerfilId === DOCENTE) {
                                    <div
                                        class="flex align-items-end justify-content-end mx-4"
                                    >
                                        <button
                                            size="small"
                                            [rounded]="true"
                                            pButton
                                            pRipple
                                            (click)="
                                                $event.stopPropagation();
                                                setSemanaSeleccionada(semana);
                                                menuContenido.toggle($event)
                                            "
                                            ngClass="p-button-primary"
                                        >
                                            <i class="pi pi-plus"></i>
                                            &nbsp;Actividad
                                        </button>
                                    </div>
                                }
                            </ng-template>

                            <div class="flex justify-content-center">
                                <p-button
                                    icon="pi pi-pencil"
                                    [rounded]="true"
                                    [text]="true"
                                    severity="danger"
                                />
                                <p-button
                                    icon="pi pi-comments"
                                    [rounded]="true"
                                    [text]="true"
                                    severity="success"
                                />
                                <p-button
                                    icon="pi pi-check-square"
                                    [rounded]="true"
                                    [text]="true"
                                    severity="info"
                                />
                                <p-button
                                    icon="pi pi-video"
                                    [rounded]="true"
                                    [text]="true"
                                    severity="secondary"
                                />
                            </div>

                            <!-- @for (fecha of semana.fechas; track $index) { -->
                            <!-- <h3 class="text-primary text-xl">
                        {{ fecha.fecha | date: "EEEE, d 'de' MMMM 'de' yyyy" }}
                    </h3>
                    <hr /> -->
                            <!-- <app-actividad-lista
                                    [actividades]="fecha.actividades"
                                    (actionSelected)="
                                        setSemanaSeleccionada(semana);
                                        actionSelected($event)
                                    "
                                    ><p-divider></p-divider
                                ></app-actividad-lista> -->
                            <!-- } -->
                        </p-accordionTab>
                    </p-accordion>
                }
            }
            @if (!loadingContenidoSemanas && contenidoSemanas.length === 0) {
                <div class="card">
                    <app-no-data></app-no-data>
                </div>
            }
        </div>

        <p-menu #menuContenido [model]="accionesContenido" [popup]="true">
            <ng-template pTemplate="item" let-item>
                <a
                    pRipple
                    class="flex align-items-center gap-2 p-2 px-3 text-color"
                >
                    <span>
                        {{ item.label }}
                    </span>
                </a>
            </ng-template>
        </p-menu>

        <app-form-evaluacion
            [showModalEvaluacion]="showModalEvaluacion"
            [semanaEvaluacion]="semanaEvaluacion"
            [tituloEvaluacion]="tituloEvaluacion"
            [opcionEvaluacion]="opcionEvaluacion"
            [idDocCursoId]="idDocCursoId"
            [curso]="curso"
            [dataActividad]="dataActividad"
            (accionBtnItem)="accionBtnItem($event)"
        ></app-form-evaluacion>
    </div>
    <div class="card col">
        <app-toolbar-primeng title="titulo"> hola</app-toolbar-primeng>
        <div class="grid">
            <div class="col-5">
                <p-inputGroup>
                    <p-inputGroupAddon>Tipo de actividad:</p-inputGroupAddon>
                    <p-dropdown
                        [options]="tipoActivadedes"
                        styleClass="w-full"
                        formControlName="iActTipoId"
                        placeholder="Seleccione el tipo"
                        optionValue="iActTipoId"
                        optionLabel="cActTipoNombre"
                    ></p-dropdown>
                </p-inputGroup>
            </div>
            <div class="col-7">
                <p-inputGroup>
                    <p-inputGroupAddon
                        ><i class="pi pi-search"></i
                    ></p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        placeholder="Buscar nombre de la actividad"
                    />
                    <!--  [(ngModel)]="buscarText" -->
                </p-inputGroup>
            </div>
        </div>
        <div class="col">
            <ng-container *ngIf="semanaSeleccionada">
                <h3 class="text-primary">
                    Detalle de Semana
                    {{ semanaSeleccionada.cContenidoSemNumero }}
                </h3>
                <!-- <p class="mb-2"><strong>Tema:</strong> {{ semanaSeleccionada.cContenidoSemTitulo }}</p> -->

                @for (fecha of semanaSeleccionada.fechas; track $index) {
                    <!-- <h4 class="mt-3">{{ fecha.fecha | date: "EEEE, d 'de' MMMM 'de' yyyy" }}</h4> -->

                    <app-actividad-lista
                        [actividades]="fecha.actividades"
                        (actionSelected)="actionSelected($event)"
                    >
                    </app-actividad-lista>
                }
            </ng-container>

            <ng-container *ngIf="!semanaSeleccionada">
                <div class="card">
                    <app-no-data></app-no-data>
                </div>
                <!-- <p class="text-gray-500">Selecciona una semana para ver los detalles.</p> -->
            </ng-container>
        </div>
    </div>
</div>
