<app-toolbar-primeng [title]="'Datos del año académico'"> </app-toolbar-primeng>
<app-tabs-primeng
  class="col-12"
  [activeIndex]="selectTab"
  [tabs]="tabs"
  [icon]="false"
  [list]="true"
  [getIndex]="false"
  (updateTab)="updateTab($event)"
>
</app-tabs-primeng>

<div class="grid">
  <div class="col-12">
    @switch (tabSeleccionado) {
      @case ('configuracion') {
        <app-configuracion-inicial></app-configuracion-inicial>
      }
      @case ('periodos') {
        <app-periodos-academicos></app-periodos-academicos>
      }
      @case ('resumen') {
        <app-resumen></app-resumen>
      }
    }
  </div>
  <div class="col-6 text-left">
    <p-button
      *ngIf="tabSeleccionado !== 'configuracion'"
      [label]="'Atrás'"
      severity="danger"
      icon="pi pi-arrow-left"
      iconPos="left"
    />
  </div>
  <div class="col-6 text-right">
    <p-button
      *ngIf="tabSeleccionado !== 'resumen'"
      [label]="'Siguiente'"
      severity="success"
      icon="pi pi-arrow-right"
      iconPos="right"
    />
  </div>
</div>
