<div class="p-8">
    <div class="container p-5">
        <span class="title">Bienvenido:</span><br />
        <div class="title text-justify">
            <b>{{ name }}</b> a la
            <span style="color: var(--surface-menu)"
                >Plataforma Educativa Virtual</span
            >
            de la Dirección Regional de Educación Moquegua
        </div>
        <div class="text-center mt-5">
            <img
                style="max-width: 150px"
                src="assets/images/logo-plataforma-virtual.png"
                alt="logo"
            />
        </div>
    </div>
</div>
