<div class="container m-8">
    <div class="title">
        Bienvenido {{ name }} al
        <span style="color: var(--surface-menu)">Proyecto Virtual</span> de la
        Dirección Regional de Moquegua
    </div>
    <div class="text-center logo">
        <img
            style="max-width: 100%"
            src="assets/images/logo-proyecto.png"
            alt="logo"
        />
    </div>
</div>

<p-dialog
    [(visible)]="modalPerfiles"
    [style]="{ width: '1000px' }"
    header="Seleccionar un Perfil"
    [modal]="true"
    class="p-fluid"
>
    <div [style]="{ height: '300px' }">
        <h5>Selecciones su perfil</h5>
        <div class="field w-full max-w-md pb-0">
            <label for="tipo-pregunta">Perfil :</label>
            <p-dropdown
                [options]="perfiles"
                placeholder="Seleccione Perfil"
                styleClass="w-full"
                class="flex-1"
                [emptyMessage]="'---'"
                optionValue="iPerfilId"
                optionLabel="cPerfilNombre"
                (onChange)="seleccionarPerfil($event)"
            >
            </p-dropdown>
        </div>
    </div>
</p-dialog>
