:host ::ng-deep {
  .p-scrollpanel {
    &.custombar1 {
      .p-scrollpanel-wrapper {
        border-right: 9px solid var(--layer-1);
      }

      .p-scrollpanel-bar {
        background-color: var(--primary-color);
        opacity: 1;
        transition: background-color 0.2s;

        &:hover {
          background-color: #007ad9;
        }
      }
    }
  }
  .p-tabview-title {
    color: rgb(123, 123, 123);
  }
  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: black;
  }
}
.container {
  background-color: #fafff6;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 44.53px;
}

.logo {
  margin-top: 83px;
}
.plataforVirt {
  color: #da2414;
}
.icono-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono-container::before {
  content: '';
  position: absolute;
  bottom: 5px; /* Ajusta para colocar la sombra debajo del icono */
  width: 20%;
  height: 30px;
  background: rgba(0, 0, 0, 0.2); /* Color de la sombra */
  border-radius: 50%; /* Para hacer la sombra elíptica */
  filter: blur(5px); /* Suaviza los bordes de la sombra */
  transition: transform 5s linear;
}
