<app-container-page
  title="Cursos"
  [actions]="cursos.container.actions"
  (accionBtnItem)="cursos.container.accionBtnItem($event)"
>
  <app-table-primeng
    class="w-full"
    [columnas]="cursos.table.columns"
    [data]="cursos.table.data"
    [actions]="cursos.table.actions.core"
    (accionBtnItem)="cursos.table.accionBtnItem($event)"
  />
</app-container-page>
<p-dialog
  #cursoDialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '75rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap">
        {{ cursos.title }}
      </span>
    </div>
  </ng-template>

  <div>
    <form [formGroup]="frmCursos">
      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input pInputText id="cCursoNombre" formControlName="cCursoNombre" />
            <label for="cCursoNombre">Nombre</label>
          </span>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <label for="iCursoEstado">Estado</label>
            <p-toggleButton
              styleClass="w-full"
              onLabel="Activo"
              offLabel="Inactivo"
              formControlName="iCursoEstado"
            />
          </span>
        </div>
      </div>

      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input pInputText id="fechaResolucion" formControlName="iTipoCursoId" />
            <label for="fechaResolucion">Tipo de curso</label>
          </span>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input pInputText id="fechaResolucion" formControlName="iCursoTotalHoras" />
            <label for="fechaResolucion">Total horas</label>
          </span>
        </div>
      </div>

      <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input pInputText id="fechaResolucion" formControlName="nCursoCredTeoria" />
            <label for="fechaResolucion">Créditos de teoría</label>
          </span>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input pInputText id="fechaResolucion" formControlName="nCursoCredPractica" />
            <label for="fechaResolucion">Créditos de práctica</label>
          </span>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input pInputText id="fechaResolucion" formControlName="nCursoTotalCreditos" />
            <label for="fechaResolucion">Total de créditos</label>
          </span>
        </div>
      </div>
      <div class="col-12">
        <div class="col-12">
          <label for="fechaResolucion">Descripción</label>
          <p-editor
            class="col-12"
            id="totalCreditos"
            styleClass="h-full"
            formControlName="cCursoDescripcion"
            [style]="{ height: '80px' }"
          />
        </div>

        <div class="col-12">
          <label for="fechaResolucion">Perfil de docente</label>
          <p-editor
            class="col-12"
            id="totalCreditos"
            formControlName="cCursoPerfilDocente"
            [style]="{ height: '80px' }"
          />
        </div>

        <div class="col-12">
          <label for="fechaResolucion">Imagen</label>
          <p-fileUpload
            [multiple]="false"
            accept="image/*"
            maxFileSize="1000000"
            (onSelect)="
              frmCursos.patchValue({
                cCursoImagen: $event.currentFiles?.[0],
              })
            "
            (onClear)="frmCursos.patchValue({ cCursoImagen: '' })"
          >
            <ng-template
              pTemplate="header"
              let-files
              let-chooseCallback="chooseCallback"
              let-clearCallback="clearCallback"
              let-uploadCallback="uploadCallback"
            >
              <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                <div class="flex gap-2">
                  <p-button
                    (onClick)="choose($event, chooseCallback)"
                    icon="pi pi-images"
                    [rounded]="true"
                    [outlined]="true"
                  />
                  <p-button
                    (onClick)="clearCallback()"
                    icon="pi pi-times"
                    [rounded]="true"
                    [outlined]="true"
                    severity="danger"
                    [disabled]="!files || files.length === 0"
                  />
                </div>
                <p-progressBar> </p-progressBar>
              </div>
            </ng-template>
            <ng-template
              pTemplate="content"
              let-files
              let-uploadedFiles="uploadedFiles"
              let-removeFileCallback="removeFileCallback"
              let-removeUploadedFileCallback="removeUploadedFileCallback"
            >
              <div class="grid justify-content-center">
                @for (file of files; track file.id) {
                  <p-image
                    [src]="file.objectURL"
                    alt="Image"
                    appendTo="body"
                    width="160"
                    [preview]="true"
                  />
                }
              </div>
            </ng-template>
            <ng-template pTemplate="file"> </ng-template>
            <ng-template pTemplate="empty">
              <div class="flex align-items-center justify-content-center flex-column">
                <i
                  class="pi pi-cloud-upload border-2 border-circle p-3 text-3xl text-400 border-400"
                ></i>
                <p class="mt-2 mb-0">Drag and drop files here to upload.</p>
              </div>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <div>
      <button
        pButton
        label="Cancel"
        icon="pi pi-close"
        size="small"
        class="p-button-danger"
        (click)="visible = false"
      ></button>

      <button
        pButton
        label="Guardar"
        icon="pi pi-save"
        size="small"
        class="p-button-success"
        (click)="accionBtnCursos({ accion: 'agregar', item: frmCursos.value })"
      ></button>
      <!-- [outlined]="true" -->
    </div>
  </ng-template>
</p-dialog>
