<!-- <app-container-page title="Cursos" [actions]="accionesCursos" (accionBtnItem)="accionBtnItem($event)"> -->
<app-container-page
  title="Lista de áreas"
  [actions]="accionesCursos"
  (accionBtnItem)="accionBtnItem($event)"
>
  <div class="grid">
    <div class="col-12 mt-3">
      @if (cursos.length > 0) {
        <app-table-primeng
          class="w-full"
          [columnas]="cursosColumns"
          [data]="cursos"
          [actions]="accionesTablaCurso"
          (accionBtnItem)="accionBtnItem($event)"
          [searchPlaceholder]="'Buscar por área...'"
        />
      } @else {
        <app-no-data
          [showIcon]="'NO-DATA'"
          mensaje="No se encontraron áreas curriculares asignadas"
        />
      }
    </div>
  </div>
</app-container-page>

<!-- </app-container-page> -->

<p-dialog
  header="{{ titulo }}"
  [(visible)]="visible"
  [style]="{ width: '90rem' }"
  [modal]="true"
  [resizable]="true"
  [maximizable]="true"
  [closable]="true"
  [draggable]="true"
  appendTo="body"
  [breakpoints]="{ '1199px': '75vw', '575px': '95vw' }"
>
  <!-- CONTENIDO DEL DIALOG -->
  <ng-template pTemplate="content">
    <p-tabView>
      <p-tabPanel header="Información del área">
        <app-container-page title="Área curricular" [actions]="[]">
          <br />
          <form [formGroup]="frmCursos" class="flex flex-column gap-3 w-full">
            <div class="grid">
              <div class="field col-12 md:col-4">
                <span class="p-float-label">
                  <p-dropdown
                    [filter]="true"
                    [showClear]="true"
                    [filter]="true"
                    formControlName="iTipoCursoId"
                    styleClass="w-full"
                    placeholder="Seleccione Tipo"
                    optionValue="iTipoCursoId"
                    [options]="tiposCursos"
                    optionLabel="cTipoCursoNombre"
                    appendTo="body"
                  />
                  <label for="iTipoCursoId">Tipo de curso (*)</label>
                </span>
              </div>
              <div class="field col-12 md:col-4">
                <span class="p-float-label w-full">
                  <input
                    pInputText
                    id="cCursoNombre"
                    class="w-full"
                    formControlName="cCursoNombre"
                  />
                  <label for="cCursoNombre">Nombre (*)</label>
                </span>
              </div>
              <div class="field col-12 md:col-2">
                <span class="p-float-label">
                  <input
                    pInputText
                    type="number"
                    id="iCursoTotalHoras"
                    formControlName="iCursoTotalHoras"
                    mode="decimal"
                    [min]="0"
                    [max]="100"
                    class="w-full"
                  />
                  <label for="iCursoTotalHoras">Total horas</label>
                </span>
              </div>
              <div class="field col-12 md:col-2">
                <!-- <span class="p-float-label"> -->
                <p-toggleButton
                  styleClass="w-full"
                  onLabel="Activo"
                  offLabel="Inactivo"
                  formControlName="iCursoEstado"
                ></p-toggleButton>
                <!-- <label for="iCursoEstado">Estado</label> -->
                <!-- </span> -->
              </div>
            </div>

            <div class="grid p-fluid mt-3">
              <div class="field col-12 md:col-4">
                <div class="field col-12">
                  <div class="border-round w-full btnimag">
                    <div class="flex justify-content-between flex-wrap">
                      <div class="flex align-items-center justify-content-center m-2">
                        ¿Desea elegir imagen?
                      </div>
                      <div class="flex align-items-center justify-content-center m-2">
                        <p-inputSwitch
                          formControlName="iImageAleatorio"
                          class="pr-3"
                          (onChange)="showVistaPrevia = $event.checked"
                        />
                      </div>
                    </div>
                  </div>
                  <p-image
                    class="flex align-items-center justify-content-center m-2"
                    *ngIf="!showVistaPrevia"
                    [src]="backend + '/' + ruta_imagen"
                    alt="Image"
                    height="100"
                    [preview]="false"
                  />
                  <div class="card w-full mt-2 justify-content-center" *ngIf="showVistaPrevia">
                    <div class="container">
                      <!-- <h2>Selecciona una imagen</h2> -->
                      <!-- (ngSubmit)="onSubmit()" -->
                      <p-carousel
                        #carousel
                        [value]="portada"
                        [numVisible]="2"
                        [numScroll]="2"
                        [circular]="true"
                      >
                        <ng-template let-image let-index="index" pTemplate="item">
                          <div
                            [tabindex]="index"
                            class="image-item"
                            (click)="selectImage(image)"
                            (keyup)="selectImage(null)"
                          >
                            <div class="m-2 border-round shadow-2 p-3 text-center">
                              <img
                                [src]="backend + '/' + image.url"
                                [alt]="image.title"
                                class="w-full border-round"
                              />

                              <div
                                class="flex justify-center items-center gap-2 text-center mt-2 font-medium"
                              >
                                <span>{{ image.name }}</span>
                                <i
                                  *ngIf="isSelected(image.id)"
                                  class="pi pi-check-circle text-green-500 text-lg"
                                ></i>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </p-carousel>

                      <div class="form-info" *ngIf="selectedImageId">
                        <h6 [align]="'center'" class="mt-2">Imagen seleccionada:</h6>
                        <p [align]="'center'">{{ selectedImageName }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field col-12 md:col-8">
                <div class="grid p-fluid mt-2">
                  <div class="field col-12 md:col-6">
                    <label for="cCursoDescripcion">Descripción del curso</label>
                    <textarea
                      pInputTextarea
                      id="cCursoDescripcion"
                      class="w-full"
                      formControlName="cCursoDescripcion"
                      rows="5"
                    ></textarea>
                  </div>

                  <div class="field col-12 md:col-6">
                    <label for="cCursoPerfilDocente">Perfil del docente</label>
                    <textarea
                      pInputTextarea
                      id="cCursoPerfilDocente"
                      class="w-full"
                      formControlName="cCursoPerfilDocente"
                      rows="5"
                    ></textarea>
                  </div>
                </div>

                <div class="grid p-fluid mt-3">
                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        pInputText
                        type="number"
                        id="nCursoCredTeoria"
                        formControlName="nCursoCredTeoria"
                        mode="decimal"
                        [min]="0"
                        [max]="100"
                        class="w-full"
                        (blur)="calcularTotalCreditos()"
                      />
                      <label for="nCursoCredTeoria">Créditos teoría</label>
                    </span>
                  </div>
                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        pInputText
                        type="number"
                        id="nCursoCredPractica"
                        formControlName="nCursoCredPractica"
                        mode="decimal"
                        [min]="0"
                        [max]="100"
                        class="w-full"
                        (blur)="calcularTotalCreditos()"
                      />
                      <label for="nCursoCredPractica">Créditos práctica</label>
                    </span>
                  </div>

                  <div class="field col-12 md:col-3">
                    <span class="p-float-label">
                      <input
                        pInputText
                        id="nCursoTotalCreditos"
                        formControlName="nCursoTotalCreditos"
                        mode="decimal"
                        [min]="0"
                        [max]="20"
                        class="w-full"
                        readonly
                      />
                      <label for="nCursoTotalCreditos">Total créditos</label>
                    </span>
                  </div>

                  <div class="col-12 md:col-3">
                    <button
                      pButton
                      label="Editar"
                      icon="pi pi-pencil"
                      class="p-button-warning w-full"
                      size="small"
                      [disabled]="frmCursos.invalid"
                      (click)="accionBtnItem({ accion: 'actualizar_area', item: frmCursos.value })"
                      *ngIf="bUpdate"
                    ></button>
                    <button
                      pButton
                      label="Guardar"
                      icon="pi pi-save"
                      class="p-button-success w-full"
                      size="small"
                      (click)="accionBtnItem({ accion: 'agregar_area', item: frmCursos.value })"
                      *ngIf="!bUpdate"
                      [disabled]="frmCursos.invalid"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </app-container-page>
      </p-tabPanel>

      <p-tabPanel header="Competencias asignadas" *ngIf="iCursoId > 0">
        <div *ngIf="iCursoId === 0">
          <app-no-data [showIcon]="'NO-DATA'" mensaje="No se encontraron competencias asignadas" />
        </div>
        <div *ngIf="iCursoId > 0">
          <app-curricula-curso-competencias
            [iCurrId]="iCurrId"
            [iCursoId]="iCursoId"
            [cursos]="cursos"
          ></app-curricula-curso-competencias>
        </div>
      </p-tabPanel>
    </p-tabView>
  </ng-template>

  <!-- PIE DEL DIALOG -->
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <button
        pButton
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-danger"
        size="small"
        (click)="visible = false"
      ></button>
    </div>
  </ng-template>
</p-dialog>
