<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-2xl font-bold">
        Áreas curriculares de: {{ curricula.cCurrDescripcion ?? '' }}
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="icons" class="flex flex-column flex-1">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        size="small"
        pTooltip="Agregar"
        tooltipPosition="top"
        (click)="accionBtnItem({ accion: 'agregar' })"
        severity="success"
      >
        <i class="pi pi-plus"></i>
        <span class="ml-2 hidden sm:block">Agregar</span>
      </p-button>
      <p-button
        size="small"
        pTooltip="Regresar"
        tooltipPosition="top"
        (click)="accionBtnItem({ accion: 'regresar' })"
        severity="secondary"
      >
        <i class="pi pi-arrow-left"></i>
        <span class="ml-2 hidden sm:block">Regresar</span>
      </p-button>
    </div>
  </ng-template>

  @if (cursos.length > 0) {
    <app-table-primeng
      class="w-full"
      [columnas]="cursosColumns"
      [data]="cursos"
      [actions]="accionesTablaCurso"
      (accionBtnItem)="accionBtnItem($event)"
    />
  } @else {
    <app-no-data [showIcon]="'NO-DATA'" mensaje="No se encontraron áreas curriculares asignadas" />
  }
</p-panel>

<!-- DIALOG 1: DATOS DEL CURSO -->
<p-dialog
  header="{{ titulo }}"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '95vw', '640px': '100vw' }"
  [style]="{
    width: '89rem',
    maxWidth: '95vw',
    height: '80vh',
    maxHeight: '95vh',
  }"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{ overflow: 'auto', padding: '1rem' }"
  [resizable]="true"
  [maximizable]="true"
>
  <ng-template pTemplate="content">
    <p-messages severity="info" [closable]="true">
      <ng-template pTemplate="content">
        <p>Los parámetros en (*) son obligatorios</p>
      </ng-template>
    </p-messages>
    <form [formGroup]="frmCursos">
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <p-inputGroup>
            <p-inputGroupAddon>Nombre (*)</p-inputGroupAddon>
            <input
              pInputText
              id="cCursoNombre"
              class="group-element"
              formControlName="cCursoNombre"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-6">
          <p-inputGroup>
            <p-inputGroupAddon>Estado (*)</p-inputGroupAddon>
            <p-dropdown
              [options]="estados_cursos"
              formControlName="iCursoEstado"
              [showClear]="true"
              appendTo="body"
              styleClass="group-element"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-6">
          <p-inputGroup>
            <p-inputGroupAddon>Tipo de curso (*)</p-inputGroupAddon>
            <p-dropdown
              [filter]="true"
              [showClear]="true"
              formControlName="iTipoCursoId"
              styleClass="group-element"
              placeholder="Seleccione Tipo"
              optionValue="iTipoCursoId"
              [options]="tiposCursos"
              optionLabel="cTipoCursoNombre"
              appendTo="body"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-6">
          <p-inputGroup>
            <p-inputGroupAddon>Total horas</p-inputGroupAddon>
            <input
              pInputText
              type="number"
              id="iCursoTotalHoras"
              formControlName="iCursoTotalHoras"
              mode="decimal"
              [min]="0"
              [max]="100"
              class="group-element"
              [ngClass]="{
                'input-invalid': frmCursos.value.vValidoHora === false,
              }"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-6">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Descripción del curso</p-inputGroupAddon>
            <textarea
              pInputTextarea
              id="cCursoDescripcion"
              class="group-element"
              formControlName="cCursoDescripcion"
              rows="3"
              [style]="{ flex: '1', width: '100%', resize: 'none' }"
            ></textarea>
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-6">
          <p-inputGroup class="vertical-group">
            <p-inputGroupAddon>Perfil del docente</p-inputGroupAddon>
            <textarea
              pInputTextarea
              id="cCursoPerfilDocente"
              class="group-element"
              formControlName="cCursoPerfilDocente"
              rows="3"
              [style]="{ flex: '1', width: '100%', resize: 'none' }"
            ></textarea>
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-4">
          <p-inputGroup>
            <p-inputGroupAddon>Créditos teoría</p-inputGroupAddon>
            <input
              pInputText
              type="number"
              id="nCursoCredTeoria"
              formControlName="nCursoCredTeoria"
              mode="decimal"
              [min]="0"
              [max]="100"
              class="group-element"
              (blur)="calcularTotalCreditos()"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-4">
          <p-inputGroup>
            <p-inputGroupAddon>Créditos práctica</p-inputGroupAddon>
            <input
              pInputText
              type="number"
              id="nCursoCredPractica"
              formControlName="nCursoCredPractica"
              mode="decimal"
              [min]="0"
              [max]="100"
              class="group-element"
              (blur)="calcularTotalCreditos()"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12 md:col-4">
          <p-inputGroup>
            <p-inputGroupAddon>Total créditos</p-inputGroupAddon>
            <input
              pInputText
              id="nCursoTotalCreditos"
              formControlName="nCursoTotalCreditos"
              mode="decimal"
              [min]="0"
              [max]="20"
              class="group-element"
              readonly
              [ngClass]="{
                'input-invalid': frmCursos.value.vValidoCredito === false,
              }"
              [style]="{ flex: '1', width: '100%' }"
            />
          </p-inputGroup>
        </div>
        <div class="col-12">
          <div class="border-round w-full btnimag">
            <div class="flex justify-content-between flex-wrap">
              <div class="flex align-items-center justify-content-center m-2">
                ¿Desea elegir imagen?
              </div>
              <div class="flex align-items-center justify-content-center m-2">
                <p-inputSwitch
                  formControlName="iImageAleatorio"
                  class="pr-3"
                  (onChange)="showVistaPrevia = $event.checked"
                />
              </div>
            </div>
          </div>
          <p-image
            class="flex align-items-center justify-content-center m-2"
            *ngIf="!showVistaPrevia"
            [src]="backend + '/' + ruta_imagen"
            alt="Image"
            height="100"
            [preview]="false"
          />
          <div class="card w-full mt-2 justify-content-center" *ngIf="showVistaPrevia">
            <div class="container">
              <p-carousel
                #carousel
                [value]="portada"
                [numVisible]="2"
                [numScroll]="2"
                [circular]="true"
              >
                <ng-template let-image let-index="index" pTemplate="item">
                  <div
                    [tabindex]="index"
                    class="image-item"
                    (click)="selectImage(image)"
                    (keyup)="selectImage(null)"
                  >
                    <div class="m-2 border-round shadow-2 p-3 text-center">
                      <img
                        [src]="backend + '/' + image.url"
                        [alt]="image.title"
                        class="w-full border-round"
                      />

                      <div
                        class="flex justify-center items-center gap-2 text-center mt-2 font-medium"
                      >
                        <span>{{ image.name }}</span>
                        <i
                          *ngIf="isSelected(image.id)"
                          class="pi pi-check-circle text-green-500 text-lg"
                        ></i>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-carousel>

              <div class="form-info" *ngIf="selectedImageId">
                <h6 [align]="'center'" class="mt-2">Imagen seleccionada:</h6>
                <p [align]="'center'">{{ selectedImageName }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancelar"
          icon="pi pi-times"
          severity="secondary"
          (click)="visible = false"
        />
        <p-button
          label="Editar"
          icon="pi pi-pencil"
          severity="warning"
          [disabled]="frmCursos.invalid"
          (click)="accionBtnItem({ accion: 'actualizar_area', item: frmCursos.value })"
          *ngIf="bUpdate"
        />
        <p-button
          label="Guardar"
          icon="pi pi-save"
          severity="success"
          size="small"
          (click)="accionBtnItem({ accion: 'agregar_area', item: frmCursos.value })"
          *ngIf="!bUpdate"
          [disabled]="frmCursos.invalid"
        />
      </div>
    </form>
  </ng-template>
</p-dialog>

<!-- DIALOG 2: ASIGNACIÓN DE COMPETENCIAS -->
<p-dialog
  header="Competencias del área: {{ cursoSeleccionado?.cCursoNombre ?? '' }}"
  [(visible)]="visibleCompetencias"
  [breakpoints]="{ '960px': '95vw', '640px': '100vw' }"
  [style]="{
    width: '89rem',
    maxWidth: '95vw',
    height: '80vh',
    maxHeight: '95vh',
  }"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{ overflow: 'auto', padding: '1rem' }"
  [resizable]="true"
  [maximizable]="true"
>
  <ng-template pTemplate="content">
    <p-tabView [(activeIndex)]="activeCompetenciaTab">
      <p-tabPanel header="Competencias asignadas">
        <div *ngIf="iCursoId > 0">
          <app-curricula-curso-competencias
            [iCurrId]="iCurrId"
            [iCursoId]="iCursoId"
            [cursos]="cursos"
          ></app-curricula-curso-competencias>
        </div>
        <div *ngIf="iCursoId === 0">
          <app-no-data [showIcon]="'NO-DATA'" mensaje="No se encontraron competencias asignadas" />
        </div>
      </p-tabPanel>
      <p-tabPanel header="Nueva competencia">
        <div *ngIf="iCursoId > 0">
          <app-curricula-curso-competencias
            [iCurrId]="iCurrId"
            [iCursoId]="iCursoId"
            [cursos]="cursos"
            [modoFormulario]="true"
          ></app-curricula-curso-competencias>
        </div>
        <div *ngIf="iCursoId === 0">
          <app-no-data [showIcon]="'NO-DATA'" mensaje="Seleccione un área curricular primero" />
        </div>
      </p-tabPanel>
    </p-tabView>
  </ng-template>

  <!-- PIE DEL DIALOG -->
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <button
        pButton
        label="Cerrar"
        icon="pi pi-times"
        class="p-button-danger"
        size="small"
        (click)="visibleCompetencias = false"
      ></button>
    </div>
  </ng-template>
</p-dialog>
<p-toast />
