.btn-file-image {
  position: relative;
  overflow: hidden;
}

.btn-file-image input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.selected-indicator {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 200, 0, 0.7);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  z-index: 10;
}

.input-invalid {
  border: 1px solid red !important;
  background-color: #ffe6e6;
}

.tag2 {
  //position: absolute;
  // top: -15px;
  // left: 10px;
  background-color: #399760;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  // z-index: 10;
  color: white;
  text-align: left;
  width: fit-content;
}
