<form [formGroup]="formBusqueda">
  <div class="grid p-fluid mt-4">
    <div class="col-12 md:col-6">
      <p-message [severity]="mensajeSeverity" [text]="mensajeTexto"></p-message>
    </div>
    <div class="col-12 md:col-4">
      <p-inputGroup>
        <p-inputGroupAddon>Grado</p-inputGroupAddon>
        <p-dropdown
          [options]="nivel_grados"
          styleClass="group-element"
          formControlName="iNivelGradoId"
          [style]="{ flex: 1, width: '100%' }"
          showClear="true"
          appendTo="body"
          (onChange)="filtrarTabla()"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-2">
      <p-button
        label="Agregar"
        icon="pi pi-fw pi-plus"
        severity="success"
        (click)="agregarIeCurso()"
        [disabled]="!gradoSeleccionado"
      />
    </div>
  </div>
</form>

<app-table-primeng
  [columnas]="columns"
  [showCaption]="false"
  [data]="ie_cursos_filtrado"
  (accionBtnItem)="accionBtnItemTable($event)"
  [showPaginator]="false"
  [(selectedRowData)]="selectedItems"
  [actions]="actions"
  [showSearchTable]="false"
>
</app-table-primeng>

<div class="flex justify-content-end mt-4">
  <p-button (onClick)="siguienteTab()" label="Siguiente" />
</div>

<p-dialog
  header="Actualizar horas"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{
    width: '50vw',
    maxWidth: '100vw',
    maxHeight: '95vh',
  }"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{ overflow: 'auto', padding: '1rem' }"
  (onHide)="cerrarDialogo()"
  [resizable]="true"
  [maximizable]="true"
>
  <form [formGroup]="form">
    <div class="grid">
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Grado</p-inputGroupAddon>
          <input
            pInputText
            type="text"
            formControlName="cGradoAbreviacionNombre"
            class="group-element"
            [style]="{ flex: 1, width: '100%' }"
          />
        </p-inputGroup>
      </div>
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>
            <a
              role="button"
              class="p-button p-button-secondary mr-2"
              (click)="iCursosNivelGradId.toggle($event)"
              (keypress)="iCursosNivelGradId.toggle($event)"
              tabindex="0"
            >
              <i class="pi pi-question-circle"></i>
            </a>
            <p-overlayPanel #iCursosNivelGradId [showCloseIcon]="true" appendTo="body">
              <div class="w-15rem">
                Seleccione el área curricular que se dictará en su Institución Educativa (IE). Si un
                área dictada en su IE no aparece en la lista, comuniquese con el administrador del
                sistema y solicite que se agregue para los grados que necesite.
              </div>
            </p-overlayPanel>
            Área de su IE
          </p-inputGroupAddon>
          <p-dropdown
            [options]="areas"
            formControlName="iCursosNivelGradId"
            [showClear]="true"
            filter="true"
            appendTo="body"
            styleClass="group-element"
            [style]="{ flex: 1, width: '100%' }"
            (onChange)="validarCursoMinedu()"
          />
        </p-inputGroup>
      </div>
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>
            <a
              role="button"
              class="p-button p-button-secondary mr-2"
              (click)="iConfPlanId.toggle($event)"
              (keypress)="iConfPlanId.toggle($event)"
              tabindex="0"
            >
              <i class="pi pi-question-circle"></i>
            </a>
            <p-overlayPanel #iConfPlanId [showCloseIcon]="true" appendTo="body">
              <div class="w-15rem">
                Seleccione el área equivalente del MINEDU. Si no tiene equivalente deje este campo
                en blanco. Recuerde que varias áreas de su IE pueden tener la misma área equivalente
                del MINEDU.
              </div>
            </p-overlayPanel>
            Área MINEDU
          </p-inputGroupAddon>
          <p-dropdown
            [options]="areas_curricula"
            formControlName="iConfPlanId"
            [showClear]="true"
            filter="true"
            appendTo="body"
            styleClass="group-element"
            [style]="{ flex: 1, width: '100%' }"
            (onChange)="validarCursoMinedu()"
          />
        </p-inputGroup>
      </div>
      <div class="col-12" *ngIf="esCursoMinedu">
        <p-inputGroup>
          <p-inputGroupAddon>
            <a
              role="button"
              class="p-button p-button-secondary mr-2"
              (click)="iPorcentajeAporte.toggle($event)"
              (keypress)="iPorcentajeAporte.toggle($event)"
              tabindex="0"
            >
              <i class="pi pi-question-circle"></i>
            </a>
            <p-overlayPanel #iPorcentajeAporte [showCloseIcon]="true" appendTo="body">
              <div class="w-15rem">
                Porcentaje que el área de su IE aporta al cálculo de horas del área de la curricula
                del MINEDU. Este porcentaje también se usará como sugerencia en el cálculo de las
                calificaciones de estudiantes.
              </div>
            </p-overlayPanel>
            Porcentaje que aporta
          </p-inputGroupAddon>
          <p-inputNumber
            [showButtons]="true"
            formControlName="iPorcentajeAporte"
            [min]="0.0"
            [max]="100.0"
            [step]="1"
            mode="decimal"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            suffix="%"
            class="group-element"
            [style]="{ flex: 1, width: '100%' }"
            (onBlur)="validarHorasMinimas()"
          />
        </p-inputGroup>
      </div>
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Horas presenciales</p-inputGroupAddon>
          <input
            *ngIf="esCursoMinedu"
            pInputText
            formControlName="iHorasSemPresencialAporte"
            class="group-element"
            [style]="{ flex: 1, width: '50%' }"
            pTooltip="Horas semanales equivalentes en curricula del MINEDU"
            tooltipPosition="top"
          />
          <input
            pInputText
            type="number"
            formControlName="iHorasSemPresencial"
            min="0"
            max="10"
            (change)="validarHorasMinimas()"
            class="group-element"
            [style]="{ flex: 1, width: '50%' }"
            pTooltip="Horas semanales que se dictan en su IE"
            tooltipPosition="top"
          />
        </p-inputGroup>
      </div>
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Horas virtuales</p-inputGroupAddon>
          <input
            *ngIf="esCursoMinedu"
            pInputText
            formControlName="iHorasSemDomicilioAporte"
            class="group-element"
            [style]="{ flex: 1, width: '50%' }"
            pTooltip="Horas semanales equivalentes en curricula del MINEDU"
            tooltipPosition="top"
          />
          <input
            pInputText
            type="number"
            formControlName="iHorasSemDomicilio"
            min="0"
            max="10"
            (change)="validarHorasMinimas()"
            class="group-element"
            [style]="{ flex: 1, width: '50%' }"
            pTooltip="Horas semanales que se dictan en su IE"
            tooltipPosition="top"
          />
        </p-inputGroup>
      </div>
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Total de horas</p-inputGroupAddon>
          <input
            *ngIf="esCursoMinedu"
            pInputText
            formControlName="iTotalHorasAporte"
            class="group-element"
            [style]="{ flex: 1, width: '50%' }"
            pTooltip="Horas semanales equivalentes en curricula del MINEDU"
            tooltipPosition="top"
            [attr.disabled]="true"
          />
          <input
            pInputText
            type="number"
            formControlName="iTotalHoras"
            class="group-element"
            [style]="{ flex: 1, width: '50%' }"
            pTooltip="Horas semanales que se dictan en su IE. Debe ser mayor a 0"
            tooltipPosition="top"
          />
        </p-inputGroup>
      </div>
    </div>
  </form>
  <div class="flex justify-content-end gap-2">
    <p-button size="small" (click)="cerrarDialogo()" label="Cerrar" severity="secondary" />
    <p-button
      *ngIf="bEditar"
      size="small"
      (click)="actualizar()"
      label="Actualizar"
      [disabled]="form.invalid"
      severity="warning"
    />
    <p-button
      *ngIf="!bEditar"
      size="small"
      (click)="guardar()"
      label="Guardar"
      [disabled]="form.invalid"
      severity="success"
    />
  </div>
</p-dialog>

<p-toast></p-toast>
