@media print {
  ::ng-deep .topbar {
    visibility: hidden !important;
    display: none !important;
  }

  :host ::ng-deep canvas {
    width: max-content !important;
    max-width: 100% !important;
  }

  :host ::ng-deep .col-12 {
    page-break-inside: avoid;
  }

  @page {
    margin: 1cm;
  }
}
