<!-- lista de participantes... -->
<div class="col-12">
  <div class="pb-2">
    <label for="" class="" style="font-weight: bold; font-size: 16px">Estudiantes: </label>
  </div>
  <p-orderList
    class="listAlumno"
    [value]="estudiantes"
    filterBy="completoalumno"
    filterPlaceholder="Buscar...."
  >
    <ng-template let-estudiante of comentarios pTemplate="listItem" let-i="index">
      <div class="perfilesList" tabindex="0">
        <!-- (click)="
                    selecEstudiante(
                        estudiante.iEstudianteId
                    )
                "
                (keydown.enter)="
                    selecEstudiante(
                        estudiante.iEstudianteId
                    )
                "
                [class.selected]="
                    estudianteSelectComent ===
                    estudiante.iEstudianteId
                " -->
        <img src="assets/demo/images/matemit/perfil.png" alt="" class="w-3rem btn" />
        <div class="perfil-name">
          {{ estudiante?.completoalumno }}
        </div>
        <div class="btn-calificar-comentario">
          <p-button
            icon="pi pi-book"
            [rounded]="true"
            [severity]="estudiante?.iEstadoRpta === '0' ? 'danger' : 'success'"
            tooltipPosition="bottom"
            pTooltip="Calificar"
            (click)="openModalCalificacion(estudiante)"
          />
          <!-- (click)="
                            openModalCalificacion(
                                estudiante
                            )
                        " -->
          <!-- [disabled]="iEstadoForo === 10" -->
        </div>
      </div>
    </ng-template>
  </p-orderList>
</div>
<!-- Calificar estudiante en el mismo foro -->
<p-dialog
  [(visible)]="modelaCalificacionComen"
  [style]="{ width: '50%' }"
  class="p-fluid"
  [header]="'Calificar a:' + ' ' + estudianteSelect"
  [modal]="true"
>
  <div class="grid pt-2">
    <!-- Mostrar descripción -->
    @if (bCapacitacion) {
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon> Nota </p-inputGroupAddon>
          <p-inputNumber
            inputStyleClass="w-full"
            mode="decimal"
            [(ngModel)]="nForoRptaNota"
            [min]="0"
            [max]="20"
            [showButtons]="true"
            (onInput)="validarNota($event)"
          />
        </p-inputGroup>
      </div>
    } @else {
      <div class="col-12">
        <label for="descripcion" class="font-bold mt-1"
          >Descripción <span class="text-red-500 text-xs">(*) Obligatorio</span></label
        >
        <div class="mt-2 pt-2">
          <p-editor
            id="descripcion"
            [(ngModel)]="descripcionContrctva"
            [style]="{ height: '150px' }"
          />
        </div>
      </div>
    }
  </div>

  <div class="justify-content-center flex-wrap">
    <div class="flex justify-content-end">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        [raised]="true"
        severity="secondary"
        class="mr-2"
        (click)="cerrarmodal()"
      />
      <p-button label="Enviar" icon="pi pi-send" (click)="calificarComntEstudiante()" />
    </div>
  </div>
</p-dialog>
