<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <span class="text-2xl text-uppercase">Reporte académico</span>
  </ng-template>

  <p-messages severity="secondary">
    <ng-template pTemplate>
      Para cambiar el año académico, dirijase a la barra superior y debajo de "Año Escolar"
      seleccione otro año de la lista desplegable.
    </ng-template>
  </p-messages>

  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
      <p-inputGroup>
        <p-inputGroupAddon>Año académico:</p-inputGroupAddon>
        <input
          pInputText
          [value]="anioEscolar"
          disabled
          class="group-element"
          [style]="{ flex: '1', width: '100%' }"
          appendTo="body"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-6">
      <p-inputGroup>
        <p-inputGroupAddon>Área:</p-inputGroupAddon>
        <p-dropdown
          [options]="cursos"
          optionLabel="cCursoNombre"
          optionValue="iIeCursoId"
          appendTo="body"
          [style]="{ flex: '1', width: '100%' }"
          styleClass="group-element"
          [(ngModel)]="iIeCursoId"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-2">
      <p-button
        (click)="generarReporte()"
        icon="pi pi-chart-bar"
        label="Generar"
        severity="primary"
      />
    </div>
  </div>

  @if (graficos.length === 0 && mostrarMensajeSinDatos) {
    <br /><br />
    <div class="text-center mt-3">
      <img src="assets/images/icons/sin-datos.gif" alt="logo" width="20%" />
      <p>No hay resultados para mostrar</p>
    </div>
  } @else {
    <div class="grid p-fluid mt-3">
      <div *ngFor="let grafico of graficos" class="col-12 md:col-6">
        @if (grafico.data.datasets[0].data.length === 0) {
          <div class="text-center mt-3">
            <p style="font-size: 18px" [innerHTML]="grafico.data.datasets[0].label"></p>
            <p>(No hay resultados ingresados)</p>
          </div>
        } @else {
          <p-chart
            type="bar"
            [data]="grafico.data"
            [options]="grafico.options"
            [plugins]="grafico.plugins"
          ></p-chart>
        }
      </div>
    </div>
  }
</p-panel>
<p-toast></p-toast>
