<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h3 class="m-0 text-uppercase text-primary">Reporte académico</h3>
    </div>
  </ng-template>

  <div class="grid p-fluid mt-3">
    <div class="field col-4">
      <p-inputGroup>
        <p-inputGroupAddon class="mi-addon-primary">Año escolar:</p-inputGroupAddon>
        <input pInputText [value]="anioEscolar" disabled class="input-disabled" />
      </p-inputGroup>
    </div>
    <div class="field col-4">
      <p-inputGroup>
        <p-inputGroupAddon class="mi-addon-primary">Área:</p-inputGroupAddon>
        <p-dropdown
          [options]="areas"
          formControlName="iPrioridadId"
          optionLabel="cPrioridadNombre"
          [checkmark]="true"
          optionValue="iPrioridadId"
          [appendTo]="'body'"
          [style]="{ flex: '1', width: '100%' }"
        />
      </p-inputGroup>
    </div>
    <div class="field col-2">
      <button
        pButton
        pRipple
        (click)="generarReporte()"
        icon="pi pi-chart-bar"
        label="Generar"
        class="p-button-success"
      ></button>
    </div>
  </div>
  <small
    >Para cambiar el año escolar: en la barra superior de la pantalla, en Año Escolar, seleccione
    otra opción</small
  >
</p-panel>
<p-toast></p-toast>
