<app-container-page
  [title]="'Registro de Méritos para el año: ' + anio_actual"
  [actions]="acciones"
  (accionBtnItem)="accionBtnItem($event)"
>
  <p-toast />
  <div class="grid">
    <div class="col-12">
      <app-table-primeng
        [columnas]="columns"
        [data]="meritos()"
        [scrollable]="true"
        (accionBtnItem)="accionBtnItem($event)"
        [showPaginator]="true"
        [(selectedRowData)]="selectedItems"
        [actions]="actions"
        [showAdvancedFilter]="true"
        [showCaption]="false"
      >
      </app-table-primeng>
    </div>
  </div>

  <app-form-merito
    [perfil]="perfil"
    [data]="selecionado"
    [dremoiYAcadId]="dremoiYAcadId"
    [bUpdate]="bUpdate"
    [(mostrar)]="mostrar"
    (closeModal)="accionBtnItem($event)"
  >
  </app-form-merito>
</app-container-page>
