<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-xl font-bold">BANDEJA DE COMUNICADOS</div>
    </div>
  </ng-template>

  <div class="grid mb-3">
    <div class="col-12">
      <p-inputGroup>
        <p-inputGroupAddon> Buscar </p-inputGroupAddon>
        <input #filtro type="text" pInputText (input)="filtrarTabla()" />
      </p-inputGroup>
    </div>
  </div>

  @if (!comunicados_filtrados || comunicados_filtrados.length === 0) {
    <app-no-data [showIcon]="'NO-DATA'" mensaje="No hay comunicados disponibles" />
  } @else {
    <p-table
      [value]="comunicados_filtrados"
      selectionMode="single"
      styleClass="p-datatable-sm"
      [(selection)]="seleccionarLista"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      (onRowSelect)="seleccionarBandeja($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" width="5%">#</th>
          <th pSortableColumn="emisor" class="text-center" width="15%">
            Emisor <p-sortIcon field="emisor" />
          </th>
          <th pSortableColumn="cComunicadoTitulo" class="text-center" width="20%">
            Titulo <p-sortIcon field="cComunicadoTitulo" />
          </th>
          <th pSortableColumn="cComunicadoDescripcion" class="text-center" width="30%">
            Descripción <p-sortIcon field="cComunicadoDescripcion" />
          </th>
          <th pSortableColumn="dtComunicadoEmision" class="text-center" width="10%">
            Publicación <p-sortIcon field="dtComunicadoEmision" />
          </th>
          <th pSortableColumn="dtComunicadoHasta" class="text-center" width="10%">
            Finalización <p-sortIcon field="dtComunicadoHasta" />
          </th>
          <th class="text-center" width="10%">Estado</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-index="rowIndex" let-com>
        <tr
          [pSelectableRow]="com"
          [pSelectableRowIndex]="index"
          [style]="{ 'background-color': com.cColor }"
        >
          <td class="text-center" width="5%">{{ index + 1 }}</td>
          <td class="text-center" width="15%">{{ com.emisor | slice: 0 : 15 }}...</td>
          <td class="text-center" width="20%">{{ com.cComunicadoTitulo | slice: 0 : 25 }}...</td>
          <td class="text-center" width="30%">
            {{ com.cComunicadoDescripcion | slice: 0 : 50 }}...
          </td>
          <td class="text-center" width="10%">
            {{ com.dtComunicadoEmision | date: 'dd/MM/yyyy' }}
          </td>
          <td class="text-center" width="10%">{{ com.dtComunicadoHasta | date: 'dd/MM/yyyy' }}</td>
          <td class="text-center" width="10%">
            <!-- <i class="pi pi-circle-off"></i> -->
            <i class="pi pi-check-circle"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-panel>

<p-toast></p-toast>

<p-dialog
  header="Mensaje de la Bandeja"
  [modal]="true"
  [(visible)]="bBandeja"
  [style]="{ width: '75rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="grid">
    <div class="col-12 mt-3">
      <div class="text-xl font-bold">{{ mensaje.cComunicadoTitulo?.toUpperCase() }}</div>
      <div class="text-sm font-bold text-500">Emisor: {{ mensaje.emisor }}</div>
      <div class="text-sm font-bold text-500">
        Publicado: {{ mensaje.dtComunicadoEmision | date: 'dd/MM/yyyy' }} - Finalización:
        {{ mensaje.dtComunicadoEmision | date: 'dd/MM/yyyy' }}
      </div>
    </div>
    <div class="col-12">
      <div class="card surface-50">
        {{ mensaje.cComunicadoDescripcion }}
      </div>
    </div>
  </div>
</p-dialog>
