<p-panel>
    <ng-template pTemplate="header">
        <div class="flex flex-column gap-2">
            <h3 class="m-0 text-uppercase text-primary">
                Seguimiento de sugerencia
            </h3>
        </div>
    </ng-template>
    <ng-template pTemplate="icons" class="flex flex-column flex-1">
        <div class="flex flex-wrap gap-2 justify-content-end">
            <button
                size="small"
                [rounded]="true"
                pButton
                pTooltip="Regresar"
                tooltipPosition="top"
                (click)="salir()"
                class="p-button-secondary"
            >
                <i class="pi pi-arrow-left"></i>
                <span class="ml-2 hidden sm:block">Regresar</span>
            </button>
            <button
                size="small"
                [rounded]="true"
                pButton
                pTooltip="Derivar"
                tooltipPosition="top"
                (click)="derivar()"
                class="p-button-primary"
            >
                <i class="pi pi-plus"></i>
                <span class="ml-2 hidden sm:block">Derivar</span>
            </button>
        </div>
    </ng-template>
    <app-table-primeng
        [columnas]="columns"
        [showCaption]="false"
        [data]="movimientos"
        (accionBtnItem)="accionBtnItemTable($event)"
        [showPaginator]="false"
        sortMode="single"
        sortField="fecha"
        [sortOrder]="1"
        [(selectedRowData)]="selectedItems"
        [actions]="actions"
        [showAdvancedFilter]="false"
        [showColumnFilter]="false"
    >
    </app-table-primeng>
</p-panel>
<p-toast></p-toast>
