.hoverTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px;
}
.hoverTable tr th {
    background-color: var(--primary-color) !important;
    color: white;
}
.hoverTable tr:hover {
    background-color: #e3f7ff;
    border-left: 8px solid #4a47e2 !important;
}
