:host ::ng-deep .p-button.p-button-rounded {
  border-radius: 50% !important;
}

:host ::ng-deep .p-button.p-button-outlined {
  background-color: transparent !important;
  color: #e7eaeee3 !important;
  border: 1px solid !important;
}
:host ::ng-deep .p-button:focus {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
}
:host ::ng-deep .p-dropdown {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
:host ::ng-deep {
  .p-inputgroup-addon {
    background-color: var(--primary-700);
    color: white;
  }
}
.informacion {
  background-color: rgba(37, 99, 235, 0.1);
  color: rgb(37 99 235);
  border: 1px solid rgb(37 99 235);
}
