<app-modal-primeng
  [title]="titulo"
  [showModal]="showModal"
  [width]="'55rem'"
  (accionBtnItem)="accionBtn($event)"
  *ngIf="formDetalleCargaNoLectivas"
>
  <form [formGroup]="formDetalleCargaNoLectivas" class="mt-4">
    <div class="grid">
      <div class="col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Tipo de Actividad </p-inputGroupAddon>
          <p-dropdown
            #tipoActividad
            formControlName="iTipoCargaNoLectId"
            [options]="tiposCargaNoLectivas"
            optionValue="iTipoCargaNoLectId"
            optionLabel="cTipoCargaNoLectNombre"
            placeholder="Tipo de Actividad"
            [style]="{ width: '100%' }"
            (onChange)="
              tipoActividad.value === '6'
                ? (mostrarPlanTrabajo = true)
                : (mostrarPlanTrabajo = false)
            "
          ></p-dropdown>
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Nombre de la Actividad</p-inputGroupAddon>
          <input pInputText formControlName="cNombre" pInputText type="text" />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Fecha</p-inputGroupAddon>
          <p-calendar
            appendTo="body"
            inputId="calendar-24h"
            formControlName="dtInicio"
            [showTime]="true"
            hourFormat="24"
          />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Cantidad de Horas </p-inputGroupAddon>
          <input formControlName="nDetCargaNoLectHoras" pInputText type="number" min="1" />
        </p-inputGroup>
      </div>
      <div class="col-12 xl:col-12 md:col-12 sm:col-12">
        <p-inputGroup>
          <p-inputGroupAddon>Descripcion</p-inputGroupAddon>
          <textarea
            formControlName="cDescripcion"
            pInputTextarea
            placeholder="Ingresa tu descripcion"
          ></textarea>
        </p-inputGroup>
      </div>
      <div class="col-12" *ngIf="mostrarPlanTrabajo">
        <div class="card informacion">
          <div class="p-3">
            <span class="font-bold">IMPORTANTE</span> Considerar los siguientes aspectos para la
            formulación del plan de trabajo y adjuntar el archivo correspondiente que los detalla:
          </div>
          <div class="grid pl-3">
            <div class="col-12">
              <i
                class="pi pi-info-circle"
                tabindex="0"
                role="button"
                (mouseenter)="primero.toggle($event)"
                (keydown.enter)="primero.toggle($event)"
                (keydown.space)="primero.toggle($event)"
              ></i>
              Temario del área curricular
              <p-overlayPanel #primero>
                <div class="flex flex-column gap-3 w-25rem">
                  Listado detallado de las competencias(desempeño) que se van a abordar durante su
                  aplicacion por cada Área Curricular, dividido por unidades o módulos.
                </div>
              </p-overlayPanel>
            </div>
            <div class="col-12">
              <i
                class="pi pi-info-circle"
                tabindex="0"
                role="button"
                (mouseenter)="segundo.toggle($event)"
                (keydown.enter)="segundo.toggle($event)"
                (keydown.space)="segundo.toggle($event)"
              ></i>
              Distribución semanal
              <p-overlayPanel #segundo>
                <div class="flex flex-column gap-3 w-25rem">
                  <ul>
                    <li>Especificar qué sesiones de aprendizaje se trataran cada semana</li>
                    <li>Incluir Fechas estimadas para cada sesión</li>
                  </ul>
                </div>
              </p-overlayPanel>
            </div>
            <div class="col-12">
              <i
                class="pi pi-info-circle"
                tabindex="0"
                role="button"
                (mouseenter)="tercero.toggle($event)"
                (keydown.enter)="tercero.toggle($event)"
                (keydown.space)="tercero.toggle($event)"
              ></i>
              Actividades de enseñanza
              <p-overlayPanel #tercero>
                <div class="flex flex-column gap-3 w-25rem">
                  Definir si serán clases magistrales, prácticas, discusiones en grupo, talleres,
                  etc.<
                </div>
              </p-overlayPanel>
            </div>
            <div class="col-12">
              <i
                class="pi pi-info-circle"
                tabindex="0"
                role="button"
                (mouseenter)="cuarto.toggle($event)"
                (keydown.enter)="cuarto.toggle($event)"
                (keydown.space)="cuarto.toggle($event)"
              ></i>
              Materiales y recursos
              <p-overlayPanel #cuarto>
                <div class="flex flex-column gap-3 w-25rem">
                  Enumerar los recursos necesarios para cada sesión, como lecturas, videos,
                  software, herramientas de laboratorio, etc.
                </div>
              </p-overlayPanel>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-1">
        <app-types-files-upload-primeng
          [nameFile]="nombreArchivo"
          [nameOption]="'detalle-carga-no-lectivas'"
          [typesFiles]="typesFiles"
          (actionTypesFileUpload)="accionBtn($event)"
          [filesUrl]="filesUrl"
        ></app-types-files-upload-primeng>
      </div>
    </div>
  </form>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancelar" severity="secondary" (onClick)="showModal = false" />
    <p-button
      [label]="opcion"
      [disabled]="
        !formDetalleCargaNoLectivas.valid &&
        (mostrarPlanTrabajo ? (this.filesUrl.length === 0 ? true : false) : true)
      "
      (onClick)="accionBtn({ accion: opcion, item: [] })"
    />
  </div>
</app-modal-primeng>
