<br />

<div class="grid">
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">
                            Tipo de ocupación de la vivienda
                        </div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_vivienda?.ocupacion_vivienda"
                />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">Estado de la vivienda</div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_vivienda?.estado_vivienda"
                />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">
                            Material predominantes de las paredes
                        </div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_vivienda?.material_paredes"
                />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">
                            Principal suministro de agua
                        </div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_vivienda?.suministro_agua"
                />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">Tipo de vivienda</div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_vivienda?.tipo_vivienda"
                />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">
                            Tipo de servicio higiénico
                        </div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart [data_chart]="reportes_vivienda?.tipo_sshh" />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">Tipo de alumbrado</div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_vivienda?.tipo_alumbrado"
                />
            </div>
        </p-panel>
    </div>
    <div class="col-12 md:col-6">
        <p-panel>
            <ng-template pTemplate="header">
                <span class="text-uppercase">
                    <div class="flex flex-column">
                        <div class="flex text-xl">
                            Otros elementos en la vivienda
                        </div>
                    </div>
                </span>
            </ng-template>
            <div>
                <app-multi-chart
                    [data_chart]="reportes_vivienda?.elementos_vivienda"
                />
            </div>
        </p-panel>
    </div>
</div>
