::ng-deep .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  width: 100% !important;
}
.tag {
  position: absolute;
  top: -15px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: white;
  text-align: left;
  width: fit-content;
}
