<app-container-page
    title="Gestionar solicitudes de matrícula"
    [actions]="accionesPrincipal"
    (accionBtnItem)="accionBtnItemTable($event)"
>
    <div class="card">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="nivel_grados"
                        name="iNivelGradoId"
                        optionLabel="nombre"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    ></p-dropdown>
                    <label for="iNivelGradoId">Grado</label>
                </span>
            </div>

            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="turnos"
                        name="iTurnoId"
                        optionLabel="nombre"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    ></p-dropdown>
                    <label for="iTurnoId">Turno</label>
                </span>
            </div>

            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="secciones"
                        name="iSeccionId"
                        optionLabel="nombre"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    ></p-dropdown>
                    <label for="iSeccionId">Sección</label>
                </span>
            </div>

            <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="tipo_matriculas"
                        name="iTipoMatrId"
                        optionLabel="nombre"
                        optionValue="id"
                        [filter]="true"
                        [showClear]="true"
                        [appendTo]="'body'"
                    ></p-dropdown>
                    <label for="iTipoMatrId">Tipo</label>
                </span>
            </div>
        </div>

        <app-table-primeng
            [columnas]="columns"
            [showCaption]="true"
            [data]="matriculas"
            (accionBtnItem)="accionBtnItemTable($event)"
            [showPaginator]="true"
            [(selectedRowData)]="selectedItems"
            [actions]="actions"
            [showAdvancedFilter]="true"
        >
        </app-table-primeng>
        <ng-container slot="caption-content"> </ng-container>
    </div>
    <div class="card flex justify-content-center gap-2">
        <p-toast />
    </div>
</app-container-page>
