.button-menu {
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  color: var(--surface-menu);
}

:host ::ng-deep .p-dropdown {
  font-size: 10px !important;
}

:host ::ng-deep .p-dropdown-trigger {
  font-size: 10px !important;
}

:host ::ng-deep .p-menu .p-submenu-header {
  display: none !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
  font-size: 10px !important;
}
.display-none {
  @media (max-width: 500px) {
    display: none;
  }
}
::ng-deep .custom-popup-menu {
  margin-top: 4px !important;
}

::ng-deep .custom-popup-menu .p-submenu-header {
  display: none !important;
}
