<app-modal-primeng
  [title]="opcion + ' PREGUNTA'"
  [showModal]="showModal"
  [width]="'55rem'"
  (accionBtnItem)="accionBtnItem.emit({ accion: 'close-modal', item: [] })"
  *ngIf="formEncabezadoPreguntas"
>
  <form [formGroup]="formEncabezadoPreguntas" class="grid mt-4">
    <div class="col-12">
      <p-inputGroup>
        <p-inputGroupAddon>Título</p-inputGroupAddon>
        <input
          type="text"
          pInputText
          placeholder="Ingrese el título"
          formControlName="cEncabPregTitulo"
        />
      </p-inputGroup>
    </div>
    <div class="col-12">
      <label for="descripcion" class="mt-1"
        ><span class="font-bold">Descripción</span>
        <span class="text-red-500 text-xs">&nbsp;(*) Obligatorio</span></label
      >
      <div class="mt-2">
        <p-editor
          [style]="{ height: 'auto' }"
          placeholder="Ingrese la Descripción"
          formControlName="cEncabPregContenido"
        />
      </div>
    </div>
    <div class="col-12">
      <p class="font-bold">Pregunta Multiple</p>
    </div>
    <div class="col-12" formArrayName="jsonPreguntas">
      <div
        *ngFor="let pregunta of jsonPreguntas.controls; let i = index"
        [formGroupName]="i"
        class="mb-3"
      >
        <p class="font-bold">
          Pregunta #{{ i + 1 }} :
          {{ pregunta.value?.iTipoPregId === 1 ? 'Opción única' : 'Opción múltiple' }}
        </p>
        <p-button icon="pi pi-trash" class="p-button-danger" size="small" />
        <p-editor
          formControlName="cBancoPregunta"
          [style]="{ height: 'auto' }"
          placeholder="Ingrese la pregunta"
        ></p-editor>

        <div class="mt-3" formArrayName="jsonAlternativas">
          <div
            *ngFor="let alt of pregunta.get('jsonAlternativas').controls; let j = index"
            [formGroupName]="j"
            class="mb-2"
          >
            <p-inputGroup>
              <p-inputGroupAddon>
                {{ alt.value?.cBancoAltLetra || j + 1 }}
              </p-inputGroupAddon>
              <input
                type="text"
                pInputText
                formControlName="cBancoAltDescripcion"
                placeholder="Alternativa"
                class="w-full"
              />
              <button
                type="button"
                pButton
                [text]="true"
                icon="pi pi-trash"
                class="p-button-danger"
                size="small"
                (click)="eliminarAlternativa(alt, i)"
              >
                &nbsp;
              </button>
              <p-checkbox
                *ngIf="pregunta.value?.iTipoPregId === 1"
                [binary]="true"
                formControlName="bBancoAltRptaCorrecta"
                [class]="'ml-2'"
                [label]="'Respuesta correcta'"
                (onChange)="marcarCorrecta(i, j)"
              />
              <p-checkbox
                *ngIf="pregunta.value?.iTipoPregId === 2"
                [binary]="true"
                formControlName="bBancoAltRptaCorrecta"
                [class]="'ml-2'"
                [label]="'Respuesta correcta'"
              />
            </p-inputGroup>
            <p-inputGroup class="mt-1 mb-1" *ngIf="alt.value.bBancoAltRptaCorrecta">
              <p-inputGroupAddon>Explicación</p-inputGroupAddon>
              <input
                type="text"
                pInputText
                placeholder="Explicación"
                formControlName="cBancoAltExplicacionRpta"
              />
            </p-inputGroup>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div footer class="flex justify-content-end gap-2">
    <p-button
      label="Cancelar"
      severity="secondary"
      (onClick)="accionBtnItem.emit({ accion: 'close-modal', item: [] })"
    />
    <p-button
      icon="pi pi-check"
      [severity]="opcion === 'GUARDAR' ? 'success' : 'warning'"
      [label]="opcion + ' PREGUNTA MÚLTIPLE'"
      (onClick)="enviarFormulario()"
      [loading]="isLoading"
      [disabled]="isLoading"
    />
  </div>
</app-modal-primeng>
<p-toast></p-toast>
