<div class="card flex justify-content-center">
    <p-panel header="REGISTRO DE NIVELES" [toggleable]="false">
        <form [formGroup]="form">
            <div class="grid col-12 md:col-12 lg:col-12">
                <!-- Nombre del Nivel -->
                <div class="col-12 md:col-6 lg:col-5">
                    <input
                        type="hidden"
                        id="iNivelId"
                        formControlName="iNivelId"
                        class="w-full"
                    />
                    <div class="flex flex-column gap-1">
                        <label for="input1" class="label-ajustada"
                            >Nombre del Nivel</label
                        >
                        <input
                            id="input1"
                            type="text"
                            pInputText
                            formControlName="cNivelNombre"
                            placeholder="Ingresar nombre"
                        />
                    </div>
                </div>

                <!-- Sigla del Nivel -->
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="flex flex-column gap-1">
                        <label for="cNivelSigla" class="label-ajustada"
                            >Sigla del Nivel</label
                        >
                        <input
                            id="cNivelSigla"
                            type="text"
                            pInputText
                            formControlName="cNivelSigla"
                            readonly
                        />
                    </div>
                </div>

                <!-- Botón Guardar -->
                <div class="col-12 md:col-3 lg:col-2 flex align-items-end">
                    <p-button
                        label="Guardar"
                        icon="pi pi-save"
                        (click)="guardarNivel()"
                        class="w-full"
                    />
                </div>
                <div class="col-12 md:col-3 lg:col-2 flex align-items-end">
                    <p-button
                        label="limpiar"
                        icon="pi pi-refresh"
                        (click)="limpiarForm()"
                        class="w-full"
                        severity="success"
                    />
                </div>

                <!-- Nombre de los Cursos -->
                <div class="col-12 md:col-3 lg:col-3">
                    <div class="flex flex-column gap-1">
                        <label
                            for="cNivelAbreviacionCursos"
                            class="label-ajustada"
                            >Abreviatura de curso</label
                        >
                        <input
                            pInputText
                            id="cNivelAbreviacionCursos"
                            formControlName="cNivelAbreviacionCursos"
                            class="w-full"
                        />
                    </div>
                </div>
                <div class="col-12 md:col-3 lg:col-3">
                    <div class="flex flex-column gap-1">
                        <label for="cNivelNombreCursos" class="label-ajustada"
                            >Nombre de curso</label
                        >
                        <input
                            pInputText
                            id="cNivelNombreCursos"
                            formControlName="cNivelNombreCursos"
                            class="w-full"
                        />
                    </div>
                </div>

                <!-- Abreviatura del Curso -->
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="flex flex-column gap-1">
                        <label for="abreviaturaCursos" class="label-ajustada"
                            >Abreviatura del Curso</label
                        >
                        <input
                            pInputText
                            id="cNivelAbreviacionCursos"
                            formControlName="cNivelAbreviacionCursos"
                            readonly
                            class="w-full"
                        />
                    </div>
                </div>

                <!-- Denominación Tutor -->
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="flex flex-column gap-1">
                        <label for="estado" class="label-ajustada"
                            >Denominación Tutor</label
                        >
                        <input
                            pInputText
                            id="estado"
                            formControlName="cNivelDenominacionTutor"
                            class="w-full"
                        />
                    </div>
                </div>
            </div>
        </form>
        <!-- Tabla -->
        <div class="mt-4">
            <app-table-primeng
                [columnas]="columns"
                [showCaption]="true"
                [data]="datos"
                [showPaginator]="true"
                sortMode="single"
                sortField="persona_nomape"
                [sortOrder]="1"
                [(selectedRowData)]="selectedItems"
                [actions]="actions"
                [hidden]=""
                (accionBtnItem)="accionBtnItemTable($event)"
            >
            </app-table-primeng>
        </div>
    </p-panel>
</div>
