:host {
    display: block;
}

:host ::ng-deep .custom-confirm-modal {
    .p-dialog-content {
        padding-top: 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    .p-dialog-footer {
        padding-top: 2rem;
    }
}
