<p-dialog
    [header]="titulo"
    [modal]="true"
    [(visible)]="showModalEvaluacion"
    [style]="{ width: '95%', minWidth: '90%', height: '90%' }"
    (onHide)="accionBtn({ accion: 'close-modal', item: [] })"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content">
        @switch (showMostrarVista) {
            @case ('FORM-EVALUACION') {
                <form
                    [formGroup]="formEvaluacion"
                    class="mt-4"
                    *ngIf="formEvaluacion"
                >
                    <div class="grid">
                        <div class="col-12">
                            <p-message
                                styleClass="w-full"
                                severity="info"
                                [text]="
                                    'SEMANA ' +
                                    semanaEvaluacion?.cContenidoSemNumero +
                                    ' ' +
                                    semanaEvaluacion?.cContenidoSemTitulo
                                "
                            ></p-message>
                        </div>
                        <div class="col-12">
                            <p-inputGroup>
                                <p-inputGroupAddon>Nombre</p-inputGroupAddon>
                                <input
                                    type="text"
                                    pInputText
                                    placeholder="Ingrese el nombre de la evaluación"
                                    formControlName="cEvaluacionTitulo"
                                />
                            </p-inputGroup>
                        </div>
                        <div class="col-12">
                            <label for="descripcion" class="mt-1"
                                >Descripción o Instrucciones
                                <span class="text-red-500 text-xs"
                                    >(*) Obligatorio</span
                                ></label
                            >
                            <div class="mt-2">
                                <p-editor
                                    styleClass="w-full"
                                    formControlName="cEvaluacionDescripcion"
                                    [style]="{ height: '150px' }"
                                    placeholder="Ingrese la descripción o instrucciones"
                                />
                                @if (
                                    formEvaluacion
                                        .get('cEvaluacionDescripcion')
                                        .hasError('required') &&
                                    formEvaluacion.get('cEvaluacionDescripcion')
                                        ?.touched
                                ) {
                                    <small class="text-red-500">
                                        Este campo es requerido.
                                    </small>
                                }
                            </div>
                        </div>
                        <!-- comentando codigo desde aqui se puede seleccionar tipo de evalaucion
                         <div class="col-12 md:col-4">
                            <p-inputGroup>
                                <p-inputGroupAddon>Tipo</p-inputGroupAddon>
                                <p-dropdown
                                    styleClass="w-full"
                                    placeholder="Seleccione Tipo"
                                    optionValue="iTipoEvalId"
                                    formControlName="iTipoEvalId"
                                    [options]="tipoEvaluaciones"
                                    optionLabel="cTipoEvalNombre"
                                    [styleClass]="
                                        formEvaluacion.get('iTipoEvalId')
                                            ?.invalid &&
                                        formEvaluacion.get('iTipoEvalId')
                                            ?.touched
                                            ? 'w-full ng-dirty ng-invalid p-invalid'
                                            : 'w-full'
                                    "
                                />
                            </p-inputGroup>
                            <div class="ml-7">
                                @if (
                                    formEvaluacion
                                        .get('iTipoEvalId')
                                        .hasError('required') &&
                                    formEvaluacion.get('iTipoEvalId')?.touched
                                ) {
                                    <small class="text-red-500">
                                        Este campo es requerido
                                    </small>
                                }
                            </div>
                        </div> -->
                        <div class="col-12 md:col-6">
                            <p-inputGroup>
                                <p-inputGroupAddon
                                    >Fecha - Hora Inicio
                                </p-inputGroupAddon>
                                <p-calendar
                                    appendTo="body"
                                    formControlName="dtInicio"
                                    [iconDisplay]="'input'"
                                    styleClass="w-full"
                                    [showIcon]="true"
                                    [showTime]="true"
                                    [hourFormat]="'24'"
                                    inputId="dtInicio"
                                />
                            </p-inputGroup>
                        </div>

                        <div class="col-12 md:col-6">
                            <p-inputGroup>
                                <p-inputGroupAddon
                                    >Fecha - Hora Fin</p-inputGroupAddon
                                >
                                <p-calendar
                                    appendTo="body"
                                    formControlName="dtFin"
                                    [iconDisplay]="'input'"
                                    styleClass="w-full"
                                    [showIcon]="true"
                                    [showTime]="true"
                                    [hourFormat]="'24'"
                                    inputId="dtFin"
                                />
                            </p-inputGroup>
                        </div>
                        <div class="col-12 mt-1">
                            <app-types-files-upload-primeng
                                [nameFile]="'evaluacion'"
                                [nameOption]="'evaluacion'"
                                [typesFiles]="typesFiles"
                                (actionTypesFileUpload)="accionBtn($event)"
                                [filesUrl]="filesUrl"
                            ></app-types-files-upload-primeng>
                        </div>
                    </div>
                </form>
            }
            @case ('LIST-PREGUNTAS') {
                <app-list-preguntas
                    [data]="this.formEvaluacion.value"
                    [iEvaluacionId]="this.iEvaluacionId"
                    [curso]="curso"
                    (accionBtnItem)="accionBtn($event)"
                ></app-list-preguntas>
            }
        }
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end gap-2">
            @switch (showMostrarVista) {
                @case ('FORM-EVALUACION') {
                    <p-button
                        label="Cancelar"
                        severity="secondary"
                        (onClick)="
                            accionBtn({ accion: 'close-modal', item: [] })
                        "
                    />
                    <p-button
                        [label]="opcionEvaluacion"
                        (onClick)="
                            accionBtn({ accion: opcionEvaluacion, item: [] })
                        "
                    />
                }
            }
        </div>
    </ng-template>
</p-dialog>
<p-toast></p-toast>
