<app-container-page
    title="Lista detalle de Evaluación"
    [actions]="actionsContainer"
    (accionBtnItem)="accionBtnItem($event)"
>
    <app-table-primeng
        [showCaption]="false"
        [tableStyle]="null"
        [showPaginator]="false"
        [actions]="actions"
        [data]="data"
        [columnas]="columns"
        (accionBtnItem)="accionBtnItem($event)"
    ></app-table-primeng>
</app-container-page>
<app-form-detalle-evaluaciones
    [item]="itemData"
    [showModal]="showModal"
    [option]="option"
    (accionBtnItem)="accionBtnItem($event)"
></app-form-detalle-evaluaciones>

<p-confirmDialog />
