<!-- <app-container-page [title]="'Mis Áreas Curriculares'" [actions]="[]">
    <p-dataView
        #dv
        [value]="cursos"
        [paginator]="layout === 'list' ? false : true"
        [rows]="10"
        filterBy="cCursoNombre"
        [sortField]="sortField"
        [sortOrder]="sortOrder"
        [layout]="layout"
    >
        <ng-template pTemplate="header">
            <div
                class="flex flex-column md:flex-row md:justify-content-between gap-2"
            >
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input
                        pInputText
                        type="text"
                        [(ngModel)]="text"
                        (input)="onFilter(dv, $event)"
                        placeholder="Buscar por curso"
                    />
                </p-iconField>

                <div class="flex justify-end">
                    <p-selectButton
                        [(ngModel)]="layout"
                        [options]="options"
                        [allowEmpty]="false"
                        (onChange)="text = ''"
                    >
                        <ng-template pTemplate="item" let-item>
                            <i
                                class="pi"
                                [ngClass]="{
                                    'pi-bars': item === 'list',
                                    'pi-th-large': item === 'grid',
                                }"
                            ></i>
                        </ng-template>
                    </p-selectButton>
                </div>
            </div>
        </ng-template>
        <ng-template let-products pTemplate="gridItem">
            <div class="cursos gap-4 py-2">
                @for (curso of cursos; track curso.iCursoId) {
                    <app-curso-card
                        #dv
                        class=""
                        [curso]="curso"
                    ></app-curso-card>
                }
            </div>
        </ng-template>
    </p-dataView>
    @if (layout === 'list') {
        <app-areas-estudios
            [searchText]="searchText"
            [data]="cursos"
        ></app-areas-estudios>
    }
</app-container-page> -->

<!-- Restaurar -->
<app-container-page
    [title]="'Banco de Preguntas : ' + nombreEvaluacion"
    [actions]="[]"
>
    <p-dataView
        #dv
        [value]="area"
        [paginator]="true"
        [rows]="9"
        filterBy="name"
        [sortField]="sortField"
        [sortOrder]="sortOrder"
        layout="grid"
    >
        <ng-template pTemplate="header">
            <div
                class="flex flex-column md:flex-row md:justify-content-between gap-2"
            >
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input
                        pInputText
                        type="text"
                        (input)="onFilter(dv, $event)"
                        placeholder="Buscar..."
                    />
                </p-iconField>
                <p-dropdown
                    [options]="[]"
                    placeholder="Todos los Periodos"
                    styleClass="w-full"
                    class="flex-1"
                    [emptyMessage]="'000237'"
                >
                </p-dropdown>
                <p-dropdown
                    [options]="[]"
                    placeholder="2024"
                    styleClass="w-full"
                    class="flex-1"
                    [emptyMessage]="'2023'"
                >
                </p-dropdown>

                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-products pTemplate="listItem">
            <app-table-primeng
                [showPaginator]="false"
                [showCaption]="false"
                [data]="[]"
            ></app-table-primeng>
        </ng-template>
        <ng-template let-products pTemplate="gridItem">
            <div class="area gap-4 py-2">
                @for (area of area; track area.iCursoId) {
                    <app-curso-card
                        #dv
                        class=""
                        [curso]="area"
                    ></app-curso-card>
                }
            </div>
        </ng-template>
    </p-dataView>
</app-container-page>
