<br />

<div class="grid">
  <div class="col-12 md:col-6">
    <p-panel>
      <ng-template pTemplate="header">
        <span class="text-uppercase">
          <div class="flex flex-column">
            <div class="flex text-xl">Rango de ingresos familiar</div>
          </div>
        </span>
      </ng-template>
      <div>
        <app-multi-chart [data_chart]="reportes_economico?.rango_ingresos_familiar" />
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-6">
    <p-panel>
      <ng-template pTemplate="header">
        <span class="text-uppercase">
          <div class="flex flex-column">
            <div class="flex text-xl">¿El(a) apoderado(a) o jefe del hogar trabaja?</div>
          </div>
        </span>
      </ng-template>
      <div>
        <app-multi-chart [data_chart]="reportes_economico?.tiene_trabajo" />
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-6">
    <p-panel>
      <ng-template pTemplate="header">
        <span class="text-uppercase">
          <div class="flex flex-column">
            <div class="flex text-xl">
              ¿El(a) apoderado(a) o jefe del hogar recibe algún apoyo económico?
            </div>
          </div>
        </span>
      </ng-template>
      <div>
        <app-multi-chart [data_chart]="reportes_economico?.apoyo_economico" />
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-6">
    <p-panel>
      <ng-template pTemplate="header">
        <span class="text-uppercase">
          <div class="flex flex-column">
            <div class="flex text-xl">
              ¿De quién depende económicamente el(a) apoderado(a) o jefe del hogar?
            </div>
          </div>
        </span>
      </ng-template>
      <div>
        <app-multi-chart [data_chart]="reportes_economico?.dependencia_economica" />
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-6">
    <p-panel>
      <ng-template pTemplate="header">
        <span class="text-uppercase">
          <div class="flex flex-column">
            <div class="flex text-xl">Jornada laboral del(a) apoderado(a) o jefe del hogar</div>
          </div>
        </span>
      </ng-template>
      <div>
        <app-multi-chart [data_chart]="reportes_economico?.jornada_laboral" />
      </div>
    </p-panel>
  </div>
</div>

<p-toast></p-toast>
