<section class="flex flex-column gap-4">
    <p-breadcrumb class="max-w-full" [model]="items">
        <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.route; else elseBlock">
                <a [routerLink]="item.route" class="p-menuitem-link">
                    <span
                        [ngClass]="[item.icon ? item.icon : '', 'text-color']"
                    ></span>
                    <span class="text-primary font-semibold">{{
                        item.label
                    }}</span>
                </a>
            </ng-container>
            <ng-template #elseBlock>
                <a [href]="item.url">
                    <span class="text-color">{{ item.label }}</span>
                </a>
            </ng-template>
        </ng-template>
    </p-breadcrumb>

    <div class="curso-detalle__content">
        <app-curso-detalle-navigation
            [actualTab]="tab"
            (tabChange)="updateTab($event)"
        />
        @switch (tab) {
            @case ('inicio') {
                <app-tab-inicio></app-tab-inicio>
            }
            @case ('contenido') {
                <app-tab-contenido></app-tab-contenido>
            }
            @case ('estudiantes') {
                <app-tab-estudiantes></app-tab-estudiantes>
            }
            @case ('evaluaciones') {
                <app-tab-evaluaciones></app-tab-evaluaciones>
            }
            @case ('rubricas') {}
            @case ('banco-preguntas') {}
            @default {}
        }
        <!-- <router-outlet></router-outlet> -->
    </div>
</section>
