:host {
    display: block;
}

.preguntas-container {
    max-height: 100dvh;
    overflow-y: scroll;
}
.leyenda-evaluacion {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
:host ::ng-deep p-inputGroupAddon {
    background-color: var(--highlight-bg) !important;
    color: var(--highlight-text-color) !important;
}

.menu-content {
    transition: all 0.3s ease-in-out;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}
