<app-toolbar-primeng
    [title]="
        'Evaluación Formativa: ' +
        (evaluacion?.cEvaluacionTitulo || 'Título no disponible')
    "
></app-toolbar-primeng>
<!-- <app-evaluacion-header
    [selectedEstudianteValue]="selectedEstudianteValue"
    [showListaEstudiantes]="showListaEstudiantes"
    (accionBtnItem)="accionBtnItem($event)"
></app-evaluacion-header> -->
<div class="grid mt-3">
    <div
        class="col-12 w-full flex flex-column gap-4 md:flex-row md:align-items-start align-items-stretch grid"
    >
        <!-- Panel Izquierdo -->
        <div class="col-4">
            <app-card-orderlist
                [data]="estudianteMatriculadosxGrado"
                (datoSeleccionado)="updateSelectedEstudiante($event)"
            >
            </app-card-orderlist>
        </div>

        <!-- Panel Derecho -->
        <div class="col">
            <div class="flex flex-column flex-1 gap-4 m-3">
                <ng-container *ngIf="!!selectedEstudiante(); else emptySection">
                    <p-tabView>
                        <p-tabPanel header="Rúbrica">
                            <app-rubrica-calificar
                                [enableCellSelection]="true"
                                class="w-full"
                            >
                            </app-rubrica-calificar>
                        </p-tabPanel>
                        <p-tabPanel header="Preguntas">
                            <div
                                class="flex flex-column gap-4 preguntas-container"
                            >
                                <p-accordion [multiple]="true">
                                    <ng-container
                                        *ngFor="
                                            let pregunta of selectedEstudiante()
                                                .preguntas;
                                            let i = index
                                        "
                                    >
                                        <p-accordionTab [selected]="true">
                                            <ng-template pTemplate="header">
                                                <div class="ellipsis">
                                                    @if (
                                                        pregunta[
                                                            'idEncabPregId'
                                                        ] > 0
                                                    ) {
                                                        <span>{{
                                                            pregunta[
                                                                'cEncabPregTitulo'
                                                            ]
                                                        }}</span>
                                                    } @else {
                                                        <span>{{
                                                            pregunta[
                                                                'cPregunta'
                                                            ] | removeHTML
                                                        }}</span>
                                                    }
                                                </div>
                                            </ng-template>
                                            <app-evaluacion-pregunta
                                                (calificarPreguntaChange)="
                                                    calificarPregunta($event)
                                                "
                                                [pregunta]="pregunta"
                                            ></app-evaluacion-pregunta>
                                        </p-accordionTab>
                                    </ng-container>
                                </p-accordion>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                    <!-- <div class="card">
                        <div class="flex justify-content-between flex-wrap">
                            <div class="flex align-items-center justify-content-center font-bold">
                                <h4 class="text-primary">Preguntas</h4>
                            </div>
                            <div class="flex align-items-center justify-content-center">
                                <button pButton pRipple type="button" class="p-button-primary">
                                    <i class="pi pi-check"></i>&nbsp; Calificar
                                </button>
                            </div>
                        </div>
                    </div> -->
                </ng-container>
                <ng-template #emptySection>
                    <div align="center" class="">
                        <app-no-data
                            [showIcon]="'NO-DATA'"
                            [mensaje]="
                                'No ha seleccionado a ningún estudiante para calificar'
                            "
                        ></app-no-data>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
