<div class="flex flex-column mb-4">
    <article class="card">
        <h2>Calificación: {{ evaluacion?.cEvaluacionTitulo }}</h2>
    </article>
</div>

<div
    class="flex flex-column gap-4 md:flex-row md:align-items-start align-items-stretch"
>
    <div class="flex flex-column gap-2 card">
        <div class="flex gap-4 align-items-center flex-wrap mx-auto">
            <app-leyenda
                [total]="2"
                text="Revisados"
                [size]="'md'"
                colorClass="bg-green-500"
            ></app-leyenda>
            <app-leyenda
                [total]="3"
                text="En proceso"
                [size]="'md'"
                colorClass="bg-yellow-500"
            ></app-leyenda>
            <app-leyenda
                [total]="10"
                text="Pendientes"
                [size]="'md'"
                colorClass="bg-red-500"
            ></app-leyenda>
        </div>
        <div class="w-full">
            <p-iconField iconPosition="left" class="w-full">
                <p-inputIcon styleClass="pi pi-search" />
                <input
                    type="text"
                    pInputText
                    placeholder="Search"
                    class="w-full"
                />
            </p-iconField>
        </div>
        <p-table
            [value]="evaluacionesEstudiantes"
            selectionMode="single"
            [(selection)]="evaluacionSeleccionada"
            (onRowSelect)="seleccionarEvaluacion()"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre y Apellidos</th>
                    <th>Estado</th>
                    <th>Notal Final</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-estudiante>
                <tr [pSelectableRow]="estudiante">
                    <td>
                        {{ estudiante.cEstNombres }} <br />
                        {{ estudiante.cEstPaterno }}
                        {{ estudiante.cEstMaterno }}
                    </td>
                    <td>
                        <span
                            class="block w-1rem h-1rem bg-red-500 border-circle"
                        ></span>
                    </td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="flex flex-column flex-1 gap-4">
        @if (!!evaluacionSeleccionada) {
            <app-evaluacion-info
                [evaluacion]="evaluacionSeleccionada"
            ></app-evaluacion-info>

            <div>
                <h3>Preguntas</h3>
                <hr />
            </div>
            <div class="flex flex-column gap-4 preguntas-container">
                <p-accordion [multiple]="true">
                    @for (
                        pregunta of evaluacionSeleccionada.preguntas;
                        track $index
                    ) {
                        <p-accordionTab [selected]="true">
                            <ng-template pTemplate="header">
                                <div class="ellipsis">
                                    <span class="">
                                        {{ pregunta['cPregunta'] | removeHTML }}
                                    </span>
                                </div>
                            </ng-template>
                            <app-banco-pregunta-preview-item
                                [pregunta]="pregunta"
                                class="mb-4"
                            ></app-banco-pregunta-preview-item>
                        </p-accordionTab>
                    }
                </p-accordion>
            </div>
        } @else {
            <app-empty-section
                class="w-full"
                [message]="'Ningun Estudiante seleccionado'"
            ></app-empty-section>
        }
    </div>
</div>
