<div class="grid">
    <p-toolbar class="col-12">
        <div class="p-toolbar-group-start">
            <h4 class="text-primary font-bold">
                MATERIAL EDUCATIVO: {{ cCursoNombre }}
            </h4>
        </div>
        <div class="p-toolbar-group-end">
            <button
                type="button"
                pButton
                icon="pi pi-plus"
                class="p-button-success"
                (click)="accionBtnItem({ accion: 'agregar', item: [] })"
            >
                &nbsp;Agregar
            </button>
        </div>
    </p-toolbar>
    <div class="col-12">
        <p-messages
            [(value)]="mensaje"
            [enableService]="false"
            [closable]="false"
        />
    </div>
    <p-dataView
        class="col-12"
        #dv
        [value]="[]"
        [paginator]="false"
        [rows]="100"
        filterBy="cMatEducaNombre"
        [sortField]="''"
        [sortOrder]="0"
        [layout]="layout"
        [emptyMessage]="' '"
    >
        <ng-template pTemplate="header">
            <div
                class="flex flex-column md:flex-row md:justify-content-between"
            >
                @if (layout === 'list') {
                    <p-inputGroup class="h-min w-full">
                        <p-inputGroupAddon
                            ><p-inputIcon styleClass="pi pi-search"
                        /></p-inputGroupAddon>
                        <input
                            pInputText
                            type="text"
                            placeholder="Buscar por nombre"
                        />
                    </p-inputGroup>
                    &nbsp;&nbsp;
                }
            </div>
        </ng-template>
        <ng-template let-item pTemplate="list">
            <app-table-primeng
                [columnas]="columns"
                [actions]="actions"
                [data]="data"
                [showCaption]="false"
                [tableStyle]="null"
                (accionBtnItem)="accionBtnItem($event)"
            ></app-table-primeng>
        </ng-template>
    </p-dataView>
</div>

<app-form-material-educativo
    [showModal]="showModal"
    [data]="item"
    [titulo]="titulo"
    [opcion]="opcion"
    (accionBtnItem)="accionBtnItem($event)"
>
</app-form-material-educativo>
