:host ::ng-deep .search-input .p-inputtext {
    border: 1px solid #dee2e6 !important; // mismo color que surface-border
    border-radius: 6px !important;
    padding: 0.75rem !important;
    font-size: 0.875rem !important;
    color: #374151 !important;
    background: white !important;

    &::placeholder {
        color: #9ca3af !important;
    }

    &:enabled:focus {
        outline: 0 none !important;
        outline-offset: 0 !important;
        box-shadow: 0 0 0 0.2rem rgba(74, 105, 189, 0.2) !important;
        border-color: #4a69bd !important;
    }
}
