<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column">
      <div class="flex text-2xl font-bold">Competencias de: {{ curriculaDescripcion }}</div>
    </div>
  </ng-template>
  <ng-template pTemplate="icons" class="flex flex-column flex-1">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        size="small"
        pTooltip="Agregar"
        tooltipPosition="top"
        (click)="accionBtnItem({ accion: 'agregar' })"
        severity="success"
      >
        <i class="pi pi-plus"></i>
        <span class="ml-2 hidden sm:block">Agregar</span>
      </p-button>
      <p-button
        size="small"
        pTooltip="Regresar"
        tooltipPosition="top"
        (click)="accionBtnItem({ accion: 'regresar' })"
        severity="info"
      >
        <i class="pi pi-arrow-left"></i>
        <span class="ml-2 hidden sm:block">Regresar</span>
      </p-button>
    </div>
  </ng-template>

  <div class="grid">
    <div class="col-12 mt-3">
      @if (competencias.length > 0) {
        <app-table-primeng
          class="w-full"
          [columnas]="competenciasColumns"
          [data]="competencias"
          [actions]="accionesTablacompetencias"
          (accionBtnItem)="accionBtnItem($event)"
          [searchPlaceholder]="'Buscar por competencia...'"
        />
      } @else {
        <app-no-data [showIcon]="'NO-DATA'" mensaje="No se encontraron competencias asignadas" />
      }
    </div>
  </div>
</p-panel>

<p-dialog
  header="{{ titulo }}"
  [(visible)]="visible_competencia"
  [modal]="true"
  [maximizable]="true"
  [resizable]="false"
  appendTo="body"
  (onHide)="(false)"
  [style]="{ width: '75rem' }"
>
  <!-- CONTENIDO DEL DIALOG -->
  <ng-template pTemplate="content">
    <p-tabView>
      <p-tabPanel header="Información de competencias">
        <app-container-page title="Competencias" [actions]="[]">
          <form [formGroup]="formCompetencia" class="flex flex-column gap-3 w-full">
            <div class="grid">
              <p></p>
              <div class="field col-12 md:col-2">
                <span class="p-float-label w-full">
                  <p-inputNumber
                    inputId="cCompetenciaNro"
                    [min]="1"
                    formControlName="cCompetenciaNro"
                    inputStyleClass="w-full"
                    [showButtons]="true"
                  ></p-inputNumber>
                  <label for="cCompetenciaNro">N°</label>
                </span>
              </div>
              <div class="field col-12 md:col-8">
                <span class="p-float-label w-full">
                  <input
                    pInputText
                    id="cCompetenciaNombre"
                    formControlName="cCompetenciaNombre"
                    class="w-full"
                  />
                  <label for="cCompetenciaNombre">Nombre</label>
                </span>
              </div>
              <div class="field col-12 md:col-2">
                <p-toggleButton
                  styleClass="w-full"
                  onLabel="Activo"
                  offLabel="Inactivo"
                  formControlName="iEstado"
                />
              </div>
            </div>

            <div class="grid">
              <div class="field col-12 md:col-10">
                <span class="p-float-label w-full">
                  <textarea
                    pInputTextarea
                    id="cCompetenciaDescripcion"
                    class="w-full"
                    formControlName="cCompetenciaDescripcion"
                    rows="5"
                  ></textarea>
                  <label for="cCompetenciaDescripcion">Descripción</label>
                </span>
              </div>
              <div class="field col-12 md:col-2">
                <span class="p-float-label">
                  <button
                    pButton
                    label="Editar"
                    icon="pi pi-pencil"
                    class="p-button-warning w-full"
                    size="small"
                    [disabled]="formCompetencia.invalid"
                    (click)="
                      accionBtnItem({
                        accion: 'actualizar_competencia',
                        item: formCompetencia.value,
                      })
                    "
                    *ngIf="bUpdate"
                  ></button>
                  <button
                    pButton
                    label="Guardar"
                    icon="pi pi-save"
                    class="p-button-success w-full"
                    size="small"
                    (click)="
                      accionBtnItem({ accion: 'agregar_competencia', item: formCompetencia.value })
                    "
                    *ngIf="!bUpdate"
                    [disabled]="formCompetencia.invalid"
                  ></button>
                </span>
              </div>
            </div>
          </form>
          <div class="tag2">Los parámetros en (*) son obligatorios</div>
        </app-container-page>
      </p-tabPanel>

      <p-tabPanel header="Capacidades asignadas" *ngIf="iCompetenciaId > 0">
        <div *ngIf="iCompetenciaId === 0">
          <app-no-data [showIcon]="'NO-DATA'" mensaje="No se encontraron competencias asignadas" />
        </div>
        <div *ngIf="iCompetenciaId > 0">
          <app-curricula-competencia-capacidades
            [iCompetenciaId]="iCompetenciaId"
          ></app-curricula-competencia-capacidades>
        </div>
      </p-tabPanel>
    </p-tabView>
  </ng-template>
  <!-- PIE DEL DIALOG -->
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <button
        pButton
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-danger"
        size="small"
        (click)="visible_competencia = false"
      ></button>
    </div>
  </ng-template>
</p-dialog>
