<p-inputGroup styleClass="vertical-group">
    <p-inputGroupAddon>
        <a
            *ngIf="infoAdicional"
            role="button"
            class="p-button p-button-secondary mr-2"
            (click)="panel.toggle($event)"
            (keypress)="panel.toggle($event)"
            tabindex="0"
        >
            <i class="pi pi-question-circle"></i>
        </a>
        <p-overlayPanel #panel [showCloseIcon]="true" appendTo="body">
            <div class="flex w-15rem">
                <ng-template [ngTemplateOutlet]="infoAdicional"></ng-template>
            </div>
        </p-overlayPanel>
        <!-- @if (switchControl) {
            <p-inputSwitch [formControl]="switchControl" />
        } @else {
            <p-inputSwitch />
        } -->
        <span>{{ addonLabel }}</span>
    </p-inputGroupAddon>
    <div class="text-panel">
        <div
            *ngFor="let alternativa of alternativas"
            class="field-checkbox mt-3 px-3"
        >
            <p-radioButton
                [inputId]="alternativa.value"
                [value]="alternativa"
                [formControl]="switchControl"
            />
            <label [for]="alternativa.value" class="ml-2">
                {{ alternativa.label }}
            </label>
        </div>
    </div>
</p-inputGroup>
