:host ::ng-deep .p-panel-header h3 {
    color: #3e67a9 !important;
}

:host ::ng-deep .p-panel-icons button {
    background-color: #64748b;
    border-color: #64748b;
}

.p-confirm-dialog-reject {
    background-color: black;
}

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

:host ::ng-deep p-inputGroupAddon {
    background-color: #3e67a9;
    color: #fff;
}
