.btn-label {
  position: absolute;
  top: -15px;
  left: 10;
  background-color: #3e67a9;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  color: white;
  text-align: left;
  width: fit-content;
}

:host ::ng-deep p-inputGroupAddon {
  background-color: var(--bg-header-modal) !important;
  color: var(--primary-color-text) !important;
  i {
    color: var(--primary-color-text) !important;
  }
}

:host ::ng-deep .turno-input p-inputGroupAddon {
  background-color: #077d38 !important; /* verde */
  color: #fff !important;
}

.tabla-dias {
  border-collapse: separate; /* importante para el border-radius */
  border-spacing: 0; /* elimina separación entre celdas */
  width: 100%;
  text-align: center;
  border: 1px solid #ccc; /* borde general de la tabla */
  border-radius: 8px; /* borde redondeado */
  overflow: hidden; /* asegura que las esquinas se redondeen */
}

.tabla-dias thead th {
  background-color: #28a745; /* verde */
  color: white;
  height: 30px;
}

.tabla-dias thead th.weekend {
  background-color: white; /* fines de semana */
  color: black;
}

.tabla-dias tbody td {
  height: 30px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* Última celda de cada fila sin borde derecho extra */
.tabla-dias td:last-child {
  border-right: none;
}

/* Última fila sin borde inferior extra */
.tabla-dias tbody tr:last-child td {
  border-bottom: none;
}
