<p-dropdown [options]="roles" styleClass="" (onChange)="changeProfile($event)">
    <ng-template pTemplate="selectedItem" let-item class="p-0">
        <ng-container
            *ngTemplateOutlet="templateRoleRow; context: { item: item }"
        ></ng-container>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <ng-container
            *ngTemplateOutlet="templateRoleRow; context: { item: item }"
        ></ng-container>
    </ng-template>
</p-dropdown>

<ng-template #templateRoleRow let-item="item">
    <div class="flex align-items-center gap-2">
        <i class="pi pi-building-columns text-xl text-primary font-bold"></i>
        <div class="flex flex-column text-xs">
            <span class="block p-0 font-bold"
                >IE: {{ item.iEspecialistaId }} {{ item.cPersNombre }}</span
            >
            <span class="block p-0"
                >Cod. Modular: {{ item.codigoModular }}</span
            >
            <span class="block p-0">Nivel: {{ item.cNivelTipoNombre }}</span>
            <span class="block p-0"
                >{{ item.direccion }}UGEL: {{ item.cUgelNombre }}</span
            >
        </div>
    </div>
</ng-template>
