<div [ngClass]="{ 'disabled-div': isDisabled }">
    <div
        class="flex flex-column md:flex-row md:justify-content-between gap-2 padding:100px"
    ></div>
    <p-accordion [activeIndex]="0">
        <p-accordionTab
            *ngFor="let nivel of lista; let nivelIndex = index"
            [header]="nivel.nivel"
        >
            <p-table [value]="cursos">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Nombre de Área</th>
                        <th *ngFor="let grado of objectKeys(nivel.grados)">
                            {{ grado }}
                        </th>
                        <th>Fecha de Evaluación</th>
                        <th>Cant. Preguntas</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-curso let-i="rowIndex">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ curso.cCursoNombre }}</td>
                        <td *ngFor="let grado of objectKeys(nivel.grados)">
                            <p-checkbox
                                [binary]="true"
                                [disabled]="isDisabled"
                            ></p-checkbox>
                        </td>
                        <td>
                            <!-- {{ curso.fechaEvaluacion || 'N/A' }} -->
                            <p-calendar
                                appendTo="body"
                                [(ngModel)]="curso.fechaEvaluacion"
                                dateFormat="dd/mm/yy"
                                placeholder="Seleccionar Fecha"
                                class="w-48"
                                [showIcon]="true"
                                [iconDisplay]="'input'"
                            >
                            </p-calendar>
                        </td>
                        <td>
                            <input
                                type="number"
                                pInputText
                                [(ngModel)]="curso.cantPreguntas"
                                min="1"
                                placeholder="Cantidad"
                                class="border-none"
                            />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>

    <div class="flex justify-content-between">
        <div class="card" *ngFor="let nivel of lista">
            <!-- Título: Nivel -->
            <div class="flex justify-content-start">
                <h3>{{ nivel.nivel }}</h3>
            </div>

            <div
                *ngFor="let grado of objectKeys(nivel.grados)"
                class="flex flex-column gap-2"
            >
                <!-- Subtítulo: Grado -->
                <div class="flex justify-content-start">
                    <h4>{{ grado }}</h4>
                </div>
                <!-- Cursos -->
                <div
                    *ngFor="let curso of nivel.grados[grado]"
                    class="field-checkbox"
                >
                    <p-checkbox
                        [(ngModel)]="curso.isSelected"
                        [binary]="true"
                        [disabled]="isDisabled"
                        [name]="'curso_' + curso.iCursoNivelGradId"
                        inputId="'curso_' + curso.iCursoNivelGradId"
                        (onChange)="onCursoSelect(curso)"
                    ></p-checkbox>
                    <label [for]="'curso_' + curso.iCursoNivelGradId">
                        {{ curso.cCursoNombre }}
                    </label>
                    <div class="align-items-end" *ngIf="curso.isSelected">
                        <p-inputGroup>
                            <!-- Componente de calendario para seleccionar una fecha y hora -->
                            <p-calendar
                                controlKey="dtFin"
                                [iconDisplay]="'input'"
                                placeholder="Fecha de Evaluación"
                                styleClass="w-full"
                                class="pl-3 border-none"
                                [showIcon]="true"
                                inputId="dtFin"
                                appendTo="body"
                                [(ngModel)]="curso.dtExamenFechaInicio"
                                (onSelect)="onCursoSelect(curso)"
                            />
                        </p-inputGroup>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
