<!-- <div class="card">
    <p-divider type="solid" />
    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
            <div *ngFor="let curso of cursos" class="field-checkbox">
                <p>{{ curso.cCursoNombre }} - {{ curso.isSelected }}</p>
                <p-checkbox
                    type="checkbox"
                    [label]="curso.cCursoNombre"
                    [disabled]="accion === 'ver'"
                ></p-checkbox>
            </div>
        </div>
    </div>
    <p-divider type="solid" />
</div> -->

<br />
<div class="card">
    <div class="divider"></div>

    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
            <div *ngFor="let curso of cursos" class="field-checkbox">
                <label class="custom-checkbox">
                    <input
                        type="checkbox"
                        [(ngModel)]="curso.isSelected"
                        name="curso{{ curso.cCursoNombre }}"
                        [disabled]="accion === 'ver'"
                    />
                    <span class="checkmark"></span>
                    {{ curso.cCursoNombre }}
                </label>
            </div>
        </div>
    </div>
    <p-button
        label="Guardar y Salir"
        icon="pi pi-times"
        iconPos="right"
        (click)="insertarCursos()"
        styleClass="p-button-danger"
    ></p-button>
    <div class="divider"></div>
</div>
