<app-container-page
    [title]="'Informe de vacantes'"
    [actions]="accionesPrincipal"
    (accionBtnItem)="accionBtnItem($event)"
    ><p-toast />
    <form [formGroup]="form">
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown
                        [style]="{ width: '100%' }"
                        [options]="tipo_constancia"
                        [selectOnFocus]="1"
                        optionLabel="cTipoConstancia"
                        optionValue="iTipoConstancia"
                        formControlName="cTipoConstancia"
                    />
                    <label for="cTipoConstancia">Grado/Edad a matricular</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown
                        [style]="{ width: '100%' }"
                        [options]="tipo_constancia"
                        [selectOnFocus]="1"
                        optionLabel="cTipoConstancia"
                        optionValue="iTipoConstancia"
                        formControlName="cEstadoConstancia"
                    />
                    <label for="cEstadoConstancia">Sección</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <button
                    pButton
                    [label]="'Validar vacantes'"
                    icon="pi pi-check"
                    size="small"
                    class="p-button-primary"
                ></button>
            </div>
        </div>

        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input
                        pInputText
                        id="cVacantesRegular"
                        formControlName="cVacantesRegular"
                        aria-describedby="cVacantes-help"
                    />
                    <label for="cVacantesRegular"
                        >N° de Vacantes regulares(*)</label
                    >
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input
                        pInputText
                        id="cVacanteNEE"
                        formControlName="cVacanteNEE"
                        aria-describedby="cDisponible-help"
                    />
                    <label for="cVacanteNEE"
                        >N° de vacantes para estudiantes NEE(**)</label
                    >
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <button
                    pButton
                    [label]="'Registrar Vacantes'"
                    icon="pi pi-check"
                    size="small"
                    class="p-button-success"
                ></button>
            </div>
        </div>

        <!-- <p-checkbox formControlName="city" value="New York" inputId="ny" label="Traslado de IE" />
    <p-checkbox formControlName="city" value="New York" inputId="ny" label="Traslado de nivel" /> -->
    </form>
    <app-table-primeng
        [columnas]="columns"
        (selectedRowDataChange)="selectRow($event)"
    >
    </app-table-primeng>
</app-container-page>
