<app-container-page
  [title]="'Registro de Vacantes para el año: ' + anio_actual"
  [actions]="accionesPrincipal"
  (accionBtnItem)="accionBtnItem($event)"
>
  <p-toast />

  <div class="grid">
    <div class="col-12">
      <span class="text-lg text-primary font-bold">Filtro de nivel y secciones</span>
    </div>
    <div class="col-12 md:col-4">
      <p-inputGroup>
        <p-inputGroupAddon>Nivel Grado</p-inputGroupAddon>
        <p-dropdown
          [(ngModel)]="iGradoId"
          styleClass="w-full"
          placeholder="Seleccione Grado"
          optionValue="iNivelGradoId"
          [options]="grados"
          optionLabel="cGradoNombre"
          (onChange)="obtenerSecciones()"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-4">
      <p-inputGroup>
        <p-inputGroupAddon>Sección</p-inputGroupAddon>
        <p-dropdown
          [(ngModel)]="iSeccionId"
          styleClass="w-full"
          placeholder="Seleccione Sección"
          optionValue="iSeccionId"
          [options]="secciones"
          optionLabel="cSeccionNombre"
        />
      </p-inputGroup>
    </div>
    <div class="col-12 md:col-2 text-right">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-primary"
        [disabled]="!iGradoId"
        (click)="getVacantes()"
      >
        <i class="pi pi-search"></i>&nbsp;Buscar
      </button>
    </div>

    <div class="col-12 md:col-2">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-success"
        [disabled]="!iGradoId"
        (click)="getVacantesAll()"
      >
        <i class="pi pi-search"></i>&nbsp;Mostrar todos
      </button>
    </div>
    <div class="col-12 md:col-12">
      <app-table-primeng
        [columnas]="columns"
        [showCaption]="true"
        [data]="vacantes"
        [scrollable]="true"
        (accionBtnItem)="accionBtnItem($event)"
        [showPaginator]="true"
        [(selectedRowData)]="selectedItems"
        [actions]="actions"
      >
      </app-table-primeng>
    </div>
  </div>
</app-container-page>

<p-dialog
  header="{{ headerS }}"
  [(visible)]="showModal"
  [style]="{ width: '80rem' }"
  [modal]="true"
  [resizable]="true"
  [maximizable]="true"
  [closable]="true"
  [draggable]="true"
  appendTo="body"
>
  <form [formGroup]="form">
    <br />
    <div class="grid p-fluid mt-3">
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <p-dropdown
            [options]="grados"
            formControlName="iNivelGradoId"
            optionLabel="cGradoNombre"
            [checkmark]="true"
            optionValue="iNivelGradoId"
            (onChange)="obtenerSeccionesForm()"
            appendTo="body"
          />
          <label for="iNivelGradoId">Nivel Grado:</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <p-dropdown
            [options]="secciones"
            formControlName="cSeccion"
            optionLabel="cSeccionNombre"
            [checkmark]="true"
            optionValue="iSeccionId"
            appendTo="body"
          />
          <label for="cSeccion">Sección</label>
        </span>
      </div>
    </div>
    <div class="grid p-fluid mt-3">
      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            pInputText
            id="iVacantesRegular"
            formControlName="iVacantesRegular"
            aria-describedby="iVacantesRegular-help"
          />
          <label for="iVacantesRegular">Vacante regular</label>
        </span>
      </div>

      <div class="field col-12 md:col-3">
        <span class="p-float-label">
          <input
            pInputText
            id="iVacantesNEE"
            formControlName="iVacantesNEE"
            aria-describedby="iVacantesNEE-help"
          />
          <label for="iVacantesNEE">Vacante NEE</label>
        </span>
      </div>
      <div class="field col-12 md:col-3 switch-field">
        <span class="switch-label">Estado </span>
        <p-inputSwitch formControlName="iEstado" class="pr-3"></p-inputSwitch>
      </div>
      <div class="field col-12 md:col-2">
        <p-button
          *ngIf="!update"
          label="Guardar"
          [disabled]="form.invalid"
          (onClick)="addVacante()"
          styleClass="p-button-primary"
        />
        <p-button
          *ngIf="update"
          label="Actualizar"
          [disabled]="form.invalid"
          (onClick)="updVacante()"
          styleClass="p-button-warning"
        />
      </div>
    </div>
  </form>
</p-dialog>
