<app-container-page
    [title]="'Registro de Vacantes para el año: ' + anio_actual"
    [actions]="accionesPrincipal"
    (accionBtnItem)="accionBtnItem($event)"
>
    <p-toast />
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid p-fluid mt-4">
            <!-- Dropdown para Grado -->
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown
                        [style]="{ width: '90%' }"
                        [options]="nivel_grado"
                        optionLabel="cNivel_grado"
                        optionValue="iNivel_grado"
                        formControlName="cGrado"
                        [showClear]="true"
                    ></p-dropdown>
                    <label for="cGrado">Grado</label>
                </span>
            </div>
        </div>
        <div class="grid p-fluid mt-3">
            <!-- Input para N° de Vacantes Regulares -->
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input
                        pInputText
                        type="text"
                        id="cVacantesRegular"
                        formControlName="cVacantesRegular"
                    />
                    <label for="cVacantesRegular"
                        >N° de Vacantes regulares(*)</label
                    >
                </span>
            </div>
            <!-- Input para N° de Vacantes NEE -->
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input
                        pInputText
                        type="text"
                        id="cVacanteNEE"
                        formControlName="cVacanteNEE"
                    />
                    <label for="cVacanteNEE"
                        >N° de vacantes para estudiantes NEE(**)</label
                    >
                </span>
            </div>
            <!-- Botón para Agregar un registro al Grid -->
            <div class="field col-12 md:col-4">
                <button
                    pButton
                    type="button"
                    [style]="{ width: '70%' }"
                    label="Agregar Vacante"
                    icon="pi pi-plus"
                    size="small"
                    class="p-button-success"
                    (click)="onSubmit()"
                ></button>
            </div>
        </div>
    </form>

    <p-table
        [value]="guardar_vacantes"
        [paginator]="true"
        [rows]="5"
        responsiveLayout="scroll"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Item</th>
                <th>Grado</th>
                <th>Vacantes Regulares</th>
                <th>Vacantes NEE</th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>{{ obtenerNombreGrado(rowData.iNivel_grado) }}</td>
                <td>{{ rowData.cVacantesRegular }}</td>
                <td>{{ rowData.cVacanteNEE }}</td>
                <td>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        class="p-button-danger"
                        (click)="eliminarVacante(rowIndex)"
                        label=""
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-container-page>
