<p-dialog
  header="Gestionar plantillas"
  [(visible)]="visible"
  (onHide)="onHide()"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <br />
  <div class="grid lista-plantillas" *ngIf="!plantilla">
    <div class="col-12" *ngIf="!plantilla">
      <p-inputGroup>
        <p-inputGroupAddon> Buscar </p-inputGroupAddon>
        <input #filtro pInputText type="text" (input)="filtrarPlantillas()" />
      </p-inputGroup>
    </div>
    <div class="col-12">
      <app-table-primeng
        [columnas]="columns_plantillas"
        [(selectedRowData)]="selectedItem"
        [showCaption]="false"
        [data]="plantillas_filtradas"
        [showPaginator]="true"
        [showSortIcon]="true"
        [actions]="actions_plantillas"
        (accionBtnItem)="accionBtnItemTable($event)"
      />
    </div>
    <div class="flex justify-content-between flex-wrap gap-2">
      <p-button
        label="Salir"
        severity="secondary"
        icon="pi pi-arrow-left"
        iconPos="left"
        (onClick)="onHide()"
      />
      <p-button
        label="Usar plantilla"
        severity="success"
        icon="pi pi-check"
        iconPos="left"
        (onClick)="obtenerPlantillaDesdeTabla()"
      />
    </div>
  </div>
  <div class="detalle-plantilla" *ngIf="plantilla">
    <p-stepper class="mt-3" [(activeStep)]="active">
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button
            class="bg-transparent border-none inline-flex flex-column gap-2 align-items-center"
            (click)="onClick.emit()"
          >
            <span
              class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'bg-primary border-primary': index === active,
                'surface-border': index !== active,
              }"
            >
              <i class="pi pi-info-circle" style="font-size: 1.5rem"></i>
            </span>
            <span class="hidden md:block font-bold text-primary">Información general</span>
          </button>
        </ng-template>
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-index="index"
          class="p-0 m-0"
        >
          <div class="grid">
            <div class="col-12">
              <p-inputGroup class="vertical-group">
                <p-inputGroupAddon> Título * </p-inputGroupAddon>
                <div class="text-panel">
                  {{ plantilla?.cPlanNombre }}
                </div>
              </p-inputGroup>
            </div>
            <div class="col-12" *ngIf="plantilla?.cPlanSubtitulo">
              <p-inputGroup class="vertical-group">
                <p-inputGroupAddon> Subtítulo </p-inputGroupAddon>
                <span class="group-element">
                  {{ plantilla?.cPlanSubtitulo }}
                </span>
              </p-inputGroup>
            </div>
            <div class="col-12" *ngIf="plantilla?.cPlanDescripcion">
              <p-inputGroup class="vertical-group">
                <p-inputGroupAddon>Consideraciones generales:</p-inputGroupAddon>
                <span class="group-element">
                  {{ plantilla?.cPlanDescripcion }}
                </span>
              </p-inputGroup>
            </div>
          </div>
          <div class="flex pt-4 justify-content-between">
            <p-button
              label="Siguiente"
              severity="success"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button
            class="bg-transparent border-none inline-flex flex-column gap-2 align-items-center"
            (click)="onClick.emit()"
          >
            <span
              class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'bg-primary border-primary': index === active,
                'surface-border': index !== active,
              }"
            >
              <i class="pi pi-users" style="font-size: 1.5rem"></i>
            </span>
            <span class="hidden md:block font-bold text-primary">Población objetivo</span>
          </button>
        </ng-template>
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <app-table-primeng
            [columnas]="columns_poblacion"
            [showCaption]="false"
            [data]="plantilla?.poblacion"
            [showPaginator]="false"
            [showSortIcon]="false"
          />
          <div class="flex pt-4 justify-content-between">
            <p-button
              label="Anterior"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="prevCallback.emit()"
            />
            <p-button
              label="Seguiente"
              severity="success"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button
            class="bg-transparent border-none inline-flex flex-column gap-2 align-items-center"
            (click)="onClick.emit()"
          >
            <span
              class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'bg-primary border-primary': index === active,
                'surface-border': index !== active,
              }"
            >
              <i class="pi pi-unlock" style="font-size: 1.5rem"></i>
            </span>
            <span class="hidden md:block font-bold text-primary">Accesos</span>
          </button>
        </ng-template>
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <app-table-primeng
            [columnas]="columns_accesos"
            [showCaption]="false"
            [data]="plantilla?.accesos"
            [showPaginator]="false"
            [showSortIcon]="false"
          />
          <div class="flex pt-4 justify-content-between">
            <p-button
              label="Anterior"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="prevCallback.emit()"
            />
            <p-button
              label="Seguiente"
              severity="success"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <button
            class="bg-transparent border-none inline-flex flex-column gap-2 align-items-center"
            (click)="onClick.emit()"
          >
            <span
              class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'bg-primary border-primary': index === active,
                'surface-border': index !== active,
              }"
            >
              <i class="pi pi-unlock" style="font-size: 1.5rem"></i>
            </span>
            <span class="hidden md:block font-bold text-primary">Preguntas</span>
          </button>
        </ng-template>
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
          <p-panel *ngFor="let seccion of plantilla?.secciones; let i = index" active="true">
            <ng-template pTemplate="header">
              {{ seccion?.iPlanSeccionOrden + '. ' + seccion?.cPlanSeccionTitulo }}
            </ng-template>
            <div class="grid">
              <div class="col-12" *ngFor="let pregunta of seccion?.preguntas">
                <p-inputGroup class="vertical-group">
                  <p-inputGroupAddon>
                    <a
                      *ngIf="pregunta?.cPlanPregAdicional"
                      role="button"
                      class="p-button p-button-secondary mr-2"
                      (click)="panel.toggle($event)"
                      (keypress)="panel.toggle($event)"
                      tabindex="0"
                      pTooltip="Información Adicional"
                      tooltipPosition="top"
                    >
                      <i class="pi pi-question-circle"></i>
                    </a>
                    <p-overlayPanel #panel [showCloseIcon]="true" appendTo="body">
                      <div class="flex w-15rem">
                        {{ pregunta?.cPlanPregAdicional }}
                      </div>
                    </p-overlayPanel>
                    <span>{{
                      seccion.iPlanSeccionOrden + '.' + pregunta?.iPlanPregOrden + '. '
                    }}</span>
                    <span>{{ pregunta?.cPlanPregContenido }}</span>
                    <p-button
                      size="small"
                      severity="info"
                      disabled="true"
                      [pTooltip]="pregunta.cTipoPregNombre"
                      tooltipPosition="top"
                    >
                      <i [class]="'pi ' + pregunta.cTipoPregIcono"></i>
                      <span class="hidden md:inline ml-2">{{ pregunta.cTipoPregNombre }}</span>
                    </p-button>
                  </p-inputGroupAddon>
                  <div class="text-panel">
                    <div class="flex justify-content-start flex-wrap gap-2 m-2">
                      @if (pregunta?.alternativas) {
                        @for (
                          alternativa of pregunta.alternativas;
                          track alternativa.iPlanAlternativaId
                        ) {
                          <p-chip [label]="alternativa.cPlanAlternativaContenido" />
                        }
                      }
                    </div>
                  </div>
                </p-inputGroup>
                <br />
              </div>
            </div>
          </p-panel>
          <div class="flex pt-4 justify-content-between">
            <p-button
              label="Anterior"
              severity="secondary"
              icon="pi pi-arrow-left"
              (onClick)="prevCallback.emit()"
            />
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
    <div class="flex justify-content-between flex-wrap gap-2">
      <p-button
        label="Regresar"
        severity="secondary"
        icon="pi pi-arrow-left"
        iconPos="left"
        (onClick)="verPlantillas()"
      />
      <p-button
        *ngIf="selectedItem"
        label="Usar plantilla"
        severity="success"
        icon="pi pi-check"
        iconPos="left"
        (onClick)="devolverPlantillaDesdeDetalle()"
      />
    </div>
  </div>
</p-dialog>
