<app-container-page
    [title]="'Resultados ERE:'"
    [actions]="[]"
    class="custom-container-page"
>
    <!-- <label for="">hola xikitas:</label> -->
    <br />
    <!-- select para los resultados de la ERE -->
    <div
        class="flex flex-column md:flex-row md:justify-content-between gap-2 padding:100px"
    >
        <!-- Buscar x nievel (Primaria y Secundaria) -->
        <p-inputGroup>
            <p-inputGroupAddon> Nivel </p-inputGroupAddon>
            <p-dropdown
                optionLabel="cUgelNombre"
                placeholder="Seleccionar"
                styleClass="w-full"
                class="flex-1"
            ></p-dropdown>
        </p-inputGroup>
        <!-- Buscar Grado -->
        <p-inputGroup>
            <p-inputGroupAddon> Grado</p-inputGroupAddon>
            <p-dropdown
                optionLabel="cUgelNombre"
                placeholder="Seleccione"
                styleClass="w-full"
                class="flex-1"
            ></p-dropdown>
        </p-inputGroup>
        <!-- Buscar Sección -->
        <p-inputGroup>
            <p-inputGroupAddon> Sección</p-inputGroupAddon>
            <p-dropdown
                optionLabel="cUgelNombre"
                placeholder="Seleccione"
                styleClass="w-full"
                class="flex-1"
            ></p-dropdown>
        </p-inputGroup>
        <!-- Bsucar resultados x área -->
        <p-inputGroup>
            <p-inputGroupAddon> Área</p-inputGroupAddon>
            <p-dropdown
                optionLabel="cUgelNombre"
                placeholder="Área"
                styleClass="w-full"
                class="flex-1"
            ></p-dropdown>
        </p-inputGroup>
        <p-button class="ml-5" severity="success"> Buscar </p-button>
        <!-- <p-dropdown
                [options]="Ugeles"
                [(ngModel)]="selectedUgeles"
                optionLabel="cUgelNombre"
                placeholder="Seleccionar"
                styleClass="w-full"
                class="flex-1"
                (onChange)="onUgelChange($event)"
                [disabled]="accion === 'ver'"
            ></p-dropdown> -->
    </div>
    <br />
    <label for="" class=""
        >Resumen de participación y nivel de logro alcanzado</label
    >

    <br />
    <div class="flex justify-content-center">
        <p-chart type="doughnut" [data]="data" [options]="options" />
    </div>
    <!-- Menu p-accordion -->
    <div>
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Relación de Estudiantes">
                <p>Lorem ipsum dolor sit amet...</p>
            </p-accordionTab>
            <p-accordionTab header="Estadisticas Avanzadas">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium...
                </p>
            </p-accordionTab>
            <p-accordionTab header="Matris de Evaluación">
                <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-accordionTab>
            <p-accordionTab header="Promedio Final">
                <p>At vero eos et accusamus et iusto odio dignissimos...</p>
            </p-accordionTab>
        </p-accordion>
    </div>
</app-container-page>
