<p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="breadCrumbHome" />

<p-panel>
  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <div class="m-0 text-2xl font-bold">Matrícula</div>
    </div>
  </ng-template>
  <ng-template pTemplate="icons" class="flex flex-column flex-1">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <button size="small" pButton severity="secondary" (click)="salir()">
        <i class="pi pi-arrow-left"></i>
        <span class="ml-2 hidden sm:block">Regresar</span>
      </button>
    </div>
  </ng-template>
  <ng-content>
    <form [formGroup]="form">
      <div class="grid p-fluid">
        <div class="col-12 md:col-8">
          <p-fieldset legend="Datos personales"> </p-fieldset>
        </div>
        <div class="col-12 md:col-4">
          <p-fieldset legend="Matrícula">
            <div class="grid p-fluid">
              <div class="col-12">
                <p-inputGroup class="vertical-group">
                  <p-inputGroupAddon>
                    <p-button
                      size="small"
                      label="Validar"
                      (onClick)="searchEstudiante()"
                      severity="primary"
                    />
                    Código *
                  </p-inputGroupAddon>
                  <p-inputMask
                    id="cEstCodigo"
                    formControlName="cEstCodigo"
                    aria-describedby="cEstCodigo-help"
                    mask="99999999999999"
                    autoClear="false"
                    slotChar=""
                    class="group-element"
                    styleClass="group-element"
                    appendTo="body"
                    [style]="{ flex: '1', width: '100%' }"
                  />
                </p-inputGroup>
              </div>
              <div class="col-12">
                <p-inputGroup>
                  <p-inputGroupAddon>Grado *</p-inputGroupAddon>
                  <p-dropdown
                    [options]="nivel_grados"
                    formControlName="iNivelGradoId"
                    optionLabel="nombre"
                    [checkmark]="true"
                    optionValue="id"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    [disabled]="bEditar"
                    class="group-element"
                    appendTo="body"
                    [style]="{ flex: '1', width: '100%' }"
                  />
                </p-inputGroup>
              </div>
              <div class="col-12 md:col-4">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="turnos"
                    formControlName="iTurnoId"
                    optionLabel="nombre"
                    [checkmark]="true"
                    optionValue="id"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    [disabled]="bEditar"
                  />
                  <label for="iTurnoId">Seleccionar turno *</label>
                </span>
              </div>
              <div class="col-12 md:col-4">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="secciones"
                    formControlName="iSeccionId"
                    optionLabel="nombre"
                    [checkmark]="true"
                    optionValue="id"
                    [filter]="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    [disabled]="bEditar"
                  />
                  <label for="iSeccionId">Seleccionar sección</label>
                </span>
              </div>

              <div class="col-12 md:col-6">
                <span class="p-float-label">
                  <p-calendar
                    formControlName="dtMatrFecha"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="dtMatrFecha"
                    [appendTo]="'body'"
                  />
                  <label for="dtMatrFecha">Fecha de matrícula *</label>
                </span>
              </div>
              <div class="col-12 md:col-6">
                <span class="p-float-label">
                  <p-dropdown
                    [options]="tipos_matriculas"
                    formControlName="iTipoMatrId"
                    optionLabel="nombre"
                    [checkmark]="true"
                    optionValue="id"
                    [showClear]="true"
                    [filter]="true"
                    [appendTo]="'body'"
                  />
                  <label for="iTipoMatrId">Tipo de matrícula *</label>
                </span>
              </div>

              <div class="col-12">
                <span class="p-float-label">
                  <input
                    pInputText
                    formControlName="cMatrObservaciones"
                    aria-describedby="cMatrObservaciones-help"
                  />
                  <label for="cMatrObservaciones">Observación</label>
                </span>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
    </form>
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        *ngIf="!bEditar"
        label="Guardar"
        severity="success"
        icon="pi pi-save"
        [disabled]="form.invalid"
        (onClick)="guardarMatricula()"
      />
      <p-button
        *ngIf="bEditar"
        label="Actualizar"
        severity="success"
        [disabled]="form.invalid"
        (onClick)="updMatricula()"
      />
    </div>
  </ng-content>
</p-panel>

<p-toast></p-toast>
