:host ::ng-deep .p-toolbar {
  background: var(--bg-header-modal) !important;
  color: white !important;

  .p-button {
    border: 0px;
    color: white !important;
    background: var(--bg-header-modal) !important;

    &:hover {
      background: white !important;
      color: var(--bg-header-modal) !important;
    }
  }
}

:host ::ng-deep .p-fieldset .p-fieldset-legend {
  background-color: #ffffff !important;
  border: 0px;
}

.contenedor {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.horizontal {
  text-align: center;
  height: 70px;
  font-size: 9px;
  writing-mode: sideways-lr;
  margin: 0 auto;
}

.mi-addon-primary {
  background-color: var(--primary-color);
  color: white;
}

.input-disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  color: #333333;
}
