<section class="flex flex-column gap-4">
    <div class="flex flex-column">
        <!-- titulo -->
        <div class="grid">
            <p-toolbar class="col-12">
                <div class="block">
                    <h2 class="text-primary text-white font-bold block">
                        GENERACIÓN DE REPORTES ACADÉMICOS
                    </h2>
                </div>
            </p-toolbar>
        </div>
        <!-- contenido -->
        <div class="flex">
            <div class="card w-full">
                <p-fieldset>
                    <ng-template pTemplate="header"
                        >Buscar por Estudiante</ng-template
                    >
                    <div class="flex">
                        <p-floatLabel class="mr-1">
                            <input
                                id="DNI"
                                type="text"
                                pInputText
                                [(ngModel)]="documento"
                                maxlength="8"
                            />
                            <label for="DNI">Documento de Identidad</label>
                        </p-floatLabel>
                        <p-button
                            class="mr-1"
                            label="Buscar"
                            (click)="buscarDocumento()"
                        />
                        <button
                            pButton
                            pRipple
                            label="Limpiar"
                            class="p-button-warning"
                            (click)="limpiar()"
                        ></button>
                    </div>
                </p-fieldset>
                <br />
                <p-table
                    [value]="identidad"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    *ngIf="persona"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Nombre</th>
                            <th>Seleccionar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-identidad>
                        <tr>
                            <td>1</td>
                            <td>{{ identidad.paterno }}</td>
                            <td>{{ identidad.materno }}</td>
                            <td>{{ identidad.nombre }}</td>
                            <td>
                                <button
                                    pButton
                                    pRipple
                                    label="Ver"
                                    class="p-button-primary mr-1"
                                    (click)="mostrarHistorial()"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    label="PDF"
                                    class="p-button-danger"
                                ></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <br />
                <p-table
                    [value]="fila"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    *ngIf="historico"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>Areas Curricular</th>
                            <th *ngFor="let col of columna">
                                <div>Año : {{ col.cYAcadNombre }}</div>
                                <div>Grado : {{ col.cGradoAbreviacion }}</div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-fila let-index="rowIndex">
                        <tr>
                            <td>{{ index + 1 }}</td>
                            <td>{{ fila.cCursoNombre }}</td>
                            @for (fl of fila.nota; track $index) {
                                <td>{{ fl.promedio }}</td>
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td *ngFor="let fin of final">
                                {{ fin.promedio }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>
