<p-panel styleClass="container-page">
    <ng-template pTemplate="header" class="encabezado">
        <div class="flex flex-column gap-2">
            <h3 class="m-0 text-uppercase text-primary">
                Evaluación ERE: {{ cEvaluacionNombre || '-' }} -
                {{ cCursoNombre || '-' }}
            </h3>
        </div>
    </ng-template>
    <ng-template pTemplate="icons" class="flex flex-column flex-1">
        <!-- <div class="flex flex-wrap gap-2 justify-content-end">
            <p>Tiempo restante: {{ getTiempoFormateado() }}</p>
        </div> -->
    </ng-template>
    <div class="grid" *ngIf="!finalizado">
        <div class="col-12 text-center">
            <p-button
                *ngFor="let item of preguntas; let i = index"
                (onClick)="activeIndex = i"
                [rounded]="true"
                [label]="i + 1 + ''"
                styleClass="w-2rem h-2rem p-0 mx-1"
                [outlined]="activeIndex !== i"
                size="small"
                [severity]="item.iMarcado ? 'success' : 'primary'"
            />
        </div>
        <!-- <div class="col-12 py-2" *ngIf="preguntas.length">
            <p-progressBar [value]="75" />
        </div> -->
        <p-accordion class="col-12" [activeIndex]="0">
            <div *ngFor="let tab of preguntas; let i = index">
                @if (activeIndex === i) {
                    <p-accordionTab
                        [header]="tab.title | removeHTMLCSS | truncateText: 120"
                    >
                        <!-- pregunta multiple -->
                        <div *ngIf="tab.iEncabPregId">
                            <div class="grid">
                                <div class="card col-6">
                                    <!-- {{Imprimir el enunciado}} -->
                                    <div
                                        [innerHTML]="tab.cEncabPregContenido"
                                        tabindex="0"
                                        role="button"
                                        (click)="onImageClick($event)"
                                        (keyup)="onImageClick(null)"
                                        aria-label="Haga clic o presione Enter para interactuar con la imagen"
                                    ></div>
                                </div>
                                <div class="card col-6">
                                    <!-- Mostrar las sub-preguntas de la pregunta multiple -->
                                    <p-accordion [activeIndex]="0">
                                        <p-accordionTab
                                            [header]="
                                                pregunta.title
                                                    | removeHTMLCSS
                                                    | truncateText: 60
                                            "
                                            *ngFor="
                                                let pregunta of tab.pregunta
                                            "
                                        >
                                            <div
                                                [innerHTML]="pregunta.cPregunta"
                                            ></div>
                                            <ul>
                                                <li
                                                    *ngFor="
                                                        let opcion of pregunta.alternativas;
                                                        let i = index
                                                    "
                                                    [class.seleccionado]="
                                                        opcion === seleccion
                                                    "
                                                >
                                                    <p-checkbox
                                                        [inputId]="
                                                            opcion.iMarcado
                                                        "
                                                        [value]="opcion"
                                                        [(ngModel)]="
                                                            opcion.iMarcado
                                                        "
                                                        [binary]="true"
                                                        [trueValue]="1"
                                                        [falseValue]="0"
                                                        (onChange)="
                                                            guardarPregunta(
                                                                pregunta.alternativas,
                                                                opcion,
                                                                opcion.iMarcado
                                                            )
                                                        "
                                                    />
                                                    <!-- <p-radioButton name="opciones" [value]="opcion" [(ngModel)]="seleccion"
                                                    (onClick)="guardarPregunta(opcion)">
                                                </p-radioButton> -->
                                                    <div class="ml-2">
                                                        <!-- {{ getLetra(i) }}.--->
                                                        {{
                                                            opcion.cAlternativaDescripcion
                                                        }}
                                                        <p-image
                                                            *ngIf="
                                                                opcion.cAlternativaImagen
                                                            "
                                                            [src]="
                                                                backend +
                                                                '/' +
                                                                opcion.cAlternativaImagen
                                                            "
                                                            alt="Image"
                                                            width="75"
                                                            [preview]="true"
                                                        />
                                                    </div>
                                                </li>
                                            </ul>
                                        </p-accordionTab>
                                    </p-accordion>
                                    <div class="displey flex grid">
                                        <div class="col-6 p-4 text-left">
                                            <p-button
                                                icon="pi pi-arrow-left"
                                                [rounded]="true"
                                                variant="text"
                                                severity="success"
                                                (click)="anteriorPregunta(i)"
                                                *ngIf="i !== 0"
                                            />
                                        </div>
                                        <div class="col-6 p-4 text-right">
                                            <p-button
                                                icon="pi pi-arrow-right"
                                                [rounded]="true"
                                                variant="text"
                                                severity="success"
                                                (click)="siguientePregunta(i)"
                                                *ngIf="
                                                    i !== preguntas.length - 1
                                                "
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Mostrar preguntas Unicas -->
                        <div *ngIf="!tab.iEncabPregId">
                            <div *ngFor="let pregunta of tab.pregunta">
                                <div [innerHTML]="pregunta.cPregunta"></div>
                                <ul>
                                    <li
                                        *ngFor="
                                            let opcion of pregunta.alternativas;
                                            let i = index
                                        "
                                        [class.seleccionado]="
                                            opcion === seleccion
                                        "
                                    >
                                        <p-checkbox
                                            [inputId]="opcion.iAlternativaId"
                                            [value]="opcion"
                                            [(ngModel)]="opcion.iMarcado"
                                            [binary]="true"
                                            [trueValue]="1"
                                            [falseValue]="0"
                                            (onChange)="
                                                guardarPregunta(
                                                    pregunta.alternativas,
                                                    opcion,
                                                    opcion.iMarcado
                                                )
                                            "
                                        />
                                        <label [for]="opcion.iAlternativaId">
                                            <div class="ml-2">
                                                <div
                                                    *ngIf="
                                                        !opcion.cAlternativaImagen
                                                    "
                                                >
                                                    {{
                                                        opcion.cAlternativaDescripcion
                                                    }}
                                                </div>
                                                <p-image
                                                    *ngIf="
                                                        opcion.cAlternativaImagen
                                                    "
                                                    [src]="
                                                        backend +
                                                        '/' +
                                                        opcion.cAlternativaImagen
                                                    "
                                                    alt="Image"
                                                    width="75"
                                                    [preview]="true"
                                                    (onImageError)="
                                                        updateUrl(opcion)
                                                    "
                                                />
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="displey flex grid">
                                <div class="col-6 p-4 text-left">
                                    <p-button
                                        icon="pi pi-arrow-left"
                                        [rounded]="true"
                                        variant="text"
                                        severity="success"
                                        (click)="anteriorPregunta(i)"
                                        *ngIf="i !== 0"
                                    />
                                </div>
                                <div class="col-6 p-4 text-right">
                                    <p-button
                                        icon="pi pi-arrow-right"
                                        [rounded]="true"
                                        variant="text"
                                        severity="success"
                                        (click)="siguientePregunta(i)"
                                        *ngIf="i !== preguntas.length - 1"
                                    />
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                }
            </div>
        </p-accordion>
        <div
            class="col-12 text-center"
            *ngIf="activeIndex === preguntas.length - 1"
        >
            <p-button
                label="Terminar Exámen"
                severity="success"
                (onClick)="terminarExamen()"
            />
        </div>
    </div>
</p-panel>
<p-toast></p-toast>

<app-modal-evaluacion-finalizada
    *ngIf="finalizado"
></app-modal-evaluacion-finalizada>

<app-image-preview
    [imageUrl]="previewImage"
    [showModal]="showModalPreview"
    (accionBtnItem)="accionBtnItem($event)"
></app-image-preview>
