<!-- TIPO 3: PREGUNTA ABIERTA -->
@if (pregunta.iTipoPregId === 3) {
    <p-editor
        appEditorOnlyView
        [(ngModel)]="pregunta.respuestaEstudiante"
    ></p-editor>
} @else {
    <div
        class="flex gap-2 flex-wrap w-full p-1 border-round-xs"
        [ngClass]="{
            'bg-yellow-100': esCorrecta(
                pregunta,
                alternativa.cAlternativaLetra
            ),
        }"
    >
        <!-- Letra -->
        <span>{{ alternativa?.cAlternativaLetra }})</span>

        <!-- Selector -->
        <div class="flex gap-2">
            <!-- OPCIÓN ÚNICA -->
            @if (pregunta.iTipoPregId === 1) {
                <p-radioButton
                    [name]="pregunta.iEvalRptaId"
                    [value]="alternativa.cAlternativaLetra"
                    [(ngModel)]="pregunta.respuestaEstudiante"
                    disabled="true"
                ></p-radioButton>
            }

            <!-- OPCIÓN MÚLTIPLE -->
            @if (pregunta.iTipoPregId === 2) {
                <p-checkbox
                    [value]="alternativa.cAlternativaLetra"
                    [(ngModel)]="pregunta.respuestaEstudiante"
                    disabled="true"
                ></p-checkbox>
            }
        </div>

        <!-- Descripción -->
        <div [innerHTML]="alternativa?.cAlternativaDescripcion"></div>

        <!-- ÍCONOS DE CORRECCIÓN -->
        @if (pregunta.iTipoPregId === 1) {
            <!-- Correcta seleccionada -->
            @if (
                alternativa.cAlternativaLetra ===
                    pregunta.alternativaCorrecta &&
                pregunta.respuestaEstudiante === alternativa.cAlternativaLetra
            ) {
                <app-icon
                    name="matCheckOutline"
                    size="xs"
                    color="text-green-500"
                />
            }
            <!-- Correcta no seleccionada -->
            @else if (
                alternativa.cAlternativaLetra ===
                    pregunta.respuestaEstudiante &&
                pregunta.alternativaCorrecta !== alternativa.cAlternativaLetra
            ) {
                <app-icon
                    name="matCloseOutline"
                    size="xs"
                    color="text-red-500"
                />
            }
        }

        @if (pregunta.iTipoPregId === 2) {
            <!-- Múltiple: correcta y marcada -->
            <app-icon
                *ngIf="
                    pregunta.alternativaCorrecta.includes(
                        alternativa.cAlternativaLetra
                    ) &&
                    pregunta.respuestaEstudiante.includes(
                        alternativa.cAlternativaLetra
                    )
                "
                name="matCheckOutline"
                size="xs"
                color="text-green-500"
            />

            <!-- Múltiple: incorrecta y marcada -->
            <app-icon
                *ngIf="
                    !pregunta.alternativaCorrecta.includes(
                        alternativa.cAlternativaLetra
                    ) &&
                    pregunta.respuestaEstudiante.includes(
                        alternativa.cAlternativaLetra
                    )
                "
                name="matCloseOutline"
                size="xs"
                color="text-red-500"
            />
        }
    </div>
}
