<div class="card">
    <div class="grid">
        <div class="col-12 md:col-9 align-content-between font-bold">
            <span style="font-size: 18px">Total Preguntas:</span>
            <span>
                <p-badge
                    [value]="totalPregunta"
                    severity="primary"
                    styleClass="ml-2"
                    badgeSize="large"
                >
                </p-badge>
            </span>
        </div>
        <div class="col-12 md:col-3 text-right">
            <!-- *ngIf="isDisabled" -->
            <button
                pButton
                class="p-button-primary gap-2"
                (click)="menuAgregarPreguntas.toggle($event)"
            >
                <i class="pi pi-plus"></i>
                <span class="text-md">Agregar</span>
            </button>
            <p-menu
                #menuAgregarPreguntas
                [popup]="true"
                [model]="tiposAgregarPregunta"
                appendTo="body"
                styleClass="w-20rem"
            >
            </p-menu>
        </div>
        @if (!preguntas.length) {
            <div class="col-12">
                <p-divider></p-divider>
                <div class="p-4 rounded">
                    <div class="m-4 text-center border-dashed rounded p-4">
                        <app-no-data
                            [showIcon]="'NO-DATA'"
                            [mensaje]="
                                'No se encontraron preguntas en esta evaluación'
                            "
                        ></app-no-data>
                    </div>
                </div>
            </div>
        } @else {}
    </div>
</div>
<app-cuestionario-form-preguntas
    [showModal]="showModal"
    [data]="[]"
    [titulo]="titulo"
    [opcion]="opcion"
    [tipoPreguntas]="tipoPreguntas"
    (accionBtnItem)="accionBtnItem($event)"
></app-cuestionario-form-preguntas>
<p-toast></p-toast>
