<ng-container [formGroup]="formGroup">
    <div class="grid mb-2">
        <div class="col-12">
            <h2 class="text-xl">Formulario encabezado</h2>
        </div>
    </div>
    <div class="grid">
        <div class="field col-12">
            <label for="cEncabPregTitulo"
                >Ingrese o seleccione un encabezado</label
            >
            <p-autoComplete
                formControlName="encabezadoSelected"
                [dropdown]="true"
                [showClear]="true"
                [styleClass]="'w-full'"
                [suggestions]="encabezadosFiltered"
                optionLabel="cEncabPregTitulo"
                (completeMethod)="search($event)"
            />
            @if (
                formGroup.get('cEncabPregTitulo').hasError('required') &&
                formGroup.get('cEncabPregTitulo')?.touched
            ) {
                <small class="text-red-500">
                    Debe ingresar el título del encabezado
                </small>
            }
        </div>
        @if (formGroup.get('encabezadoSelected')?.value?.iEncabPregId !== -1) {
            <div class="field col-12">
                <label for="cEncabPregContenido"
                    >Contenido del Encabezado</label
                >
                <p-editor
                    [formControlName]="'cEncabPregContenido'"
                    [style]="{ height: '320px' }"
                />
                @if (
                    formGroup.get('cEncabPregContenido').hasError('required') &&
                    formGroup.get('cEncabPregContenido')?.touched
                ) {
                    <small class="text-red-500">
                        Debe ingresar el contenido del encabezado.
                    </small>
                }
            </div>
        }
    </div>
</ng-container>
