<br />
<div class="card grid p-fluid">
  <div class="col-12 md:col-7">
    <p-inputGroup>
      <p-inputGroupAddon> ÁREA: </p-inputGroupAddon>
      <input
        class="disabled"
        disabled
        type="text"
        pInputText
        [value]="selectedItem?.[0]?.cCursoNombre ?? 'sin area seleccionada'"
      />
    </p-inputGroup>
  </div>
  <div class="col-12 md:col-5">
    <p-inputGroup>
      <p-inputGroupAddon> Periodo: </p-inputGroupAddon>
      <p-dropdown
        styleClass="w-full"
        [(ngModel)]="iPeriodoId"
        [options]="periodos"
        optionLabel="cNombrePeriodo"
        optionValue="iNumeroPeriodo"
        placeholder="Seleccionar"
        [disabled]="true"
      >
      </p-dropdown>
    </p-inputGroup>
  </div>
  <div class="col-12 md:col-7 lg:col-7 xl:col-7">
    <p-table
      [value]="competencias"
      [scrollable]="true"
      [scrollable]="true"
      scrollDirection="horizontal"
      [style]="{ 'min-width': '0' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pFrozenColumn>Competencias</th>
          <th colspan="2">Nivel de logro</th>
          <th>Conclusión descriptiva</th>
          <th>Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-competencias let-i="rowIndex">
        @if (iPeriodoId === '1') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_1"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_1"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_1"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                icon="pi pi-file-edit"
                [rounded]="true"
                [text]="true"
                severity="warning"
                *ngIf="
                  competencias.iResultado_1 !== null && competencias.iResultado_1 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
              <p-button
                icon="pi pi-search"
                [rounded]="true"
                [text]="true"
                (click)="buscarResultados(competencias)"
                severity="success"
              />
            </td>
          </tr>
        }
        @if (iPeriodoId === '2') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_2"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_2"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_2"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                icon="pi pi-file-edit"
                [rounded]="true"
                [text]="true"
                severity="warning"
                *ngIf="
                  competencias.iResultado_2 !== null && competencias.iResultado_2 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
              <p-button
                icon="pi pi-search"
                [rounded]="true"
                [text]="true"
                (click)="buscarResultados(competencias)"
                severity="success"
              />
            </td>
          </tr>
        }
        @if (iPeriodoId === '3') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_3"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_3"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_3"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                icon="pi pi-file-edit"
                [rounded]="true"
                [text]="true"
                severity="warning"
                *ngIf="
                  competencias.iResultado_3 !== null && competencias.iResultado_3 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
              <p-button
                icon="pi pi-search"
                [rounded]="true"
                [text]="true"
                (click)="buscarResultados(competencias)"
                severity="success"
              />
            </td>
          </tr>
        }
        @if (iPeriodoId === '4') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_4"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_4"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_4"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                icon="pi pi-file-edit"
                [rounded]="true"
                [text]="true"
                severity="warning"
                *ngIf="
                  competencias.iResultado_4 !== null && competencias.iResultado_4 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
              <p-button
                icon="pi pi-search"
                [rounded]="true"
                [text]="true"
                (click)="buscarResultados(competencias)"
                severity="success"
              />
            </td>
          </tr>
        }
        @if (iPeriodoId === '5') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_5"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_5"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_5"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                icon="pi pi-file-edit"
                [rounded]="true"
                [text]="true"
                severity="warning"
                *ngIf="
                  competencias.iResultado_5 !== null && competencias.iResultado_5 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
              <p-button
                icon="pi pi-search"
                [rounded]="true"
                [text]="true"
                (click)="buscarResultados(competencias)"
                severity="success"
              />
            </td>
          </tr>
        }
      </ng-template>

      <ng-template pTemplate="footer"> </ng-template>
    </p-table>
  </div>
  <div class="col-12 md:col-5 aula-container" style="min-width: 320px">
    <app-aula-virtual
      [contenidoSemanas]="contenidoSemanas"
      [detalleActividades]="detalleActividades"
      [competencia]="tituloCompetencia"
    />
  </div>
</div>
<p-toast></p-toast>
