<br />

<div class="grid">
  <div class="col-12 md:col-6">
    <p-inputGroup>
      <p-inputGroupAddon> Área </p-inputGroupAddon>
      <input class="group-element" disabled type="text" pInputText [value]="cCursoNombre" />
    </p-inputGroup>
  </div>
  <div class="col-12 md:col-6">
    <p-inputGroup>
      <p-inputGroupAddon> Periodo </p-inputGroupAddon>
      <p-dropdown
        [(ngModel)]="iPeriodoId"
        [options]="periodos"
        optionLabel="cPeriodoNombre"
        optionValue="iPeriodoOrden"
        placeholder="Seleccionar"
        [disabled]="true"
        [style]="{ flex: '1', width: '100%' }"
        styleClass="group-element"
      >
      </p-dropdown>
    </p-inputGroup>
  </div>
</div>
<br />

<form [formGroup]="formCompetencias">
  <div class="grid" *ngIf="controles_logros.length > 0">
    <div class="col-12">
      <p-table [value]="competencias">
        <ng-template pTemplate="header">
          <tr>
            <th width="40%">Competencias</th>
            <th width="15%">Nivel de logro</th>
            <th width="40%">Conclusión descriptiva</th>
            <th width="5%"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-competencias let-i="rowIndex">
          <tr>
            <td width="40%">
              {{ competencias.cCompetenciaNombre }}
            </td>
            <td width="15%" *ngIf="!bTieneEscalaNumerica">
              <p-dropdown
                [formControl]="$any(controles_logros.at(i))?.controls['iEscalaCalifId']"
                [options]="escalas"
                optionLabel="cEscalaCalifLetra"
                optionValue="iEscalaCalifId"
                placeholder="Seleccionar"
                [style]="{ flex: '1', width: '100%' }"
                styleClass="group-element"
              />
            </td>
            <td width="15%" *ngIf="bTieneEscalaNumerica">
              <div class="flex gap-1">
                <p-inputNumber
                  [formControl]="$any(controles_logros.at(i))?.controls['iResultado']"
                  [inputStyle]="{ 'text-align': 'left', width: '60px' }"
                  mode="decimal"
                  [showButtons]="false"
                  inputId="minmax-buttons"
                  [min]="0"
                  [max]="20"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                />
                <input
                  type="text"
                  [formControl]="$any(controles_logros.at(i))?.controls['cNivelLogro']"
                  [style]="{ 'text-align': 'center', width: '45px' }"
                  pInputText
                  pattern="^(AD|A|B|C)$"
                  [disabled]="true"
                  maxlength="2"
                />
              </div>
            </td>
            <td width="40%">
              <textarea
                [formControl]="$any(controles_logros.at(i))?.controls['cDescripcion']"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                pInputTextarea
                rows="2"
                [style]="{ 'min-width': '200px' }"
                [minLength]="10"
                [maxlength]="350"
                [style.minHeight]="2"
                [style.maxHeight]="4"
                cdkAutosizeMinRows="2.5"
                cdkAutosizeMaxRows="4"
              ></textarea>
            </td>
            <td width="5%">
              <p-button
                *ngIf="
                  !controles_logros.at(i).value.iResultadoCompId &&
                  !controles_logros.at(i).value.bMostrarBoton
                "
                icon="pi pi-pencil"
                severity="danger"
                pTooltip="Falta registrar"
                tooltipPosition="top"
                disabled
              />
              <p-button
                *ngIf="
                  controles_logros.at(i).value.iResultadoCompId &&
                  !controles_logros.at(i).value.bMostrarBoton
                "
                icon="pi pi-check"
                severity="primary"
                pTooltip="Logro registrado"
                tooltipPosition="top"
                disabled
              />
              <p-button
                *ngIf="controles_logros.at(i).value.bMostrarBoton"
                icon="pi pi-save"
                severity="success"
                pTooltip="Cambios pendientes"
                tooltipPosition="top"
                (click)="actualizarLogro(i)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-toast></p-toast>
</form>
