<br />

<div class="grid">
  <div class="col-12 md:col-6">
    <p-inputGroup>
      <p-inputGroupAddon> Área: </p-inputGroupAddon>
      <input
        class="group-element"
        disabled
        type="text"
        pInputText
        [value]="selectedItem?.[0]?.cCursoNombre"
      />
    </p-inputGroup>
  </div>
  <div class="col-12 md:col-6">
    <p-inputGroup>
      <p-inputGroupAddon> Periodo: </p-inputGroupAddon>
      <p-dropdown
        [(ngModel)]="iPeriodoId"
        [options]="periodos"
        optionLabel="cNombrePeriodo"
        optionValue="iNumeroPeriodo"
        placeholder="Seleccionar"
        [disabled]="true"
        [style]="{ flex: '1', width: '100%' }"
        styleClass="group-element"
      >
      </p-dropdown>
    </p-inputGroup>
  </div>
</div>
<br />
<div class="grid">
  <div class="col-12">
    <p-table [value]="competencias">
      <ng-template pTemplate="header">
        <tr>
          <th width="40%">Competencias</th>
          <th width="15%">Nivel de logro</th>
          <th width="40%">Conclusión descriptiva</th>
          <th width="5%"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-competencias let-i="rowIndex">
        @if (iPeriodoId === '1') {
          <tr>
            <td width="40%">
              {{ competencias.cCompetenciaNombre }}
            </td>
            <td iPeriodoId="1" disabled width="15%">
              <div class="flex gap-1">
                <p-inputNumber
                  [(ngModel)]="competencias.iResultado_1"
                  [inputStyle]="{ 'text-align': 'left', width: '60px' }"
                  mode="decimal"
                  [showButtons]="false"
                  inputId="minmax-buttons"
                  [min]="0"
                  [max]="20"
                  [minFractionDigits]="2"
                  [maxFractionDigits]="2"
                />
                <input
                  type="text"
                  [style]="{ 'text-align': 'center', width: '45px' }"
                  pInputText
                  [(ngModel)]="competencias.cNivelLogro_1"
                  name="cNivelLogro_1_{{ i }}"
                  pattern="^(AD|A|B|C)$"
                  [disabled]="true"
                  maxlength="2"
                />
              </div>
            </td>
            <td width="40%">
              <textarea
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_1"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                [style]="{ 'min-width': '200px' }"
                [minLength]="10"
                [maxlength]="350"
                [style.minHeight]="2"
                [style.maxHeight]="4"
                cdkAutosizeMinRows="2.5"
                cdkAutosizeMaxRows="4"
              ></textarea>
            </td>
            <td width="5%">
              <p-button
                icon="pi pi-save"
                severity="primary"
                *ngIf="
                  competencias.iResultado_1 !== null && competencias.iResultado_1 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
            </td>
          </tr>
        }
        @if (iPeriodoId === '2') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_2"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_2"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_2"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                [icon]="'pi pi-file-edit'"
                severity="primary"
                *ngIf="
                  competencias.iResultado_2 !== null && competencias.iResultado_2 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
            </td>
          </tr>
        }
        @if (iPeriodoId === '3') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_3"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_3"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_3"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                [icon]="'pi pi-file-edit'"
                severity="primary"
                *ngIf="
                  competencias.iResultado_3 !== null && competencias.iResultado_3 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
            </td>
          </tr>
        }
        @if (iPeriodoId === '4') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_4"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_4"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_4"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                [icon]="'pi pi-file-edit'"
                severity="primary"
                *ngIf="
                  competencias.iResultado_4 !== null && competencias.iResultado_4 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
            </td>
          </tr>
        }
        @if (iPeriodoId === '5') {
          <tr>
            <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>
            <td>
              <p-inputNumber
                [(ngModel)]="competencias.iResultado_5"
                mode="decimal"
                [showButtons]="false"
                inputId="minmax-buttons"
                [min]="0"
                [max]="20"
                [inputStyle]="{ width: '60px' }"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
              />
            </td>
            <td iPeriodoId="1" disabled>
              <input
                type="text"
                pInputText
                [(ngModel)]="competencias.cNivelLogro_5"
                name="cNivelLogro_1_{{ i }}"
                style="width: 45px"
                pattern="^(AD|A|B|C)$"
                [disabled]="true"
                maxlength="2"
              />
            </td>
            <td>
              <textarea
                pInputTextarea
                [(ngModel)]="competencias.cDescripcion_5"
                name="mat_{{ i }}_b1_desc"
                rows="2"
                style="width: 100%"
              ></textarea>
            </td>
            <td>
              <p-button
                [icon]="'pi pi-file-edit'"
                severity="primary"
                *ngIf="
                  competencias.iResultado_5 !== null && competencias.iResultado_5 !== undefined
                "
                (click)="convertirLogroCompetencias($event, i, competencias)"
              >
              </p-button>
            </td>
          </tr>
        }
      </ng-template>

      <ng-template pTemplate="footer">
        <!-- @if(iPeriodoId === '1'){
        <tr>
          <td pFrozenColumn style="font-weight: bold">Promedio final del periodo</td>

          <td>
            <p-inputNumber [(ngModel)]="nCalifIdPeriodo1" mode="decimal" [showButtons]="false" inputId="minmax-buttons"
              [min]="0" [max]="20" [inputStyle]="{ width: '60px' }" [minFractionDigits]="2" [maxFractionDigits]="2"
              (keyup.enter)="convertirLogro('nCalifIdPeriodo1', '1')" />
          </td>
          <td>
            <input type="text" pInputText [(ngModel)]="iCalifIdPeriodo1" name="iCalifIdPeriodo1" style="width: 45px"
              [disabled]="true" />
          </td>
          <td>
            <textarea pInputTextarea [(ngModel)]="cDetMatrConclusionDesc1" name="cDetMatrConclusionDesc1" rows="2"
              style="width: 100%"></textarea>
          </td>
        </tr>
        } -->
      </ng-template>

      <!-- 
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" pFrozenColumn>Competencias</th>
        <th colspan="3">Primer Periodo</th>
        <th colspan="3">Segundo Periodo</th>
        <th colspan="3">Tercer Periodo</th>
        <th colspan="3">Cuarto Periodo</th>
      </tr>
      <tr>
        <th colspan="2">NL</th>
        <th>Conclusión descriptiva</th>
        <th colspan="2">NL</th>
        <th>Conclusión descriptiva</th>
        <th colspan="2">NL</th>
        <th>Conclusión descriptiva</th>
        <th colspan="2">NL</th>
        <th>Conclusión descriptiva</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-competencias let-i="rowIndex">
      <tr>
        <td pFrozenColumn>{{ competencias.cCompetenciaNombre }}</td>

        <td></td>
        <td iPeriodoId="1" disabled>
          <input type="text" pInputText [(ngModel)]="competencias.cNivelLogro_1" name="mat_{{ i }}_b1_nl"
            style="width: 45px" pattern="^(AD|A|B|C)$" (input)="onlyLetras($event)" maxlength="2" (keyup.enter)="
              registrarLogro(
                $event,
                'cNivelLogro',
                competencias.iCompetenciaId,
                competencias.iDetMatrId,
                iPeriodoId
              )
            " [disabled]="iPeriodoId !== '1'" />
        </td>
        <td>
          <textarea pInputTextarea [(ngModel)]="competencias.cDescripcion_1" name="mat_{{ i }}_b1_desc" rows="2"
            style="width: 115px" (blur)="
              registrarLogro(
                $event,
                'cDescripcion',
                competencias.iCompetenciaId,
                competencias.iDetMatrId,
                iPeriodoId
              )
            " [disabled]="iPeriodoId !== '1'"></textarea>
        </td>

        <td></td>
        <td>
          <input type="text" pInputText [(ngModel)]="competencias.cNivelLogro_2" name="mat_{{ i }}_b2_nl" (keyup.enter)="
              registrarLogro(
                $event,
                'cNivelLogro',
                competencias.iCompetenciaId,
                competencias.iDetMatrId,
                iPeriodoId
              )
            " style="width: 45px" [disabled]="iPeriodoId !== '2'" (input)="onlyNumbers($event)"
            pattern="^(AD|A|B|C)$" />
        </td>
        <td>
          <textarea pInputTextarea [(ngModel)]="competencias.cDescripcion_2" name="mat_{{ i }}_b2_desc" rows="2"
            style="width: 115px" (blur)="
              registrarLogro(
                $event,
                'cDescripcion',
                competencias.iCompetenciaId,
                competencias.iDetMatrId,
                iPeriodoId
              )
            " [disabled]="iPeriodoId !== '2'"></textarea>
        </td>

        <td></td>
        <td>
          <input type="text" pInputText [(ngModel)]="competencias.cNivelLogro_3" name="mat_{{ i }}_b3_nl" (keyup.enter)="
              registrarLogro(
                $event,
                'cNivelLogro',
                competencias.iCompetenciaId,
                competencias.iDetMatrId,
                iPeriodoId
              )
            " style="width: 45px" [disabled]="iPeriodoId !== '3'" (input)="onlyNumbers($event)"
            pattern="^(AD|A|B|C)$" />
        </td>
        <td>
          <textarea pInputTextarea [(ngModel)]="competencias.cDescripcion_3" name="mat_{{ i }}_b3_desc" rows="2" (blur)="
              registrarLogro(
                $event,
                'cDescripcion',
                competencias.iCompetenciaId,
                competencias.iDetMatrId,
                iPeriodoId
              )
            " style="width: 115px" [disabled]="iPeriodoId !== '3'"></textarea>
        </td>

        <td></td>
        <td>
          <input type="text" pInputText [(ngModel)]="competencias.cNivelLogro_4" name="mat_{{ i }}_b4_nl" (keyup.enter)="
              registrarLogro(
                $event,
                'cNivelLogro',
                competencias.iCompetenciaId,
                competencias.iDetMatrId,
                iPeriodoId
              )
            " style="width: 45px" [disabled]="iPeriodoId !== '4'" (input)="onlyNumbers($event)"
            pattern="^(AD|A|B|C)$" />
        </td>
        <td>
          <textarea pInputTextarea [(ngModel)]="competencias.cDescripcion_4" name="mat_{{ i }}_b4_desc" rows="2" (blur)="
              registrarLogro(
                $event,
                'cDescripcion',
                competencias.iCompetenciaId,
                competencias.iDetMatrId,
                iPeriodoId
              )
            " style="width: 115px" [disabled]="iPeriodoId !== '4'"></textarea>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td pFrozenColumn style="font-weight: bold">Promedio final del periodo</td>

        <td>
          <p-inputNumber [(ngModel)]="nCalifIdPeriodo1" mode="decimal" [showButtons]="false" inputId="minmax-buttons"
            [min]="0" [max]="20" [inputStyle]="{ width: '60px' }" [minFractionDigits]="2" [maxFractionDigits]="2"
            [disabled]="iPeriodoId !== '1'" (keyup.enter)="convertirLogro('nCalifIdPeriodo1', '1')" />
        </td>
        <td>
          <input type="text" pInputText [(ngModel)]="iCalifIdPeriodo1" name="iCalifIdPeriodo1" style="width: 45px"
            [disabled]="true" />
        </td>
        <td>
          <textarea pInputTextarea [(ngModel)]="cDetMatrConclusionDesc1" name="cDetMatrConclusionDesc1" rows="2"
            style="width: 115px" [disabled]="iPeriodoId !== '1'"></textarea>
        </td>

        <td>
          <p-inputNumber [(ngModel)]="nCalifIdPeriodo2" mode="decimal" [showButtons]="false" inputId="minmax-buttons"
            [min]="0" [max]="20" [inputStyle]="{ width: '60px' }" [minFractionDigits]="2" [maxFractionDigits]="2"
            [disabled]="iPeriodoId !== '2'" (keyup.enter)="convertirLogro('nCalifIdPeriodo2', '2')" />
        </td>
        <td>
          <input type="text" pInputText [(ngModel)]="iCalifIdPeriodo2" name="iCalifIdPeriodo2" style="width: 45px"
            [disabled]="true" />
        </td>
        <td>
          <textarea pInputTextarea [(ngModel)]="cDetMatrConclusionDesc2" name="cDetMatrConclusionDesc2" rows="2"
            style="width: 115px" [disabled]="iPeriodoId !== '2'"></textarea>
        </td>

        <td>
          <p-inputNumber [(ngModel)]="nCalifIdPeriodo3" mode="decimal" [showButtons]="false" inputId="minmax-buttons"
            [min]="0" [max]="20" [inputStyle]="{ width: '60px' }" [minFractionDigits]="2" [maxFractionDigits]="2"
            [disabled]="iPeriodoId !== '3'" (keyup.enter)="convertirLogro('nCalifIdPeriodo3', '3')" />
        </td>
        <td>
          <input type="text" pInputText [(ngModel)]="iCalifIdPeriodo3" name="iCalifIdPeriodo3" style="width: 45px"
            [disabled]="true" />
        </td>
        <td>
          <textarea pInputTextarea [(ngModel)]="cDetMatrConclusionDesc3" name="cDetMatrConclusionDesc3" rows="2"
            style="width: 115px" [disabled]="iPeriodoId !== '3'"></textarea>
        </td>

        <td>
          <p-inputNumber [(ngModel)]="nCalifIdPeriodo4" mode="decimal" [showButtons]="false" inputId="minmax-buttons"
            [min]="0" [max]="20" [inputStyle]="{ width: '60px' }" [minFractionDigits]="2" [maxFractionDigits]="2"
            [disabled]="iPeriodoId !== '4'" (keyup.enter)="convertirLogro('nCalifIdPeriodo4', '4')" />
        </td>

        <td>
          <input type="text" pInputText [(ngModel)]="iCalifIdPeriodo4" name="iCalifIdPeriodo4" style="width: 45px"
            [disabled]="true" />
        </td>
        <td>
          <textarea pInputTextarea [(ngModel)]="cDetMatrConclusionDesc4" name="cDetMatrConclusionDesc4" rows="2"
            style="width: 115px" [disabled]="iPeriodoId !== '4'"></textarea>
        </td>
      </tr>
      <tr>
        <td pFrozenColumn style="font-weight: bold">Resultado final de todos los periodos</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <p-inputNumber [(ngModel)]="nPromedio" mode="decimal" [showButtons]="false" inputId="minmax-buttons" [min]="0"
            [max]="20" [inputStyle]="{ width: '55px' }" [minFractionDigits]="2" [maxFractionDigits]="2"
            (keyup.enter)="convertirLogro('nPromedio', iPeriodoId)" />
        </td>
        <td>
          <input type="text" pInputText [(ngModel)]="iPromedio" name="iPromedio" style="width: 45px"
            [disabled]="true" />
        </td>
        <td>
          <textarea pInputTextarea style="width: 115px" [(ngModel)]="cDetMatrConclusionDescPromedio" rows="2"
            name="cDetMatrConclusionDescPromedio"></textarea>
        </td>
      </tr>
    </ng-template>
     -->
    </p-table>
  </div>

  <!-- Botones -->
  <!-- <div class="field col-12">
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancelar" severity="secondary" (onClick)="cerrarDialog()"></p-button>
      <p-button *ngIf="!mostrarBotonFinalizar" label="Guardar por periodo" severity="primary"
        (click)="validarLogro('1')"></p-button>
      <p-button *ngIf="!mostrarBotonFinalizar" label="Guardar logro final" severity="primary"
        (click)="validarLogro('5')"></p-button>
      <p-button *ngIf="mostrarBotonFinalizar" label="Finalizar" severity="success"
        (click)="finalizarRegistro()"></p-button>
    </div>
  </div> -->
</div>
<p-toast></p-toast>
