@import '../../../../../assets/layout/styles/general.scss';

:host ::ng-deep p-autocomplete {
  display: flex !important;
  width: 100% !important;
}

:host ::ng-deep p-autocomplete .p-autocomplete {
  display: flex !important;
  flex: 1 1 auto !important;
  width: 100% !important;
}

:host ::ng-deep p-autocomplete .p-autocomplete-input {
  flex: 1 1 auto !important;
  width: 100% !important;
  min-width: 0 !important;
}
